[2017-08-31 19:36] karuppiah7890 commented on #433
@linuxjuggler I was talking about mounting volumes into an existing container, and I haven't done that. And I am not sure if we will lose data, since I haven't tried it. But the `pg_dump` is the best bet for a backup.

[2017-08-31 19:37] gep13 commented on #433
@karuppiah7890 would you have a complete set of steps of exporting the current data that I have, and importing into the new image that I assume will be created if I switch to new PR?  SQL Server guy here, so completely new to postgres :-D

[2017-08-31 19:40] linuxjuggler commented on #433
@karuppiah7890 I think I do understand what you are saying, but even if you have mounted a named volume into a running pg container, the data will still be saved on the old path.

but I guess if you are willing to test, all you have to do is to edit your `docker-compose.yml` file and add the volume then restart your container and see if it will save the data in the new local directory or not

[2017-08-31 19:42] karuppiah7890 commented on #433
@linuxjuggler Yeah, gotta experiment that.

@gep13 Sorry man, I am gonna sleep now. It's midnight. I will put it up tomorrow may be

[2017-08-31 19:43] gep13 commented on #433
Sorry man, I am gonna sleep now. It's midnight. I will put it up tomorrow may be

Not a problem at all, I am in no immediate rush.  I appreciate your time.

[2017-09-01 06:47] andrew commented on #406
I don't think this makes sense to have in Octobox at the moment, the GitHub API makes it really slow to unsubscribe from multiple things and we don't really have a place for it in the UI right now, going to close this issue but feel free to make a counter argument if you really think it's important.

[2017-09-01 06:47] #406 closed

[2017-09-01 09:04] karuppiah7890 commented on #433
@gep13 Follow this
[code]
Now use the database container's name in the below `inspect` command. For me it's `octobox_database_1`
[code]
And then use the IP in the below `pg_dump` command. For me it's `172.18.0.2`.
[code]
Now stop stop and remove all existing containers using
[code]

Now, get new docker-compose.yml from https://github.com/linuxjuggler/octobox/blob/13c4e31d204dbdc9fe43b537a17dbe5fa4

[2017-09-01 09:04] karuppiah7890 commented on #433
@andrew People can use the above as a small migration guide to switch to the new docker-compose file when it's PR is merged

[2017-09-01 09:42] andrew commented on #433
@karuppiah7890 brilliant, thanks for looking into this 🙏

[2017-09-01 11:16] linuxjuggler commented on #433
Postgres will be accessible via local host no need to get the internal IP at least this is on mac

[2017-09-01 11:27] karuppiah7890 commented on #433
@linuxjuggler How come ? `localhost` is `127.0.0.1` and the docker containers have their own IP, and to access them through `localhost`, some port forwarding has to be done, which is done only for `app` container now. I think getting the IP will be needed?

[2017-09-01 13:58] linuxjuggler commented on #433
@karuppiah7890 when you run your container it will bind localhost to the container itself, so when you expose the port to ports outside the container `-p 3000:3000` your container will be accessible via `0.0.0.0:3000` that's why you access the octobox app on `localhost:3000`.

in my `docker-compose.yml` [file](https://github.com/linuxjuggler/octobox/blob/13c4e31d204dbdc9fe43b537a17dbe5fa435cc21/do

[2017-09-01 14:01] linuxjuggler commented on #433
This image shows exactly what am talking about

![screen shot 2017-09-01 at 17 00 53](https://user-images.githubusercontent.com/27624/29973142-2a3c8d70-8f37-11e7-90cb-f932173cc985.png)

[2017-09-01 14:10] karuppiah7890 commented on #433
@linuxjuggler Well, that can be done temporarily, but should not be done in production, because if you port forward localhost's port to container's port for the database container, then anyone will be able to hack the database as it's not password protected and even if it's password protected, people can try brute force attacks

[2017-09-01 15:24] andrew commented on #433
@gep13 does this answer your question now?

[2017-09-01 15:34] linuxjuggler commented on #433
@karuppiah7890 it's not about doing it temporarily, it's how Docker works when both containers are on the same network you don't need to have any port expose to the host, but when you have to backup your data, either you should create another container which communicates with your DB container and dump the data or you will have to export the port.

at the end remember all the information about the

[2017-09-01 15:41] karuppiah7890 commented on #433
Right. I think you misunderstood what I said. And I think I know enough basics of Docker to talk about port exposing and networks. And I know about the facts that you are talking about, and I meant - it's only a vulnerability if the ports are exposed for DB server in production. And thanks for the links.

[2017-09-01 15:54] linuxjuggler commented on #433
@karuppiah7890 am sorry if I misunderstood what you said.

it was nice to talk to you and have a productive discussion like this one.

[2017-09-01 21:05] gep13 commented on #433
@gep13 does this answer your question now?

I think it almost certainly will, yes.  I need to sit down and walk through the steps.  Will try and do this over the weekend, and I will report back here if it all works.

[2017-09-04 05:59] linuxjuggler commented on #433
Just to be clear, after reading a lot again, I found out that this may vary between Linux and Mac/Windows as Linux will have direct (I guess) access to the IP of the container.

[2017-09-04 06:04] karuppiah7890 commented on #433
Yes, Linux has direct access to the IP of the container. There's a separate network interface (virtual netwok I guess?) in the host which is connected to the same network as the containers.

[2017-09-05 05:06] simplesmiler opened #442 "Prevent user from accidentally muting the thread"
Sometimes I accidentally click "Mute" when I wanted to click "Archive".

Until https://github.com/octobox/octobox/issues/319 is implemented, it would be nice of Octobox to ask twice for "destructive" actions (I don't think there is a way to unmute the thread).

I can imagine this as a confirmation modal.

[2017-09-05 05:19] simplesmiler opened #443 "Shift+click selection does not work"
It looks like Shift+click selection (implemented in #383) does not work on https://octobox.io/
Is it not published, or got broken?

Browser: Chrome 60.0.3112.113

[2017-09-05 12:49] andrew commented on #443
Sounds like a bug to me

[2017-09-05 12:53] #303 closed

[2017-09-05 12:54] andrew commented on #303
Pretty sure this has been done

[2017-09-05 14:11] chrisarcand commented on #442
Agree that Undo functionality would be ultimately nicer.

If this is to be added in interim, I'd strongly prefer it to be toggled via [application] configuration (which @andrew can enable on octobox.io if he chooses). Requiring confirmation would sort of ruin my own workflow at this point and would be removed anyway once undo functionality is written :)

[2017-09-05 15:12] chrisarcand commented on #310
So, I actually saw my window fail on refresh in this way last week. Upon immediately checking the logs I found a 503 from GitHub was the culprit. I made up a quick patch to catch these and deployed it on my box and since then haven't seen this failure at all.

I just set a flash message as my fix (which gets wiped on the next refresh) and my free dyno logs are tiny, so I actually don't have any pr

[2017-09-06 01:17] chrisarcand commented on #382
#444 handles a small bit of this, but other scenarios like invalid API tokens still need to be done.

[2017-09-06 08:14] borekb opened #445 "Automatically archive issue after visiting a link"
On `https://github.com/notifications`, an item becomes "read" after I click the link – it is grayed out until I refresh the page and goes away entirely after refresh. I think Octobox could behave the same: it already does in the first part (the item transitions from bold to normal) but after refresh, it could be auto-archived. I currently do that manually and find it redundant.

Awesome project, B

[2017-09-06 10:58] samjacobclift commented on #443
seems ok to me in latest chrome, note need to only press shift for the final click

i.e click checkbox for first issue, then shift-click the last item you want to select to's checkbox

![shift-click-v2](https://user-images.githubusercontent.com/1868592/30108516-9062d35e-92fa-11e7-8bae-719493b6a082.gif)

[2017-09-06 13:18] laughedelic commented on #445
From the readme:

I think that's why it's marked as `wontfix`. But it still could be an opt-in setting...

[2017-09-06 13:22] borekb commented on #445
Ah, makes sense. The main value in Octobox for me is categorization of the notifications, not that they stay in the inbox and I have to archive them manually. But the current philosophy makes sense for sure.

[2017-09-06 13:23] laughedelic commented on #397
I'm not sure, but I think you could query the newsfeed/dashboard activity. It would be nice to have threads of notifications in octobox. Somewhat similar to how this extension groups activity on the dashboard: https://github.com/bfred-it/github-clean-feed

[2017-09-06 13:26] laughedelic commented on #379
I think Github has "Mark as unread" button from quite some time ago..

<img width="183" alt="screen shot 2017-09-06 at 15 25 56" src="https://user-images.githubusercontent.com/766656/30114288-b4217f6c-9317-11e7-9f0d-f236429d3ae6.png">

[2017-09-06 13:28] tarebyte commented on #379
@laughedelic that's definitely not a GitHub feature, are you sure you're not running some kind of Chrome plugin?

[2017-09-06 13:30] laughedelic commented on #379
Right. Sorry, this if from the [Refined Github](https://github.com/sindresorhus/refined-github) extension 😟

[2017-09-06 14:15] andrew commented on #445
Sorry didn't get chance to follow up with a comment (traveling atm), @laughedelic is right, Octobox wants to avoid that functionality that GitHub notifications has as you loose control of your todo list, so it's not something I want to go back on, even as an optional feature.

[2017-09-06 14:15] #445 closed

[2017-09-06 15:33] chrisarcand commented on #443
Note that it's not the most robust implementation; if you have shift held down on the first click it doesn't work, if you click multiple times in different areas with shift held down it's quite finicky, etc.

I confirm that it appears to be working normally, though - a single shift-click select does the job.

[2017-09-06 19:11] kynan commented on #416
Turns out peek doesn't work with i3, so I had to temporarily switch to a compositing window manager.

So this shows the issue:
![losing focus after marking notification as red](https://user-images.githubusercontent.com/346079/30129892-5dcd19f0-933f-11e7-9222-3b73557fce63.gif)

[2017-09-06 19:15] chrisarcand commented on #416
I've recreated your issue, got it. ✔️

I always select (checkbox) the issue I want to do something with (with 'x') before archiving/marking as read, which does work correctly.

[2017-09-06 22:55] #416 closed

[2017-09-07 02:09] chrisarcand commented on #120
Looked at this; it seems to me that this will actually be somewhat difficult to efficiently implement on the Octobox side. The notifications endpoint only gives the reason (`team_mention`) and the issues endpoint nothing else helpful. Unless I'm missing something, it seems like we'd have to parse through the issue's description *and* all of it's comments (and those all could be edited before we ev

[2017-09-07 04:11] chrisarcand commented on #291
Fixed in https://github.com/octobox/octobox/pull/346

[2017-09-07 04:11] #291 closed

[2017-09-07 09:19] whit537 commented on #424
Dupe of https://github.com/octobox/octobox/issues/205 fwiw.

[2017-09-07 11:42] andrew commented on #416
Just deployed the fix to https://octobox.io 🚤

[2017-09-07 15:07] #312 closed

[2017-09-07 17:29] #103 closed

[2017-09-07 18:41] simplesmiler commented on #443
Oh, I see. I'm used to gmail's implementation, where it works with the initial shift. But no-shift on first click is fine too.

[2017-09-07 18:41] #443 closed

[2017-09-07 21:51] andrew opened #452 "Snoozing notifications"
Throwing this out there to see if anyone but me would find this interesting.

I really like the snooze feature of Google Inbox to hide an email until tomorrow or next week, we could potentially do the same thing for notifications in Octobox.

[2017-09-07 21:54] andrew opened #453 "Comment counts"
When syncing subjects we could cache the number of comments on a thread, similar to when browsing a list of issues/prs you can see if there been any discussion, also useful for ordering or more advanced filtering in the future.

[2017-09-08 09:05] samjacobclift commented on #443
@simplesmiler maybe we should make that change though, it though there might worth it wdwt

[2017-09-08 09:07] samjacobclift commented on #453
That might be useful for long running PR's kinda like a most active ordering

[2017-09-08 13:19] kynan commented on #416
Works a treat, thanks!

[2017-09-08 21:34] roblourens opened #454 "Unread count in title"
First of all, I just discovered Octobox and I'm already in love with it, thanks!

It would be awesome if it would show the unread count in the window title - `Octobox (2)` - I think Facebook does this for example. Would be most effective when used with automatic refresh enabled.

[2017-09-09 06:51] davidcelis commented on #310
Unfortunately, this is still happening to me regularly 😿

[2017-09-09 08:31] andrew commented on #310
@davidcelis you've deployed the latest changes in master?

[2017-09-09 20:47] davidcelis commented on #310
@andrew Yeah; I deployed as soon as this PR was merged, and again a couple days later… There must be some other kind of error happening, but logs move by so fast that I haven't been able to capture it.

At this point I would probably recommend catching any Octokit error (in the 500 range, at least). I can submit a PR if that sounds like a good approach. I'm not sure where else to go without being

[2017-09-09 21:39] andrew commented on #310
I'd suggest adding bugsnag or something similar to catch the exceptions, we're pretty much catching all of the Octokit exception apart from ones that are due to permission errors now

[2017-09-10 13:57] ringods opened #456 "Sidebar height on mobile restricted by list of issues on the right"
When the list of issues/PR on the right is short, the sidebar on the left is only as high as the list is. I would expect the sidebar would still use the whole height of the screen.

Screenshot of this behaviour on my iPhone 6s with Chrome. I see the same behaviour on my iPad Mini 2 Retina in portrait mode.

![img_5153](https://user-images.githubusercontent.com/77923/30249632-2d25b4e8-9640-11e7-8e2

[2017-09-10 15:31] andrew commented on #456
Yeah that looks like a bug, which version of iOS are you using? Is it only happening for you in Chrome or Safari as well?

[2017-09-10 20:30] ringods commented on #456
Both my iPhone and iPad are running the same versions:
* iOS 10.3.3
* Google Chrome 61.0.03163.73

Tested it too with Safari and have the same results:
Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1

[2017-09-10 23:33] chrisarcand commented on #310
Ugh. 😕

[2017-09-11 09:09] andrew opened #458 "Handle API rate limit exceptions gracefully"
As Octobox.io gets more popular we're starting to trigger exceptions from the GitHub API when people are muting/marking lots of things as read due to the n+1 queries.

The two exceptions I'm seeing a lot in bugsnag are `Octokit::AbuseDetected` and `Octokit::TooManyRequests`, which should be bubbled up to the user in a similar way to https://github.com/octobox/octobox/pull/444

On a related note, h

[2017-09-11 09:27] andrew commented on #310
Possibly related to this: https://github.com/octobox/octobox/issues/458

[2017-09-13 17:09] davidcelis commented on #310
I installed error monitoring a few days ago; any unrescued exception gets slurped up. While I've experienced the auto-refresh error page several times, our error reporting system shows no related exceptions. In fact, it shows zero exceptions that are linked to my user account. I no longer have a good idea as to what's going on here. The only thing I can think of is some sort of timeout that causes

[2017-09-13 17:26] whit537 opened #461 "Range select borked?"
cf. #375

![zbdeu1td6o](https://user-images.githubusercontent.com/134455/30391378-faaa895a-986d-11e7-9ffc-4d27f077672c.gif)

[2017-09-13 18:43] davidcelis opened #462 "NoMethodError: undefined method `RecordNotUnique' for ActiveRecord:Module"
**Cause**

[code]

**Full trace**

[code]

[2017-09-13 18:45] davidcelis commented on #462
Not sure why the `DownloadService` wouldn't have access to the `ActiveRecord::RecordNotUnique` constant, but ultimately it looks like we're hitting a state where a notification's `remote_subject` is coming back as `true` instead of an object.

[2017-09-14 09:48] #283 closed

[2017-09-14 09:48] #456 closed

[2017-09-14 13:48] prydonius commented on #54
+1 for filtering and seeing the state of PRs

[2017-09-14 14:03] chrisarcand commented on #54
Closing this as it's now merged in to master and is [referenced in the README.](https://github.com/octobox/octobox#octoboxio)

Use on octobox.io is just dependent on adding optional oauth scopes or a migration path for asking people for increased permissions, which is up to @andrew

[2017-09-14 14:03] #54 closed

[2017-09-14 16:00] jmarlena opened #464 ""Sorry, something went wrong" when refreshing direct mentions"
To see my direct mentions, I clicked the mentions option on the left  and then clicked the "refresh" button. I was redirected to a "Sorry, something went wrong" page.

Let me know if there's more info I should add or any theories on why this might have happened.

[2017-09-14 17:33] bernars commented on #464
:raised_back_of_hand: I'm also seeing this.

[2017-09-14 17:52] whit537 commented on #461
Hmm ... I think I'm confused? Just saw it work again. Maybe I'm shift-click-shift-clicking as at #443?

Closing for now, will reopen if I see it again and can pin down good repro steps.

🙇

[2017-09-14 17:52] #461 closed

[2017-09-14 19:23] andrew commented on #464
@jmarlena is this on https://octobox.io or a version you are hosting yourself? I can't see any errors in the bugsnag logs, but that could be a heroku error rather than an application one.

[2017-09-15 17:45] jmarlena commented on #464
This is on a version of Octobox that our company is using. 🤔

[2017-09-17 15:24] ntomas commented on #382
Hi! I've submitted a PR #466 with an approach to handle this. Can you tell me if it's a valid one? Thanks

[2017-09-18 09:12] andrew commented on #382
@ntomas that's great thanks!

[2017-09-18 09:12] #382 closed

[2017-09-18 09:55] andrew commented on #464
https://github.com/octobox/octobox/pull/466 has been merged which should give a better error message explaining why it's failing if you want to give that a try?

[2017-09-18 11:30] andrew commented on #462
I saw this in the octobox.io bugsnag over the weekend too, struggling to reproduce locally though

[2017-09-19 19:12] jmarlena commented on #464
Thanks for looking into this @andrew! It seems to be working now and there's no longer an error message. 😸

[2017-09-19 19:37] chrisarcand commented on #464
@jmarlena I'm going to close this then, but please feel free to reopen if you encounter it again!

[2017-09-19 19:37] #464 closed

[2017-09-20 07:59] andrew commented on #327
Fixed by @ntomas in #469

[2017-09-20 07:59] #327 closed

[2017-09-27 14:58] stevelacey opened #470 "Add terms and privacy policy"
Add a privacy policy 🙊️

...so that my org admin will approve access request 😁

[2017-09-27 15:15] andrew opened #471 "Per-user API tokens"
Following on from https://github.com/octobox/octobox/issues/39 which was mostly solved in  https://github.com/octobox/octobox/pull/320, as noted in the pr:

An API key should be generated for each user and then that can be used for making requests to the API rather than using a shared session with the web UI, should also include a section in the settings page for finding and refreshing your API ke

[2017-09-27 15:16] andrew commented on #39
Closing in favour of https://github.com/octobox/octobox/issues/471, the one last piece to follow up on #320

[2017-09-27 15:16] #39 closed

[2017-09-27 15:25] andrew opened #472 "Support for optionally enabling downloading subjects"
The last piece of the puzzle to enable #4 on https://octobox.io is to optionally allow users to give `repo` scope access to Octobox so it can sync the status for issues and pull requests on private repositories.

In practise what this means is configuring two different oauth apps and allowing the user to choose which one they login with, which is what I've done on both https://libraries.io and htt

[2017-09-27 15:25] andrew commented on #4
As this is mostly finished, closing and pointing to the last piece which is enabling it on https://octobox.io via this issue: https://github.com/octobox/octobox/issues/472

[2017-09-27 15:27] chrisarcand commented on #472
Dupe of https://github.com/octobox/octobox/issues/417 but this one is more thorough, so closing that one.

[2017-09-27 15:28] chrisarcand commented on #417
Closing this as a duplicate of #472

[2017-09-27 15:28] #417 closed

[2017-09-27 15:32] andrew commented on #83
Closing this as it's available if you run your own instance, waiting on https://github.com/octobox/octobox/issues/472 for it to be enabled on https://octobox.io

[2017-09-27 15:32] #83 closed

[2017-09-27 15:34] andrew commented on #472
Sorry, I'm the worse 🙈  working backwards through the issues list to close out old ones, forgetting what things have been opened already

[2017-09-27 15:35] andrew commented on #470
@stevelacey good call, I'm literally working on this for Libraries.io at the moment, so will do a similar thing here.

[2017-09-27 15:52] andrew commented on #183
@knolleary is this still happening for you?

[2017-09-27 15:53] andrew commented on #187
Going to close this for now as I can't see us doing it in the short term, but if anyone really wants it and is willing to have a go at implementing it then drop a comment and we'll open it back up.

[2017-09-27 15:53] #187 closed

[2017-09-27 15:54] andrew commented on #210
Closing this as #4 has shipped, just waiting on #472 for it to be enabled on https://octobox.io

[2017-09-27 15:54] #210 closed

[2017-09-27 15:56] andrew commented on #230
I think we can close this now, please feel free to re-open if not

[2017-09-27 15:56] #230 closed

[2017-09-27 15:56] knolleary commented on #183
Yes

![img_20170927_165453](https://user-images.githubusercontent.com/51083/30923790-c2efead6-a3a4-11e7-8b6c-63e6e5f0fb36.jpg)

[2017-09-27 15:57] andrew commented on #241
I think this is fixed by https://github.com/octobox/octobox/pull/451

[2017-09-27 15:57] #241 closed

[2017-09-27 16:04] andrew commented on #300
We have a [`docker-compose-dev.yml`](https://github.com/octobox/octobox/blob/master/docker-compose-dev.yml) file that has everything you need to install, we just need a markdown file that's similar to https://github.com/octobox/octobox/blob/master/INSTALLATION.md#using-docker for development specifically

[2017-09-27 16:05] #311 closed

[2017-09-27 16:05] andrew commented on #311
@errordeveloper I'm gunna close this as you've been able to login now

[2017-09-27 16:07] andrew commented on #315
I believe that this has been fixed by https://github.com/octobox/octobox/pull/440

[2017-09-27 16:07] #315 closed

[2017-09-27 16:07] andrew commented on #342
I'm going to close this for now as I can't see us doing it in the short term, but if anyone really wants it and is willing to have a go at implementing it then drop a comment and we'll open it back up.

[2017-09-27 16:07] #342 closed

[2017-09-27 16:08] #386 closed

[2017-09-27 16:12] andrew commented on #442
Agree with @chrisarcand, let's focus on adding #319 and close this one

[2017-09-27 16:12] #442 closed

[2017-09-27 16:13] andrew commented on #379
Going to close this one as I don't think it's possible via the API at the moment

[2017-09-27 16:13] #379 closed

[2017-09-27 16:14] andrew commented on #433
Going to close this one as I think we've settle this 👍

[2017-09-27 16:14] #433 closed

[2017-09-27 16:15] andrew commented on #387
Going to close this for now as I can't see us doing it in the short term, but if anyone really wants it and is willing to have a go at implementing it then drop a comment and we'll open it back up.

[2017-09-27 16:15] #387 closed

[2017-09-27 16:16] andrew commented on #454
Waiting on https://github.com/octobox/octobox/pull/457

[2017-09-27 16:17] andrew commented on #389
@cyberhck did you get this working in the end?

[2017-09-27 16:20] andrew commented on #378
Going to close this for now as I can't see us doing it in the short term, but if anyone really wants it and is willing to have a go at implementing it then drop a comment and we'll open it back up.

[2017-09-27 16:20] #378 closed

[2017-09-27 16:20] andrew commented on #269
Going to close this for now as I can't see us doing it in the short term, but if anyone really wants it and is willing to have a go at implementing it then drop a comment and we'll open it back up.

[2017-09-27 16:20] #269 closed

[2017-09-27 16:20] sam-github commented on #386
Didn't try, the above makes octobox unworkable for me, fine to close.

[2017-09-27 16:32] roblourens commented on #454
Sorry, fixed

[2017-09-27 17:00] stevelacey commented on #470
Yes, I noticed, your URL for it is very guessable :)

[2017-09-27 17:22] #454 closed

[2017-09-28 01:13] cyberhck commented on #389
Yes, I'm using octobox locally in docker, and it's GREAT! Loving it.

[2017-09-28 01:14] cyberhck commented on #389
But it's not the way it's recommended in readme, so maybe we'll have to verify if it's working properly.
I'll try to verify once again during this weekend and see if official way still works, and I'll send a PR if info is not enough.

[2017-09-28 03:19] chrisarcand commented on #310
@davidcelis Grep your logs for "H12" and look for something like this:

[code]

TIL [The Heroku router purposely cuts off requests longer than 30 seconds, sending the user to an error page and putting that error code in the logs.](https://devcenter.heroku.com/articles/request-timeout)

I found this while trying to fix our less than desirable onboarding experience for users with tons of notificatio

[2017-09-28 14:05] chrisarcand opened #475 "Max results configuration misleading/inaccurate"
The configuration option `MAX_NOTIFICATIONS_TO_SYNC` is misleading as it really *isn't* the max number of notifications synced on a single sync.

https://github.com/octobox/octobox/blob/1c90e88145966898d1d8be23ee58fd1b8790b36b/app/services/download_service.rb#L24-L34

The problem is caused by the split we do when syncing notifications. In the code above, found in `DownloadService`, we make two sep

[2017-09-28 14:45] chrisarcand opened #476 "Sync via background jobs"
At some point we need to add background jobs for syncing user notifications.

Currently we sync in the request, and depending on the number of notifications or how slow the GitHub API is or how much load is on the Octobox instance, this has a very good chance of timing out when Octobox is deployed on Heroku:

https://devcenter.heroku.com/articles/request-timeout

TL;DR: Heroku cuts off requests lo

[2017-09-28 15:49] andrew commented on #470
@stevelacey PR opened here: https://github.com/octobox/octobox/pull/477

[2017-09-28 19:22] #470 closed

[2017-09-28 19:26] andrew commented on #470
🚢

[2017-09-29 20:23] Fryguy opened #478 "user linking to a bot/app account creates an invalid link"
<img width="1342" alt="octobox 255 2017-09-29 16-20-48" src="https://user-images.githubusercontent.com/52120/31034453-3218feaa-a532-11e7-9dcf-859fa7a4a234.png">

The link is linking to https://github.com/greenkeeper[bot] which doesn't exist, but *should* be linking to https://github.com/apps/greenkeeper

Additionally, albeit minor, but there is no space between the "name" and the "[bot]" part, whi

[2017-09-30 10:26] radvc commented on #478
may I know which part is it?

[2017-09-30 21:44] #478 closed

[2017-09-30 22:01] andrew commented on #478
Just deployed the fix https://Octobox.io

I wonder if we should highlight the fact that it’s a bot action with an icon?

[2017-10-02 13:58] Fryguy commented on #478
an icon (🤖 ?) might be nice, but I'm fine with the [bot] designation too.

[2017-10-02 14:47] andrew commented on #478
There's also this little octicons hubot icon: https://octicons.github.com/icon/hubot/

[2017-10-02 14:51] vitalkanev commented on #478
Yep. But it's generally used by the GitHub itself (See one of the PR's by \@\hubot (Remove trailing backslash) in [`github/dmca` repo](/github/dmca)

[2017-10-03 13:40] gareth opened #484 "Allow selection of multiple "reason" filters"
Specifically there are times I want to be able to hide the "Subscribed" notifications without actually unsubscribing to them forever.

But more generally, it would be good to be able to select more than one "reason" and have a view showing the union of all of those filters e.g. to be able to see `Assign`, `Mention`s and `Review requested`s in one view.

[2017-10-03 18:41] davidcelis commented on #310
@chrisarcand Ahhh yeah it does seem like the H12 error is what I was experiencing. I experience this far less (if at all) after disabling subject syncing, tho!

[2017-10-05 06:22] errordeveloper commented on #311
Well, not on the octobox.io, but only on my own deployment of a fork of the
project...

On Wed, 27 Sep 2017, 9:05 am Andrew Nesbitt, <notifications@github.com>
wrote:

[2017-10-05 13:09] Floppy opened #486 "No content in Octobox at all"
For some reason I don't see anything in my Octobox dashboard - no repos, no issues, no labels, nothing. Others are also seeing nothing for some repositories under an org that should have access - see https://github.com/theodi/toolbox/issues/23. Any ideas what might cause that?

[2017-10-05 13:10] Floppy commented on #486
I've revoked the OAuth permissions and reconnected - no change.

[2017-10-05 13:14] Stephen-Gates commented on #486
Oh! that made the Toolbox repo show for me
<img width="219" alt="screenshot 2017-10-05 23 12 38" src="https://user-images.githubusercontent.com/9379524/31229038-cf6c0d1a-aa22-11e7-877d-76e0f3342827.png">

[2017-10-05 13:18] Stephen-Gates commented on #486
Perhaps its a time-based thing as I see my most recent issue

<img width="1142" alt="screenshot 2017-10-05 23 16 11" src="https://user-images.githubusercontent.com/9379524/31229214-54f2537c-aa23-11e7-96a9-ff39bb25c208.png">

but not [others I have authored](https://github.com/theodi/toolbox/issues/created_by/Stephen-Gates)

[2017-10-05 14:11] chrisarcand opened #487 "Add Issue template"
Adding a simple GitHub Issue template with *at least* whether or not someone is having trouble on octobox.io or their own instance (if the issue is a bug report) would be helpful, as this question is basically asked every single time an issue is opened anyway.

[2017-10-05 14:17] chrisarcand commented on #486
* Is this on octobox.io or your own instance?
* Regarding your notifications, do you have web notifications enabled on your GitHub account? See https://github.com/octobox/octobox#requirements
* Regarding the others who can't see anything for *some* repositories, are those repositories private ones?

[2017-10-05 14:24] Stephen-Gates commented on #486
For me
- octobox.io
- no private repos

<img width="762" alt="screenshot 2017-10-06 00 21 57" src="https://user-images.githubusercontent.com/9379524/31232248-ad47d6e2-aa2c-11e7-9993-b7206289ff67.png">

@Floppy wasn't seeing anything

[2017-10-05 15:08] Floppy commented on #486
Yes, on octobox.io. I didn't have the web notifications on (oops), but now I do and it's still the same. Perhaps I'll just try deleting the account and setting up from scratch now I've done the right notifications first.

[2017-10-05 15:12] chrisarcand commented on #486
I'd expect it to be the same; turning on web notifications now won't make GitHub show you the notifications you would have stored in the API had you turned it on previously. I'm afraid I don't think you'll be able to get recent notifications that you've had in to Octobox at this point (there's nothing to draw from) and starting from now will have to suffice.

[2017-10-05 15:14] chrisarcand commented on #486
Is this resolved, then? If not, those users should check to make sure they are actually subscribed ("Watching") to those repositories.

[2017-10-05 15:58] andrew commented on #487
Yeah can do, in my experience with using issue templates on Libraries.io, most people completely ignored them or deleted them, making more mess than help but it might be different on this project

[2017-10-05 16:01] andrew commented on #486
I wonder if having your web notifications turned off then turning them on leaves your `last_synced_at` timestamp in place so basically it won't find any of your old notifications anymore?

[2017-10-05 16:02] andrew commented on #486
@chrisarcand I'm a bit busy to look at this today but I can add you to the heroku instance for octobox.io if you would like to poke around in the database?

[2017-10-05 16:04] chrisarcand commented on #487
Yeah I agree, really. TBH I really do just want "Are you using octobox.io?" 😄

[2017-10-05 21:06] Stephen-Gates commented on #486
I think it's mainly resolved for me @chrisarcand

- I now have new issues from [theodi/octopub](https://github.com/theodi/octopub) repo appearing

- I can't get issues from https://github.com/theodi/pathway to appear despite adding a new issue https://github.com/theodi/pathway/issues/356

[2017-10-06 12:20] Floppy commented on #486
Ah, yes, I've now got things appearing too. Excellent!

[2017-10-06 12:35] Floppy commented on #486
A thought on this - it might be sensible for Octobox to warn users about setting up web notifications in the app, if there's nothing to display. Anyone who goes straight to octobox.io (as I did) wouldn't see the README.

[2017-10-06 13:26] andrew commented on #486
Maybe we can add something to the [empty view](https://github.com/octobox/octobox/blob/master/app/views/notifications/index.html.erb#L75) if we see that you don't have any notifications

[2017-10-06 17:13] ntomas commented on #476
Hi! I would like to help with this.

Have a few questions around what we do in the UI. After there's a request to sync we can add a flash message telling we're syncing the notifications. But after that do we do some kind of ping to check if the job is done so we can auto-refresh? Or we have a flag telling those user notifications are being synced and ask the user to refresh after some time?

Thank

[2017-10-06 17:17] chrisarcand commented on #476
I would personally prefer this, yes. Honestly if it behaved the exact same way (currently, sync button spins, page is updated) that'd be lovely.

[2017-10-06 19:56] Floppy commented on #486
Maybe if there's nothing in the inbox *or* the archive?

[2017-10-06 21:16] chrisarcand commented on #486
@Floppy Yep, that's right.

[2017-10-09 15:36] nshntarora opened #488 "A refined UI and probably a desktop application"
Hi!

First of all, thanks a lot for Octobox :smiley:
I have a few suggestions for the project and would love to know what you guys think about it.

**An immersive organisation experience.**
Think how Slack let's you switch between multiple organisations on the their desktop application.
Would help keep your personal repos and work separated.
Different themes for different work modes.

**A night mo

[2017-10-12 11:35] Roshanjossey commented on #487
This is the issue template I use in my project
https://github.com/Roshanjossey/first-contributions/blob/master/ISSUE_TEMPLATE.md

We could tweak this to better suit octobox. Like adding a question like
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [ ] My instance

Here's a sample issue
Roshanjossey/first-contributions#802

🐞 Problem

🎯 Goal

💡 Possible so

[2017-10-12 16:15] andrew commented on #487
@Roshanjossey looks good, a pull request to add that would be 👌

[2017-10-13 07:35] andrew commented on #487
Fixed in #490

[2017-10-13 07:35] #487 closed

[2017-10-16 20:11] dmleong opened #491 "500 errors with OAuth on web and desktop"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [x] My instance

🐞 **Problem**
I'm receiving 500 errors when I try to log in to Octobox. Clearing cookies and revoking tokens did not work, although it does work in Chrome Incognito 👀

**Feature or bug?**
Bug 🐛

📋  **Steps to solve the problem**
Open in Incognito mode. I will continue investigating 🔍

[2017-10-17 00:56] dmleong commented on #491
Seems to be working now, so closing this out 👍

[2017-10-17 00:56] #491 closed

[2017-10-17 03:24] fanthos opened #492 "Reduce http request size."
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
Each time when I switch the tab, the script will make a request to load the full new HTML page with header, scripts and other blocks. Header and scripts already loaded by first visit. Make the xhr load only useful data will reduce server bandwidth use.

💡 **Possible solutions**
L

[2017-10-18 07:35] Southclaws opened #493 "Ability to add missing (old) issues manually"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
(I'm not sure if this is just a limitation of the hosted service but I didn't notice it mentioned anywhere.)

I noticed it only picked up x issues that were on my GitHub, which is fair enough as I can imagine pulling everything would hit rate limits for some users. After the init

[2017-10-18 12:42] chrisarcand commented on #493
This is currently determined by the `MAX_NOTIFICATIONS_TO_SYNC` configuration option, which defaults to 500 (note this number is a little misleading, see #475) but may be set differently on octobox.io. Anything older than that will not be synced in to Octobox.

[2017-10-18 12:57] Southclaws commented on #493
Ah, that makes sense, thanks for the clarification!

Still, I think a way to arbitrarily add a specific issue without setting the config (and presumably restarting the instance) would be useful, probably not a super high priority feature though.

[2017-10-20 12:40] 3minus1 commented on #486
@andrew @chrisarcand  Has this been done yet or may I get at it?

[2017-10-20 14:08] andrew commented on #486
@3minus1 no, it's not been tackled yet, feel free to go for it!

[2017-10-20 15:50] 3minus1 commented on #486
@andrew Awesome! I'm on it.

[2017-10-26 09:50] mdjalal commented on #492
rtrtrtt

[2017-10-26 16:24] Floppy commented on #486
The new help text is great, thanks @3minus1. I will very happily close this now :)

[2017-10-26 16:24] #486 closed

[2017-10-26 19:01] leMaik opened #495 "Menu scrolls to top after every page change"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
The menu on the left is pretty long for me, so it has a vertical scrollbar. Whenever I select a page (or filter), the menu scrolls to top. This is pretty annoying when clicking through repositories that are listed at the bottom.

🎯 **Goal**
Try to minimize my frustration. :wink:

[2017-10-31 13:17] Floppy opened #496 "Automatically refresh on first load"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
On load, the user has to click refresh every time. This isn't very nice UX. Auto-refresh is already availble (#200), but not on octobox.io.

🎯 **Goal**
Improve the UX when loading octobox.io

💡 **Possible solutions**
Could the refresh be auto-triggered on page load? Would that be

[2017-11-01 09:01] andrew commented on #496
@Floppy how would you define first load? It's not a single page web app so every action is basically a page load

[2017-11-01 11:17] Floppy commented on #496
Good point. It feels like a SPWA, so I forgot it wasn't. Perhaps a cookie then to auto-refresh if it wasn't done for (say) an hour.

[2017-11-13 21:12] Fryguy opened #500 "Hide the mute button"
This is a feature request to be able to hide the mute button.  I rarely actually use the mute feature, personally, and very so often I've accidentally clicked mute instead of archive.  For me, since I use mute so rarely, I can just go to the GitHub native UI and do it.

I'm not sure of the best way to implement this, whether through user settings, global settings, both, or perhaps other buttons sh

[2017-11-13 21:13] Fryguy commented on #500
Yay, issue #500 🏆

[2017-11-14 00:12] chrisarcand commented on #500
I only use the keyboard shortcuts, so being a neutral party as to the usefulness of the mute button as a clickable button I’d say that the most logical thing to do if that’s truly a big annoyance is just to provide a means to enable/disable buttons on that action bar in settings - per user.

[2017-11-15 19:01] chrisarcand opened #501 "Columns overflow at large widths"
When project names are large the columns can't handle the overflow, resulting in:

![](http://screenshots.chrisarcand.com/cpdut.jpg)

[2017-11-23 09:23] rhuss commented on #422
Are you guys still working on this feature? I really love Octobox, but since we have moved to a Monorepo where issues and PRs are separated by labels (reflecting the previous repos), it would be awesome if one could filter on labels (even when the maybe do not show up in the UI).

Another idea for presenting labels and preserve screen estate would be only to show their colour in small squares (wit

[2017-11-29 12:33] gep13 opened #503 "Ability to see what version number of Octobox is running in the UI"
Show current Octobox version number in the main UI.

Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [x] My instance

🐞 **Problem**
I am currently running Octobox in a Docker image.  I "think" I have the most recent version running, but I have no real way of knowing if I am.  i.e. there is nothing displayed in the Octobox UI which says "Version x.x.x.".

🎯

[2017-11-29 15:22] chrisarcand commented on #503
Octobox is (so far) a versionless/releaseless application that's just deployed on an ongoing basis, so I think the most accurate thing here would be to include the Git commit SHA as a version, perhaps in Settings, which can be linked as well. 👍

[2017-11-29 15:44] gep13 commented on #503
@chrisarcand sounds like a good idea to me!

[2017-12-03 12:29] Floppy opened #504 "Show issue/PR status in Octobox UI"
I use @dependabot, and so when I get behind in Octobox, there are often a bunch of notifications for issues that have already been closed. The GitHub UI shows the issue/PR status in its list - it would be great if Octobox could do the same.

Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
Without clicking through it's impossib

[2017-12-03 12:43] Floppy commented on #504
Ah, OK, I went to have a look at doing something about this and discovered quickly that GitHub don't put that in the [Notifications API](https://developer.github.com/v3/activity/notifications/#list-your-notifications), so it would take a lot of extra API calls to find out the information. How very annoying.

[2017-12-03 12:51] Floppy commented on #504
I've asked nicely if they can add it ¯\_(ツ)_/¯

[2017-12-04 12:00] andrew commented on #504
@Floppy this is a feature that's already available if you run your own instance of octobox: https://github.com/octobox/octobox/blob/master/INSTALLATION.md#downloading-subjects

It's not enabled on octobox.io at the moment as it's pretty intensive to sync subjects for 6000+ users

[2017-12-04 15:45] Floppy commented on #504
Ah, brilliant. Precisely because it's not in the API, I guess. 👍

[2017-12-04 15:45] #504 closed

[2017-12-05 16:38] mxschmitt opened #505 "Feature: Add push notifications"
Hello,

with this request I want to add push notifications to the octobox web application. So there are needs to use service workers to fetch the updates from the backend every X minutes / seconds.
It should be a combination of the Push API to get notified when the page is closed in combination with the Service worker API and the actual Notification API.

The aim is to support:
- Chrome
- Firefox

[2017-12-06 02:27] chrisarcand commented on #505
As long as they can be disabled! I loathe notifications 😉

[2017-12-12 09:34] Manackkel commented on #462
I just had exactly same issue with a notification from a "private" repository on an enterprise github
[code]

could it be an issue with oauth which can't access to private repo?

[2017-12-12 09:45] Manackkel commented on #462
to fix I deactivated `FETCH_SUBJECT` and rebuild app
so notification was fetched (so without downloading details) then reactivated `FETCH_SUBJECT` I still have my 404 but application is not breaking anymore

[2017-12-14 15:36] watadarkstar commented on #99
@andrew Is there a PR that uses the beta apis, I can look at? Thinking of maybe working on this.

[2017-12-14 17:38] andrew commented on #99
@watadarkstar there isn't one, feel free to take a stab at it

[2017-12-14 18:06] watadarkstar commented on #99
@andrew Okay Andrew maybe this weekend I will give it a try. Haven't done ruby / rails in a long time.

[2017-12-18 00:49] hakusaro opened #507 "Escape key clears filters even if shortcut help modal is open"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [x] My instance

🐞 **Problem**
The escape key currently fires both the dialog close event for bootstrap (closing the keyboard shortcut help menu) and also the clear filters event. If the help dialog is open, it should only close the help dialog.

🎯 **Goal**
The help dialog closes, filters don't refresh. This m

[2017-12-25 16:04] #503 closed

[2017-12-25 20:58] lewispb commented on #507
I think #510 fixes this @hakusaro, does it work for you?

[2017-12-26 21:16] #507 closed

[2017-12-26 21:17] hakusaro commented on #507
@lewispb (I'll assume so :))

[2017-12-26 21:19] andrew commented on #507
Deploying #510 to heroku now

[2018-01-03 15:27] chrisarcand commented on #422
@natemcmaster No one is currently working on this, to my knowledge. Have at it! ❤️

[2018-01-07 17:03] hugomarisco opened #514 "Missing mysql dev lib in docker image"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
Trying to start the application using `docker-compose-dev.yml` throws an error during the installation of the `mysql2`gem because the development lib isn't available in the system.

[code]

🎯 **Goal**
Fix docker-compose so new contributors can use it to start developing.

💡 **Pos

[2018-01-07 18:00] hugomarisco opened #517 "Typo in the DATABASE_USERNAME env variable"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
When starting the app using docker compose it fails to authenticate with the database

🎯 **Goal**
Be able to start the app using docker compose

💡 **Possible solutions**
Fix the env variable name.

📋  **Steps to solve the problem**
I'll create a PR to fix this

[2018-01-07 18:25] #514 closed

[2018-01-07 18:27] #517 closed

[2018-01-07 20:35] hugomarisco commented on #501
I can work on this one. Should we ellipsize the project name?

[2018-01-07 20:53] chrisarcand opened #519 "Regression: Filters are broken"
It looks like filters are completely broken on master; I just deployed the latest to Red Hat's instance. Clicking on a filter results in a 500 response.

Here's what I get when clicking on an owner, for instance:

[code]

And a specific repo:

[code]

I'm guessing this is a regression from the casting done in #499; looks like the filters are getting passed as actual attributes/columns instead of t

[2018-01-08 01:09] chrisarcand commented on #501
I would suggest...

* Ellipsize the PR name, actually, as I've seen PRs across many projects where someone copy/pasted something and it's a paragraph long (I know it's wrapped, though)
* Maybe ellipsize the project name but I'm concerned about making that worthless because of long names in project ecosystems like my example above. I note that we don't strip the organization part from the name IF t

[2018-01-08 01:27] #519 closed

[2018-01-09 01:45] leilaniwebcreation commented on #462
Awesome

[2018-01-09 01:45] leilaniwebcreation commented on #462
Love it

[2018-01-11 13:54] osdlge opened #524 "Latest version from docker-compose pull fails to launch"
I just did a ```docker-compose pull``` to grab the latest revision and it fails to start

Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [ x] My instance

🐞 **Problem**
The output from the logs shows
[code]

looks like there is some problem with the password to connect to the database

[2018-01-11 13:59] osdlge commented on #524
This can be closed, looked through the commits and found this

https://github.com/octobox/octobox/commit/684f9494244ae3b2648b1a949a49447b5837ea5c#diff-4e5e90c6228fd48698d074241c2ba760R20

I updated my .yml file to the new USERNAME and it started working

Thanks!

[2018-01-11 13:59] #524 closed

[2018-01-15 23:52] hugomarisco commented on #501
I created the PR to use a fixed table layout and ellipsize any column that overflows the predefined width.
I couldn't think of a way to fix this using an auto layout (without involving javascript).

Let me know your thoughts and if there's anything I can do to improve it.

[2018-01-16 07:01] stevelacey commented on #250
I would really love to never have to look at GitLab again, if you're interested in supporting GitLab, I'm down to help

[2018-01-17 20:28] atuttle commented on #504
@Floppy could you provide a link to where you've requested that they add it to their API? Maybe getting a bunch of us to 👍 on it would help.

[2018-01-22 18:30] chrisarcand opened #528 "Filters + smaller width = row cut off"
The first row of notifications is cut off when a filter is selected AND the window size reaches the point that the CSS readjusts for mobile. Looks like the filter markup in the bar pushes the bar down over it:

![](http://screenshots.chrisarcand.com/qf6qd.jpg)

[2018-01-22 19:22] rubenlozano commented on #528
I can help and fix that at some point during the week, Chris.

[2018-01-28 18:25] Floppy commented on #504
No link unfortunately, they don't have a public issue tracker. It was just a support mail.

[2018-01-31 03:56] rubenlozano commented on #528
Working on it 👍

[2018-02-03 16:08] chrisarcand commented on #250
@stevelacey PRs accepted! 😄 Would love that, though do note what Andrew said in the description: it might not be feasible given GitLab's API.

[2018-02-14 06:17] natemcmaster commented on #422
I took a stab at it: https://github.com/octobox/octobox/pull/529

[2018-02-17 09:36] martinklepsch opened #542 "Better mobile support"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io

🐞 **Problem**
Using Octobox on mobile is already quite nice but could be improved. After adding the app to the homescreen it currently still opens as a tab in Safari and the address bar is always shown taking away screen estate.

🎯 **Goal**

Support various "Progressive Web App" features such as having a "separa

[2018-02-18 21:41] gep13 commented on #503
@lewispb @andrew can you please confirm is this has shipped?  I "think" I have just installed the latest version, but I am not seeing the version SHA in the top right hand corner.

[2018-02-18 22:28] lewispb commented on #503
Yes but if there’s any error caused by the git directory or git itself not being present on the server, the SHA won’t be displayed.

[2018-02-19 08:19] gep13 commented on #503
@lewispb where would I see that error message?  And what would I need to do in order to ensure that the necessary applications are installed in order for it to show?  Thanks

[2018-02-19 08:26] lewispb commented on #503
In the directory where the application is located I would suggest you verify that running ‘git rev-parse HEAD’ works.

[2018-02-19 08:31] gep13 commented on #503
In the directory where the application is located I would suggest you verify that running ‘git rev-parse HEAD’ works.

Sorry for asking questions, I just want to make sure that we are talking about the same thing...

I am running Octobox within a docker container.  When you say `in the directory where the application is located` are you referring to the host machine where I have cloned the Octobox

[2018-02-19 08:35] lewispb commented on #503
Yes it would need to be available whereever the application is actually running but sorry I’m not very familiar with docker.

[2018-02-19 08:43] gep13 commented on #503
sorry I’m not very familiar with docker.

Neither am I 😄

I thought running Octobox in a Docker image would help me get to grips with it, but still learning.  I will wait and see if someone else can add anything here.

[2018-02-19 12:33] martinklepsch commented on #542
We ([Status Open Bounty](https://openbounty.status.im/)) would like to put a bounty on this issue.

To make this happen two questions come up:
- Are the maintainers of octobox fine with this?
- What do you think about the amount of work? 4hrs? 1-2 days?

[2018-02-19 14:50] chrisarcand commented on #503
@gep13 I have little experience with Docker but I would venture to guess this is because [the .git directory is not included in the image because it's in .dockerignore](https://github.com/octobox/octobox/blob/d76bf25df157ddff096dee938f0728fb595496d2/.dockerignore#L1); however, a friend of mine says you might be able to `docker exec -it /bin/bash` into the container and check the sha from the comma

[2018-02-19 19:43] gep13 commented on #503
@chrisarcand I have tried what you suggested, but what I get back is...

[code]

Any ideas?

[2018-02-19 22:40] chrisarcand commented on #503
I don't, sorry!

[2018-02-20 00:41] pirogoeth commented on #503
@gep13 `docker exec -it <your container name> /bin/bash`

[2018-02-20 08:45] gep13 commented on #503
@lewispb @chrisarcand @pirogoeth thanks everyone! When I run `git rev-parse HEAD` I get the following output:

[code]

So looks like it is as @chrisarcand suggested.  Should we raise a different issue for this, or should we re-open this one?

Thanks

[2018-02-20 15:21] andrew commented on #503
Looks like we should remove .git from the dockerignore file

[2018-02-20 19:33] gep13 commented on #503
@andrew happy to test this out, if/when it is ready for testing.

[2018-02-21 09:33] cyberhck commented on #389
this is working for me at least the way I've configured, so I'll close this issue for now, if someone else encounters it, they can reopen

[2018-02-21 09:33] #389 closed

[2018-02-21 20:32] rallytime opened #544 "Every refresh causes "Sorry, something went wrong" message"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

I have been using Octobox for many months and it is great! Thank you! However, the last couple of days I have noticed a problem where every time I refresh the page, I see the "Sorry, something went wrong" message and prompts me to file an issue.

This happens with I use the `r`

[2018-02-21 21:32] rallytime commented on #544
Oh, also an added data point is that once I have "archived" the items, I am seeing `Last sync: 5 days ago`. Which isn't right since I sync multiple times per day.

[2018-02-22 22:30] yonaskolb commented on #472
Are there any updates on this?

[2018-02-22 23:17] dctucker opened #545 "Add a filter for closed/merged issues/PRs"
Encouraged by @tarebyte to write up this issue.

🎯 **Goal**

As I'm going through my inbox and filtering down to things that I'd like to archive and/or mute, I find myself wanting to select all merged issues and archive them so I can decrease my unread count.

💡 **Possible solutions**

One thing that may help with this would be a filter for `Closed` or `Merged` issues, effectively a negated `Open`

[2018-02-23 01:47] dctucker commented on #505
This would also be nice for use within Wavebox, since (if I'm not mistaken) they use notifications to set the account badge as having activity. Chrome support should be enough to make this work.

[2018-02-24 18:26] andrew commented on #503
@gep13 fancy opening another issue so this doesn’t get lost?

[2018-02-24 20:13] gep13 opened #548 "Version number doesn't appear when running in docker image"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

When running Octobox in a docker image, the version number (which is meant to appear in the settings page, doesn't appear.  This is because in order for this number to appear, the .git folder is required.  However, the docker image explicitly excludes this .git folder, therefore

[2018-02-24 20:14] gep13 commented on #503
@andrew sure thing.

[2018-02-26 11:04] andrew commented on #542
@martinklepsch yeah happy to have a bounty on it, I'm not particularly familiar with progressive web app manifests but it doesn't look like it'd take more than a day

[2018-02-26 17:37] dracan opened #550 "No notification for subscribed issue being closed"
Hi. Following on from [this Twitter thread](https://twitter.com/teabass/status/968114348756529152) - I had created [this GitHub issue](https://github.com/GitTools/GitReleaseManager/issues/105), and was subscribed to it. When it was closed, the notification _was_ in my "All Notification" section in Github, but didn't appear at all in Octobox.

---

Are you experiencing this issue in octobox.io or y

[2018-02-26 20:23] chrisarcand commented on #550
Can't recreate this running locally, seems to work fine 😕 Tried both with and without subject syncing.

[2018-02-27 06:48] dracan commented on #550
@chrisarcand I didn't get a notification about your comment either. I have everything ticked in my notification settings. I've only recently started using this, but I have had notifications before (I can see them now in my archived items) for issues I've been watching. New ones (eg. this thread) just aren't appearing at all in the Octobox webapp.

[2018-02-27 15:01] chrisarcand commented on #550
I should ask, have you tried manually clicking the sync button yourself? (IIRC autorefresh is disabled on octobox.io, so if you're waiting for notifications to just appear, they won't).

[2018-02-27 18:32] dracan commented on #550
Yes, of course :) I've even tried deleting my cookies and re-authenticating. Octobox seems to have no knowledge whatsoever of this thread (or the thread I mentioned in my initial post above).

[2018-02-28 18:45] chrisarcand commented on #545
Oh man, I must have been super tired when I saw this originally. Yes @dctucker this feature is already implemented, it's just not available on octobox.io. You can run Octobox yourself and [enable subject fetching](https://github.com/octobox/octobox/blob/7a6b3e894bc5a747bb28dc1e90730038c4f4485f/INSTALLATION.md#downloading-subjects)

Closing this but feel free to ask any other questions you might ha

[2018-02-28 18:45] #545 closed

[2018-03-01 08:02] dracan commented on #550
I am getting watch notifications for issues I've been subscribed to in the past. It might not be this, but it's possible that it's only happening with recently subscribed issues. I've just had a couple of notifications for activity on a much older issue (different repo).

[2018-03-08 08:32] bitboxer opened #555 "Firefox openes tab with /notifications/sync"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

When I restart my Firefox and it reloads the previews opened tabs it always opens octobox with `/notifications/sync` as path. Sadly that path does not exist as get and it fails to load the page.

🎯 **Goal**

It should try to load `/` when Firefox restarts.

💡 **Possible solution

[2018-03-08 14:01] andrew commented on #548
@gep13 I just pushed a fix to master for this, can you try it out with the latest docker image once it finishes building?

[2018-03-08 17:11] chrisarcand commented on #555
[`notifications/sync` does exist as a `GET` route](https://github.com/octobox/octobox/blob/e38a435b4081f2038f2a794222ded27bd3f9feae/config/routes.rb#L18), so you can just refresh the page without removing the slug. Leaving this open though as I'm still unsure why Octobox falls on itself in a long running tab, though I suspect it has something to do with auto-refresh when you don't have an internet

[2018-03-08 20:13] bitboxer commented on #555
Yes, it's a bit weird. I will keep an eye on it and will try to find out why this happens.

[2018-03-09 07:34] bitboxer commented on #555
Okay, happened again. I opened my Mac this morning and it took it some time to get wifi. In that time the firefox tried to reload the page and failed. When I press Cmd+R to reload the page it tries to do a PUT request and says it can't find the page. Does the application refresh the page with a PUT instead of a GET?

[2018-03-09 22:21] rambleraptor opened #556 "Octobox redirect_uri for Github API is always localhost"
I've got a local install of Octobox behind Nginx. Whenever I try to login with Github, the redirect_uri doesn't match my Github.com redirect_api. This is because Octobox keeps sending out redirect_uris of localhost:3000/auth/github/callback (which is wrong) whereas Github is expecting example.com/auth/github/callback

Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octob

[2018-03-11 13:58] gep13 commented on #548
@andrew so, I am going to be honest...

I am still not 100% clear on what I need to do in order to run the latest version of the Docker image :sad:

I have fetched the latest code, and I have tried running the application again, however, I am not seeing the version number, so I think I must still be doing something wrong.

Any pointers?

Thanks

[2018-03-11 19:44] gep13 commented on #548
@andrew I can now confirm that this is all working 😄

I can now see the version SHA in the Settings screen:

![image](https://user-images.githubusercontent.com/1271146/37257657-6654d0ba-2564-11e8-8e08-e6054366bee6.png)

I was able to get this working after @agc93 pointed me in the right direction.

I had to do the following:

`docker-compose pull app`  - which downloads the latest image that you h

[2018-03-11 19:44] #548 closed

[2018-03-18 09:43] andrew commented on #422
This has been implemented by @natemcmaster, available if you are self-hosting and have subject-syncing enabled

[2018-03-18 09:43] #422 closed

[2018-03-18 11:09] #484 closed

[2018-03-18 11:12] andrew commented on #484
@gareth this was completed by @rawburt in #497 but it took a while to get merged, just wrapped it up today.

Going to deploy it to https://octobox.io shortly 🎉

[2018-03-18 17:50] andrew opened #559 "Support emoji in labels 🏷"
<img width="414" alt="screen shot 2018-03-18 at 17 47 58" src="https://user-images.githubusercontent.com/1060/37569013-a2a1ceea-2ad4-11e8-99ef-27b355c997f6.png">

Just noticed that we don't turn `:+1:` into the correct emoji when used in a label since support for emoji in labels was added to GitHub last month: https://blog.github.com/2018-02-22-label-improvements-emoji-descriptions-and-more/

[2018-03-18 18:19] andrew commented on #559
We can probably use https://github.com/github/gemoji to do a lot of the heavy lifting for us

[2018-03-19 14:26] chrisarcand commented on #556
Hi @rambleraptor

Can you verify:

* That your OAuth application on GitHub.com is set for whatever address you've put Octobox on? It should not say localhost:3000 (as [here](https://github.com/octobox/octobox/blob/master/INSTALLATION.md#local-installation)), it should be whatever address you have Octobox running on.
* That your GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET are pointing to that same OA

[2018-03-19 16:55] rhuss opened #561 "Missing notifications and labels"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

When switching on `FETCH_SUBJECT=true` then each label appears only exactly once in the overview:

![image](https://user-images.githubusercontent.com/99080/37609884-8d54f52e-2b9e-11e8-9b20-13040145c092.png)

In the screenshot above, many issue e.g. carry the label `group/ui` but

[2018-03-19 18:12] rambleraptor commented on #556
- OAuth application is not set to localhost:3000
- GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET are set correctly.
- GITHUB_DOMAIN is not set.

I added `OmniAuth.configure.full_url = <ROOT_URL>` to the github provider file and it forced the redirect_uri to the proper URL.

[2018-03-19 19:02] andrew commented on #556
@rambleraptor how are you deploying/running your instance? Docker, heroku or something else?

[2018-03-19 19:46] rambleraptor commented on #556
Local install behind Nginx reverse proxy.

On Mon, Mar 19, 2018 at 12:02 PM Andrew Nesbitt <notifications@github.com>
wrote:

[2018-03-20 20:51] rhuss commented on #561
Also, I have the feeling that when `FETCH_SUBJECT=true` is switched on, that I miss notifications in the view. See below two screenshots from two different installation, one with FETCH_SUBJECT switched on, the other one without (right after a fresh refresh on both)

<img width="867" alt="image" src="https://user-images.githubusercontent.com/99080/37682082-ce92d87c-2c88-11e8-8672-18a2408417d8.png">

[2018-03-21 15:35] terminalmage opened #567 "Feature request: visual indication of some status changes (merges, assignments, etc.)"
Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

🐞 **Problem**
Octobox makes an pull request "unread" when all that happened was that it was merged. Assuming that Octobox is supposed to make going through your notifications less of a hassle, this works _against_ that goal. At least when viewing https://github.com/notifications, a PR will sho

[2018-03-22 17:16] chrisarcand commented on #567
I think that's a subjective opinion. I for one like to know when long-standing PRs are merged; it's an activity that happened that I haven't read yet, thus it is unread. However, a feature to be able to specify that you don't want them to be marked as read for only merges seems totally appropriate!

This is [already a feature](https://github.com/octobox/octobox/pull/411); it is not available on oc

[2018-03-22 17:16] #567 closed

[2018-03-23 00:33] chaserx commented on #559
this looks like fun. I'll take a crack at it.

[2018-03-23 15:48] #559 closed

[2018-03-25 12:07] aslakknutsen commented on #561
I can confirm this behavior. I was running a local v with the Labels PR merged and FETCH_SUBJECT on. It essentially grinded to a halt performance wise after some time and I was missing 'most' of the notifications.

Didn't debug the issue much, but one thing I noticed was that the check for duplicate labels didn't match how they were stored. So the check thought the label wasn't there, attempted to

[2018-03-26 07:40] rhuss commented on #561
I can confirm the same issue here for me.

First I thought it might be an issue with transaction isolation levels (i.e. having a level of READ_COMMITTED or larger and no first level cache, you won't find objects with a select (without 'FOR UPGRADE' suffix which you have created in the same transaction), but actually the insert fails on already existing labels. And tbh, I have no ideas how ActiveRe

[2018-03-26 07:59] rhuss commented on #561
Actually, looking in the generated schema for the table `labels` backs my assumption that the mappings are wrong:

[code]

A label is actually independent from a `subject` and can be reused of course in many issues/pullrequests. So there must be no column `subject_id`

Actually, the relationship between label:subjects is N:M and not N:1. I would expect to have a dedicated relationship table for th

[2018-03-26 08:07] rhuss commented on #561
Maybe something like

[code]

?

[2018-03-26 16:12] andrew commented on #561
I think I can see the issue here, `label.id` is being stored as the remote label id from github, which explains why things are disappearing, we should probably be storing the id from github as `github_id` rather than in `id` here: https://github.com/octobox/octobox/blob/master/app/models/subject.rb#L17

I'll take a stab at tackling this tomorrow morning if no-one else

[2018-03-26 16:22] rhuss commented on #561
@andrew but then, wouldn't you end up re-creating a the same label for every subject if the label is used multiple times ?

I really believe that the domain model is wrong here:

* A subject (pr/issue) can have one or more labels
* A label can be used for one ore more subjects (pr/issue)

But currently it's modelled has the labels attached to a subject as specific to this subject only.

This means

[2018-03-26 16:43] andrew commented on #561
We filter labels by their name, rather than id now: https://github.com/octobox/octobox/blob/master/app/models/notification.rb#L37

I'm imagining that we'd also change this line: https://github.com/octobox/octobox/blob/master/app/models/subject.rb#L14 so that way, we'd end up automatically picking up when a label's colour or or name has changed whilst still attached to the same subject

[2018-03-26 17:18] rhuss commented on #561
yes, that makes perfectly sense to catch cross-repo, same-named labels.

Actually, if you go the denormalized route (e.g. having the same github labels multiple times per subject which use them), then you probably need to update or find multiple labels here (by their github id) and update them.

Well, no more speculating, curious to see which what you come up ;-)

thanks, its really something I'm

[2018-03-26 17:56] andrew commented on #561
@rhuss started a branch over here if you'd like to try it out locally: https://github.com/octobox/octobox/pull/575

[2018-03-27 10:33] #561 closed

[2018-03-27 10:35] andrew commented on #561
This got closed automatically but I think it solves the issue as @rhuss tested out the branch and it seemed to fix the problem.

[2018-03-27 10:50] rhuss commented on #561
Yes #575 fixes the described issues.

Trying now from `master` and would reopen it or create a new issues if this would be different.

[2018-03-27 11:15] andrew commented on #555
I've noticed this happen on mobile as well, pretty annoying!

[2018-04-04 19:16] jules2689 commented on #555
Most likely. When I added the `GET` endpoint it was to fix the issue where the page would fail to load because when you leave a long running chrome tab opens it loses context and falls back to `GET`.

I think a solution here would be to change to use the new sync job (unless we are already) and remove the `PUT` endpoint, using only `GET`

[2018-04-04 19:21] jules2689 opened #584 "A Changelog would be useful"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

Right now when pulling in upstream to update my instance, I have to go and parse through commits to find relevant and actionable items.

Recently this was exasperated by many emoji being added (clogging the diff) and sidekiq (something I need to action).

🎯 **Goal**

Make upgrad

[2018-04-04 20:14] RichardLitt opened #585 "[enhancement] Repository audit from @mntnr"
Hello there! :wave:

This is audit from @mntnr. This was requested by @andrew through Open Collective, on Twitter.

Let me know if you have any questions!

## Repository Review: octobox/octobox

_For notes on anything crossed out, look below. Note: I use `[~]` to mean that I have proposed a fix in a PR. I know it doesn't render properly in Markdown, but it works pretty well otherwise for that purp

[2018-04-06 05:05] di opened #591 "Can't mark a message as read when I don't have access to the repo anymore"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
I have a number of notifications in Octobox from repositories that I no longer have access to (no longer a member of the parent organization).

Attempting to mark any of these as "read" results in this error:

🎯 **Goal**
I'd like to mark these old notifications as read -- I don't

[2018-04-10 12:33] jusunglee opened #595 "Refreshing on my instance routes to /notifications/sync, with ActionController::InvalidAuthenticityToken in NotificationsController#sync"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

Running with kubernetes from `registry.hub.docker.com/octoboxio/octobox:latest`
Bug: Refresh using `r` key or refresh button on browser or refresh button on web app UI routes to `/notifications/sync`, and gives me this error message/page:
[code]

🎯 **Goal**

This change is impor

[2018-04-10 13:41] andrew commented on #585
Awesome, thanks @RichardLitt!

One error I noticed, we do have an [ISSUE_TEMPLATE.md](https://github.com/octobox/octobox/blob/master/ISSUE_TEMPLATE.md) but it's in the route instead of `.github` folder, and according to GitHub documentation `docs` folder is also a valid location for it.

[2018-04-10 14:55] chrisarcand commented on #584
Hehe, I was *literally* just thinking this same thought when I was looking at what's been merged recently and thinking 'I should really update my box before I forget all the things I need to do for it...' 👍

[2018-04-10 16:35] jusunglee commented on #54
@chrisarcand @andrew How does one enable these features after changing the `GITHUB_SCOPE` to `notifications,repo` and `FETCH_SUBJECT` to `"true"` ? I don't see any difference

[2018-04-11 14:45] andrew commented on #584
At the moment, every commit merged into master generates a new docker image.

Feels like having a more curated, hand written changelog for significant changes would be the way to go?

[2018-04-11 14:46] andrew commented on #584
I'm also not a big fan of encoding the type of change into the commit message, ala semantic-release, mostly because it becomes a huge burden on new contributors, asking them to rebase their commits to change the messages etc

[2018-04-11 14:58] jules2689 commented on #584
Yea, that makes sense. The big thing that is a "blocker" here is that there are no "releases" as it's continuously deployed (more or less). There's much more succinct and obvious changelogs for an app that has a release.

[2018-04-11 15:08] andrew commented on #584
I guess we could start tagging known-good releases on master on a regular basis and encouraging people to pull from tagged releases rather than just master?

[2018-04-11 15:22] vvo opened #599 "[idea] Provide a switch to show/hide notifications from bots"
Hi!

Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io

🐞 **Problem**
I use a lot https://renovateapp.com/docs/ from @rarkins. And I use a lot Octobox (I only use Octobox for every notifications on GitHub).

Here's an example repo I contribute to:
![image](https://user-images.githubusercontent.com/123822/38626278-7f7c7826-3dac-11e8-9b56-98801ee3f18c.png)

Becaus

[2018-04-11 15:32] chrisarcand commented on #584
I agree on the cons against autogenerated changelogs, or at least the ones that claim no human interaction is necessary; they just create pain in my experience.

Yeah tagging sounds fine to me. Semver might be hard to follow for an application; the 'breaking changes' bit gets really fuzzy and I don't want to get in to lengthy, pedantic discussions about what constitutes 'breaking'. If we start tag

[2018-04-11 16:06] andrew commented on #584
Yeah I have no problem with just rolling release numbers, semver doesn't make much sense when we don't have many people interfacing with it directly.

[2018-04-11 17:03] jules2689 commented on #584
What is we made release logs on a weekly or bimonthly basis?

[2018-04-11 19:33] jules2689 commented on #584
How about this:
- We make a manual "first release" now
- We set up a bot that runs once every two weeks that auto tags the current commit
- We make an issue to fill out the tagged release with a "changelog"

This way, it's automating the process to actually force it to happen and manually doing the important parts.

[2018-04-12 08:33] andrew commented on #584
Sounds like a plan!

[2018-04-12 08:35] andrew commented on #584
Once we have something like that, would be great to have a way of browsing the changelog from the web ui, maybe even suggesting updating for people running their own instances?

[2018-04-12 08:43] andrew commented on #584
We should also use the https://keepachangelog.com standard format

[2018-04-12 11:50] jules2689 commented on #584
Here's our baseline then: https://github.com/octobox/octobox/releases/tag/e62e539

[2018-04-12 12:50] jules2689 commented on #471
This is done: https://github.com/octobox/octobox/pull/546

[2018-04-12 12:50] #471 closed

[2018-04-12 12:52] jules2689 commented on #476
#543 adds the basic pipeline for this. https://github.com/octobox/octobox/pull/603 adds what is described here.

[2018-04-12 21:26] chrisarcand commented on #584
Nice, I dig this a lot.

[2018-04-13 08:58] andrew commented on #584
:+1:

[2018-04-16 10:27] jusunglee commented on #54
@chrisarcand Hey chris, thanks for the screenshot and reply. I did a quick bit of research and it looks like you have to give users read AND write permissions with the `repo` scope, is that correct? Am I also correct in saying that there is no read-only repo scope?

[2018-04-16 19:28] mattdrose commented on #505
Adding notifications would be great to have. Even if it simply does ``new Notification(`New Github notification: ${title}`);``. I'm wrapping Octobox in an electron app, which supports HTML5 notifications (they bubble up as native os notifications).

I found it brought up as a suggestion in the past https://github.com/octobox/octobox/issues/269

[2018-04-17 01:39] davidcelis commented on #556
I'm having the same issue, running via `docker-compose` behind Nginx.

[2018-04-17 13:29] rhuss commented on #556
Hmm, not sure whether its relasted but since 1 hour I have a similar/same issue when running on OpenShift, where octobox is serverd through a loadbalance:

[code]

[2018-04-17 13:31] rhuss commented on #556
hmm, probably not (not really related to oauth redirect). sorry for the noise ...

[2018-04-19 10:31] rhuss opened #615 "Add option of opening GitHub issue in same tab"
Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [X] My instance

🐞 **Feature Request**

Add a boolean user settings which if set, configures octobox to open GitHub issues within the main window, replacing the Octobox UI.

🎯 **Goal** & 💡 **Possible solutions**

I really love working with the awesome octobox keyboard shortcuts exclusively. I also use Octobox

[2018-04-26 16:11] chrisarcand commented on #54
@jusunglee That's correct; GitHub doesn't provide a read-only repo scope that I am aware of. See https://developer.github.com/apps/building-oauth-apps/scopes-for-oauth-apps/

[2018-04-27 20:23] Skeyelab opened #623 "Restricting to multiple orgs possible?"
**Question**
We have multiple orgs in our company.  Is it possible to pass multiple org ID's?

Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

[2018-04-28 08:44] 3minus1 commented on #505
May I take this up?

[2018-05-02 07:13] ringods opened #628 "Notifications stuck on repo no longer access to"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

Two months ago, I switched working for one customer to another. I still had some archived but unread notifications from repos I currently no longer have access to. These notifications are currently stuck. If I want to manipulate these, I get an error mentioning that my github to

[2018-05-02 08:34] andrew commented on #623
@Skeyelab looking at the code, it currently only supports one org but that sounds like a good feature to add 👍

[2018-05-02 14:32] chrisarcand commented on #628
Dupe of #591

Yeah definitely an issue we need to address.

[2018-05-02 15:04] #628 closed

[2018-05-16 20:56] Xarthisius commented on #556
@davidcelis try adding this to your nginx conf:

[code]

it solved the issue for me.

[2018-05-16 23:04] davidcelis commented on #556
@Xarthisius that did it! thanks a ton!

[2018-05-17 11:45] andrew commented on #556
It might be worth adding a note about this when running octobox behind nginx to the docs

[2018-05-28 14:21] chaserx commented on #99
`Review Requested` exists as a category. Probably can close this one. Thoughts @andrew @Kubuxu

![screen shot 2018-05-28 at 10 18 56 am](https://user-images.githubusercontent.com/7292/40618831-b9f40d56-6260-11e8-987d-589b947e9f29.png)

[2018-05-28 23:59] chaserx opened #639 "empty redis_url string configuration for scheduled server-side syncs"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
I was following the instructions for `Scheduling server-side notification syncs` via Option 2 by including `OCTOBOX_SIDEKIQ_SCHEDULE_ENABLED` in my .env file. Strangely, the app would not boot because of a `invalid uri scheme ''` error that could be traced back to [Line 14 of the

[2018-05-29 00:17] chaserx commented on #309
How would y'all feel about putting the last synced at front and center? Something like this:

![screen shot 2018-05-28 at 8 12 03 pm](https://user-images.githubusercontent.com/7292/40632361-0dadb7be-62b4-11e8-9dd0-1ecf1db94d12.png)

[2018-05-29 00:57] chaserx commented on #639
this does solve the error, but sidekiq is not running with the current docker-compose setup for development as far as I can tell.

[2018-05-30 11:07] andrew commented on #639
@chaserx thanks for investigating this, yeah we should update the docker-compose setup to get sidekiq going, I think we'll end up enabling the sidekiq syncing by default sooner rather than later.

[2018-05-30 11:08] andrew commented on #309
@chaserx that sounds like a great idea, probably wants to disappear/move on mobile/small screens as space is limited 👍

[2018-05-30 11:09] andrew commented on #99
Thank I think this is done, good catch @chaserx!

[2018-05-30 11:09] #99 closed

[2018-05-30 19:29] chaserx commented on #639
closed by #640

[2018-05-30 19:29] #639 closed

[2018-06-03 16:49] #309 closed

[2018-06-04 03:18] chaserx commented on #243
I think this can probably be closed now due to merging #261

Thoughts? @chrisarcand @andrew

[2018-06-05 10:13] #243 closed

[2018-06-05 10:13] andrew commented on #243
Done!

[2018-06-05 14:56] pradyunsg opened #648 "Show icons to act on a notification when hovering over it"
Are you experiencing this issue in octobox.io or your own instance?
 - ✅ octobox.io
 - My instance (not yet; any way to deploy it for free?)

**Problem**

Show archive and mute buttons for an entry when hovering over it.

**Goal**

This would optimize my workflow where I open an issue, check and see if there's anything actionable. If I'm not interested, I mute it otherwise, once I close an issue,

[2018-06-08 17:34] fd0 opened #652 "Thank you!"
This is not a bug report or other issue: I'd like to thank you so much for making GitHub notifications usable again! As the main author of [restic](https://github.com/restic/restic), a fast and secure deduplicating backup program, I quickly lost track of what I still need to respond to versus what can be left alone until something else happens. Thanks for adding the distinction between `archived`

[2018-06-09 21:45] andrew commented on #652
Thanks so much! ❤️

[2018-06-11 00:41] marnovo opened #653 "[feature] Filter & visualize PR/issue status (open/merged/closed)"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

This feature solves the problem of not knowing which PRs and issues are merged/closed, thus probably not worth reading or worth (bulk) archiving straight away.

🎯 **Goal**

This is important because, differently from GitHub notifications that use color coded icons for open/merge

[2018-06-11 09:34] tsupertramp commented on #652
Thanks for this awesome tool. I really enjoy using it every day! <3

[2018-06-11 09:45] dictvm commented on #652
Thanks for this awesome project. It's saving me a lot of time since my employer started going all in into Github! <3

[2018-06-11 10:50] pbollenbeck commented on #652
Thank you very much for your contribution! It's a great tool and it improves my work life every day.
❤️

[2018-06-14 12:45] igitur commented on #226
Could you not use the Github API for this? i.e. call `https://api.github.com/issues?filter=subscribed&state=all` with suitable auth token?

https://developer.github.com/v3/issues/#list-issues

[2018-06-18 14:51] arthurnn commented on #652
Thanks to you all ❤️

[2018-06-18 14:53] arthurnn commented on #505
Would be awesome if I could setup pushes only for a type of notifications, for instance, activity on the notifications I had stared.

[2018-06-19 22:20] tmlayton opened #660 "Show notifications for GitHub Team Discussions"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io (I don’t use Octobox.io so it technically is a lie for me to check this, but I’m fairly certain this issue exists there too after looking through the code)
 - [x] My instance

🐞 **Problem**
Our team is trialing GitHub Team Discussions (e.g. https://github.com/orgs/YOUR_ORG/teams/YOUR_TEAM/discussions) and noticed

[2018-06-20 09:03] afilp opened #661 "Add a 'Filter by' icon next to a repo in the List"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **ENHANCEMENT**

Add an icon here (see screenshot) so that we can filter for that `repo` immediately.
![image](https://user-images.githubusercontent.com/7850073/41648421-83b38b12-7481-11e8-98d3-68b60262c34d.png)

This new **feature** will help us to immediately select and mark all new watche

[2018-06-20 20:01] movermeyer opened #663 "Broken Link in website "open an issue""
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io

🐞 **Problem**

The "open an issue" link on https://octobox.io/ is broken:

* It is currently: https://octobox.io/#https://github.com/octobox/octobox/issues/new
* It should be: https://github.com/octobox/octobox/issues/new

None of the other links are broken.

[2018-06-21 15:22] #663 closed

[2018-06-21 15:22] andrew commented on #663
Thanks for reporting, just deploying a fix now

[2018-06-21 18:30] #310 closed

[2018-06-21 18:30] andrew commented on #310
🎉

[2018-06-24 08:35] Alexkho82 commented on #500
#500

[2018-06-24 08:36] Alexkho82 commented on #555
#555

[2018-06-24 08:37] Alexkho82 commented on #623
#623

[2018-06-24 08:38] Alexkho82 commented on #615
#615

[2018-06-24 08:39] Alexkho82 commented on #591
#591

[2018-06-24 08:40] Alexkho82 commented on #528
#528

[2018-06-24 08:41] Alexkho82 commented on #493
#493

[2018-06-25 15:59] jondkinney commented on #378
Love Octobox! Just trying to figure out what my workflow will be. I head up a dev team at a consultancy, so I have a lot of repos I'm helping watch and review. Email was not working for me, so I turned off those notifications. But now I have to manually remember to go to octobox and refresh every so often. I'd like to keep a pulse on things through notification center so that if someone pings me f

[2018-06-25 19:00] davidcelis opened #667 "Gradual memory leak with no plateau"
Are you experiencing this issue in octobox.io or your own instance?

* ~octobox.io~
* My instance

🐞 **Problem**

I run a personal Octobox instance on a DigitalOcean droplet (4GB of RAM) so that I can take advantage of the `FETCH_SUBJECTS` feature. On this instance, I also have personal access tokens enabled and am using one that I generated specifically for Octobox. My method for running it is vi

[2018-06-25 19:17] chrisarcand commented on #667
Given the sheer amount of functionality that sits in that feature, probably - but more than that, I'm guessing that octobox.io and others don't have this problem because Heroku - IIRC dynos are restarted every 24 hours whether you want it or not.

[2018-06-25 19:47] davidcelis commented on #667
Ohhhh yup, you're right https://devcenter.heroku.com/articles/dynos#restarting

[2018-07-02 10:41] andrew commented on #667
One other thing I've done to reduce memory usage on octobox.io is to switch to using jemalloc, might be worth trying that out before the more crude cronjob to restart it every 24 hours.

Used this build pack on heroku: https://github.com/gaffneyc/heroku-buildpack-jemalloc

[2018-07-02 11:19] andrew commented on #591
@di I've opened a PR with a fix for this over here: https://github.com/octobox/octobox/pull/670

[2018-07-05 10:34] Qkyrie commented on #500
hi @chrisarcand, would it be ok for fundrequest.io to add a little bit of funding to this issue, so maybe the community can pick it up?

[2018-07-07 16:04] Alexkho82 commented on #500
#500

[2018-07-07 16:05] Alexkho82 commented on #667
#667

[2018-07-07 16:05] Alexkho82 commented on #561
#561

[2018-07-07 16:06] Alexkho82 commented on #556
#556

[2018-07-07 16:07] Alexkho82 commented on #471
#471

[2018-07-08 11:02] #591 closed

[2018-07-09 15:09] chrisarcand commented on #500
@Qkyrie I don't mind really; @andrew ?

[2018-07-10 14:37] andrew commented on #500
@Qkyrie sure!

[2018-07-11 07:14] dependabot[bot] opened #682 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-07-11 13:12] #682 closed

[2018-07-13 11:33] tsupertramp commented on #472
@andrew - Wouldn't it make sense to remove the experimental flag (FETCH_SUBJECT=true) and make this default for all users, instead of a complex two way system? - I could PR this and add some text why this is happening for users where scope has to be upgraded.

The second option would be allow upgrading the scope in the settings of the user maybe, I would prefer option one.

Greetings, Thomas

[2018-07-13 19:35] tmlayton commented on #660
cc/ @jules2689

[2018-07-13 20:11] jules2689 commented on #660
hmm, Ive not dived into this area before. @chrisarcand @andrew @tarebyte any insights on how to enable this?

[2018-07-13 21:30] BPScott commented on #660
I can't see any notifications from teams when hitting https://api.github.com/notifications. I've got a sinking feeling that GitHub don't expose this yet. I'll poke support.

[2018-07-13 21:47] tmlayton commented on #660
I think they are available here https://developer.github.com/v3/teams/discussions/

[2018-07-13 23:47] BPScott commented on #660
Well, bums.

[2018-07-14 01:44] jules2689 commented on #660
I'll escalate from Shopify's side as this impacts our employees too

[2018-07-14 01:44] jules2689 commented on #660
That said, I'm going to close this issue since the issue is on github's side.

[2018-07-14 02:54] tmlayton commented on #660
Thanks @BPScott and @jules2689

[2018-07-14 15:06] artjeck opened #689 "Contribute a new logo"
Hi Developers 😀
I am Graphic Designer, i want to Contribute a new logo for you application.
Before I start it, I need your permission first
Thanks

[2018-07-14 18:28] chrisarcand commented on #660
Yeah this is a bummer. Thanks for finding the cause!

[2018-07-16 09:33] andrew commented on #472
@tsupertramp the main thing holding back switching the default on is the github permissions model for oauth apps, for anyone with access to private repos, they need to give a lot of access to code as well as issues and pull requests often to multiple orgs, I'm investigating getting it working as a GitHub App to allow for fine-grain permissions then we can definitely have FETCH_SUBJECT default to t

[2018-07-17 20:10] garrettw commented on #496
I have this issue on my own instance too. When I first load the page, I would expect it to go ahead and fetch the latest data from GitHub, but it doesn't. It comes up empty saying it last updated the last time I had it open. I think it should come with fresh data when I open it up.

[2018-07-19 17:45] existentialmoron commented on #528
I inspected this issue. And what's actually happening is a row is partially cut off when window width is below 768px. While, the whole first row in hidden when width is 768px or above. May I be assigned this issue?

[2018-07-19 18:19] andrew commented on #528
@existentialmoron feel free to tackle this one 👍

[2018-07-23 04:15] Ullaakut opened #699 "Toggle between light and dark theme from the settings"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [x] My instance

🐞 **Problem**
I really like Octobox, and it's awesome that it's possible to self-host it. The only missing feature for me is the possibility to switch between a dark/light theme in the settings.

🎯 **Goal**
Dark themes are not just something for edgy people who like the dark, it's actually a g

[2018-07-23 13:47] andrew commented on #689
@artjeck thanks for the offer but I think we're ok with our current logo for now

[2018-07-23 13:47] #689 closed

[2018-07-23 13:47] #652 closed

[2018-07-23 13:48] #585 closed

[2018-07-24 16:50] rallytime commented on #544
@andrew Yeah. It says `Last sync: 5 months ago` now.

I am pretty sure that @Ch3LL says it's happening for her as well.

[2018-07-25 08:34] andrew opened #703 "Translation"
It'd be great to be able to be able to offer support languages other than English in the interface and make the app more friendly to people from all around the world.

Rails has good I18n support, details in the guide here: https://guides.rubyonrails.org/i18n.html

I've also been through the process with one of my other open source projects, [24pullrequests](https://github.com/24pullrequests/24pul

[2018-07-25 10:10] pradyunsg commented on #703
I'm up for doing a Hindi translation but I'm yet to see someone file an issue in Hindi on GitHub so, I don't know if it'd be useful.

[2018-07-26 12:39] andrew commented on #699
@Ullaakut I think the best way to make the switch would be if there was a class of `dark` on the `<body>` element of the page, I can add the user preference to switch between dark and light modes in the settings that adds that class.

[2018-07-26 12:41] andrew commented on #653
@marnovo this feature is already available if you run your own version of octobox, see [Downloading subjects](https://github.com/octobox/octobox/blob/master/docs/INSTALLATION.md#downloading-subjects) and will be coming to Octobox.io next month

[2018-07-26 12:41] #653 closed

[2018-07-26 12:43] andrew commented on #472
I'm actively working on this now, subject syncing will be enabled for any repos that have an Octobox GitHub app installed, so orgs can opt-in to this behaviour rather than users having to agree to `repo` scope, hoping to have something to show in the next week or so

[2018-07-26 12:43] Ullaakut commented on #699
Sounds good!

Then I guess I'll get started on making a custom set of stylesheet changes when I have some time and ask you for some feedback before making changes to the `scss` files and opening a PR.

Thanks @andrew ! 👍

[2018-07-26 12:44] andrew commented on #699
Sweet, looking forward to it

[2018-07-27 10:46] andrew commented on #544
@rallytime after a bit of digging, I found the bug, the subject of one of your notifications contained a null byte character that postgres wasn't happy with, https://github.com/octobox/octobox/pull/705 should fix it, will deploy it later today.

[2018-07-27 10:48] andrew commented on #648
@pradyunsg yeah I think this is a good idea, gmail does a very similar thing:

<img width="402" alt="screen shot 2018-07-27 at 11 47 53" src="https://user-images.githubusercontent.com/1060/43316964-fc1c2aea-9192-11e8-81e1-354e7e75947b.png">

[2018-07-27 13:13] pradyunsg commented on #648
Indeed.

@andrew I'm not super familiar with this codebase but if you could point me to the appropriate section of code here, I could take a stab at this.

[2018-07-27 13:22] rallytime commented on #544
Awesome! Thanks @andrew!

[2018-07-27 16:35] #544 closed

[2018-07-27 16:40] andrew commented on #544
Just deployed this and tested out the notification syncing on both @rallytime and @Ch3LL's accounts, looks like it's fixed it

[2018-07-27 17:54] rallytime commented on #544
yes, it's fixed! Thank you @andrew!

[2018-07-30 11:45] andrew commented on #628
This should be fixed now by #670

[2018-07-30 11:48] andrew commented on #500
Thinking about this again, we could either:

- [ ] add a confirmation to the mute button
or
- [ ] add an undo function to enable rolling back of mistakes made

[2018-07-30 11:52] andrew commented on #555
@bitboxer I suspect this is because CMD+R is triggering a sync at the same time as refreshing the page

We could also redirect GET requests to `/notifications/sync` back to `/`

[2018-07-30 11:54] #584 closed

[2018-07-30 11:55] andrew commented on #584
Closing this as we have a changelog now

[2018-07-30 15:25] andrew opened #710 "Add 404, 422 and 500 error pages"
Our current html error pages are the rails default ones and look a bit sad, would be nice to have something a bit more in-keeping with the Octobox style.

![screen shot 2018-07-30 at 16 23 01](https://user-images.githubusercontent.com/1060/43406919-2f8edb14-9415-11e8-893c-a2d5ba5a0c20.png)

[2018-07-30 15:31] andrew commented on #492
I don't think we'll be changing the rendering approach in the short term so closing this

[2018-07-30 15:31] #492 closed

[2018-07-30 16:04] andrew commented on #462
@davidcelis @Manackkel is this still happening for either of you?

[2018-07-30 17:36] davidcelis commented on #462
@andrew Not that I've seen, no. We can probably close this out!

[2018-07-30 17:44] bitboxer commented on #555
Yes, that could work.

[2018-07-30 19:29] #462 closed

[2018-07-30 19:39] Manackkel commented on #462
Same, I didn't see this error again. Thanks for your work.

[2018-07-30 20:43] shayfrendt commented on #660
👋 Hey Octobox friends! I'm on the GitHub team that built and released Team Discussions and just wanted to reach out to confirm ~your sinking feeling~ the behavior you're seeing. 😅

In digging through some project context, it looks like we intentionally excluded team-related notifications from the REST API v3. Here are a couple snippets of insight into that decision:

That being said, hearing from

[2018-07-30 20:53] chrisarcand commented on #660
@shayfrendt Hi!

Yes, I would say people would be interested in it. I've always assumed we'd be moving to the V4 API at some point, it's just been pretty low on the list so far.

[2018-07-30 21:15] shayfrendt commented on #660
@chrisarcand Ok cool, thanks for the feedback. 🙇

While we're waiting on the :octocat:, we could set up a notifications mail order catalogue where we load your team discussion notifications onto floppy disks every week and send them to you in the mail Netflix style. 💾

Ah hmm...that's probably not a great workaround. 🤓

I'll bring this thread back to the team as a feature stakeholder data point an

[2018-07-31 18:56] Zimmi48 commented on #660
Just started with team discussions and was disappointed to see that it wasn't supported by Octobox yet. However, it was great to discover this issue and how fresh and active it is.

I would suggest to keep it open until it's solved so that it is easier to find it (I went through all the open issues before using the issue search).

@shayfrendt Would it be too much to ask to have an option to receiv

[2018-07-31 19:13] shayfrendt commented on #660
Agreed on email notifications being the best workaround. 👍

@Zimmi48 It wouldn't be too much to ask, and the fun part is...they already exist! Check out:

https://help.github.com/articles/about-team-discussions/#notifications-for-team-discussions

[2018-07-31 20:31] jules2689 commented on #660
@Zimmi48 good point

[2018-07-31 20:51] Zimmi48 commented on #660
@shayfrendt Thanks but AFAICS GitHub doesn't provide any way for me to get *only* team discussion notifications by e-mail. I don't want to receive e-mail notifications for repositories that I follow as this would represent hundreds of notifications and I don't want to configure very smart filters in my mailbox. That's why I'm using Octobox to manage my GitHub notifications... That said, it seems t

[2018-07-31 21:13] shayfrendt commented on #660
@Zimmi48 Gah why you gotta find all the secret shortcuts we took to get things out the door faster? jk, great 👀 there...

We don't say much about team discussions in this section huh:

![team-discussions](https://user-images.githubusercontent.com/32535/43487186-e42fd766-94e3-11e8-9c5b-0d344c3dbe10.png)

I've followed a follow-up issue on this topic internally.

I don't wanna steer this thread too

[2018-08-01 17:27] BPScott commented on #660
@shayfrendt thanks for providing context and for chasing stuff internally <3

[2018-08-02 02:49] audiolion opened #718 "Octobox Heroku Deploy OAuth Question"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

I seem to be having a bit of a chicken-and-egg problem where to deploy to Heroku I need a github OAuth client id/secret, and to create a github OAuth token I need the app homepage url and the github callback url.

![image](https://user-images.githubusercontent.com/2430381/435596

[2018-08-02 08:23] andrew opened #719 "Long repo names cause sidebar to become too wide"
![screen shot 2018-08-02 at 09 19 08](https://user-images.githubusercontent.com/1060/43571697-87d4aaf2-9635-11e8-9d39-4167826be80b.png)

When there's a very long repo/org name in the filters, it extends the width of the sidebar instead of overflowing just that repo name, not a show stopper though.

cc @BenJam as I think this came in with the BS-4 upgrade in #366

[2018-08-02 08:26] BenJam commented on #719
Boo... I'll take a look.

[2018-08-02 08:29] BenJam commented on #719
Looks like Firefox only...

<img width="437" alt="screen shot 2018-08-02 at 09 29 18" src="https://user-images.githubusercontent.com/158833/43572099-8d6d9914-9636-11e8-92d4-280d4e466847.png">

[2018-08-02 08:35] andrew opened #721 "Add back momentum scrolling of flexbox contents on Mobile Safari"
It'd be great to get the standard momentum scrolling feel back on mobile safari on both the sidebar and main content.

Article here on how to enable it: https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/

`overflow` has to be set to `scroll` and we currently use `auto` so we don't get extra scrollbars on desktop, so best place to put something like this in a small-scr

[2018-08-02 08:52] andrew opened #722 "Sync subject assignees"
It'd be great to be able to filter and search notifications by issues assigned to you, I think all we need to save is an array of usernames on the subject from the `assignees` field on the [issues api](https://developer.github.com/v3/issues/#get-a-single-issue).

[2018-08-02 09:36] RX14 opened #726 "Formatting issues after upgrading bootstrap"
Before:

![](http://owo.sh/d13f0c.png)

After:

![](http://owo.sh/b50c70.png)

The sidebar looks great, but the rest of the page seems to have been inflated to gigantic proportions.

I can fix it by adding `font-size: 14px` to the `:root`, but the text in the table header is then too small:

![](http://owo.sh/c89e96.png)

This can be reproduced by changing the default font size in your browser set

[2018-08-02 10:23] RX14 opened #728 "After archiving an issue on the keyboard, everything is performed twice"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
After selecting an issue and pressing `y` on the keyboard, the selected issue is reset to the top of the page and every keyboard shortcut is counted twice, for example `j` and `k` scroll two issues at a time, and `o` opens an issue twice.

Firefox on linux.

[2018-08-02 10:26] RX14 commented on #728
I would strongly suspect it's caused by this line: https://github.com/octobox/octobox/commit/0b39dc0e7dfc22a7155b2abce6c828a1a6c25130#diff-a9c3bd311eab80c9ebe6a69830f9ad02R94

[2018-08-02 10:43] andrew commented on #728
@BenJam do you remember if/why you moved the `enableKeyboardShortcuts()` function?

[2018-08-02 16:21] andrew commented on #728
@RX14 just deploying the fix for this to https://octobox.io now

[2018-08-02 17:30] RX14 commented on #728
@andrew now I don't have an initial item selected on the list of issues when I refresh the page, so `j` and `k` don't work until you manually select the first issue using the mouse.

[2018-08-02 17:46] andrew commented on #728
I’ll check that out first thing tomorrow

[2018-08-02 19:31] chrisarcand commented on #718
We can make this clearer in the docs, for sure.

By default, a Heroku app is available at its Heroku domain, which has the form `[name of app].herokuapp.com`; thus, your OAuth urls will just be dependent on whatever you enter in for the app name. The link for creating an OAuth token on GitHub is found in the local installation section but as someone who's just wanting to look how to deploy to Hero

[2018-08-02 19:58] audiolion commented on #718
Ok cool, I figured it was `[appname].herokuapp.com` but I didn't know that the homepage url and authorization callback url are just `[appname].herokuapp.com`, I thought it might be `[appname].herokuapp.com/auth/github/callback` or something

[2018-08-03 03:29] #718 closed

[2018-08-03 08:27] andrew commented on #728
Just deploying a second attempt at a fix

[2018-08-03 10:09] RX14 commented on #728
Works great now, I'll let you know if I have any issues

[2018-08-03 13:16] rhuss opened #738 "Horizontal scrollbar at Sidebar for long repo names"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

With the new layout (which is awesome btw, except maybe the bright aggresive blue ;-), for long repository names, a horizontal scrollbar is created and the box is clipped

![image](https://user-images.githubusercontent.com/99080/43644779-350a7cba-9730-11e8-82b2-51e46a57b858.png)

[2018-08-03 14:07] andrew commented on #738
Looks like a duplicate of https://github.com/octobox/octobox/issues/719

[2018-08-03 16:04] rhuss commented on #738
yup, sorry for the noise.

[2018-08-03 16:04] #738 closed

[2018-08-05 09:41] pradyunsg commented on #719
Can confirm this occurs on FF.

FWIW, `.nav-item { max-width: 100% }` seems to do the trick. I've been injecting this CSS using Stylus since the day this got deployed and forgot to report this issue. :3

[2018-08-05 15:40] andrew commented on #719
Thanks @pradyunsg, I'll get that added shortly

[2018-08-05 15:46] #719 closed

[2018-08-05 15:47] andrew commented on #738
@rhuss I just commited a fix for this to master

[2018-08-05 21:57] betatim opened #739 "Only show mention badge on an issue for unread mentions"
🐞 **Problem**
Can't tell if there is new chatter or if you were @-ed on an issue or PR in which you've been previously @-ed.

🎯 **Goal**
Change the notification view so that the "Mention" badge only appears if you were mentioned within the "as yet unread" messages. Otherwise issues/PRs where there is activity without mentioning you show the badge for that type of activity.

Will require data added

[2018-08-05 22:52] triciaegan2008 opened #740 "http://www.clkmr.com/devinwhittlejr/partners"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [ ] My instance

🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addresses #<put issue number here>`
 * Ask for a review in comme

[2018-08-06 07:32] #740 closed

[2018-08-06 14:06] andrew commented on #648
@pradyunsg I think @BenJam is going to tackle this as he's implementing those buttons in https://github.com/octobox/octobox/pull/709 already and can just port them over

[2018-08-06 14:11] andrew commented on #739
👍 this will be really helpful for people involved in a number of big/long/active threads

#709 will enable us to see the individual comments on threadview that are new since the last time you read(viewed) it, then we can scan the comment body for the `@username` of the owner of the notification

Team mentions will be more difficult as octobox doesn't currently know which teams you're part of, so w

[2018-08-06 14:17] andrew opened #741 "Undo function"
Borrowing yet another feature from Gmail, it'd be great to be able to undo a function that you did by accident, things like:

- Undo archiving one or more notification threads
- Undo muting one or more notification threads
- Keyboard shortcut for undo as well

And once #709 is complete, potentially even being able to "undo" posting a reply to a message (by delaying actual API call for 30 seconds),

[2018-08-06 14:19] andrew commented on #528
I think this has been fixed now 🎉

[2018-08-06 14:19] #528 closed

[2018-08-06 14:27] pradyunsg commented on #648
Awesome. Glad to hear that. :)

[2018-08-06 14:29] andrew commented on #120
We'll be able to parse subject and comment body once #709 is finished

[2018-08-06 14:30] andrew opened #742 "Advanced search query syntax"
Example:

`unread:true type:issue reason:mention owner:octobox repo:octobox/octobox label:bug free text`

Potential ruby gems we can use for parsing: https://github.com/marcelocf/searrrch

Other potential filters we can support:

- author
- assignee
- subject
- body (#709)
- comments (#709)
- date
- inbox/archive/starred
- team

This is also the first step in enabling custom filters, where if a no

[2018-08-06 14:31] andrew commented on #742
We can also build a drop-down advanced search UI similar to gmails which constructs the query and aids in discover of available filters:

![screen shot 2018-08-06 at 15 30 38](https://user-images.githubusercontent.com/1060/43722698-c9a8bd3c-998d-11e8-8c3e-aa9f2b46ed0e.png)

[2018-08-06 16:03] pradyunsg commented on #726
This is mostly just an artifact of the default table element padding increasing.

One fix would be:

[code]

[2018-08-06 16:05] pradyunsg commented on #501
This issue can be closed.

[2018-08-06 16:17] andrew commented on #8
Breaking this down into parts, first pieces is advanced search: https://github.com/octobox/octobox/issues/742

[2018-08-06 16:19] andrew commented on #134
This is still pretty bad 🙈
![img_fbd9fc473f03-1](https://user-images.githubusercontent.com/1060/43728406-e5a289b4-999c-11e8-8b7d-d8bdb931359c.jpeg)

[2018-08-06 16:25] andrew commented on #319
I failed to search for dupes before opening https://github.com/octobox/octobox/issues/741, but it has more details there so I'm going to close this one instead.

[2018-08-06 16:25] #319 closed

[2018-08-06 16:28] andrew commented on #742
Another follow up will be allowing users to "pin" search queries to the sidebar for easy access (and counts)

[2018-08-06 16:28] andrew commented on #377
@chrisarcand first step towards "pinned" searches in the sidebar here: https://github.com/octobox/octobox/issues/742

Still a relevant issue here so not going to close this yet.

[2018-08-06 16:37] pradyunsg commented on #741
Sounds good to me.

[2018-08-06 17:49] OliverJAsh commented on #217
I don't think so, thanks!

[2018-08-06 17:49] #217 closed

[2018-08-07 07:55] andrew commented on #726
Just deploying a fix for this to https://octobox.io now, thanks for the suggestion @pradyunsg

[2018-08-07 08:50] RX14 commented on #726
This isn't fixed

![](http://owo.sh/8f1df5.png)

[2018-08-07 09:37] andrew commented on #726
This is what it looks like for me:

![screen shot 2018-08-07 at 10 34 40](https://user-images.githubusercontent.com/1060/43767705-ae1114ac-9a2d-11e8-9468-2b60e901cb49.png)

Comparing the row heights between your "before" and my after:

![screen shot 2018-08-07 at 10 35 34](https://user-images.githubusercontent.com/1060/43767737-c0a7a3f6-9a2d-11e8-8e5c-7cfffcfcc5e8.png)

Do you have a custom font s

[2018-08-07 09:50] andrew commented on #377
Opened up a PR to keep the read/unread sidebar menu items there all the time: https://github.com/octobox/octobox/pull/745

[2018-08-07 10:27] RX14 commented on #726
Actually, just using

[code]

fixes this

[2018-08-07 12:51] pradyunsg commented on #726
BS4 uses rem, so if your default font is larger, it'd result in all the elements scaling to be larger.

[2018-08-07 14:16] samjacobclift commented on #721
PR 👍  https://github.com/octobox/octobox/pull/748

[2018-08-07 15:31] andrew commented on #721
Fixed in #748

[2018-08-07 15:31] #721 closed

[2018-08-08 05:58] pradyunsg opened #755 "Select all is not working"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
Clicking on the select all check box does not do anything.

<img width="996" alt="screen shot 2018-08-08 at 11 25 27 am" src="https://user-images.githubusercontent.com/3275593/43818767-c80c35f0-9afd-11e8-9b43-cb373a665c61.png">

Clicking the first checkbox should select the all n

[2018-08-08 06:24] andrew commented on #755
I think I fixed this yesterday but haven’t deployed it yet: https://github.com/octobox/octobox/commit/c8712bcbd7b60406f873fa74f0b7c92b738ee146

[2018-08-08 06:49] pradyunsg commented on #755
Cool. I guess we can keep this open until this gets deployed. :)

[2018-08-08 06:51] andrew commented on #755
Just deployed, wanna give it a try? Looks like it’s working for me

[2018-08-08 06:57] pradyunsg commented on #755
We're good. Thanks @andrew! :)

[2018-08-08 06:57] #755 closed

[2018-08-08 06:59] pradyunsg commented on #755
Oh oh oh. While I have your attention here, do you know of any way for me to deploy a personal instance of octobox on a cloud service for free?

I tried deploying to the free tier on OpenShift/Heroku but they both need more add-ons than the free tier allows.

[2018-08-08 07:11] andrew commented on #755
I’m running a free version on heroku, which addon does it look like it needs?

[2018-08-08 13:34] ghuntley opened #757 "When I click on an action such as "mute" or "archive" or "view details" the position of the navigation bar scrolls all the way back up to the top forgetting the position that I had scrolled to."
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

When I click on an action such as "mute" or "archive" or "view details" the position of the navigation bar scrolls all the way back up to the top forgetting the position that I had scrolled to.

See https://youtu.be/pOmJd7K3lMc?t=7441

🎯 **Goal**

Don't make the user find their

[2018-08-09 09:45] andrew commented on #757
💯 : for the video example!

[2018-08-09 15:32] Ullaakut commented on #699
Turns out my personal situation changed, so I won't be working on this for a while. It would probably be wise to change the label, sorry about that 😅

[2018-08-09 15:36] andrew commented on #699
ok, thanks for letting us know @Ullaakut, I'll try to pick this up next week

[2018-08-10 15:24] andrew commented on #496
This still needs fixing but FYI auto-refresh is [now available](https://github.com/octobox/octobox/commit/f9b640ea5d0850dbe98cab6bf3cd2071d109d158
) on https://octobox.io, you can enable it from https://octobox.io/settings:

![screen shot 2018-08-10 at 16 23 44](https://user-images.githubusercontent.com/1060/43966472-ea0ddf1a-9cb9-11e8-801c-f6d2a0209278.png)

[2018-08-11 05:41] pradyunsg commented on #755
Hmm... It seems like all of them are free add ons. I'll try again when I find some time. I'll let you know how it goes? (exam week is coming!)

[2018-08-11 06:42] pradyunsg commented on #755
Ah right. It needed me to verify a credit card; which I didn't want to do to avoid accidentally doing something that ends up costing me money.

Just added that. Let's see how it goes. :P

[2018-08-11 07:07] andrew commented on #755
Great! Good luck with your exams!

[2018-08-11 07:15] pradyunsg commented on #755
https://pradyunsg-octobox.herokuapp.com/ errors out. Got no time to look into where what messed up.

Thanks! ^.^

[2018-08-11 08:35] andrew commented on #755
Sure, heroku logs —tail should show the exception

[2018-08-11 08:38] pradyunsg commented on #755
In the Web UI at https://dashboard.heroku.com/apps/pradyunsg-octobox/logs:

[code]

[2018-08-11 08:44] pradyunsg commented on #755
That's probably an incomplete traceback.

Anyway, I see this:

[code]

I'm bad at counting, and only gave it a 16 byte key. :)

[2018-08-11 08:46] pradyunsg commented on #755
Okay, no. That was 256 bits, so, that's 32 bytes.

@andrew Could you provide an example of what format the `OCTOBOX_ATTRIBUTE_ENCRYPTION_KEY` should be in?

[2018-08-11 10:27] andrew commented on #755
Handy command to generate a key: `bin/rails secret | cut -c1-32`

[2018-08-11 14:01] pradyunsg commented on #755
Alrighty. I'm up.

ISTM that due to the following lines, it should be possible to just run w/o this variable being declared. I just tried that on my Heroku setup and it seems to be happy with this. :)

https://github.com/octobox/octobox/blob/24e813ee42a32da1a07da7c1d10b8395bc4239fc/lib/octobox/configurator.rb#L3-L16

---

I tried to use `bin/rails secret | cut -c1-32` but it needed me to do a whol

[2018-08-11 14:59] andrew commented on #755
A pr for that would be great!

[2018-08-11 15:46] pradyunsg commented on #755
Could you provide some example value of `OCTOBOX_ATTRIBUTE_ENCRYPTION_KEY`?

[2018-08-13 08:07] andrew commented on #755
@pradyunsg `05cb88ad4bf8a7a3a5b0c53aaf181c16`

[2018-08-13 10:30] andrew opened #778 "Do Not Disturb hours"
Converting [this tweet](https://twitter.com/teabass/status/1026726387103793152) into an issue:

![screen shot 2018-08-13 at 11 27 05](https://user-images.githubusercontent.com/1060/44026701-d4267138-9eeb-11e8-9358-0ff410a12c98.png)

In particular, being able to hide or ignore "work" repos/orgs outside of work hours. For example, in evenings/weekends I want to see notifications from my side project

[2018-08-13 14:14] andrew opened #779 "Sticky per-page settings"
I noticed that power users who get loads of daily notifications often set their per-page to 100 🏋️‍♀️

Only problem with that is that it's only persisted in the url, so if you go to the settings page or just click the logo you loose your per-page preference.

We could easily save their per-page preference to their `User` record in the database after they change it from the dropdown and then use as

[2018-08-13 14:40] pradyunsg commented on #779
I would really like this. :)

[2018-08-13 15:40] mycaule opened #780 "Switch dashboard context"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
When I go to the app, my default account dashboard context shows up. I only have notifications from this space. For professional usage, I would like to be able to swtich dashboard context as my company uses a GitHub organization.

🎯 **Goal**
To be able to provide notifications fo

[2018-08-13 15:51] andrew commented on #780
I was only talking to @BenJam about this the other day, would be a great feature to help with focus 👍

[2018-08-13 15:54] mycaule commented on #780
I am trying to use it with https://github.com/danielbayley/franz-recipe-octobox
I use Franz to I aggregate all my messaging service: email, slack, etc..
It would be time saving if I could have my (work related) github notitifcations there as well

[2018-08-13 15:56] andrew commented on #615
This is probably also relevant to users of Franz: https://github.com/danielbayley/franz-recipe-octobox

[2018-08-14 07:38] andrew commented on #757
I’m hoping there’s an option in turbolinks that can solve this easily, like:

`Turbolinks.visit(location.href, {scroll: false});`

[2018-08-14 07:48] andrew commented on #488
Most of these items have now been opened as individual issues so I’m going to close this one.

[2018-08-14 07:48] #488 closed

[2018-08-14 08:02] andrew commented on #428
@chrisarcand is this still happening?

[2018-08-14 08:03] andrew commented on #757
Similar issue:
https://github.com/octobox/octobox/issues/495

[2018-08-14 08:11] pradyunsg commented on #428
It did for me recently. I'll try to see how to reproduce this tonight.

[2018-08-14 10:53] andrew commented on #183
Inadvertently fixed by #366

[2018-08-14 10:53] #183 closed

[2018-08-14 10:55] andrew commented on #134
One potential fix might be replacing the filters with search box once #742 is merged

[2018-08-14 11:57] knolleary commented on #183
+💯  for inadvertent fixes 👍

[2018-08-14 13:16] andrew opened #784 "Admin page"
It would be good to have a web UI for viewing and managing some aspects of an octobox install.

Initially including some basic stats like:

- Total number of users
- Total number of notifications
- Total number of subjects
- Recently signed up users

Very useful for octobox.io but also potentially handy for larger self-hosted installs.

Access to be limited by checking to see if logged in user is

[2018-08-14 15:15] andrew opened #786 "Display recent changelog entries within the UI"
Show users what's new in Octobox without needing to go to the open source project with some kind of changelog that remembers when a user last looked at it.

Something like https://headwayapp.co without actually using a third party service, ideally just pulling data for the releases section of the repo on GitHub.

[2018-08-15 08:19] andrew opened #787 "Dates too long on mobile"
![4abf3e0b-9161-4fb3-926b-3c241db09b2a](https://user-images.githubusercontent.com/1060/44140763-033b1cca-a073-11e8-97e4-a33cae62338f.jpeg)

[2018-08-15 08:44] pradyunsg commented on #710
Is this just a matter of adding self-contained .html files in some directory? If so, I'd be happy to do this. :)

[2018-08-15 08:44] pradyunsg commented on #710
In fact, I'd be happy to contribute/suggest some UI related changes to Octobox in general but I'm not super familiar with Ruby/Rails so I'm not sure how I can get started.

Any pointers?

[2018-08-15 11:56] pradyunsg opened #788 "Link to Octobox filters instead of Github profiles/project pages from Notification Row"
<img width="1390" alt="screen shot 2018-08-15 at 5 18 03 pm" src="https://user-images.githubusercontent.com/3275593/44146880-3e883a10-a0af-11e8-9ad3-f992652f55a5.png">

See above (ignoring that I right aligned the labels and haven't centered it; yet :P):

- 'andrew' links to @andrew's GH profile
- 'octobox/octobox' links to https://github.com/octobox/octobox

Proposed Change in behaviour:

- Notif

[2018-08-15 14:03] andrew commented on #788
👍

[2018-08-16 08:43] andrew commented on #787
Ignore me, this only happens with javascript disabled 🙈

[2018-08-16 08:43] #787 closed

[2018-08-16 08:59] andrew commented on #788
@pradyunsg fixed in https://github.com/octobox/octobox/pull/790 and https://github.com/octobox/octobox/pull/791

[2018-08-16 09:04] andrew commented on #710
@pradyunsg here are the current self-contained .html files if you'd like to take a stab:

- https://github.com/octobox/octobox/blob/master/public/404.html
- https://github.com/octobox/octobox/blob/master/public/422.html
- https://github.com/octobox/octobox/blob/master/public/500.html

Alternatively we can render them with rails and get access to layouts, stylesheets etc, here's an example of how t

[2018-08-16 09:04] pradyunsg commented on #788
Both LGTM based on my fairly ridimentary rails knowledge. :)

[2018-08-16 09:09] pradyunsg commented on #710
I'll take a stab at static pages sometime this weekend.

The layout based approach seems simple but I'll tackle that in a follow up PR to the other. :)

[2018-08-16 09:13] andrew commented on #710
👍

[2018-08-16 09:44] pradyunsg opened #792 "Style the checkboxes to be more consistent and easier to deal with aesthetically"
<img width="69" alt="screen shot 2018-08-16 at 3 11 07 pm" src="https://user-images.githubusercontent.com/3275593/44201361-add5b480-a166-11e8-8828-b96cf2cb9208.png"><img width="89" alt="screen shot 2018-08-16 at 3 11 21 pm" src="https://user-images.githubusercontent.com/3275593/44201363-af06e180-a166-11e8-9b72-68a2ca6ad581.png">

From the above screenshots, IMO having both the star and the checkbo

[2018-08-16 09:45] pradyunsg commented on #452
I'm definitely interested in this. :)

[2018-08-16 09:45] pradyunsg commented on #452
(As in both, trying to implement and as a user; though I'm not sure how long it'd be before I can do the former)

[2018-08-16 10:15] andrew commented on #452
From an implementation point of view, here's my thinking:

- Add a `datetime` column to the notifications table called `snooze_until`
- Inbox view should only show notifications where `snooze_until` is less than `Time.now` or NULL
- create a `snooze_selected` controller action that sets the  `snooze_until` field on those notifications to the datetime passed though
- Create a `Snooze selected` butt

[2018-08-16 10:28] pradyunsg commented on #742
Ideas for the search bar:

- Use it to replace the filters bar.

- Visually aligning the search bar with the actual table (again, idea from Gmail; done on Octobox by injecting a CSS rule)
  <img width="403" alt="screen shot 2018-08-16 at 3 25 19 pm" src="https://user-images.githubusercontent.com/3275593/44202076-9ef00180-a168-11e8-8472-5dca7d49966d.png">
[code]

- Keep history of searches in the L

[2018-08-16 10:37] pradyunsg opened #793 "Switch to a fixed width layout"
Currently, the notification rows are very wide. It makes it a little difficult to read the actual content.

<img width="1680" alt="screen shot 2018-08-16 at 3 48 04 pm" src="https://user-images.githubusercontent.com/3275593/44203176-cb594d00-a16b-11e8-8d5e-24009e3724c3.png">

Github handles this by putting the entire notifications UI in a centered layout, grouped by repository.

<img width="1680"

[2018-08-16 10:50] andrew commented on #793
I find the really thin fixed with notifications on GH to be pretty annoying, often cutting of the full text of the title:

![screen shot 2018-08-16 at 11 48 55](https://user-images.githubusercontent.com/1060/44204443-76f1a580-a14a-11e8-8477-2fb5e2375f86.png)

[2018-08-16 10:51] andrew commented on #742
We should definitely pop the search history item out into it's own issue, I've been meaning to jot that down somewhere.

I also like the idea of bumping the search box across so it aligns with the notifications table, at least on large screens.

[2018-08-16 10:57] andrew commented on #792
I think bootstrap has a custom checkbox style that will help here

[2018-08-16 11:04] pradyunsg commented on #792
It does. https://getbootstrap.com/docs/4.1/components/forms/#checkboxes

[2018-08-16 11:06] andrew commented on #742
Copying more elements of the gmail UI just for fun, almost completely unusable but looks nice:
![screen shot 2018-08-16 at 12 05 02](https://user-images.githubusercontent.com/1060/44204975-b8835000-a14c-11e8-8ab9-c950d40bd737.png)

[2018-08-16 11:09] pradyunsg commented on #452
Additionally noting here that this would also need some updating of the documentation (README, OpenCollective page etc), since Octobox would start doing more than just add an archived state.

Ideally, we also should present that this notification was snoozed and showed up now; marking it unread perhaps would hightlight it?

Gmail shows a separate piece of text, until you open the mail again.

<img

[2018-08-16 11:28] andrew commented on #452
👍

[2018-08-16 11:33] #742 closed

[2018-08-16 11:36] pradyunsg commented on #742
I honestly would like to be able this, now that we have #775 merged.

[2018-08-16 11:54] andrew commented on #788
Merged them both :shipit:

[2018-08-16 11:54] #788 closed

[2018-08-16 11:55] pradyunsg opened #795 "Add indication in Web UI of the deployed version (git hash?)"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

---

Just a thought, looking at https://github.com/octobox/octobox/pull/775#issuecomment-413515661

How about showing somewhere in the UI what version/point in history the currently deployed Octobox instance is on; perhaps even showing that there is an update on master that's coming? octobox.i

[2018-08-16 11:57] andrew commented on #795
That feature should already be implemented: https://github.com/octobox/octobox/issues/503

It shows up in the settings page:

![screen shot 2018-08-16 at 12 57 14](https://user-images.githubusercontent.com/1060/44207135-f0da5c80-a153-11e8-84db-60274d15a8ba.png)

I also opened a related issue about changelogs yesterday: https://github.com/octobox/octobox/issues/786

[2018-08-16 11:59] pradyunsg commented on #795
<img width="1669" alt="screen shot 2018-08-16 at 5 28 17 pm" src="https://user-images.githubusercontent.com/3275593/44207168-d74c0b80-a179-11e8-890f-47a08360400d.png">

Hmm...

[2018-08-16 12:04] pradyunsg commented on #795
Indeed. I'll let this sit open for tracking the docs update. :)

[2018-08-16 18:28] pradyunsg commented on #795
Additional thought: How about adding a "changes since" link; or some indication that Octobox master has moved forward?

Basically linking to https://github.com/octobox/octobox/compare/88721582d823c8c7e07d1d9ec3016a28a6857fea...master when your revision is https://github.com/octobox/octobox/compare/88721582d823c8c7e07d1d9ec3016a28a6857fea...master

[2018-08-16 22:33] gnikonorov commented on #778
Hi @andrew, could I implement this feature?

[2018-08-17 04:47] pradyunsg opened #800 "Additional visual distinction for unread notifications"
I've been experimenting lately with trying to make unread notifications more prominent, to aid spotting and getting them done with. I've found that coupling the current bold text, with a slight accented colour for the row, makes them easier to find.

Current:
<img width="787" alt="screen shot 2018-08-17 at 10 11 58 am" src="https://user-images.githubusercontent.com/3275593/44248098-4111f700-a206-1

[2018-08-17 05:12] pradyunsg opened #801 "Improve visual spacing between checkbox and star in a notification row"
Before/After
<img width="132" alt="screen shot 2018-08-17 at 10 40 40 am" src="https://user-images.githubusercontent.com/3275593/44248750-0c07a380-a20a-11e8-8f06-c2169ec5b7d3.png"><img width="128" alt="screen shot 2018-08-17 at 10 40 31 am" src="https://user-images.githubusercontent.com/3275593/44248752-0d38d080-a20a-11e8-8e63-e3c0c85888be.png">

The spacing between elements is more consistent wit

[2018-08-17 06:54] pradyunsg commented on #793
I got bored remembering the capabilities of 802.11 protocols so, I tried a little something regarding this:

<img width="806" alt="screen shot 2018-08-17 at 12 23 08 pm" src="https://user-images.githubusercontent.com/3275593/44252035-5bed6700-a218-11e8-9a90-dc3ce83e60a0.png">

[2018-08-17 06:55] andrew commented on #801
👍

[2018-08-17 09:40] #722 closed

[2018-08-17 09:51] #801 closed

[2018-08-17 10:00] #800 closed

[2018-08-17 10:02] andrew commented on #800
🚢

[2018-08-17 10:27] pradyunsg commented on #793
2 concerns I can think of, with what I posted above:

- Wrapping title + labels?
  - I think we should move all the context information to be lower down, like we do currently, which is probably gonna be a fun thing to implement
- Where do we put the "Archived icon" from #775? Options:
  - Make the "icon + reason" section wider and accomodate an extra icon, that is occasionally present
  - Have an

[2018-08-17 10:59] pradyunsg commented on #742
Another, slightly less hacky way:

[code]

[2018-08-17 11:01] pradyunsg opened #803 "Search History suggestions"
From #775.

This would mean that common searches would be auto-suggested.

[2018-08-17 11:01] pradyunsg commented on #742
#803

[2018-08-17 11:26] RX14 commented on #726
@andrew my 3 lines of custom CSS works fine for me

[2018-08-17 12:30] andrew commented on #795
@pradyunsg great idea: https://github.com/octobox/octobox/pull/805

[2018-08-17 16:12] andrew commented on #599
https://github.com/octobox/octobox/pull/770 has been merged now so you can filter by bots from the sidebar, although it's not available on https://octobox.io just yet.

[2018-08-17 18:38] pradyunsg opened #808 "Incorrect labels on Issues/PRs"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
It seems to me that the labels are not being synced properly...

As an example, look at this issue: https://github.com/pypa/pip/pull/5659#event-1794779947

At no point, did it have 2 labels in its history. However, on Octobox's UI, it shows both the labels; as if the issue curren

[2018-08-17 18:48] andrew commented on #808
Definitely a bug, looks like old labels aren’t being removed when syncing

[2018-08-18 01:02] pradyunsg opened #809 "Crash Report"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
Octobox crashes while trying to sync.

[code]

🎯 **Goal**
It should not crash. :)

[2018-08-18 01:25] gnikonorov commented on #778
Thanks @andrew! I'll get this going now.

[2018-08-18 02:13] gnikonorov commented on #778
Hi @andrew, I was able to set up `octobox` locally with the instructions given in the readme, and pointed it to http://162.216.19.220:3000/.

Unfortunately it looks like only one repository is showing up. I know this is a vague question, but did I do something wrong? As far as I can tell, I followed all the instructions properly, and have all notification options turned on in GitHub.

[2018-08-18 07:31] #809 closed

[2018-08-18 07:32] andrew commented on #809
@pradyunsg sorry about that, my bad, just pushed a quick fix to master

[2018-08-18 12:10] pradyunsg commented on #809
No issues.

Heroku makes it easy to re-deploy a known good version so, I basically had to spend about 1 minute after posting these logs to get back up. Much more than the time Octobox has saved me till date. :)

[2018-08-18 15:14] pradyunsg commented on #496
IIUC, we only want this to execute on the first load of the root page. If so, I think we can do something like the following injected inline into `/` (from https://github.com/turbolinks/turbolinks/issues/115#issuecomment-226316428):

[code]

See also: https://github.com/turbolinks/turbolinks/pull/286

[2018-08-18 18:02] andrew opened #811 "Store muted_at and allow search filtering by muted:true/false"
Pulled out from the [triage view thread](https://github.com/octobox/octobox/pull/752#issuecomment-413916688)

We currently don't know/store if a user has previously muted a notification thread, if we store `muted_at` on the notifications table that will allow us to see if and when a notification was muted, and also if there has been activity on it since it was muted (I have a feeling that if you m

[2018-08-18 18:13] andrew opened #812 "Due date"
Pulled out from the [triage view thread](https://github.com/octobox/octobox/pull/752#issuecomment-413916688).

Similar to the [snooze function](https://github.com/octobox/octobox/issues/452), being able to set a personal (only visible to you) due date on a issue/pr would be helpful for prioritization.

Also being able to sort by due date and filter on things like `due:<2018-11-30` would make filte

[2018-08-18 18:30] andrew opened #813 "Sorting options"
Pulled out from the [triage view thread](https://github.com/octobox/octobox/pull/752#issuecomment-413916688).

A number of people have mentioned wanting the ability to sort lists in ways other than `updated_at DESC`, accessible via a drop down and search prefix (`sort:last_read_at order:asc`).

List of potential sorting columns:

- created_at
- updated_at (ascending)
- last_read_at
- subject_title

[2018-08-18 18:32] andrew commented on #550
@dracan is this still happening to you, was it on a public or private repository?

[2018-08-18 18:57] andrew opened #814 "Save custom searches to the sidebar"
A more flexible alternative to https://github.com/octobox/octobox/pull/752, now that we have [advanced search](https://github.com/octobox/octobox/pull/775) merged, people can build combinations of search prefixes to work through a particular set of notifications.

Those searches can then be saved into the sidebar with a name for quick access, something like:

<img width="363" alt="screen shot 2018

[2018-08-19 02:36] pradyunsg commented on #813
minor point: `-` also looks nicer than `_` IMO. `muted-at` vs `muted_at`.

[2018-08-19 03:00] pradyunsg commented on #786
What's your thought on tagging rolling releases?

[2018-08-19 07:27] dracan commented on #550
@andrew To be honest, I stopped using it because of this issue, so I don't know. It was your hosted version.

[2018-08-19 09:37] andrew commented on #550
Ok I’m going to close it if you’re not using it anymore, if you change your mind and want to try it out again and run into this problem again feel free to reopen.

[2018-08-19 09:37] #550 closed

[2018-08-19 19:13] #458 closed

[2018-08-20 05:17] pradyunsg opened #816 "Incorrect state of issues"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
The actual state vs the shown state of the issues are not in matching:

<img width="999" alt="screen shot 2018-08-20 at 10 41 55 am" src="https://user-images.githubusercontent.com/3275593/44321466-dfe85e80-a465-11e8-9e78-013dab42d76e.png">
<img width="1022" alt="screen shot 2018-

[2018-08-20 05:25] pradyunsg opened #817 "Pin the "action" bar to top"
<img width="1261" alt="screen shot 2018-08-20 at 10 54 10 am" src="https://user-images.githubusercontent.com/3275593/44321743-6a7d8d80-a467-11e8-8ef0-9e0d37c4eb96.png">

Ideally, I should be able to act on notifications even if I've scrolled to see later notifications.

[2018-08-20 05:45] andrew commented on #816
![65a9cf9d-9b8e-4c30-beba-af8c4367d198](https://user-images.githubusercontent.com/1060/44322295-96d3e280-a444-11e8-9a8f-8473ed25ae67.png)

Weird, it’s showing as closed for me on GitHub

[2018-08-20 07:52] pradyunsg commented on #816
Huh. Did I forget to refresh in a hurry?

[2018-08-20 07:53] pradyunsg commented on #816
Let's assume this never happened. 😬

[2018-08-20 07:53] #816 closed

[2018-08-20 08:16] andrew commented on #816
🤫

[2018-08-20 09:50] andrew commented on #786
What I'd like to get to is a more human curated list of improvements rather than just a summary of the commits.

[2018-08-20 11:16] pradyunsg commented on #786
https://github.com/hawkowl/towncrier is something pip's using lately.

[2018-08-20 11:18] pradyunsg commented on #817
Related: #648

[2018-08-20 11:29] andrew opened #818 "Labels belong to repositories"
We currently store a complete set of labels for each subject, which actually ends up duplicating a lot of labels.

In reality, labels belong to a repository and are then many-to-many to subjects, and since https://github.com/octobox/octobox/pull/781 has been merged we can actually connect those dots properly.

That will mean we can update the colour/name for a label from one subject sync and it au

[2018-08-20 16:29] andrew commented on #648
Made a start on this as I think #709 is going to take a bit longer: https://github.com/octobox/octobox/pull/823

[2018-08-21 06:08] pradyunsg opened #824 "Mark archived items as read"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
Sometimes, I don't even want to look at certain notifications (since I will take no action on them) and I directly archive them. I do want to know when something happens on them later so, I don't mute them.

However, this results in GitHub's UI still showing me that I have unread

[2018-08-21 09:55] #817 closed

[2018-08-21 10:43] pradyunsg commented on #824
Awesome! I can't reasonably review the code since my Ruby Fu isn't strong but this looks fine to me logically. :)

[2018-08-21 10:59] #795 closed

[2018-08-21 11:00] andrew commented on #779
Thinking about this, it should probably just be stored in localstorage so users don't end up loading 100 notifications on mobile by accident 😅

[2018-08-21 17:07] andrew opened #828 "Sync locked details onto subjects"
You can lock conversations on GitHub and provide a reason why: https://help.github.com/articles/locking-conversations/

We should add a `locked` field to the `subjects` table and update that field when syncing subjects.

Then we can add a search prefix for filtering `locked:true` or `locked:false`

[2018-08-21 23:08] RX14 opened #829 ""r" to refresh keyboard shortcut no longer works"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

Using "r" as a keyboard shortcut to refresh the list has always worked, but today it stopped working on octobox.io.

[2018-08-22 06:39] rhuss commented on #829
Also pushing the reload button keeps the tooltip open and the spinner doesn't start (button remains static).

[2018-08-22 08:29] #829 closed

[2018-08-22 08:30] andrew commented on #829
Sorry my fault, just pushed https://github.com/octobox/octobox/commit/c070aa61e9b3332fa775f004e78db4a9e7636c86 to fix it, will be deployed to octobox.io within a few mins

[2018-08-22 08:32] pradyunsg commented on #829
Thanks for the super-fast fix @andrew! :)

[2018-08-22 11:34] RX14 commented on #829
Thanks, can confirm this fixed it!

[2018-08-22 12:14] Banginpadr opened #831 "impossible to delete it!!!!!"
i dont want this app no more but it doenst get uninstall. i got to settings applications revoke. then still the app will still oven the octobox.io site. i want to have my normal notifications again.

[2018-08-22 12:55] andrew commented on #831
Hi @banginpadr, when you say “the app will still open the Octobox.io site”, which app are you talking about?

[2018-08-22 12:57] Banginpadr commented on #831
@andrew this one, i had this pluggin on my profile to read my notifications but now even after i did it it wont go back to my normal github notification page

[2018-08-22 13:01] Banginpadr commented on #831
@andrew problem solved. after you revoke the this app you even have to delete le firefox pluggin or it will still show you the octobox page

[2018-08-22 13:01] #831 closed

[2018-08-22 13:04] andrew commented on #831
Ah, good to know, thanks for closing 👍

[2018-08-23 09:32] #784 closed

[2018-08-23 15:04] lukashlavacka opened #836 "Add filter to distinguish between direct review requests and team review requests"
Similar as there is filter for `Mention` and `Team mention` there might be a way to add filter for `Review requested` only for direct review requests and `Team review requested` for requests of a team you are part of.

🐞 **Problem**

Being able to differentiate between `Review requested` and `Team review requested would help especially with reviews requested by `CODEOWNERS` feature vs reviews requ

[2018-08-24 02:08] chrisarcand commented on #710
@DoctaCloak Unless you're thinking of something rather sophisticated, if you'd love to help out I would go ahead and implement your ideas and open a PR with screenshots and we'll iterate on your work :) Go for it!

[2018-08-26 07:48] rhuss opened #839 "Startup of Docker Image fails"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

Latest image version from yesterday Octobox can't start anymore on OpenShift. Not sure whether this is an issue or the update https://github.com/octobox/octobox/commit/3b2c9852bcfe7fc2379dd803bec1f8a4cb7269f9 which causes this issue.

[code]

[2018-08-26 08:35] rhuss commented on #839
It about this image: octoboxio/octobox@sha256:0e965fca226b9f64846277029015b8c3c8f63fd8da32b3c81dbacc6830d023a

[2018-08-26 08:40] rhuss commented on #839
Btw, this happens also when running with `docker-compose`, so for me it looks like the image is broken.

[2018-08-26 13:58] thiesschneider commented on #839
I have the same issue :/

[2018-08-26 15:43] andrew commented on #839
I suspect it was https://github.com/octobox/octobox/pull/837, reverting here: https://github.com/octobox/octobox/pull/840

[2018-08-27 21:04] andrew commented on #839
Can anyone see if this is still broken on the latest build?

[2018-08-28 09:18] andrew commented on #839
I think this bug is specific to alpine, looks like there's been a patch released in 1.1.1, https://github.com/ged/ruby-pg/pull/28, but the changelog doesn't appear to have been updated, going to test it locally before updating.

[2018-08-28 09:27] andrew commented on #839
Yeah appears still broken in 1.1.1, going to lock it to 1.0.0 for now.

[2018-08-28 09:27] #839 closed

[2018-08-29 10:16] andrew commented on #472
@tsupertramp I've got this working (but hidden) on https://octobox.io now, let me know if you'd like to test it out.

[2018-08-29 12:00] tsupertramp commented on #472
Hey @andrew - Totally!

[2018-08-29 17:26] existentialmoron commented on #792
I would like to take this up :)

[2018-08-29 17:44] BPScott opened #845 "New favicons should have a transparent background"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [x] My instance

🐞 **Problem**

After the icon updates in #835 favicons now have a solid white background. A transparent background would look nicer in the tab bar.

<img width="363" alt="screenshot of browser tabs" src="https://user-images.githubusercontent.com/227292/44804872-8247c680-ab77-11e8-89b6-900fa185

[2018-08-29 17:56] andrew commented on #792
@existentialmoron go for it!

[2018-08-29 18:26] bibstha opened #846 "Blue color on Links is too bright for white background"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
The `blue` in new theme is too bright. Compare this to the one in Github and most other places, it almost feels too bright to look at and hurts. Not sure if this is just me.

Github Blue VS Octobox Blue

<img width="643" alt="screen shot 2018-08-29 at 1 23 52 pm" src="https://use

[2018-08-29 19:49] andrew commented on #845
👍 I believe that @BenJam was working on this today

[2018-08-29 20:07] BPScott opened #847 "Filter by isPrivate links in sidebar both say "Private""
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

In the Public/Private filter in the sidebar both options say "Private". Selecting the top one correctly filters to only show public repositories but the label text is wrong.

<img width="682" alt="screen shot 2018-08-29 at 12 57 23 pm" src="https://user-images.githubusercontent.

[2018-08-29 20:23] BPScott opened #848 "Add "clear archive" functionality"
🐞 **Problem**

Feature request: I have lots of archived notifications that I'm never going to read again. It'd be nice if I could purge the contents of my archive  rather than have an ever-growing number of notifications in there.

Stealing from the "file deletion in your OS" metaphor: "to archive" is "to send to the trash" but there's currently not equivalent metaphor for "empty the trash".

🎯 **

[2018-08-30 11:39] andrew commented on #847
@BPScott out of interest, are you using mysql?

[2018-08-30 12:10] BenJam commented on #846
This came in with #366 and it's the default colour from bootstrap.

Display configurations aside: personally I prefer the brighter blue, so it's a subjective view. Trying to look at it objectively: this issues kinda implies that it's _more_ obvious which filter(s) are currently active. Does this distract from the main window too much? IMO not really, but I'm happy to listen to others' views.

#769

[2018-08-30 12:31] #845 closed

[2018-08-30 12:37] andrew opened #850 "Document setting up a GitHub App"
Follow on from https://github.com/octobox/octobox/pull/806

Document the process of setting up Octobox as a GitHub App, including steps on GitHub and ENV vars to be configured.

[2018-08-30 12:42] andrew commented on #846
I don't have an issue with changing the default blue to `#0366d6`

[2018-08-30 13:01] andrew commented on #848
Archive in Octobox is more akin to archive in Gmail, to get things out of the email but not remove it completely as it could be useful later in search.

Gmail also has a delete function for things you don't to keep in the archive, only potential issue we have is if you delete a recent notification with an actual sql DELETE then octobox would recreate the notification record on the next sync, so we

[2018-08-30 14:40] andrew opened #852 "Sync subjects and repositories using the GraphQL API"
We currently download data for notification subjects sequentially, resulting in up-to n+2 http requests to the GitHub REST API, which makes for a fairly slow syncing experience.

Much like the existing [`DownloadService`](https://github.com/octobox/octobox/blob/master/app/services/download_service.rb) class, we could collect all the subjects we wish to download data on and make a single query for

[2018-08-30 14:42] andrew commented on #661
Closing this now as clicking on the repo link always filters the UI instead of opening the repo in a new tab

[2018-08-30 14:42] #661 closed

[2018-08-30 14:44] andrew commented on #398
🚢 by @BenJam https://octobox.io/documentation

[2018-08-30 14:44] #398 closed

[2018-08-30 15:35] bibstha commented on #846
It is definitely subjective. From accessibility perspective, even bootstrap doesn't use all blue color.
Today, since the left nav is blue and the main "title of PR" section is blue too, it's too much blue on top of white background.

This is what bootstrap looks like today - notice the links on left are not blue

<img width="707" alt="screen shot 2018-08-30 at 10 30 49 am" src="https://user-images

[2018-08-30 15:36] bibstha commented on #846
Comparing the same thing with the blue @andrew suggested is much easier on the eyes.

<img width="593" alt="screen shot 2018-08-30 at 10 35 53 am" src="https://user-images.githubusercontent.com/51671/44862557-8ab80400-ac40-11e8-8059-614dc7ce18fd.png">

[2018-08-30 15:59] BPScott commented on #847
I *think* we're using MySQL yes. I believe @jules2689 maintains our instance so they can confirm.

[2018-08-30 17:25] jules2689 commented on #847
Ignore issues in our octobox right now. We're having issues due to an upgrade.

[2018-08-30 17:25] #847 closed

[2018-08-30 17:43] andrew commented on #847
Ok, give me a shout if you need any help with the upgrade

[2018-08-30 18:39] jules2689 commented on #847
Turns out we are being hit by https://github.com/rails/rails/issues/31445

Sometimes we get subject urls coming in as `https://github.com/shopify/foo/...` and others as `https://github.com/shopify/Foo/...`, I dont know why.

I'm using https://github.com/jules2689/rails/tree/5-2-stable to fix the bug for now, but now I'm dealing with the background job stuff. I'd love to work with you to get that i

[2018-08-30 19:14] jules2689 commented on #846
@bibstha would you be up for submitting a PR to change the default colour? ❤️

[2018-08-30 19:32] jules2689 commented on #847
@andrew here is a full list of what is left for us to upgrade:

---

PRs upstream
---
- [ ] Background Jobs (https://github.com/octobox/octobox/pull/603)
- [x] Notification Issue (https://github.com/octobox/octobox/pull/855)

Rails Bug
---
- [ ] Fix Rails Bug
- [Using my branch](https://github.com/Shopify/octobox/commit/a4cb060ba363d7bca94c2f8e5b873ebc36710327)
- [To Fix](https://github.com/rails/

[2018-08-30 20:03] andrew opened #858 "Labels breaking mobile layout"
![img_2786](https://user-images.githubusercontent.com/1060/44876112-009b8a00-ac98-11e8-8ba7-ad8151577696.PNG)

When you have a notification with a few labels it can make overflow the mobile layout and looks a little broken.

[2018-08-31 19:10] #476 closed

[2018-09-01 12:15] pradyunsg commented on #848
I think it'd be sensible to automatically delete archived notifications older than X, perhaps letting X be configurable?

[2018-09-01 20:55] #377 closed

[2018-09-02 12:18] rhuss opened #862 "Invalid uri scheme ''"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

After updating to an Docker image which includes https://github.com/octobox/octobox/commit/47cda60944cf552e94f30d1755f62df65bbc2e00 I get

an _invalid uri scheme ''_ error in user.rb, line 63

[code]

The full server side error is here

<details><summary>server log</summary>

[c

[2018-09-03 07:58] rhuss commented on #862
It looks like that the issue seems to have been fixed with one of the latest commits, I suspect it could be https://github.com/octobox/octobox/commit/c722012da100b5bf5b289cd3098c109e20bc88a0 but I'm not sure.

At least my own instance is working again (which automatically updates on OpenShift when a new Docker images is published)

[2018-09-03 09:22] andrew opened #866 "Pull Request statuses"
Even more pull request data we can sync in from GitHub to give you a better overview of what's going on on your notifications.

Statuses are things like CI pass/fail, CLA bots and review requirements which all results in a ✅ or ❌

![screen shot 2018-09-03 at 09 52 16](https://user-images.githubusercontent.com/1060/44977906-49d22f00-af61-11e8-9fe2-66910cccfe2d.png)

We can use the ["combined status

[2018-09-03 13:54] mycaule commented on #780
Something similar to https://github.com/kamranahmedse/git-standup but to search for recent issues, instead of recent commit would be great for stand-up meeting.

[2018-09-03 19:04] fribmendes commented on #862
I deployed a personal instance today. Latest commit is the most recent, 769294d (includes the changes @rhuss referenced).

Getting the exact same error.

[2018-09-03 19:33] andrew commented on #862
I’ll chrck this out first thing tomorrow, pretty sure it’s because there’s no redis url being passed to sidekiq

[2018-09-04 10:41] andrew commented on #862
Looks like there's few places introduced in https://github.com/octobox/octobox/pull/603 that attempt to sync notifications with sidekiq even when it's not enabled, I'll get a patch together for it today.

[2018-09-04 11:28] rhuss commented on #862
Thanks ! Btw, how can sidekiq be enabled ?

[2018-09-04 11:54] #862 closed

[2018-09-04 11:55] andrew commented on #862
Just merged https://github.com/octobox/octobox/pull/870 which I believe fixes this, can anyone confirm?

[2018-09-04 12:55] fribmendes commented on #862
It's working now 👍 thanks

[2018-09-04 12:57] fribmendes commented on #862
@rhuss looking through the code, it appears that you need to set the `OCTOBOX_BACKGROUND_JOBS_ENABLED` env variable.

[2018-09-04 18:03] andrew commented on #862
@rhuss you'll need redis installed and running, then point [sidekiq](https://github.com/mperham/sidekiq/wiki/Using-Redis) pointed at it, we should definitely add better documentation around that, fancy opening a separate issue for it?

[2018-09-05 11:35] rhuss opened #876 "Document how to enable periodic background polling"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

Currently it is not cleare what configuration is needed for a periodic background polling of notifications. According to #862 it looks like that the environment variable `OCTOBOX_BACKGROUND_JOBS_ENABLED` needs to be set (to any value, even `false` :) and you neeed to point sidek

[2018-09-05 11:35] rhuss commented on #862
done --> #876

[2018-09-05 17:58] #780 closed

[2018-09-05 19:09] BPScott commented on #848
I like following the gmail metaphor for this, it correlates a little better than the file-system idea.

I would say yes, I agree with your flow. Deleting a notification thread, then having a new addition to that thread would result in new messages appearing in the inbox. I believe this is the same as what happens when new notifications appear on an archived but not muted notification thread.

[2018-09-06 09:26] andrew commented on #848
Yeah archived notifications that have new activity get bumped back into the inbox.

For muted notifications (called "unsubscribe" on the github side), I seem to remember that you won't see further updates UNLESS you get directly @mentioned again in that thread, except if you explicitly "ignore" the whole repository.

[2018-09-06 09:27] BenJam opened #882 "'Delete' notifications"
🐞 **Problem**
I have a notification that I would like to delete from my account because it contains some sensitive information.

🎯 **Goal**
To not see this notification in my inbox, archive, filtered views or search results until the notification is updated from source (GH).

💡 **Possible solutions**
* Add a delete button to remove the notification (and any linked subject content) OR
* Add a delet

[2018-09-06 09:27] andrew commented on #848
@pradyunsg part of the value in having the archive is being able to search and filter old notifications, something which isn't possible to do with GitHub notifications as read ones disappear after a certain amount of time, so deleting old ones automatically in Octobox isn't something I'd encourage.

[2018-09-06 09:28] BenJam commented on #848
Closing in favour of #882 as it seems like a good compromise between the two views here.

[2018-09-06 09:28] #848 closed

[2018-09-06 09:33] andrew commented on #882
Would fit nicely in with https://github.com/octobox/octobox/pull/823 as well

[2018-09-06 09:34] #779 closed

[2018-09-06 09:37] andrew commented on #472
https://github.com/octobox/octobox/pull/806 has been merged and is in the process of being rolled out to https://octobox.io so I'm going to mark this as done.

[2018-09-06 09:37] #472 closed

[2018-09-06 09:49] tsupertramp commented on #472
Thanks a lot! Works like a charm!

[2018-09-06 10:36] andrew opened #883 "Subjects without notifications"
Managing issues and pull requests via the Octobox UI feels very productive right now, and will only get more productive with https://github.com/octobox/octobox/issues/814.

But there's one small piece that's missing, I can't see issues/pull requests that I opened/assigned to but haven't had any activity from someone other than me.

For example, issue https://github.com/octobox/octobox/issues/811,

[2018-09-06 15:28] rhuss opened #885 "Invert Favicon ?"
Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [X] My instance

🐞 **Problem**

Not really a problem, but the new logo doesn't really look nice when scaled down and used e.g. for bookmarks in a browser, especially when used on a light background:

![image](https://user-images.githubusercontent.com/99080/45167717-ffb7aa80-b1f9-11e8-8ca8-1b494134b524.png)

Tb

[2018-09-07 08:54] smola opened #887 "Octobox does not sync anymore"
Octobox notifications are not being sync anymore. This is happening to multiple users in the @src-d organization. Last successful sync was 16h ago.

Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io (version https://github.com/octobox/octobox/commit/ffd11b47aad3fad2b085fc77ca0366677e5e1677)

🐞 **Problem**
N/A

🎯 **Goal**
N/A

💡 **Possible solutions**
N/A

📋  **S

[2018-09-07 08:58] andrew commented on #887
@smola I'm investigating this at the moment

[2018-09-07 09:07] andrew commented on #887
Looks like this happened around the time that I upgraded the redis addon on heroku, no code changes were deployed 16 hours ago.

[2018-09-07 09:32] andrew commented on #887
@smola I think I've squashed this, can you try syncing again?

When I upgraded the redis addon, the unique jobs keys were persisted which stopped allowing any new sync jobs to be created, emptying the unique jobs set solved it.

In future need to be much more careful relying on the heroku redis addon upgrade experience!

[2018-09-07 10:02] smola commented on #887
@andrew Thanks, it works n ow.

[2018-09-07 10:02] #887 closed

[2018-09-07 10:17] gep13 commented on #887
Yip, all working here for me as well.  Thanks for fixing this @andrew :+1:

[2018-09-07 11:20] andrew commented on #194
I think the only data that would need to be exported/imported for this would be the `Notification` records for that user, most likely as a JSON file.

And then when importing, if done by a logged in user via the settings page, every field can be imported except the `user_id` which needs to be changed to the id of the new local user importing it.

Then, if `FETCH_SUBJECT` is enabled everything else

[2018-09-07 11:48] andrew commented on #615
Just opened #888 to solve this

[2018-09-07 14:00] jhosman opened #889 "Octobox errors and won't sync"
Hey there 👋 Octobox is behaving oddly for me this morning - It synced once when I first opened it, but then started showing an error page when I tried to mark a bunch of items as read. (Sorry, I forgot to screenshot the error page and it's not happening anymore.) Now sync has stopped working completely. The spinner keeps spinning, but it hasn't updated since 32 minutes ago. Edit: Actually, it's sa

[2018-09-07 14:17] andrew commented on #889
Investigating this now

[2018-09-07 14:26] jhosman commented on #889
Oh strange - It's for my @jhosman account.

[2018-09-07 14:38] andrew commented on #889
@jhosman I can't see your account in the logs at all, are you sure this is happening on https://octobox.io and not an internal GitHub install? Or can you try logging in again?

[2018-09-07 14:58] jhosman commented on #889
Doh! This _is_ an internal GitHub install 🤦‍♀️ Sorry about that - could've sworn I set it up from https://octobox.io. That's what I get for opening issues before coffee 😞

[2018-09-07 14:58] #889 closed

[2018-09-07 15:00] andrew commented on #889
No worries, I'm sure @tarebyte can help you out, might be related to recent changes in the syncing, not sure how recent the version you're running is

[2018-09-07 15:01] jhosman commented on #889
Thanks! I think I fixed it 🤞 Had to delete my octobox account and recreate it. Things seem to be working now.

[2018-09-07 15:41] andrew commented on #876
Thinking aloud here before putting in into doc form as my brain is a little frazzled on a friday afternoon.

Things required for sidekiq to work:

- redis up and running
- redis url stored in an envirnoment variable called `REDIS_URL`
- a sidekiq worker running i.e. this command: `bundle exec sidekiq -C config/sidekiq.yml`

note. Using the provided [`docker-compose.yml`](https://github.com/octobox

[2018-09-07 16:07] BenJam commented on #885
^ like that?

[2018-09-07 16:56] #885 closed

[2018-09-07 17:13] andrew commented on #885
Just merged and deployed #890, as usual with favicons, things may be cached for ages!

[2018-09-07 18:11] rhuss commented on #885
Cool, thanks !

[2018-09-07 18:20] rhuss commented on #615
Cool, let me update the OpenShift template with this option + the sideqik thingy ....

[2018-09-07 20:27] paulleader commented on #813
@andrew I've started work on this one in https://github.com/octobox/octobox/pull/891 but just want to clarify the fields.

What does updated_at actually refer to in the context of a notification? Is that when the object the notification was triggered by (e.g. a comment) has been edited, or would that action create a new notification?

[2018-09-07 21:48] andrew commented on #813
The current sort is `notifications.updated_at`, which is very similar to `subjects.updated_at` (if present), and tbh I’d have to have a play around with some real world data to see what it looks like.

One thing that springs to mind is that sorts on the `notifications` table fields are the only ones that are guaranteed, as not every notification will have a subject, so most sorts on subjects field

[2018-09-07 22:49] gauntface opened #893 "Ability to auto-archive closed PR's and Issues"
Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

🐞 **Problem**
At the moment octobox gets super noisy from renovate creating and merging PR's for upgrading packages.

🎯 **Goal**
By auto archiving a PR or issue when closed, it would highlight the issues and PR's that actually require my attention (i.e. which PR's were upgraded but failed stat

[2018-09-09 08:19] andrew opened #894 "Sync notification repositories in the background"
Similar pattern as introduced in https://github.com/octobox/octobox/pull/875 but for `update_repository` method, should help speed up notification syncing further.

[2018-09-09 14:40] #894 closed

[2018-09-09 15:57] andrew commented on #893
Duplicate of https://github.com/octobox/octobox/issues/8, which we'll be getting to very soon

[2018-09-09 15:57] #893 closed

[2018-09-11 10:40] #813 closed

[2018-09-11 10:42] andrew commented on #813
First chunk completed by @paulleader, we can open new issues to add more sort options as fields become available :shipit:

[2018-09-11 13:21] pradyunsg commented on #667
I just had my Heroku instance with ~150 unread notifications kill a worker due to running out of memory -- not sure if it's related to this directly.

[code]

Another thing that happened simultaneously - a timed-out request:

[code]

I've restarted all dynos and now the usage seems to be much lower. There is still a lot of latency involved though:

[code]

---

@andrew Are these related to this is

[2018-09-11 13:28] andrew commented on #667
@pradyunsg there might be some differences between this original issue and the one your hitting on heroku, also not sure if this issue is still happening to @davidcelis?

On octobox.io I'm running this setup with professional dynos:

![screen shot 2018-09-11 at 14 25 49](https://user-images.githubusercontent.com/1060/45363144-9e635300-b5ce-11e8-9ae2-24484e6254f7.png)

With `ENV['RAILS_MAX_THREADS'

[2018-09-11 13:42] BenJam opened #906 "Add vulnerability disclosure policy"
We should add a policy that makes it clear we support (and authorise) security research on Octobox. Looks like 18F have a sensible, public domain licensed document at https://github.com/18F/vulnerability-disclosure-policy/blob/master/vulnerability-disclosure-policy.md

[2018-09-11 15:40] #906 closed

[2018-09-11 16:46] pradyunsg commented on #667
I'm using on the free dynos, so I don't have any metrics. :(

OTOH, free dynos have 512 MB RAM and the log message shows 501.76 MB being consumed, so I'm pretty certain that is the case.

ISTM that the notification syncing logic is not happy anyway since it is still timing out. I'll try this suggestion, hopefully it works. I'll open a new issue otherwise.

[2018-09-11 16:52] andrew commented on #667
FYI [puma_worker_killer](https://github.com/schneems/puma_worker_killer#configure) is enabled by default when heroku is deployed to production, and the threshold is at 98%, 512*0.98 = 501.76 so that makes sense.

[2018-09-11 20:05] rhuss opened #913 "No refresh spinner anymore"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

With the latest update (I think already since some days), refreshing the notification list with either the top-level button or the central button on an empty list doesn't provide any feedback anymore that it's refreshing. Previously there was a spinner during refresh.

This rese

[2018-09-11 20:10] andrew commented on #913
@rhuss is this with or without background syncing enabled?

[2018-09-11 20:38] rhuss commented on #913
I don't thinks so. I have these env variables set:

![image](https://user-images.githubusercontent.com/99080/45386300-53b7fa00-b613-11e8-8ddd-c79c91a760a9.png)

[2018-09-12 05:36] pradyunsg commented on #667
FTR, I set notification sync to be done in the background using sidekiq (OCTOBOX_BACKGROUND_JOBS_ENABLED) and now it seems to be all good. :)

[2018-09-12 08:53] rhuss commented on #876
When using an OpenShift setup Redis and the Octobox containers are running both in a single pod so that Octobox can connect to Redis via localhost:6379. I set REDIS_URL=localhost:6379 and OCTOBOX_BACKGROUND_JOBS_ENABLED=true

So I guess I'm just missing the sidekiq part. I will try to add it as another sidecar container to the openshift part but can get tricky to get it running on OpenShift starte

[2018-09-12 09:11] andrew commented on #876
@rhuss to reduce ram usage, you can reduce `RAILS_MAX_THREADS` from the default of 5 to something lower like 2.

[2018-09-12 09:12] andrew commented on #876
You could potentially also use [foreman](https://github.com/ddollar/foreman) to run both the rails and sidekiq processes in the same container.

[2018-09-12 09:42] rhuss commented on #876
@andrew thanks for the pointer and hint.

I will try the separate container-based approach first as this has the nice effect that I could use the upstream octobox docker image directly and the openshift installation has an image change trigger so that it will pick up and redeploy on every image update on Docker Hub. Living at the bleeding edge ;-)

Otherwise, I would need to prep a custom image wi

[2018-09-12 09:46] andrew commented on #876
@rhuss I think we'll probably want the mainline octobox to use sidekiq by default soon as I suspect all of the maintainers will be running that configuration, the syncing performance alone is much better and it's pretty much a requirement for running the GitHub App version.

[2018-09-12 13:59] #699 closed

[2018-09-12 14:16] tarebyte opened #917 "Can't push latest release to Heroku due to rake task"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

When trying to push the latest release of octobox it fails because it is trying to build the docs directory

[code]
🎯 **Goal**

So I can use dark mode 😄

💡 **Possible solutions**

📋  **Steps to solve the problem**

I've tried pushing so far, and I may take a look at the take tas

[2018-09-12 14:30] andrew opened #919 "Allow filtering by multiple repositories with search prefix"
Feature requested by @gbp.

For a search of `repo:24pullrequests/24pullrequests,octobox/octobox`, should return results for both repositories. Currently ignores any more after the first repository.

Two bits of code need changing for this, the easy one, remove `.first` from https://github.com/octobox/octobox/blob/master/app/models/search.rb#L72

and the second, harder one, on https://github.com/oc

[2018-09-12 14:39] #917 closed

[2018-09-12 20:15] prashuchaudhary commented on #919
@andrew I have made the recommended changes. Please have a look

[2018-09-12 20:17] davidcelis commented on #667
It is; I still have a cron job rebooting the app once per day to avoid it. I have not tried setting `OCTOBOX_BACKGROUND_JOBS_ENABLED` though!

[2018-09-13 11:45] prashuchaudhary commented on #811
@andrew I have made the recommended changes. Please have a look #923

[2018-09-13 13:28] #648 closed

[2018-09-13 13:54] andrew commented on #919
Fixed by #921, thanks @prashuchaudhary!

[2018-09-13 14:15] andrew commented on #913
I managed to replicate this bug locally, so it's on my todo list to fix it

[2018-09-13 14:17] andrew opened #925 "Mobile UI bugs/improvements"
There's a number of annoying little bugs when using Octobox on a phone/small screen, consider this issue a bit of a dumping ground for them for now.

[2018-09-13 14:19] andrew commented on #925
- [ ] No momentum scrolling on settings page (iOS)

[2018-09-13 14:26] andrew commented on #925
- [ ] Main page is longer than the viewport, creating weird scrolling behaviours:

![png image](https://user-images.githubusercontent.com/1060/45494650-6d6b5580-b769-11e8-98e2-d0e666c58497.png)

[2018-09-13 14:28] andrew commented on #925
- [ ] too many lines when menu and search are both expanded:
![png image 5](https://user-images.githubusercontent.com/1060/45494732-9db2f400-b769-11e8-94fd-1f3d08e5c79b.png)

[2018-09-13 17:42] #919 closed

[2018-09-13 17:50] prashuchaudhary commented on #828
#926 addresses this

[2018-09-13 21:27] chrisarcand opened #927 "Dockerfile is development specific(?)"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

I'm completely new to Docker, so bear with me a bit and I realize it might just be my own lack of experience here.

I'm attempting to deploy an Octobox instance via [docker-compose in production](https://docs.docker.com/compose/production/). This would require me making my own c

[2018-09-14 05:12] pradyunsg commented on #648
Hurrah!

[2018-09-14 09:05] smola opened #928 "Same notification appears multiple times in the list"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io

🐞 **Problem**
There is one notification from a private repository that appears repeated 6 times in my list:
![2018-09-14-110326_617x511_scrot](https://user-images.githubusercontent.com/23248/45540886-d99f9500-b80d-11e8-89cf-6cd48d6ee051.png)

If you need more details, I can provide the exact repository and issue

[2018-09-14 09:31] andrew commented on #928
@smola investigating this for you now

[2018-09-14 09:36] andrew commented on #928
@smola just pinging you in gitter

[2018-09-14 10:52] andrew commented on #928
This was caused by multiple subjects with the same `url` existing in the database, pr to add validation over here: https://github.com/octobox/octobox/pull/929

[2018-09-14 11:03] #928 closed

[2018-09-14 11:10] andrew commented on #927
@chrisarcand yeah we should definitely add back in the production gems, I seem to remember removing them to reduce the size of the docker image

[2018-09-14 13:34] #828 closed

[2018-09-14 14:18] prashuchaudhary commented on #803
@andrew I can take this up. And I was thinking we should user IndexedDB instead of LocalStorage.
What do you say ?

[2018-09-14 14:29] andrew commented on #803
IndexedDB sounds fine to me :+1:

[2018-09-14 14:44] Tyriar opened #932 "Issues showing up with PR icon"
Starting this morning (was fine last night), many issues are being shown as PRs:

<img width="195" alt="screen shot 2018-09-14 at 7 42 26 am" src="https://user-images.githubusercontent.com/2193314/45557167-d8f90580-b7f1-11e8-9c94-ccd1d4049fc3.png">
<img width="583" alt="screen shot 2018-09-14 at 7 43 26 am" src="https://user-images.githubusercontent.com/2193314/45557185-e1e9d700-b7f1-11e8-8038-7b1

[2018-09-14 14:54] andrew commented on #932
This looks to be a problem with data coming from GitHub: https://twitter.com/teabass/status/1040589741845045248

[2018-09-14 15:08] andrew commented on #932
This data is showing up in https://api.github.com/notifications?all=1 for me

[code]

but #928 is an issue not a pull request: https://github.com/octobox/octobox/issues/928

I've contacted github support but not heard anything back cc @tarebyte

[2018-09-14 15:13] Tyriar commented on #932
Thanks for the quick follow up @andrew 😃

[2018-09-14 15:28] andrew commented on #932
@Tyriar my octobox account has fixed itself up now, hopefully yours will too after the next sync

[2018-09-14 15:29] andrew commented on #599
Going to close this as it'll be available on https://octobox.io very soon

[2018-09-14 15:29] #599 closed

[2018-09-14 15:52] Tyriar commented on #932
@andrew looks good 👍

[2018-09-14 15:52] #932 closed

[2018-09-14 16:08] chrisarcand commented on #927
Cool; Yeah I'm toying with this a bit and will have something soonish. I think a revamped set of compose yamls (generalize docker-compose.yml, add in overrides to be use in the dev yaml to be used [over the top of the general one](https://docs.docker.com/compose/extends/#example-use-case), and changes to the Dockerfile(s). 👈 We can either generalize the normal Dockerfile for all envs or we can als

[2018-09-14 16:15] andrew commented on #927
You can tell that I’m not running it on Docker 😅

[2018-09-14 16:18] chrisarcand commented on #927
I'm setting up a new instance finally so I figured hey why not :) 🔜

[2018-09-14 18:16] chrisarcand commented on #667
I'll be moving off Heroku to a setup similar to @davidcelis, so more eyes on this soon, hopefully.

[2018-09-14 20:52] andrew commented on #667
@davidcelis I wonder if your docker image is running in development mode, that would definitely hamper things.

[2018-09-14 21:47] andrew commented on #667
I also thought I'd have some fun with https://github.com/SamSaffron/memory_profiler this evening to see if I could spot anything, partly because on the octobox.io heroku, the sidekiq workers need twice as much ram (1GB) than the rails web process (~300mb) with `RAILS_MAX_THREADS` set to 6.

One thing I did notice is that [sawyer](https://github.com/lostisland/sawyer), the only dependency of octoki

[2018-09-15 13:41] prashuchaudhary commented on #803
@andrew I have started working on this. Just want to discuss few things like `Order of Search History
Suggestions` or `Count of suggestions should be shown ?`

Should be limit the number of suggestion that can be stored ??

[2018-09-15 14:45] rhuss commented on #876
Found my issue for now, the REDIS_URL required a mandatory "redis://" scheme (a hostname alone is not good enough)

[2018-09-15 15:54] andrew commented on #809
@pradyunsg locking this for testing reasons ;)

[2018-09-15 16:57] rhuss commented on #927
I adapted the Dockerfile to include also production gems (i.e. removed that '--without production') but then run in another issue when running:

[code]

Not sure what's required here (remember, I'm a ruby and rails noob ;-)

[2018-09-15 17:35] andrew commented on #927
@rhuss you need to set `ENV['SECRET_KEY_BASE']`, which gets loaded here: https://github.com/octobox/octobox/blob/master/config/secrets.yml#L36

[2018-09-17 08:18] andrew commented on #814
A thought for once this is completed, we could allow one of the custom searches to be set as a default view for that user, rather than just the full inbox

[2018-09-17 09:01] pradyunsg opened #952 "Remove filter bar in favour of the search bar"
Currently, clicking on the side bar results in the filters being added to the current search.

This shows up in the search bar as well as in the "filter" bar. IMO it seems feasible that we would be able to get rid of the filter bar.

[2018-09-17 09:18] andrew commented on #952
cc @paulleader, we were talking about this last week and I believe he's going to do some refactoring to make this happen 👍

[2018-09-17 09:20] andrew commented on #803
@prashuchaudhary let's save/show a maximum of 10 now, and order by most recent, we can get more clever with frequency of searches later.

[2018-09-17 10:19] prashuchaudhary commented on #792
#953 added Bootstrap Custom Checkboxes

[2018-09-17 15:33] vvo commented on #599
@renovate-bot I failed at understanding what you meant here sorry (for real what do you mean :D)

[2018-09-17 16:31] davidcelis commented on #667
@andrew The docker image is definitely running in development mode; it's hardcoded to do so (the image does not install production gems), and the deployment instructions also use development as the value for `RAILS_ENV` 😅

[2018-09-17 16:40] chrisarcand commented on #667
☝️ To be fixed in #927

[2018-09-17 17:26] jules2689 opened #958 "Migrations can cause deadlocks in deploys"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

Migrations to various tables are troublesome in larger instances. A recent addition of an [index to the notification table](https://github.com/octobox/octobox/pull/902) has caused our deploys to timeout as the migration takes too long. We are now in a state where we are locked a

[2018-09-17 17:56] jules2689 opened #959 "Lack of contrast in the dark theme"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
Dark Theme's `active` rows is too low of a contract from normal rows. Same with `hover` state.

<img width="392" alt="image" src="https://user-images.githubusercontent.com/3074765/45640503-da8c2d00-ba80-11e8-8bcc-8b4be9612e5d.png">

🎯 **Goal**

More legibility

💡 **Possible solut

[2018-09-17 18:29] andrew commented on #958
For postgres we can create migration concurrently:
https://robots.thoughtbot.com/how-to-create-postgres-indexes-concurrently-in

[2018-09-17 18:44] chrisarcand commented on #846
+1 on toning this blue down, I thought the same thing when I started using this new UI. It's rather blinding, though I see @BenJam's preference to have something more obvious than what it was before. I do think it distracts from the main window, yes.

Hoping we can either pick a color that's distinctive enough but not distracting, or just come up with some other way to make the filters obvious wit

[2018-09-18 16:54] FedericoCeratto opened #961 "Inverse matching in search"
Hi and thank you for developing octobox.

It would be very handy to be able to filter out / exclude search items e.g.:

[code]

Thanks!

[2018-09-18 17:05] andrew commented on #961
@FedericoCeratto thanks for the excellent feature request!

[2018-09-18 17:08] andrew commented on #961
All of the potential prefixes that could support an exclude option:

- repo
- owner
- type
- reason
- label
- state
- author
- assignee

[2018-09-18 17:10] prashuchaudhary commented on #803
@andrew  this is complete. please review the code. Also if you have got free some time, please check out the functionality once.

As discussed, I have limited saved Seaches to 10 items and ordered by recent.

[2018-09-18 21:34] paulleader opened #963 "Refactor and unify search and filtering options into single concept"
🐞 **Problem**
At the moment, `NotificationsController` deals with raw params, pulling out search and filtering options as needed, and treating the search string (the `q` parameter) as a completely separate concern. Options provided as url parameters are not reflected in the search string. This is preventing us from:

- Converting url options to search string options (e.g. instead of `?reason=autho

[2018-09-18 21:35] paulleader commented on #963
@andrew Would you mind assigning this to me please :)

[2018-09-18 21:39] andrew commented on #963
Excellent write up @paulleader, excited to see this happen and unify the search query with the url query params 🎉

[2018-09-19 08:51] shubheksha opened #965 "Octobox won't sync"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

Despite forcing sync, none of my notifications from the past 5 days have shown up. The last notification is from 13th Sep. It was working fine before that.

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

 * Comment below about what you've started workin

[2018-09-19 09:01] andrew commented on #965
I’ll investigate this for you once I get back from my dog walk, thanks for reporting

[2018-09-19 09:33] andrew commented on #965
@shubheksha do you have an example issue/pr that should be showing up in your inbox but isn't?

[2018-09-19 09:40] shubheksha commented on #965
Yes, these:
https://github.com/kubernetes/kubectl/issues/80
https://github.com/kubernetes/kubernetes/pull/68774
https://github.com/kubernetes/website/pull/10145

[2018-09-19 09:50] andrew commented on #965
That's really weird, from the database it looks like they should be showing up, can you email me a screenshot of what you're seeing on https://octobox.io to andrew@octobox.io (or post it here if you don't mind sharing the contents of your octobox inbox publicly)

[2018-09-19 12:52] shubheksha commented on #965
Funnily enough, it synced right after I opened this issue?!

[2018-09-19 15:27] andrew opened #973 "Better handling of renamed/transferred repositories"
If a repository is renamed or moved from one owner to another we currently don't do a good job of updating notifications `repository_full_name` or `owner_name` fields (unless the notifications are still in the user's github inbox, which is unlikely for users that have been on the site for over a month).

We do store the repository's remote id against each notification as well so we can potentially

[2018-09-19 15:33] shubheksha commented on #965
@andrew, sure! Sorry for the trouble and thanks for Octobox, it has made my life easier :heart: :100:

[2018-09-19 15:33] #965 closed

[2018-09-20 05:59] andrew commented on #961
Pondering this more, one change I'd make to the original issue would be to match [GitHub's inverse syntax](https://help.github.com/articles/searching-issues-and-pull-requests/#search-by-label), by putting the `-` at the start of the prefix, for example:

[code]

[2018-09-20 06:08] andrew opened #975 "Sync and allow filtering/searching by Milestone"
Similar to labels, it would be nice to be able to filter and search by Milestone, for example: `milestone:Launch`

Subjects (only issues and pull requests) can belong to a single milestone and a milestone belongs to a repository.

API docs here: https://developer.github.com/v3/issues/milestones/

The minimum we'd need to keep in sync for the milestone record is it's `title` but other details like

[2018-09-20 12:53] osdlge opened #979 "How can I enable background syncing when using docker-compose"
I reviewed PR https://github.com/octobox/octobox/pull/943 but I can't figure out how to enable this for docker-compose installations

Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

I added the following environment variables to my docker-compose file

[code]

I can see the redis connection being accepted properly in the logs

[2018-09-20 15:03] #973 closed

[2018-09-20 15:27] andrew commented on #965
@shubheksha excellent, you're going to love the new features coming online in a couple weeks! 😉

[2018-09-20 17:58] PragTob commented on #778
:wave:

As I'm just starting to give octobox another shot I'm not very familiar with the existing UI concepts - that might be good or bad ;)

Coming from this tweet:

![selection_088](https://user-images.githubusercontent.com/606517/45836836-28699500-bd0e-11e8-8797-cb5d8815f679.png)

Generally speaking I personally usually want to look at either my work repos or my OSS repos. Just a button/tab/thi

[2018-09-20 18:54] Fryguy opened #981 "Dark Theme and Light Theme have different fonts"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [x] My instance

🐞 **Problem**
Dark Theme and Light Theme have different fonts

All seems different but the "6" in the Inbox tag is really recognizable.

![octobox 586 2018-09-20 14-49-17](https://user-images.githubusercontent.com/52120/45840404-de1fee00-bce4-11e8-8120-38056486cc0c.png)

🎯 **Goal**
Same font

[2018-09-20 19:07] andrew commented on #961
Pull request over here: https://github.com/octobox/octobox/pull/982

[2018-09-20 19:40] andrew commented on #981
Yep, definitely not right, header also has more padding, PR opened to fix here: https://github.com/octobox/octobox/pull/983

[2018-09-20 19:42] #961 closed

[2018-09-20 19:46] #981 closed

[2018-09-20 19:48] andrew commented on #961
Deploying this to https://octobox.io now :shipit:

[2018-09-20 19:59] andrew commented on #778
@PragTob thanks for the great feedback!

I've just merged https://github.com/octobox/octobox/pull/982 which adds the ability to exclude certain things from the search, so https://octobox.io/?q=-org%3Aliefery+inbox%3Atrue will show you your inbox excluding work things

I've also started work on https://github.com/octobox/octobox/issues/814 which will allow you to save a searches to the sidebar for

[2018-09-20 20:01] andrew commented on #778
n.b note to self, I need to document the exclude search option 🙈

[2018-09-20 20:02] andrew commented on #814
Started working on this over here: https://github.com/octobox/octobox/pull/955

[2018-09-20 20:12] PragTob commented on #778
Ah thanks that sounds great and I'll try to get the search syntax and then I can make my own bookmarks or app tabs until it's down - thank you! :green_heart: :pray: :green_heart:

[2018-09-21 04:11] prashuchaudhary commented on #792
@andrew this is ready now.

[2018-09-21 10:01] rhuss opened #988 "Extra columns since one of the latest commits"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

With the latest image (commit d3afec3), i suddenly get more columns in the overview (repo + date).
Since I'm low on screen real estate (using a vertical monitor), and since information like the notification date is not really important for me, I would like to ask if this is at l

[2018-09-21 10:13] andrew commented on #988
@rhuss can you pop that second bug where the repo name name goes wrong out into a separate issue?

[2018-09-21 10:27] rhuss opened #990 "Username in notification when filtered by repository sometimes messed up"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

This is the first time I encountered the issue described by the screenshot, I don't see it anywhere else:

![image](https://user-images.githubusercontent.com/99080/45875922-695abb80-bd99-11e8-99cc-3cfdd07b485b.png)

Anything I can do to check in the DB (SQL query) ?

[2018-09-21 10:27] rhuss commented on #990
Originally appeared in #988

[2018-09-21 10:32] rhuss opened #991 "Allow configuration of the shown columns"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

I would like to suggest a feature to allow the customization of the columns shown in various views (top level and repository specific). This customization could happen either per user or site wide.

🎯 **Goal**

In order to support users with limited screen real estate, it would

[2018-09-21 10:32] rhuss commented on #991
Orignally appeared in #988

[2018-09-21 10:59] andrew commented on #990
Looks like the `author` field on that subject is nil, so we shouldn't try to render the author at all if that's the case.

This line: https://github.com/octobox/octobox/blob/9f18511358318dabd272aadac817d4c62e0a0683/app/views/notifications/_notification.html.erb#L47 should be changed to:

[code]

[2018-09-21 11:01] andrew commented on #988
Thanks, I've removed that second bug from here to keep things simple

[2018-09-21 11:04] andrew commented on #988
That really long repo name is really not helping, we should probably allow that to break over multiple lines, cc @BenJam who's been reworking that whole display recently.

[2018-09-21 12:57] BenJam commented on #925
tried setting this element to `.blur()` before calling the sync but that's not happy.

[2018-09-24 10:06] andrew commented on #991
I'd prefer to fix the responsive aspects of the notifications table rather than add extra configuration options to avoid the bug at this point.

[2018-09-24 10:06] #991 closed

[2018-09-24 10:15] #990 closed

[2018-09-24 12:39] andrew commented on #925
Moving #858 over here too, where labels are overflowing the updated at date on mobile:

![44876112-009b8a00-ac98-11e8-8ba7-ad8151577696](https://user-images.githubusercontent.com/1060/45952511-3154b200-bfff-11e8-9849-67460b3b376a.PNG)

[2018-09-24 12:39] andrew commented on #858
Moved to https://github.com/octobox/octobox/issues/925

[2018-09-24 12:39] #858 closed

[2018-09-24 12:46] andrew commented on #542
I tried to tackling this on the weekend but it appears that iOS "add to homescreen" web apps that use Oauth for login always bump you back out to mobile safari: https://discussions.apple.com/message/33306161#33306161

Behaviour doesn't seem to have changed in iOS 12 either, so not sure if this is something that can be fixed yet.

[2018-09-24 12:51] andrew commented on #882
Deploying delete buttons added in https://github.com/octobox/octobox/pull/987 to https://octobox.io now

[2018-09-24 12:57] andrew commented on #848
Deploying https://github.com/octobox/octobox/pull/987 to https://octobox.io now, delete buttons are accessible from the Archived view :shipit:

[2018-09-24 19:21] PragTob commented on #778
Re: exclude search options, at least for me the `-org` filter suggested above didn't work. `-owner` works fine though :muscle:

[2018-09-24 19:57] andrew commented on #778
Oh yeah, it’s just owner, I will add a couple aliases for org and user tomorrow though

[2018-09-25 08:30] jsynowiec opened #1010 "Favicon is broken in Safari 12 on macOS Mojave"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
Safari 12 (finally) supports displaying favicons on the tabs but the Octobox icon is broken - it displays just as a black circle.

![image](https://user-images.githubusercontent.com/1029142/46002277-f78eb480-c0ad-11e8-87b1-ba57da96a947.png)

Not sure if this is a problem with fav

[2018-09-25 11:00] andrew commented on #778
@PragTob 🚢 https://github.com/octobox/octobox/pull/1011

[2018-09-25 11:00] pradyunsg commented on #793
Iteration 2. This isn't polished (the inconsistency in whitespace and too little of it -- is cramped). It's more of a rough draft.

![web 1920 my idea](https://user-images.githubusercontent.com/3275593/46009937-a6e37f80-c0de-11e8-90e7-b3ebe75e6eca.png)

Resolution of previous bullet points:

- Wrapping of the title/labels is the most sensible thing to do here.
- Turns out, "Review Requested" statu

[2018-09-25 11:02] pradyunsg commented on #793
It's weird how I end up doing these random design mockups _during_ exams. 🤔

[2018-09-25 11:05] pradyunsg opened #1012 "Synchronize UI/UX with Github's design scheme"
🎯 **Goal**

Use the same colours and design scheme as GitHub.

📋  **Why**

 * The use of Octobox is closely associated with GitHub
 * Less of a visual change when switching between the two plaforms
 * Using the same UI/UX would make Octobox feel like natural extension of GitHub (which is a good thing IMO)

This is mostly a thought that came to mind while doing https://github.com/octobox/octobox/is

[2018-09-25 11:07] andrew commented on #793
@pradyunsg I like the exploration of how to improve the notification display 👍

I don't think we'll actually implement a fixed width layout, so we can either rename this issue or close it as `wontfix` and open a new one for notification list redesign and responsiveness.

[2018-09-25 11:08] pradyunsg commented on #793
Fair enough. :)

I'll open a new one.

[2018-09-25 11:08] #793 closed

[2018-09-25 11:09] andrew commented on #1012
If you have particular UX changes in mind it would be good to hear but we don't want to copy GitHub too closely otherwise we might run into trademark/branding related problems with them whilst we get Octobox listed on the GitHub marketplace.

[2018-09-25 11:15] pradyunsg opened #1013 "Improving single notification displays"
From #793.

![draft 1](https://user-images.githubusercontent.com/3275593/46010983-13ac4900-c0e2-11e8-9646-6d34bdf47c81.png)

Notes:

- Title/Sub-Text wraps when the content is too long (as currently).
- As shown, action icons We can space the icons carefully and accomodate an extra icon when we're in that context.
- On-hover icons added in #823 can replace the reason badge, bringing all possible a

[2018-09-25 11:17] pradyunsg commented on #1012
Two that come to mind immediately:

- Top bar containing direct access to Settings and Admin like GitHub provides Pull Requests/Issues/Trending/Explore
- Using similar/same colours + borders for UI elements as GitHub (like the icons in the table header)

[2018-09-25 12:33] andrew commented on #1012
We won't be switching to primer, it's nowhere near as complete as Bootstrap, we're already using https://octicons.github.com/ for all the icons. I'd like Octobox to have some of it's own identity rather than try to pretend it's part of GitHub.

[2018-09-25 12:36] andrew commented on #1012
Octobox really only has the one view, the notifications list, the other pages are settings which mirrors the GitHub header in that they are tucked away in the user menu because they are rarely used.

If we end up having other functional sections that would be frequently switched between it would make sense to put them in the header.

[2018-09-25 12:38] andrew commented on #555
@bitboxer is this still happening for you? There have been quite a few changes related to syncing that I believe should fix this.

[2018-09-25 12:40] andrew commented on #500
Closing in favor of #741 as I don't think we want to maintain lots of configuration that shows/hides different parts of the UI, it makes visual testing all the different possibilities a nightmare.

[2018-09-25 12:40] #500 closed

[2018-09-25 12:41] andrew commented on #1013
Related issue on mobile: https://github.com/octobox/octobox/issues/925 cc @BenJam

[2018-09-25 12:51] andrew commented on #1010
I've not updated to Mojave yet, will likely upgrade at the weekend and then I can tackle this if no-one else gets there before me.

Interestingly they appear to be working in safari on iOS 12:

![img_2899](https://user-images.githubusercontent.com/1060/46015394-1b5ff380-c0ca-11e8-99ec-9c66740d9742.jpg)

[2018-09-25 13:47] #803 closed

[2018-09-25 14:11] bitboxer commented on #555
Updating my instance now and will try it out for a couple of days. Reporting back on Saturday if this worked.

[2018-09-25 16:11] pradyunsg commented on #1012
Fair enough. :)

[2018-09-25 16:11] #1012 closed

[2018-09-25 16:14] pradyunsg commented on #555
I can confirm that this hasn't occurred for me since I enabled background jobs.

[2018-09-25 18:00] bitboxer commented on #555
@pradyunsg what do you mean with enabling background jobs?

[2018-09-25 20:30] RX14 opened #1016 "Cannot unarchive issues"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

attempting to unarchive any issue in any way fails

[2018-09-25 20:32] RX14 opened #1017 "Reloading doesn't work"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
I press `r` or click the refresh button and the refresh icon does not spin, the page is not refreshed and new issues do not appear. After refreshing the whole page, new issues appear.

[2018-09-25 20:47] andrew commented on #1016
I noticed that this evening as well, as will investigate first thing tomorrow

[2018-09-25 20:49] andrew commented on #1017
I suspect I’ve broken some JavaScript somewhere, will investigate first time in the morning as well, thanks for reporting 👍

[2018-09-26 04:37] pradyunsg commented on #555
https://github.com/octobox/octobox/blob/master/docs/INSTALLATION.md#background-jobs