[2018-09-26 05:51] pradyunsg commented on #793
Oh, I just realized that I never posted my current workaround here:

[code]

It isn't perfect but it's good enough.

[2018-09-26 08:05] bodinsamuel commented on #1017
I was going to report it, it's been a couple days since it's stopped working. Thanks for the quick fix 👍 🙏

[2018-09-26 08:43] #1017 closed

[2018-09-26 11:03] RX14 commented on #1017
Thanks for the quick fix, works for me!

[2018-09-26 11:05] RX14 commented on #1016
This is still broken when unarchiving multiple items like this:

![](http://owo.sh/73b8b7.png)

[2018-09-26 14:38] rufo commented on #1010
I haven't looked into exactly what logic Safari 12 uses, but I've noticed this with my pinned tab as well using Safari 12 on High Sierra 😕

From what's going on, it looks like Safari on Mac is trying to use [the pinned tab SVG](https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/pinnedTabs/pinnedTabs.html) for the favicon preferentially. According

[2018-09-26 14:43] osdlge opened #1020 "Syncing randomly gets stuck in a redirect loop"
I'm running octobox locally under docker-compose. I have the in app auto refresh set to every 30 minutes.

I am able to reproduce this on the latest build from docker-compose pull (https://github.com/octobox/octobox/commit/11173e998763f2774c99d7f87e9661c1ec48858e)

Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
Occasionally t

[2018-09-26 16:14] rufo commented on #1010
I updated it locally, and it seems to render fine:

![screen shot 2018-09-26 at 11 06 04 am](https://user-images.githubusercontent.com/2745/46093384-d1841580-c17c-11e8-9208-5e7941492f7a.png)
![screen shot 2018-09-26 at 11 06 14 am](https://user-images.githubusercontent.com/2745/46093385-d1841580-c17c-11e8-9967-98df6beff19c.png)

I've opened a PR at #1021 for further discussion - totally cool with

[2018-09-26 17:08] prashuchaudhary commented on #1016
@andrew I checked the code and `Archive button` and `UnArchive Button` should be mutually exclusive. How can I get the above screen ??

And I checked for the case when Archiving Multiple Notifications on `octobox.io`, its working as expected.

@RX14 can you further clarify ??

[2018-09-26 17:40] #1010 closed

[2018-09-26 17:42] andrew commented on #1016
@prashuchaudhary the only place that both buttons show up is on search results pages which contain both archived and unarchived results

[2018-09-26 17:43] andrew commented on #1010
Deploying this now, thanks for investigating @rufo 👍

[2018-09-26 17:54] andrew commented on #1020
I suspect https://github.com/octobox/octobox/pull/1019, which fixed the sync button (https://github.com/octobox/octobox/issues/1017), highlighted a bug with the auto syncing

[2018-09-26 18:04] osdlge commented on #1020
I was able to reproduce it before that commit, I was hoping that commit would fix it. I update semi-regularly so I can't say for sure when this started :(

[2018-09-26 18:10] bitboxer commented on #555
Okay, tested it now with the cases where I had the problem and it disappeared. Thanks! Closing this now.

[2018-09-26 18:14] andrew commented on #1020
@osdlge yeah there's been quiet a few changes around the syncing in the past couple weeks, I think part of the cause is this `redirect_back`: https://github.com/octobox/octobox/blob/master/app/controllers/notifications_controller.rb#L242 which is getting `/notifications/sync` as the referrer and starting the loop, I'm going to try adding a check in there to make sure it doesn't redirect back to it

[2018-09-26 18:27] prashuchaudhary commented on #1016
@andrew fixed the JS code in #1023

[2018-09-26 18:32] andrew commented on #1016
@prashuchaudhary thanks, just deploying that now 👍

[2018-09-26 18:37] #1020 closed

[2018-09-26 18:38] andrew commented on #1020
@osdlge I've just merged #1020, please reopen if this doesn't fix it for you

[2018-09-26 18:39] #1016 closed

[2018-09-26 18:40] prashuchaudhary commented on #1016
Excellent 🎉

[2018-09-26 22:02] RX14 opened #1026 "y to archive broke"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

I press `y`, the currently selected issue isn't archived.

[2018-09-27 08:35] andrew commented on #1026
Definitely need to get working on https://github.com/octobox/octobox/issues/268 🙈

[2018-09-27 09:42] andrew commented on #1026
Pretty sure this bug came from https://github.com/octobox/octobox/pull/1023/files

[2018-09-27 10:03] andrew commented on #1026
PR for a fix here: https://github.com/octobox/octobox/pull/1029

[2018-09-27 10:10] #1026 closed

[2018-09-27 10:12] andrew commented on #1026
Deploying now, thanks for reporting

[2018-09-27 10:32] RX14 commented on #1026
thanks, fixed

[2018-09-27 21:35] StanleyGoldman opened #1031 "Unable to Unarchive"
I'm unable to unarchive issues
Attempting via the checkboxes and button or the intline button towards the right.
Page reloads, nothing happens.

Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

[2018-09-27 21:44] andrew commented on #1031
Are you seeing any JavaScript errors in the console?

Are you running on the latest version from master, there were a number of JavaScript fixes merged in the past couple days

[2018-09-27 21:45] andrew commented on #1031
Cc @tarebyte as it looks like it might be the GitHub instance

[2018-09-28 13:09] tarebyte commented on #1031
@StanleyGoldman I just pushed up the latest version to our instance, mind taking another look to see if you have the issue?

[2018-09-28 13:42] StanleyGoldman commented on #1031
@tarebyte the issue is resolved

[2018-09-28 13:42] #1031 closed

[2018-09-28 13:42] StanleyGoldman commented on #1031
Thanks @andrew

[2018-09-30 08:26] frenck opened #1032 "Error: bad_verification_code"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

Running release b145970.

🐞 **Problem**

Since this morning, I've lost authentication with GitHub on my instance.

[code]

![image](https://user-images.githubusercontent.com/195327/46255223-c42b9b80-c49a-11e8-8d38-b51faa58bbb0.png)

I've tried the following:
- Revoking authentication, trying t

[2018-09-30 11:10] prashuchaudhary commented on #1032
@frenck I can only suggest a temp solution. You can hardcode your `Github Access Token` in `subject_token` method in `user.rb`.

`
  def subject_token
    "<YOUR_ACCESS_TOKEN>" || effective_access_token
  end
`

[2018-10-01 09:09] andrew commented on #1032
Looks like this might be due to this upgrade that encrypted the access tokens: https://github.com/octobox/octobox/pull/619

@frenck have you upgraded recently? That PR was merged August 9th, if you were running octobox before then and then upgraded that would likely pinpoint the issue.

Can you access the rails console? If so, here's some code to see if your encrpyted access token is missing:

[co

[2018-10-01 09:25] andrew opened #1033 "Incomplete author line visible on small screens"
<img width="329" alt="screen shot 2018-09-27 at 17 59 11" src="https://user-images.githubusercontent.com/1060/46280431-ce659c80-c563-11e8-86d6-da0136bbc132.png">

If a notification doesn't have an author (i.e. the subject hasn't been synced), on small screens "by" is shown without an author name afterwards.

If there's no author there should be no `by` visible.

n.b. I tried fixing this in the tem

[2018-10-01 10:05] BenJam opened #1034 "Fix scrolling behaviours"
In general scrolling on octobox is _a bit broken_:
- [ ] Main page is longer than the viewport, creating weird scrolling behaviours.
- [ ] 'sticky' header breaks when linking directly to a page element on docs pages
- [ ] Inconsistent elastic scrolling on touch devices

[2018-10-01 10:06] BenJam commented on #925
moving remainder to #1034

[2018-10-01 10:06] #925 closed

[2018-10-01 10:10] BenJam opened #1036 "Sync button stays black (focus state) after sync has finished"
![image](https://user-images.githubusercontent.com/158833/46282744-3d45f400-c56a-11e8-8869-a709ff56c779.png)

I've taken a look at this before. I'm not sure whether the `e.preventDefault()` call should stop the focus state. I have tried setting `.blur()` after sync is fired to no avail. The only reason the state is getting reset is when the page reloads with turbolinks taking over the page refresh

[2018-10-01 10:32] BenJam commented on #1013
Side by side:

<img width="822" alt="screen shot 2018-10-01 at 11 24 48" src="https://user-images.githubusercontent.com/158833/46283835-92373980-c56d-11e8-9fa9-c08d04ae1927.png">

![image](https://user-images.githubusercontent.com/158833/46283843-982d1a80-c56d-11e8-9062-358513e3e677.png)

[2018-10-01 10:53] andrew commented on #1013
I prefer the current because for the majority of notifications, everything fits on a single row so you can see more notifications per page.

The column based arrangement makes the UI predictable for scanning down any single column.

I wonder if the reason icons could be grouped together with the labels as they are very similar (categorization/filters).

One other thing I think the gmail interface

[2018-10-01 14:05] frenck commented on #1032
@andrew That point me in the right direction and I might actually know what is going on!
Thank you...

Nevertheless, change of encryption key, should be recoverable or at least be pointed out in the logs correctly (e.g., failed to decrypt?)

[2018-10-01 15:27] #1033 closed

[2018-10-01 15:30] andrew commented on #1032
Agreed, it should be recoverable, we just need to work out what state it's in so we can detect and handle it correctly. If `encrypted_access_token` is blank that's a different case to if `OCTOBOX_ATTRIBUTE_ENCRYPTION_KEY` has changed.

[2018-10-01 16:05] prashuchaudhary commented on #1032
@andrew I face the same problem. I have somehow don't have `app_token` for my user.

So I have to change this method
[code]

[2018-10-01 16:08] prashuchaudhary commented on #1032
Also I tried getting my `decrypted app_token` or `decrypted access_token` but did not succeed

[2018-10-01 16:33] frenck commented on #1032
@andrew in my case the Rails secret changed since I have not anticipated on the newer `OCTOBOX_ATTRIBUTE_ENCRYPTION_KEY` (some upgrade instructions or notices would be nice btw).

[2018-10-01 17:32] jhsu802701 opened #1042 "Pin the gem versions in the Gemfile"
The gems are unpinned.  I can submit a pull request to update them.

[2018-10-01 17:34] jhsu802701 opened #1043 "Add the railroady and rails-erd gems"
The railroady and rails-erd gems (for drawing block diagrams of the app's structure) are not installed.  Do you want me to submit a pull request or to keep these gems in my own personal branch and use the "git cherry-pick" command?

[2018-10-01 19:04] andrew commented on #1042
No thanks, that’s what the Gemfile.lock is for

[2018-10-01 19:04] #1042 closed

[2018-10-01 22:38] jhsu802701 commented on #1042
If you don't pin the gems, the "bundle upgrade" command upgrades everything.  I find it best to break the upgrading process into smaller steps, and that requires pinning gems.  Trying to upgrade everything all at once means a greater risk of issues, and the fact that so many changes were made makes it difficult to troubleshoot things.  Breaking up the process into smaller steps makes it much easie

[2018-10-01 23:46] frenck commented on #1032
I've been able to fix my issue, which was totally caused by my own doing.
Some "upgrade" notices in the release notes, would be appreciated though.

As far as I'm concerned, this issue can be closed. Nevertheless, @prashuchaudhary issues still seem to be open within this thread.

[2018-10-02 04:34] andrew commented on #1042
We keep our dependencies up to date automatically with dependabot, so currently everything is running on the latest version and we’re able to upgrade whenever a new release of a gem comes out.

`bundle outdated` can show you which dependencies are out of date and individual ones can be updated with `bundle update gemname` rather than having to update all dependencies at once.

The Gemfile versions

[2018-10-02 04:37] andrew commented on #1032
Yeah it’s tricky trying to add upgrade notices when effectively every commit to master is a new release (at least a new build is published to Docker hub).

I’ll have a think about how best to handle/document upgrades in the future.

[2018-10-02 04:37] #1032 closed

[2018-10-02 09:21] andrew commented on #1043
It looks like you can use railroady directly from the command line without needing to add it as a dependency: https://github.com/preston/railroady/blob/master/README.md#alternate-usage

I’d prefer not to add dependencies that aren’t part of the core development process.

[2018-10-02 09:21] #1043 closed

[2018-10-02 11:40] #1034 closed

[2018-10-04 10:46] andrew opened #1050 "Improve keyboard navigation and accessibility"
We have lots of keyboard shortcuts for functions already but trying to use Octobox with only a keyboard is quite frustrating.

We don't have tabindex on any elements so you can't use any of the following without a mouse:

- sidebar filters
- pagination
- remove active filters
- user menu in the top right.

[2018-10-04 11:13] andrew opened #1052 "Archive icon position incorrect on mobile"
![img_1ad726f44ff3-1](https://user-images.githubusercontent.com/1060/46470481-ab8af080-c7ce-11e8-8330-07fa9e2460f7.jpeg)

The position of the "archived" icon isn't right on small screens.

[2018-10-04 13:39] BenJam commented on #792
Bump. @pradyunsg can you submit a PR for this if ready?

[2018-10-04 13:45] BenJam commented on #710
Bump. I'll pick this up.

[2018-10-04 14:41] pradyunsg commented on #792
@prashuchaudary's PR does this IIUC.

[2018-10-04 14:44] andrew commented on #792
This branch has an almost finished implementation:
https://github.com/octobox/octobox/compare/custom-checkboxes

[2018-10-05 04:35] andrew commented on #710
Fixed in
https://github.com/octobox/octobox/pull/1053

[2018-10-05 04:35] #710 closed

[2018-10-05 05:16] #866 closed

[2018-10-05 08:35] prashuchaudhary commented on #792
@BenJam created PR #1057 with final changes. Added Screenshots for Both Light and Dark UI. Please review.

[2018-10-05 13:14] andrew commented on #792
Fixed in #1057

[2018-10-05 13:15] #792 closed

[2018-10-06 16:04] prashuchaudhary commented on #452
@andrew @pradyunsg this is the design I came up with for  Snooze Dropdown. A user can select `minutes, hours, days or week` using a dropdown and use `+/-` button to select duration. Also we can provide some quick tips for common snooze timings.

I wanted to keep it simple right now, so I am ignoring the use case like 1.5 hours etc.

![img_20181005_185159584-min](https://user-images.githubuserconte

[2018-10-07 16:56] polyzen commented on #472
@andrew, is there a way to know the progress of the deployment?

[2018-10-07 18:14] polyzen commented on #472
Actually, based on the settings page, it appears it has already been deployed. It is my understanding that #806 is what was needed to show the state of issues/PR's, but that doesn't seem available.

[2018-10-07 19:49] andrew commented on #472
@polyzen it's in production for https://octobox.io, you can install it on open source repositories via https://github.com/apps/octobox, links will be added to the site this week

[2018-10-07 22:37] polyzen commented on #472
@andrew, ah, thank you. It seems then this should also be updated:
https://octobox.io/documentation#navigating

[2018-10-08 07:09] prashuchaudhary commented on #1052
Updated position of Archive Icon

![screen shot 2018-10-08 at 12 38 33 pm](https://user-images.githubusercontent.com/11884537/46595664-29b10500-caf7-11e8-98eb-4bd01fe55d0a.png)

[2018-10-09 03:41] benortiz commented on #1036
@BenJam hello! I'd be interested in picking this issue up and trying to find a solution.

[2018-10-09 08:47] andrew commented on #452
cc @BenJam ☝️

[2018-10-09 08:48] andrew commented on #1036
@benortiz Go for it 👍

[2018-10-09 11:39] andrew commented on #472
This is now fully live and public on https://octobox.io 🎉

[2018-10-09 14:05] vvo opened #1066 "Display glitch on subscribe button"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io

🐞 **Problem**

Here's what I am seeing on Octobox.io:

![image](https://user-images.githubusercontent.com/123822/46674654-fea0e100-cbdc-11e8-9981-130971ae4e0b.png)

I am using the GitHub application. Also the "Install the GitHub app" is always displayed no matter what.

🎯 **Goal**

💡 **Possible solutions**

📋  *

[2018-10-09 14:48] andrew commented on #1066
Oh yeah there’s a syntax error snuck in there

[2018-10-09 14:58] gholtslander-va commented on #1066
Oh phew, here I thought it was supposed to be this way lol.

[2018-10-09 15:18] vvo opened #1067 "No more able to refresh notification"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
I had to remove all authorizations and re-add them to check if #1066 was triggered because of some bad configuration. Now the refresh button seems to be failing:
![2018-10-09 17 18 00](https://user-images.githubusercontent.com/123822/46679453-504e6900-cbe7-11e8-9454-1a41c3b4755e.

[2018-10-09 16:27] andrew commented on #1066
Just deploying a fix now, thanks for reporting 👍

[2018-10-09 16:32] andrew commented on #1067
Just looking at this now, there doesn't appear to be anything backed up in the queue, from your gif it looks like the top left sync button is working as expected from a javascript point of view but the refresh button in the blank slate isn't working. Do you have new/unread notifications showing up in https://github.com/notifications that aren't being pulled in?

[2018-10-09 18:54] pradyunsg commented on #1013
I obviously have a preference for the layout I proposed. ;)

This I agree with. I do feel that this is a trade-off and I am biased towards having a less tabular approach.

Part of the reason I put the repository name first in the list is that that's what I've noticed myself using most often. I usually don't care about who filed the issue and I guess when I do, clicking the username/doing a `user:a

[2018-10-09 19:08] Zimmi48 opened #1071 "Search for self-assigned issues doesn't work without "inbox: true""
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

I click on "Assigned to you", then I remove "inbox:true" from the search bar, type Enter, and then I see a lot of notifications which do not correspond to issues / pull requests assigned to me.

🎯 **Goal**

In the current state, it seems to me that the custom filters are broken

[2018-10-09 19:49] vvo commented on #1067
Yep like your current comment, or this one:
![image](https://user-images.githubusercontent.com/123822/46694401-04aeb600-cc0d-11e8-9da9-6ca9f2ff89a4.png)

I just solved it by login out and login. Cool! The way I think the bug was triggered was by going to settings of octobox and then remove every GitHub connection (while still being logged in). Then try to re-add them but nothing was showing up aft

[2018-10-09 20:09] andrew commented on #1071
Thanks for reporting, I’ll check these issues first thing in the morning.

[2018-10-09 20:17] Zimmi48 commented on #1071
I can however see the label you just added to this very issue.

[2018-10-09 20:53] andrew commented on #1071
@Zimmi48 it could be that Octobox has failed to sync data for your old notifications

[2018-10-10 04:04] benortiz commented on #1036
Just wanted to give y'all an update with my progress so far. I was doing some digging to find the root of the problem and my current theory is that this is an iOS/Safari specific bug (please correct me if I'm wrong) related to sticky hover states. It looks like there was [_almost_](https://getbootstrap.com/docs/4.1/getting-started/browsers-devices/#sticky-hoverfocus-on-ios) a solution, but not any

[2018-10-10 05:45] pradyunsg commented on #1036
I'm also seeing this on the current FF on Android 8.1.0.

[2018-10-10 07:17] Zimmi48 commented on #1071
I'm not sure what you mean: if we are talking about the label question, the problem is there also for newer notifications and it rather looks like Octobox didn't notice it now had access to these organizations. FTR I've tried logging in from a bot account to check if a new user of Octobox would see the labels, but it seems like it isn't the case.

[2018-10-10 08:37] #1052 closed

[2018-10-10 08:48] andrew commented on #1036
I wonder if we can just disable the hover/focus/active state on the button for small screens as a workaround?

[2018-10-10 10:42] BenJam commented on #623
bump: not sure this is still relevant given some of the github app based work...

[2018-10-10 10:45] andrew commented on #623
@BenJam it's related to [this](https://github.com/octobox/octobox/blob/master/docs/INSTALLATION.md#limiting-access) feature which is useful when you're running your own instance on the public internet but want to limit who can use it.

[2018-10-10 10:55] BenJam commented on #428
bump. Anyone still experiencing this?

[2018-10-10 11:01] andrew commented on #1071
I've found the bug that's caused the lack of labels and other issue data to appear, will be pushing a fix soon and will resync all your data for you, then we can take a look at the assignee problem.

[2018-10-10 11:57] Zimmi48 commented on #739
In fact, the "reason" field which is provided by GitHub is very often unhelpful, even more so when more information is coming thanks to the "App" features. For instance, filtering by "Assigned" or "Assigned to you" is redundant except the second one will be more accurate ("Open" / "Merged" / "Closed" is also more specific than "State change"). Similarly, there could be filters "Authored by you" /

[2018-10-10 12:04] andrew commented on #1071
@Zimmi48 can you paste the query that's prefilled in the search box in here, that's definitely a bug 👍

[2018-10-10 12:05] Zimmi48 commented on #1071
"inbox:true type:pull_request assigned:zimmi48"
URL is: https://octobox.io/?assigned=Zimmi48&type=PullRequest

[2018-10-10 12:06] Zimmi48 commented on #1071
After I type Enter, the URL becomes: https://octobox.io/?q=inbox%3Atrue+type%3Apull_request+assigned%3Azimmi48

[2018-10-10 12:06] andrew commented on #1071
@Zimmi48 looks like `assigned` should be `assignee`, I'll get a patch in for that shortly.

[2018-10-10 12:31] andrew commented on #1071
This actually helped me discover a couple more bugs with the params -> search query converter, pr over here: https://github.com/octobox/octobox/pull/1077

[2018-10-10 13:04] andrew commented on #1071
@Zimmi48 just deploying #1077 now, should be live in a few minutes

[2018-10-10 13:41] Zimmi48 commented on #1071
Thanks! Everything works well know.

[2018-10-10 13:41] #1071 closed

[2018-10-10 16:27] fxdgear opened #1081 "I have too many repos, I only want to use ocotobox on a subset of them"
There's no way to remove repos from the list of all repos cause I only want to use this for a subset of repos and orgs that I belong to.

[2018-10-10 16:29] fxdgear opened #1082 "Kerning issue"
The font or what ever you're using to render text is not displaying spaces.

Thereforealltextlookslikethis.It'ssuperannoyingtoreadandmakesyourproductlooklikeit'snotready

[2018-10-10 16:47] andrew commented on #1082
Have you got a screenshot? Also what browser and operating system are you using?

[2018-10-10 17:59] fxdgear commented on #1082
![screenshot_s554w9h5](https://user-images.githubusercontent.com/146550/46756094-e46e0e00-cc83-11e8-8023-362ab27843bb.png)

[2018-10-10 18:00] fxdgear commented on #1082
[code]
Google Chrome Version 60.0.3112.113 (Official Build) (64-bit)

[2018-10-10 20:12] timhoffm opened #1083 "Highlighting of issue-under-cursor is almost the same as unread issue"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
The background color of an issue under the cursor (no matter of read or unread) is almost the same as the background color of an unread issue. This can lead to mistakingly assuming that the issue under the cursor is unread:

![grafik](https://user-images.githubusercontent.com/283

[2018-10-11 06:44] dmathieu opened #1087 "Auto-archive closed/merged issues"
## 💥 Proposal

### What feature you'd like to see

:wave:
I am watching some repositories with a lot of activity, where my main goal is to go through all the activity quickly, not digging into everything.
Because of that, I'm not archiving anything manually. So I have a lot of notifications that are read, but have no real value anymore.

How about auto-archiving an issue/PR when it has been closed

[2018-10-11 08:09] prashuchaudhary commented on #1087
this is a good thing, we can run a daily cron to identify such issues/PR and mark them as Archived.
We can also have a Cron to delete archived issues which are older then say a month.

[2018-10-11 09:20] andrew commented on #1087
Related item on the roadmap https://github.com/octobox/octobox/blob/master/docs/ROADMAP.md#notification-filters-and-automated-actions-8 and #8

[2018-10-11 12:07] BenJam commented on #1082
lol @ this. IfOnlyEveryThingWereAJavaScriptVariable.

[2018-10-11 13:21] Zimmi48 opened #1089 "CI status isn't consistent with the one showed on GitHub pull requests listing."
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

I have noticed several pull requests that are shown as "CI passed" in Octobox whereas on GitHub only one CI check is green and the others are pending.

🎯 **Goal**

The rule used by GitHub to aggregate status checks is:

- any failing check -> failing
- no failing and any pending

[2018-10-11 20:01] chrisarcand commented on #428
I haven't noticed it recently; though TBH the new logo helps as with less distinct edges it's really hard to tell if it's 'blurry' or not at this point. Closing this, @pradyunsg feel free to reopen something if you find it does still occur.

[2018-10-11 20:01] #428 closed

[2018-10-12 04:00] benortiz commented on #1082
I'm wondering if there's something going on with the local `sans-serif` font that is installed. Could you run `fc-match sans-serif` (assuming you have the `fontconfig` library installed) and see what that returns? Maybe it'll return an unexpected or an uninstalled font.

[2018-10-12 04:04] fxdgear commented on #1082
[code]

[2018-10-12 06:05] prashuchaudhary commented on #452
@BenJam can you please review the design for Snooze Dropdown ??

[2018-10-12 07:53] prashuchaudhary commented on #1089
@andrew I think might not be the issue with Github Status API `combined status flag`.

It might be actually because of `webhooks for Status event`.  Github might be sending status event for each CI check

[2018-10-12 08:18] andrew commented on #1089
@prashuchaudhary good point, we should probably be using the webhook as a hint to update the combined status

[2018-10-12 08:33] andrew commented on #1089
@prashuchaudhary I'll tackle that now

[2018-10-12 09:06] prashuchaudhary commented on #1089
👍

[2018-10-12 10:31] andrew commented on #1089
PR over here: https://github.com/octobox/octobox/pull/1093

[2018-10-12 10:44] #1089 closed

[2018-10-12 12:32] prashuchaudhary commented on #1089
@andrew while doing research over this I found there are 2 types of [Status Checks](https://help.github.com/articles/about-status-checks/)

We have to consider both of them for providing complete Status check

[2018-10-12 13:15] andrew commented on #1089
@prashuchaudhary yeah checks are a slightly different beast, the APIs are only supported for GitHub apps (not oauth apps), I've not used one before but I wonder how the checks combine with existing statuses to show up in the issue/commit list UI

[2018-10-12 15:48] Zimmi48 commented on #1089
My impression (I haven't looked deeply into it) is that Checks add information but still use Statuses to report the main results, thus you should not have to worry about Checks.

[2018-10-13 19:12] 0sc commented on #475
Is this issue still relevant?  I'm looking to try my hands at it.

In the case that it is, I see the code has been updated to:
[code]
which would mean the issue should no longer occur for `new_user_fetch`. Would a suitable fix be to have `fetch_read_notifications` and `fetch_unread_notification` share the value of `MAX_NOTIFICATIONS_TO_SYNC` between them?

[2018-10-13 19:29] 0sc commented on #975
I'd love to try my hands at this. Is it still up for grabs?

[2018-10-13 20:34] andrew commented on #975
@0sc yep, go for it 👍

[2018-10-14 11:30] 0sc commented on #975
Hi @andrew, I got started on this and was modelling the milestones like the labels. But labels currently done follow this relationship:

Should I stick to the current way they are associated?

[2018-10-15 08:47] BenJam opened #1105 "Checkboxes not 'checking' on touch devices"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [x] My instance

🐞 **Problem**
Checkboxes do not 'check' on touch devices sometimes. It seems to happen with the entire row is not within the viewport. Instead of checking the checkbox the checkbox seems to shift between a hover/focus state:

![img_5708](https://user-images.githubusercontent.com/158833/4693987

[2018-10-15 08:59] andrew commented on #1105
I noticed this too, it was introduced with https://github.com/octobox/octobox/pull/1057

I wonder if it's a hover/focus issue where the background colour is being set to white?

[2018-10-15 10:09] BenJam commented on #1087
++ this is one of the first things on the 'automation' things we want to put in.

[2018-10-15 10:29] prashuchaudhary commented on #1105
@BenJam @andrew I just checked this functionality on my Phone (Motorola G5) before merging the issue. I was able to check/uncheck the checkboxes. It is working right now too.

I verified the functionality on other devices provided in the browser responsive mode.

Will check on other physical devices as well

[2018-10-15 13:20] andrew commented on #8
Related issue: https://github.com/octobox/octobox/issues/1087

[2018-10-15 13:45] ForbesLindesay opened #1106 "Supports bot:false"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io

I saw that you added support for viewing only issues that are from bots, but I wanted to do the inverse. I tried setting `bot:false` in the search parameter, but that seemed to do exactly the same thing as setting `bot:true`. I also tried `-bot:true`, but to no avail.

[2018-10-15 13:58] andrew commented on #1106
I initially thought this was a bug, but relabelled as a feature (because there's it's from lack of functionality rather than a bug in the existing code), `bot:false` should definitely should be a thing 👍

[2018-10-16 12:02] BenJam opened #1108 "Show conversation threads for issues"
Quick todo list for myself:

- [x] Add XXL and XXXL mixin for displays
- [x] Render with sidebar shown on /index
- [x] Render with sidebar hidden in /show
- [x] Toggle menu on click of subject to thread view and hide menu
- [x] Back button should not be back
- [x] Add btn styles for merged et al
- [x] Add PR statuses on threads themselves
- [ ] Update currentlySelectedRow in line with changes in s

[2018-10-16 15:46] boegel opened #1109 "Also show issue/PR numbers together with title"
## 💥 Proposal

### Also show issue/PR numbers together with title

## Motivation

It would be nice if issue & PR numbers would somehow also be visible together with the title, perhaps in a darker font so it stands out less than the title (should be in a small column left of the title imho).

Personally, I feel that I frequently filter by PR number mentally (i.e. long-running issues/PRs stand out b

[2018-10-16 15:53] andrew commented on #1109
I noticed that this was missing a few weeks back and forgot to open an issue about it 👍

Implementation note: The response from the notifications API doesn't have a specific field for the number but we can regex it from the `subject_url` field for notifications where the `subject_type` is `Issue` or `PullRequest`

[2018-10-16 16:45] andrew opened #1110 "Automated actions"
Now that we have [advanced search](https://github.com/octobox/octobox/issues/742), we can start on the next big feature for Octobox: [Notification filters and automated actions](https://github.com/octobox/octobox/blob/master/docs/ROADMAP.md#notification-filters-and-automated-actions-8)

There's a lot of potential scope to this so I'm going to try and break it down into a few parts in this issue.

[2018-10-16 18:12] basejumpa commented on #73
The correct environment variable is (now) `GITHUB_SCOPE`, so w/o an `S`, see

https://github.com/octobox/octobox/search?q=GITHUB_SCOPE&unscoped_q=GITHUB_SCOPE

[2018-10-17 07:36] gep13 opened #1114 "Didn't receive notification about security vulnerability in repository"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

I recently received an email from GitHub about a security vulnerability on a repository that I am an admin on (and also an owner of the organisation that the repository lives in), however, I didn't see an equivalent notification in Octobox.

@andrew mentioned on Twitter that thi

[2018-10-17 07:42] andrew commented on #1114
Did it show up in https://github.com/notifications for you?

[2018-10-17 07:51] andrew commented on #1114
Also check the settings on https://github.com/settings/notifications

[2018-10-17 07:52] andrew commented on #1114
![9711bb5e-3f8f-49a5-bbee-b83565d055d3](https://user-images.githubusercontent.com/1060/47070801-e9820e80-d1e9-11e8-961c-581977f81cd4.jpeg)

[2018-10-17 09:28] gep13 commented on #1114
@andrew no, it didn't show up in Notifications either.

I have just checked my settings, and looks like I didn't have Web selected in the Vulnerability Alerts section, only the UI Alerts.

So, looks like this was an error on my part.

I will keep an eye on this, and report back if/when another alert comes through.  Thanks for your help!

[2018-10-17 09:32] andrew commented on #1114
We should add that to the documentation to help other people avoid the same confusion  👍

[2018-10-17 15:55] andrew commented on #8
Work is getting started on this over in #1110 so closing this now

[2018-10-17 15:55] #8 closed

[2018-10-17 17:18] BenJam commented on #1108
Or maybe it should...

At the moment we re-render the whole page for next/previous. Should we try to xhr these in instead? If so we'll need to reset the cursor position.

[2018-10-18 11:45] #453 closed

[2018-10-19 07:23] kiyanwang opened #1124 "After upgrading to Chrome 70 rendering glitch started to appear on hover"
As soon as I hover over my mouse over the search box, the UI seems to magnify and distort:

![fullscreen_19_10_2018__08_19](https://user-images.githubusercontent.com/1135464/47203370-ff253e80-d377-11e8-9d25-cf99dee91b26.png)

This was working fine yesterday, I did upgrade to Chrome 70 this morning and that's when I noticed this but that might be coincidental.

** update **

In fact this happens wh

[2018-10-19 09:31] andrew commented on #1124
Wow that’s a weird one, is that Mac, Linux or windows?

[2018-10-19 12:41] lannonbr opened #1125 "Repo which added Github Repo has some new features but not others"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
the Microsoft/vscode-docs now has the GitHub app installed to it, and it has the status as you can choose the filter of open/closed/merged, but as seen in the screenshot below, the icon is still black and I don't see the PR author:

![screen shot 2018-10-19 at 8 34 05 am](https:/

[2018-10-19 13:28] andrew commented on #1125
Investigating this now, thanks for reporting!

[2018-10-19 13:55] andrew commented on #1125
@lannonbr looks like there's a race condition in the syncing of subjects for newly installed repositories, I've manually kicked off a sync for all the vscode repos, extra information should start showing up shortly.

Now to fix the race condition 😅

[2018-10-19 13:57] andrew commented on #1125
Also very cool that Microsoft are using the Octobox GitHub App 🎉

[2018-10-19 19:48] gep13 commented on #1124
@kiyanwang @andrew I have the same combination of:

* operating system
* chrome
* using octobox.io

but I am not seeing this happen.

[2018-10-19 19:52] gep13 opened #1133 "Can we turn off the "Get more info for this Issue" prompt"
## 💥 Proposal

### What feature you'd like to see

I would like the ability to turn off the reminder/prompt to install the GitHub application:

![image](https://user-images.githubusercontent.com/1271146/47240536-80182080-d3e0-11e8-8fe1-9f99e3adbf1d.png)

## Motivation

I have already installed the GitHub App for all the repositories that I can, as there are some that I am not able to.  I don't nee

[2018-10-19 19:54] andrew commented on #1124
I can't seem to replicate this either, @kiyanwang have you tried all the usual turning it off and on again things?

[2018-10-20 07:34] hakusaro commented on #1133
Not only that, but it's worth killing off the "install the app" banner in the user bar too.

[2018-10-20 10:43] andrew commented on #1125
PR to fix the race condition for future installers here: https://github.com/octobox/octobox/pull/1135

[2018-10-20 21:49] hakusaro commented on #1133
I sent a wip pr for this issue in #1136. If I've gone in the right direction I'll add some tests and see if I can get this upstreamed rapidly. :)

[2018-10-21 23:24] liftM opened #1137 "[question] Why do I need to install the GitHub App on public repositories?"
For issues and pull requests on public repositories, I'm prompted to install the GitHub App in that repository to pull in extra metadata. (Obviously, I can't do this for repositories I don't own.)

Why does Octobox need this? Is this information unavailable through the public API for public repositories?

[2018-10-22 12:06] thomas-illiet opened #1138 "Install Octobox in Centos 7 server"
Hello guys :)

In tried to install Octobox on a server Centos 7 !

when i start the application i have this screen :
![image](https://user-images.githubusercontent.com/2133666/47291222-1f1c6280-d603-11e8-9aa7-6cbe8e56538f.png)

And i have this in the console :
[code]

To solve this problem I try to use the older version of Octabox or reinstall centos server....

Do you have an idea for this proble

[2018-10-22 12:55] andrew commented on #1138
I think you need to update the version of node.js on your server, our docs are pretty lacking on that requirement.

[2018-10-22 13:43] thomas-illiet commented on #1138
THx @andrew  !

to install octobox in centos :

[code]

thx

[2018-10-22 13:43] #1138 closed

[2018-10-22 15:41] BenJam opened #1140 "Use Open Collective GitHub names for orgs"
`opencollective.rake` needs updating to use the (new) organisation GitHub id from: https://github.com/opencollective/opencollective-api/pull/1479

[2018-10-22 18:35] andrew commented on #542
A possible work-around posted on twitter, although I suspect it won't work for GitHub Oauth as you can't put github.com in an iframe: https://mobile.twitter.com/j_mcnally/status/1051720250402717697

[2018-10-23 10:09] gep13 opened #1142 "Add ability to show/hide action buttons"
## 💥 Proposal

### What feature you'd like to see
Allow the user to control which action buttons are shown

## Motivation

Du, in part to some sort of muscle memory, or assumption, on my part, I sometimes find myself clicking the mute action button, when I don't mean to.  I would love the ability to choose in the user settings screen whether a particular action button should be shown or hidden.  T

[2018-10-23 13:37] Zimmi48 opened #1144 "HTML comments shown when hovering."
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

When hovering over a notification we get the beginning of the first new comment. If this comment contains HTML comments (like in an issue template), we see them.

🎯 **Goal**

I think these HTML comments should be masked.

[2018-10-23 14:40] Zimmi48 commented on #1144
https://i.imgur.com/11Rj2x0.png

[2018-10-23 14:52] andrew commented on #1144
Thanks! So you'd like to see only the text result after html is rendered, rather than just stripping out html characters, i.e. `` should disappear rather than become `comment`

[2018-10-23 15:00] Zimmi48 commented on #1144
Indeed!

[2018-10-23 16:16] senid231 opened #1145 "sync doesn't work on octobox.io"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
I click sync  button on https://octobox.io/ but it still shows message
`Last sync: about 19 hours ago` and no new notifications appeared
but I see that I have new notifications on https://github.com/notifications

🎯 **Goal**
I want my new notifications to be shown on octobox.io w

[2018-10-23 16:22] thomas-illiet opened #1146 "Howto debug GitHub App login ?"
Hello guys :)

I would now like to install "Github App" on my Otobox instance 👍

I'm having trouble connecting to the app Github ( Enterprise ) :

![image](https://user-images.githubusercontent.com/2133666/47375046-ad6e1280-d6ef-11e8-915c-8cdcfbe0609a.png)
![image](https://user-images.githubusercontent.com/2133666/47375409-79dfb800-d6f0-11e8-85d1-142e0423715e.png)

You can find bellow a configurat

[2018-10-23 16:40] thomas-illiet opened #1147 "Bad "app_url" for my github Enterprise"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
I my organization Github enterprise app base url is not "apps", to resolve this i change this :
https://github.com/octobox/octobox/blob/d041c22c2353e539b4bd23e8683e3b51448d54e3/lib/octobox/configurator.rb#L134
 to :
[code]

![image](https://user-images.githubusercontent.com/21336

[2018-10-23 16:54] thomas-illiet commented on #1146
And i have this in console :

[code]

[2018-10-23 17:00] cmluciano commented on #1145
+1 issue is happening for me too.

I wonder if there is a weird notification sync problem due to the GH outage that happened over the weekend.

[2018-10-23 17:17] andrew commented on #1145
@senid231 @cmluciano it looks like we had some trouble overnight as a result of the GitHub outage, I've flushed the redis queue and restarted the sync jobs now which should fix your issue.

[2018-10-23 17:21] andrew commented on #1147
Thanks for reporting that, I've not had access to an enterprise install to test the GitHub app setup.

[2018-10-23 17:33] andrew commented on #1147
@thomas-illiet PR here: https://github.com/octobox/octobox/pull/1148

[2018-10-23 17:39] thomas-illiet commented on #1146
Hey @andrew ,

you can find below Github App Configuration :

![image](https://user-images.githubusercontent.com/2133666/47379124-4e61cb00-d6fa-11e8-9419-7ab17f2d1957.png)
![image](https://user-images.githubusercontent.com/2133666/47379103-4570f980-d6fa-11e8-86af-cb220414cd6e.png)
![image](https://user-images.githubusercontent.com/2133666/47379175-7a7d4c00-d6fa-11e8-8adf-6b7727a65f55.png)
![image]

[2018-10-23 17:40] thomas-illiet commented on #1147
Perfect 👍

[2018-10-23 17:43] thomas-illiet commented on #1146
for your information, i use Nginx for my frontend :

[code]

[2018-10-23 19:55] #1147 closed

[2018-10-24 07:44] senid231 commented on #1145
@andrew thanks. All works fine now

[2018-10-24 07:44] #1145 closed

[2018-10-25 05:58] kiyanwang commented on #1124
@andrew

I did some further testing, and found several tools I use that have hover based interactions were all exhibiting the same behaviour.

restarting chrome didnt fix the problem.

rebooting however did.

have no idea what caused this, but thank you for your patience.

[2018-10-25 05:58] #1124 closed

[2018-10-25 12:15] thomas-illiet commented on #1146
hello @andrew :)

Do you have more information for this ?

[2018-10-26 11:12] thomas-illiet commented on #1146
Fixed in PR : https://github.com/octobox/octobox/pull/1154

[2018-10-26 11:12] #1146 closed

[2018-10-26 16:07] andrew commented on #1146
Sorry for the delay, I’ve been away at a conference, glad you sorted this out, thanks for the pull request

[2018-10-27 12:32] chaserx commented on #1109
Hi. 👋 I think I have a fix for this by adding to notifications_helper. #1156

[2018-10-28 10:45] RX14 opened #1157 "Favicon is invisible on a grey background"
The standard dark theme of firefox has exactly the same background colour as the foreground colour of the favicon, rendering the icon invisible unless hovered over.

![](http://owo.sh/f4af75.png)

![](http://owo.sh/eb7886.png)

[2018-10-29 11:20] RichardLitt opened #1159 "Text on homepage should be limited to 80-120 chars per line for readability"
I want to suggest that you keep the text limited to around 80~ characters per line, but I was unsure where to suggest this. Where is the sourcecode for the website? There was no `gh-pages` branch that I could see in this repository, so I am unsure.

Feel free to close if I've misfiled this. :)

[2018-10-29 12:57] andrew commented on #1159
This is the correct repo, the homepage for Octobox.io is the same as any other instance of this repo

[2018-10-29 14:55] RichardLitt commented on #1159
Ah! You're right! I misread something, somewhere. Thanks. In that case, renaming this issue.

[2018-10-29 15:53] BenJam commented on #1159
I completely agree and have this in mind for a re-implementation of the homepage which I'll get to asap.

[2018-10-29 15:57] BenJam commented on #1157
Errr... is there any way to detect whether the browser is running in dark mode so we can render a light one?

[2018-10-29 16:53] RX14 commented on #1157
I don't think there is. Most sites use some kind of background or border on their logo to avoid this.

[2018-10-29 17:05] andrew commented on #1157
Maybe we can just make it pure black, like the GitHub logo?

[2018-10-29 17:14] RX14 commented on #1157
The github logo also looks pretty bad on a dark background. But not invisible.

![](http://owo.sh/810245.png)

[2018-10-29 21:34] jhsu802701 opened #1162 "Visual integration test errors"
So far, I've downloaded the source code and figured out most of the setup needed.  For several of the visual integration tests, I'm getting the following error:
[code]
What am I missing?

[2018-10-29 21:45] andrew commented on #1162
That’s a weird one, I’ve not tried the visual tests locally for a couple weeks, will see if I get the same error first thing tomorrow when I’m back at my computer

[2018-10-29 21:47] andrew commented on #1162
This could be related to the version of geckodriver you have installed https://stackoverflow.com/a/52420400/120434

[2018-10-29 21:51] jhsu802701 commented on #1162
Which version of geckodriver is the correct one?  I'm using v0.22.0 because it's working in the Travis environment.

[2018-10-30 10:56] BenJam commented on #1108
<img width="1285" alt="screen shot 2018-10-30 at 10 49 36" src="https://user-images.githubusercontent.com/158833/47713540-77221d00-dc32-11e8-9a5e-4570808247d7.png">

Getting there

[2018-10-30 14:46] andrew commented on #1133
I'd prefer to avoid adding more check boxes to the settings page.

I think we also need to take a different approach to solving https://github.com/octobox/octobox/issues/1133, just turning off all prompts doesn't really work to help get Octobox.io to become a sustainable open source project, which the GitHub app will be the main source of income.

The way I'd like to change the behavior of the pop

[2018-10-30 14:59] andrew commented on #1162
@jhsu802701 I got the same error as you initially, then I noticed that firefox has popped up an update screen, I quit and restarted it and then the tests passed the second time on mac.

[2018-10-30 15:09] andrew commented on #1142
I'm not a fan of adding more options to the settings page, if accidental muting is a problem perhaps adding a confirmation would be a better wait to avoid accidental muting, at least until proper undo is implemented?

[2018-10-30 15:22] andrew commented on #1137
Only the hosted instance at https://octobox.io has this restriction, if you run your own copy of Octobox you can enable `FETCH_SUBJECT` then it will pull public information for issues, pull requests etc

I'm hoping to remove the restriction on Octobox.io soon but the increased cost of syncing all those extra resources for thousands of people is holding us back at the moment.

[2018-10-30 15:22] #1137 closed

[2018-10-31 07:58] gep13 commented on #1142
@andrew I would be equally happy with a confirmation prompt 😄

[2018-11-01 14:52] #1108 closed

[2018-11-01 18:02] Tyriar opened #1178 "Selected item is all messed up"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
It's difficult to know what item is selected, looks like weird graphical glitches.

I was on Chrome 70/macOS but I don't think the issue is related to the platform. I've been seeing this for I think around a month. Sometimes the selection doesn't change at all, sometimes it does.

[2018-11-05 12:21] andrew commented on #1133
https://github.com/octobox/octobox/pull/1183 will hide the message in the header once a user has authorized the GitHub app, even if they haven't installed it on any of their repos

[2018-11-05 14:56] chinesedfan opened #1185 "Seems failed to sync"
### Summary of Problem

(Please answer all 3)

- What are you trying to do?

Clicked `Sync` in the website.

- What happens?

Only notifications of last month. And seems the first notification starts with a blue border, which means unread?

![image](https://user-images.githubusercontent.com/1736154/48004986-40299b00-e14d-11e8-9bed-a091717d936b.png)

- What should have happened?

Show latest notifi

[2018-11-05 16:00] BenJam commented on #1159
@RichardLitt feel free to take a look at #1187 and let me know whether it meets your discerning expectations :)

[2018-11-05 16:31] BenJam commented on #1162
the visual tests can be a little squiffy, might be best just to remove them soon.

[2018-11-05 16:46] andrew commented on #1178
I’m tempted to go back to standard checkboxes, those bootstrap ones are so unstable

[2018-11-06 08:24] pradyunsg opened #1189 "Help: Trouble updating octobox due to migration errors"
It seems I'd disabled autodeploy from my fork's master branch to my personal octobox instance.

### Summary of Problem

- What are you trying to do?

Update my heroku deployement of Octobox.

- What happens?

It fails to deploy due to a migration error.

- What should have happened?

The deployment should have occured smoothly.

### Steps to Reproduce the Issue

I'm not sure. I think it occurs sin

[2018-11-06 08:35] maxandersen commented on #406
i just want to second this - or at least have a link to goto relevant page on github to do the unsubscribe.

I over time now have hundreds of repos i'm subscribed to just because I was (or is) admin on the org level - for now I have survived by scripting me out of subscriptions. would be nice if octobox would let me just click a button and forget instead ;)

[2018-11-06 12:05] andrew commented on #406
Agreed, I think it makes sense to add this into Octobox now so reopened 👍

[2018-11-06 14:09] ahmadnassri opened #1192 "select a sequence of items by using shift key modifier"
## 💥 Proposal

### What feature you'd like to see

allow for selecting multiple items at a time using the `shift` key as a modifier, similar behavior exists in gmail and may other applications

## Motivation

augments the "select all" feature, and allows for subset selection of items, and easier group actions (mark as read, etc ...)

## Pitch

main reasoning: increase productivity for advanced use

[2018-11-06 14:13] ahmadnassri opened #1193 ""delete selected" button (+ keyboard shortcut) does nothing"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
using the "delete selected" button grays out the items, but does not actually delete anything

🎯 **Goal**
N/A

💡 **Possible solutions**
N/A

📋  **Steps to solve the problem**

 * go to archive
 * select one or multiple items
 * click "delete selected"
 * items are grayed out, but

[2018-11-06 14:15] ahmadnassri opened #1194 "delete action should have a confirmation step"
## 💥 Proposal

### What feature you'd like to see
when deleting items, prompt the user to confirm the delete action

## Motivation
delete is a destructive action, and thus should be confirmed with the user in case of accidental clicks of buttons or keyboard shortcuts

[2018-11-06 15:08] Murderlon opened #1195 "Deselect items after action"
## 💥 Proposal

### What feature you'd like to see
As a user, I expect the items I selected to be deselected when I successfully performed an action (e.g. "Mark as read").

## Motivation
It's a more common pattern on the web and I'd argue that the 80% use case don't need to perform a second action on the same selected items.

## Pitch
As a user, it's tedious to click the 'select all' checkbox twice

[2018-11-06 17:31] andrew commented on #1192
This functionality should already exist, if it’s not working for you then it may be broken, also we should better document it 😅

[2018-11-07 00:36] ahmadnassri commented on #1192
yeah, then the feedback is it's not working for me :) what info can I provide to help better debug it?

[2018-11-07 09:56] #1159 closed

[2018-11-07 13:48] RichardLitt commented on #1159
Looks much better to me. :) Thank you, @BenJam. Sorry for the delay!

[2018-11-09 11:17] pradyunsg commented on #1189
Some help please? 🙈

[2018-11-10 09:06] pradyunsg commented on #1189
https://github.com/octobox/octobox/pull/709/files#diff-89b846a35a03ef45eadd715bc7de1d8b

I just manually reverted the migrations.

[code]

I feel dirty. :/

[2018-11-10 09:07] pradyunsg commented on #1189
Okay, deployment successful. Sorry for the noise. :)

[2018-11-10 09:07] #1189 closed

[2018-11-10 09:31] pradyunsg commented on #1013
@andrew @BenJam Hi again! I've been AWOL due to real life! :)

Any suggestions on how we can move forward here? Maybe we need to direct some Octobox users to provide feedback here; I'm thinking maybe a tweet would help get some attention here. :P

[2018-11-11 16:56] ahmadnassri commented on #1193
what info can I provide to help debug this further?

[2018-11-11 16:57] ahmadnassri commented on #1192
@andrew I've been attempting a few things to get this working, seems like if I double click it *sometimes* works, but also selects a whole block of the DOM (as per normal browser behavior)

I can record a screencast and share of the behavior if that's helpful ... any other info I can share to help fix this?

[2018-11-11 17:05] ahmadnassri commented on #1157
New standard is registered on W3C in [Media Queries Level 5](https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme).

NOTE: currently only available in [Safari Technology Preview Release 68](https://developer.apple.com/safari/technology-preview/release-notes/)

In case user preference is light:

[code]

In case user preference is dark:

[code]
There is also the option no-preference in case

[2018-11-11 18:49] RX14 commented on #1157
@ahmadnassri is there any way to change the favicon using CSS though?

[2018-11-12 09:56] BenJam commented on #1140
Pref move to synchronous payment https://github.com/opencollective/opencollective/issues/1402#issuecomment-436570581

[2018-11-12 11:20] andrew commented on #1193
@ahmadnassri sorry I've been away for a week, will investigate this within the next couple days

[2018-11-12 11:52] pradyunsg commented on #1194
While I think a dialog based prompt would be a nice solution, I think it might be nicer to see this as a part of #741 when that happens.

[2018-11-12 11:55] andrew commented on #1194
@pradyunsg undo is definitely nicer but much more involved, adding a dialog will help until we finally get to implemeting #741

[2018-11-12 12:31] #1125 closed

[2018-11-12 14:36] BenJam commented on #1114
The documentation kinda already says it but I'll add something now with an updated image:

<img width="739" alt="screenshot 2018-11-12 at 14 32 38" src="https://user-images.githubusercontent.com/158833/48353900-6046e600-e688-11e8-9325-eaaa30f4190e.png">

[2018-11-12 14:56] #1133 closed

[2018-11-12 16:06] BenJam commented on #1178
yup, that's a bit of a mess. Tried tying the border to the TR with no avail. GOing to have to back out twbs checkboxes.

[2018-11-12 20:55] ringods commented on #1013
I also favour the current layout for the reason above.

[2018-11-12 23:50] pradyunsg commented on #1178
Is there some other kind of checkbox that can be used instead of plain checkboxes?

[2018-11-13 17:26] pradyunsg commented on #1110
Something else that would be useful would be time-based/age-based triggers - if a notification is older than 2 months days old, read and unstarred, delete it.

[2018-11-14 09:34] vvo commented on #1067
Hi @andrew just having this bug again:
![2018-11-14 10 22 45](https://user-images.githubusercontent.com/123822/48473525-eaae5780-e7f8-11e8-9d27-8b6d89859da0.gif)

[2018-11-14 14:48] BenJam commented on #1083
got this covered now ta.

[2018-11-14 15:09] BenJam commented on #1178
I've got a local branch that backs out the twbs styled checkboxes and I still have this glitch...

[2018-11-14 16:14] BenJam commented on #1067
I can see your last refresh was yesterday and your recent page requests, but no recent sync requests. Have you tried re-authenticating as before? I can't see anything that looks off at the moment.

[2018-11-14 16:16] BenJam commented on #1194
devil's advocate: remove delete function 🤲

[2018-11-14 16:29] vvo commented on #1067
I just removed octobox oauth/app access everywhere and added it back again, but still the same. Everytime I click on sync it just does not do anything (I am used to have "Last sync" be updated when I click on that..)

[2018-11-14 16:52] andrew commented on #1067
@vvo I believe the same problem happened as before, our redis instance ran out of ram last night due to an influx of new users and your account got stuck in the unique-jobs list despite never actually completing a sync. I cleared that out again and kicked off a sync for your account and will be investigating ways of ensuring this doesn't happen again.

[2018-11-14 17:03] BenJam opened #1222 "Implement synchronous donation journey"
Looks like we can create something on par with the GH marketplace journey using https://github.com/opencollective/opencollective/issues/1402

Would need to:

- [ ] log the user in
- [ ] check the current, repeating donations for the user
- [ ] show the user their current donations on an interstitial with a button to:
- [ ] redirect to opencollective and create a new repeating donation for the addi

[2018-11-14 20:35] pradyunsg commented on #1193
I can confirm.

[2018-11-15 09:29] vvo commented on #1067
Seems to be good now, thanks!

[2018-11-15 09:29] #1067 closed

[2018-11-15 10:21] #1114 closed

[2018-11-15 10:39] andrew commented on #1185
@chinesedfan sorry about that, we had an issue with our redis database, more details here: https://github.com/octobox/octobox/issues/1067#issuecomment-438734606

Looks like your account is syncing correctly now

[2018-11-15 10:39] #1185 closed

[2018-11-15 11:08] #1083 closed

[2018-11-15 11:08] #1195 closed

[2018-11-15 14:56] #1194 closed

[2018-11-15 15:07] andrew commented on #1193
PR here: https://github.com/octobox/octobox/pull/1229

[2018-11-15 15:07] andrew commented on #1194
Just merged a pr to fix this: https://github.com/octobox/octobox/pull/1228

[2018-11-15 15:15] andrew commented on #1142
PR over here: https://github.com/octobox/octobox/pull/1230

[2018-11-15 15:20] #1142 closed

[2018-11-15 15:32] andrew commented on #1192
Looks like this was broken when https://github.com/octobox/octobox/pull/1057 was merged, just working out how to unbreak it

[2018-11-15 15:51] andrew commented on #1192
PR to fix over here: https://github.com/octobox/octobox/pull/1231

[2018-11-15 15:53] #1192 closed

[2018-11-15 16:26] jhsu802701 commented on #1162
No, but I haven't really had the time to pursue this further since I last posted here.

[2018-11-16 10:08] BenJam opened #1233 "Clarify pricing"
Few problems with the pricing:

* free plan includes 'limited' private repo access
* paid plans add 'enhanced' private repo access
* Should describe what 'enhanced' means (status. CI, labels, authors)
* Should maybe clarify that subscriptions are per organisation or individual*

[2018-11-16 10:10] BenJam commented on #1233
- [ ] clarify on the homepage
- [ ] clarify on /pricing page
- [ ] edit marketplace listing
- [ ] ?add a section in the documentation

[2018-11-16 11:55] #1109 closed

[2018-11-16 12:01] andrew commented on #1178
I can't replicate this in Firefox or Safari but I can see it happening in Chrome

[2018-11-16 12:04] boegel commented on #1109
Thanks a lot for taking care of this @chaserx!

[2018-11-16 12:30] andrew commented on #1178
Not exactly sure why, but the problem doesn't happen if the border is only 1px wide (it still happens if you make it three pixels wide), PR here: https://github.com/octobox/octobox/pull/1235

[2018-11-16 12:46] #1178 closed

[2018-11-16 13:50] chaserx commented on #1109
@boegel No problem. I'm happy to help. Thanks for creating the issue.

[2018-11-16 13:57] #1233 closed

[2018-11-16 15:30] BenJam commented on #1222
We get to set the transaction amount and type (single, repeat) so we can take the existing, repeat subs and 'top up' the amount. I would say ignore the recent,. single donations as they will end up with us dropping users at the end of the month when that single donation rolls off.

[2018-11-16 15:31] BenJam commented on #1140
note: should include a dialog that makes sure the user includes their personal/organisations GitHub account, not that OC have added it.

[2018-11-16 17:12] crazy-max opened #1242 "Import issues"
## 💥 Proposal

### What feature you'd like to see

Would be nice to import issues!

## Motivation

Octobox is a very nice dashboard with comprehensive backlog. But some issues are not imported if there are no notification while the account creation.

## Pitch

For example we could import from an inputbox with this content `crazy-max/WindowsSpyBlocker#1`.
Maybe we could also subscribe to this issue

[2018-11-18 10:26] bastilian opened #1247 "Alternative layouts when opening threads in ocotbox is enabled"
## 💥 Proposal

### What feature you'd like to see
It would be nice to have alternative layouts to the side pane when threads are enabled in ocotobox.
One alternative could be to simple move the thread-pane to the bottom and/or make it more "modal" and open it only when a notification is opened.

Another solution could be to have threads inline within the notification list, similar to how some RSS

[2018-11-18 21:33] gep13 commented on #1114
@BenJam @andrew just wanted to follow up with this to say that I got a new security vulnerability through Octobox recently, so it is indeed working :+1:

[2018-11-18 21:33] gep13 commented on #1142
@andrew sweet!  Thanks for getting this added!

[2018-11-18 22:48] jryans opened #1254 "Load event data without using GitHub App"
## 💥 Proposal

### What feature you'd like to see

I would like to be able to load the "enhanced notification" data without requiring the GitHub App for this.

## Motivation

In my [comment](https://lobste.rs/s/14jg2c/untangle_your_github_notifications_with#c_tvfbjz) on Lobsters, I thought Octobox did not support additional data like CI status, etc. for issues and PRs, but in fact it does... it ju

[2018-11-19 05:29] andrew commented on #1254
@jryans if you run your own instance of Octobox you can set [`FETCH_SUBJECT=true`](https://github.com/octobox/octobox/blob/master/docs/INSTALLATION.md#downloading-subjects) which will add `repo` scope to the oauth app login, enabling Octobox to sync extra data from issues and pull requests, including CI status.

The main thing you loose not using a GitHub App is the webhook to get notified of when

[2018-11-19 09:29] jryans commented on #1254
Aha, thanks for the quick reply! I'll give these things a try. 😁 Sorry for not looking at the docs more closely; I wasn't expecting it to be covered by an installation option.

[2018-11-19 09:29] #1254 closed

[2018-11-19 10:44] BenJam opened #1255 "Moar threads"
Since #709 has been in beta few people have enabled it. Let's put a little more effort into it, enable it by default and see what the reaction is. Some thoughts below:

### Fixing what is there
- [x] make sure the order is by datetime https://github.com/octobox/octobox/pull/1270
- [x] clean up the UI and separate the thread window
- [x] fix responsive breakpoints so that it doesn't swap between re

[2018-11-19 10:45] BenJam commented on #1255
For anyone reading this who is thinking 'what is he on about?' go to settings and select 'on octobox' from the 'view threads' menu.

[2018-11-19 10:47] andrew opened #1256 "Issue comments aren't always synced"
There's a "fun" edge case caused by the lousy notifications API that means we aren't downloading recent comments when syncing, even if we hear about them via a web hook.

The problem is that a comment added to an issue doesn't update the `updated_at` field in the notifications API on GitHub, so we skip trying to sync the subject because it looks like it's up to date.

Also the webhook for issue co

[2018-11-19 10:50] andrew commented on #1255
I believe that commenting and reacting will require changing the permissions of the GitHub app to "Issue write" and "Pull Request write"

[2018-11-19 10:53] BenJam commented on #1247
Opened up that there issue for you. Also I just noticed that the intended 'peekaboo' sidebar on smaller (L, XL) has been edited out... So I'll take a look at that soon too.

[2018-11-19 11:35] andrew commented on #1247
Might be an interesting experiment to remove much of the extra details from the notifications table when the thread pane is visible

[2018-11-19 11:45] andrew commented on #1255
Visually, how about properly dividing the columns by a border from top to bottom? It looks a bit weird when you only have a small number of notifications in your inbox:

<img width="912" alt="screen shot 2018-11-19 at 11 43 13" src="https://user-images.githubusercontent.com/1060/48705226-83294b00-ebf0-11e8-8e9a-ec1e257333b4.png">

[2018-11-19 15:33] BenJam commented on #1247
So i remember I did start with the sidebar shown (but responsive) on some screens but then you get over/under render problems so I stopped that mess.

Yeah maybe. Thought this would shift a lot more attn to using the sidebar/search to filter. whereas I can get a good visual filter for repo, author, reason atm.

[2018-11-19 16:42] BenJam commented on #1247
Second idea: combining inline some thread information a la mail clients (again., sketch only):

![slice](https://user-images.githubusercontent.com/158833/48721575-188d0500-ec1a-11e8-9dbe-7d7af0ccac0d.png)

[2018-11-19 16:55] BenJam commented on #1247
Idea three, include thread text in dropdowns within the notifications window (guess what, yes, this is in sketch too)

![slicer](https://user-images.githubusercontent.com/158833/48722433-ed0b1a00-ec1b-11e8-9de5-c8d91e5e2eb0.png)

[2018-11-19 17:05] BenJam commented on #1255
@andrew that footer is really irritating anyway. I wonder whether it should be pushed to the bottom of the whole page which I would prefer to having at the bottom of the window.

[2018-11-19 17:36] andrew commented on #1255
I’d prefer to move it completely out of the way, perhaps in an “about” item in the drop down top right?

[2018-11-19 18:20] coreyja commented on #1254
@andrew I am running into a similar issue and wanted to try commenting here, before I made my own Issue!

I am running Octobox on my own instance, and for most of the same reasons @jryans mentioned, I am using a Personal Access token for the oauth, so that it can access the Repos that are owned by the organization.
I also have the `FETCH_SUBJECT=true` flag, and it was working beautifully before th

[2018-11-19 20:08] andrew commented on #1254
@coreyja that sounds like the personal access token isn’t being used where it should be, a code path that I’ve not tested much, can you bump that comment to a new issue as I’d say it’s a bug

[2018-11-19 20:21] coreyja opened #1261 "PR 'Metadata' not being pulled with Personal Access Token, when Github App is enabled"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

I am running Octobox on my own instance, and am using a Personal Access token for the oauth, so that it can access the Repos that are owned by the organization.
I also have the FETCH_SUBJECT=true flag, and it was working beautifully before this weekend.

This weekend I 'upgraded

[2018-11-19 20:21] coreyja commented on #1254
Done! Copied to its own issue here! https://github.com/octobox/octobox/issues/1261

[2018-11-19 21:16] andrew commented on #1261
Pretty sure the logic needs to be added/changed to this method:
https://github.com/octobox/octobox/blob/master/app/models/subject.rb#L140

This issue could be that app_tokens are preferred in this method
https://github.com/octobox/octobox/blob/master/app/models/user.rb#L101

[2018-11-19 23:46] coreyja commented on #1261
Ok! So took a very quick glance and I think this should be relatively easy to get patched! Right now you are picking the Github App version of the tokens, if one exists. I think what we might want to do is check if the associated `Repository` has the `app_installation_id` before we use the token. And fall back to the `effective_access_token` if the Repo is not attached to an App!

I will try to ge

[2018-11-20 11:26] BenJam opened #1267 "highlight 'pin this search' when a search is presented"
When the search does not specify an item in the LH menu then 'pin this search' should be highlighted. i.e. on screens like this:

![screenshot 2018-11-20 at 11 15 42](https://user-images.githubusercontent.com/158833/48770672-0dd47d80-ecb7-11e8-836b-f6b97fabb256.png)

[2018-11-20 15:31] BenJam commented on #1247
@andrew anything to add?

[2018-11-20 15:58] BenJam opened #1273 "Help people understand the difference between Sign in and Install the app"
Following from https://mobile.twitter.com/_alanshaw/status/1064485257901236224

Some ideas:
* move the 'sign in' button to top left. which makes it more like a log in journey/
* make the 'install the GH app' more about the extra 'enhanced' notifications piece, adding further detail (and images) to the 'enhanced' bit OR
* Put some detail in the 'get more info about this notification' dialog, incl.

[2018-11-20 18:40] BPScott opened #1275 "Middle click should mark as read"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

Clicking a notification opens it in a new tab (focusing that tab) and marks it as read. cmd+clicking a notification opens it in a new tab (in the background) and marks it as read. This is all good.

However my deep-ingrained muscle memory from every other browser interaction is

[2018-11-21 00:40] ahmadnassri commented on #1192
thank you!

[2018-11-21 00:40] ahmadnassri commented on #1193
:clap:

[2018-11-21 00:41] ahmadnassri commented on #1194
:raised_hands:

[2018-11-21 00:43] ahmadnassri commented on #1193
I can confirm the delete button work, though the keyboard shortcut `#` does not seem to work for me (`Linux`, `Google Chrome 70.0.3538.102`)

[2018-11-21 01:04] ahmadnassri opened #1276 "Delete button not visible on query"
The `Delete selected` button is not visible when using queries.

Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

when using the side bar to navigate, the `Delete Selected` button is visible.

when using a query _(even for the same filters)_ the `Delete selected` button does not appear

[2018-11-21 08:41] andrew commented on #1256
I believe that #1257 has fixed this so closing, please comment if it's still an issue for you

[2018-11-21 08:41] #1256 closed

[2018-11-21 08:42] andrew opened #1277 "Viewing a thread doesn't mark it as read on GitHub"
When clicking to view a thread, the notification should be marked as read, at the moment it doesn't do that.

[2018-11-21 10:02] andrew commented on #1275
Thanks for reporting, I think this is related to https://github.com/octobox/octobox/issues/1277

[2018-11-21 10:14] andrew commented on #975
@0sc sorry for the delay, the way labels are set up right now aren't quite correct, there should only be one milestone per repository that subjects can belong to.

[2018-11-21 16:56] BenJam opened #1284 "Highlight security vulnerabilities when they're in the inbox"
In a similar vein to #1267 we may wish to highlight (in red) when a new security vulnerability is present when `unread(this.notificiation)` and `inbox:true`:

<img width="252" alt="screenshot 2018-11-21 at 16 55 21" src="https://user-images.githubusercontent.com/158833/48856428-4440f400-edae-11e8-950e-6fb48acf7dc4.png">

[2018-11-21 17:07] andrew commented on #1284
👀

[2018-11-21 17:18] akoeplinger commented on #1108
I enabled the setting on octobox.io but all notifications still open in a separate tab, is there something else to opt into?

[2018-11-21 17:43] andrew commented on #1108
@akoeplinger do you have the Octobox GitHub app installed on any of your repos? https://github.com/marketplace/octobox

[2018-11-21 17:47] akoeplinger commented on #1108
@andrew yup that was it, thanks :) would be nice to add a note about this next to the setting.

[2018-11-22 10:09] bastilian opened #1285 ""Mark as read" when all selected should uncheck "Select all" checkbox when done"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

When all notifications in a list are selected with the "Select All" checkbox and "Mark as read" is used it does not uncheck it after it completed the action.

💡 **Possible solutions**

"Select All" should be unchecked or items that stay in the list should not be unchecked.

📋  *

[2018-11-23 09:37] andrew commented on #1276
Fixed in https://github.com/octobox/octobox/pull/1287

[2018-11-23 09:53] andrew commented on #1285
@bastilian are you using firefox? I've noticed that selected checkboxes seem to persist in firefox across refreshes in a number of places.

[2018-11-23 09:54] andrew commented on #1285
Also 💯 for including a gif in your bug report 👏

[2018-11-24 16:46] bastilian commented on #1285
@andrew Yeah, the issue is/was in Firefox. I tried #1289, but that did not solve the issue. However adding an `uncheckAll` function to trigger after "Mark as Read" is done does the trick. :) I put it into #1293 and it too has a nice GIF!

It would be nice though if any selection would persist, but atm. most of the times only one action is done on a particular selection.

[2018-11-24 19:00] #1285 closed

[2018-11-26 13:10] NiR- opened #1295 "Octobox shall not start when SECRET_KEY_BASE is too small"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

When `SECRET_KEY_BASE` is too small the authentication works correctly until I got redirected from Github to Octobox: at this stage instead of seeing my inbox, I got redirected to the homepage like an unauthenticated user, but with no error message whatsoever.

In the logs I got

[2018-11-26 13:18] andrew commented on #1295
@NiR- Agreed, it should definitely break early, here's probably the best place to add a check and `raise` an exception: https://github.com/octobox/octobox/blob/master/config/application.rb#L27

[2018-11-26 14:28] akerouanton opened #1296 "Default port 3000 is not used when background jobs are enabled"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
When I enable the background jobs and I don't provide a port via the `PORT` env var, Octobox starts at port 5000, whereas it starts at port 3000 when I disable them (the default port in `config/puma.rb` is 3000). However, when I provide a port it's always followed.

🎯 **Goal**
I

[2018-11-26 14:40] andrew commented on #1296
I’d guess it’s the foreman gem that’s changing that default

[2018-11-26 17:46] andrew commented on #1296
I don’t mind that breaking change if it avoids confusion for more people in the future

[2018-11-26 19:57] Tyriar opened #1297 "Let me configure the left side bar"
## 💥 Proposal

### What feature you'd like to see

I would like one of or a combination of the following:

- The ability to rearrange the left side bar
- The ability to collapse portions of the left side bar
- The ability to remove items from the left side bar

## Motivation

I filter almost exclusively filter by repository, as such the layout currently is pushing the repo filters off the screen o

[2018-11-27 10:30] gep13 commented on #1284
@BenJam ooo, I like it!

[2018-11-27 11:39] afilp opened #1299 "Search partially (not just "words only)"
## 💥 Proposal

### What feature you'd like to see
Search to be partial too, not "word only", maybe by checking a related checkbox: "Words only"
(I did not find a way to do this)

## Motivation
If I search for "CheckboxGroupInput" I do get results that have this word.
If I search for "GroupInput" I do not get results (which is a part of the name).

## Pitch
Sometimes I am not sure about what term t

[2018-11-28 08:47] andrew commented on #1297
The main thing to consider from a development point of view is how the customisations handle new or updated menu items in future releases

[2018-11-28 09:16] benoittgt opened #1304 "Add different bg colors on notifications while navigating in organisation"
## 💥 Proposal

### What feature you'd like to see
I would love to have a better view when I am looking for notifications of a different project in a same organisation.

## Pitch

Here are two proposals:

![screenshot-2018-11-28-at-10 08 472](https://user-images.githubusercontent.com/8417720/49141221-6aa6e800-f2f6-11e8-82f0-cc4e18d81686.gif)

or less visible

![screenshot-2018-11-28-at-10 08 473](h

[2018-11-28 13:04] pepibumur opened #1305 "Favicon customization"
## 💥 Proposal
My org has an internally-deployed version of Octobox. I use that version for all my org-related notifications and the public version of Octobox for my open source repositories. When I have both of them opened, it's very hard to know which one is each one:

<img width="92" alt="image" src="https://user-images.githubusercontent.com/663605/49153328-b87f1880-f315-11e8-9171-183837dfe324.p

[2018-11-28 15:19] pradyunsg commented on #1305
Or an environment variable that provides a working (https) link to the favicon?

Is that a valid way for it to operate?

[2018-11-28 15:39] pepibumur commented on #1305
Environment variable would also work. If it's not defined, it can default to the Octobox favicon.

[2018-11-28 19:10] pepibumur commented on #1305
Cool, I'll try to add the contribution myself 😛

[2018-11-29 07:14] the-ress opened #1308 "Many controls require two taps on iPad"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
On iPad I have to tap most of the controls twice - first tap only focuses it, second tap actually performs the action.

![07bc803b-bbd5-475e-9188-c6cd1963acea](https://user-images.githubusercontent.com/1612377/49205037-0c3d4080-f3ae-11e8-977e-6af16f3eb5d0.gif)

🎯 **Goal**
It won’

[2018-11-29 10:43] andrew commented on #1308
I've noticed this when using the site on my iPhone occasionally too, definitely needs to be fixed, thanks for reporting 👍

[2018-11-30 19:04] webknjaz opened #1315 "Transferred issues ain't properly tracked"
If an issue gets transfered to another repo it gets stuck with its last status forever.

Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

1. This issue is shown as "open" in octobox: https://github.com/aio-libs/aiohttp/issues/3403.
2. It became https://github.com/aio-libs/multidict/issues/307 while being open.
3. Now 3403 does

[2018-12-01 09:12] afilp opened #1316 "Slash ("/") should focus on "Search Box", not show the Help dialog (which is done by "?")"
## 💥 Proposal

### What feature you'd like to see
The Slash ("/") button to focus on "Search Box"

## Motivation
Now, both the "/" and the "?" (which is "shift-/") keyboard shortcuts show the Help dialog. This is not needed and we lose the "/" for the "Search box".

## Pitch
In many other apps (like Gmail, Google Calendar, etc.) the "/" is the shortcut for the "Search Box".

[2018-12-01 12:18] Rodrigue-K commented on #1284
I'm going to work in it.

[2018-12-02 19:03] HipsterBrown opened #1320 "404 when selecting unread notification to read thread"
Probably related to https://github.com/octobox/octobox/pull/240. When viewing unread notifications and selecting one to read the thread, there is a 404 response in the console and an infinite spinner in the thread panel of the UI.

Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

🐞 **Problem**
I suspect the issue is related to the scoping of

[2018-12-03 09:47] afilp commented on #1316
You're welcome. If I may add this here, it is also typical when using the "j/k" for up/down to also have "p/n" for `previous/next`.

![image](https://user-images.githubusercontent.com/7850073/49366102-2732ec00-f6f1-11e8-8223-2688f66f686a.png)

If you feel that this is useful we can have this too and navigate fully using just the keyboard.

Thanks!

[2018-12-03 13:31] #1316 closed

[2018-12-03 13:33] andrew commented on #1316
Just merged a pr by @evexoio that fixes the `/` shortcut and adds the `p/n` shortcuts, deploying to https://octobox.io shortly 🎉

[2018-12-03 16:30] crimsonknave opened #1323 "Marking as read unchecks selection"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

When I mark items as read my selection is unchecked.

🎯 **Goal**

This is a change in behavior and is quite frustrating as I typically mark things as read and then archive them. I now have to select the same items twice to do so.

💡 **Possible solutions**

📋  **Steps to solve th

[2018-12-03 16:49] andrew commented on #1323
It doesn’t exactly fix your bug but I believe that archiving things also marks them as read behind the scenes

[2018-12-03 16:51] crimsonknave commented on #1323
@andrew Hmm, so it does. I swear it didn't before... Is that something that's changed recently?

[2018-12-03 16:58] andrew commented on #1323
It’s been like that for quite a while, perhaps your instance isn’t updated very often?

[2018-12-03 17:44] crimsonknave commented on #1323
Could be, not sure. Anyway, my concern was not leaving a million notifications unread in GitHub, which doesn't happen, so closing. Thanks!

[2018-12-03 17:44] #1323 closed

[2018-12-03 18:43] osdlge opened #1324 "Threads are not working when using docker and github enterprise"
When running through docker-compose I can't get threads to work

Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
I'm running octobox through docker with docker-compose. I've followed all the instructions on https://github.com/octobox/octobox/blob/master/docs/INSTALLATION.md#running-octobox-as-a-github-app to get the github app

[2018-12-04 19:49] osdlge commented on #1324
It looks like the jwt issues were the result of not having a private key for the github app
https://github.com/octobox/octobox/blob/c29b96e60eebd7685aefcfd10972df48029787a8/lib/octobox/configurator.rb#L182

once this was added they went away but I started getting errors saying that redis was unavailable (just the standard connection refused like the service wasn't running)

I modified the docker-c

[2018-12-05 07:08] evexoio opened #1329 "Shift + / doesn't show keyboard shortcuts help modal"
`Shift + /` does not show the keyboard shortcuts help modal

Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

🎯 **Goal**
Make `Shift + /` show keyboard shortcuts modal

[2018-12-05 08:01] #1329 closed

[2018-12-05 10:31] evexoio commented on #1320
@HipsterBrown I can't reproduce this, can you help me with more precise reproduction steps?

[2018-12-05 13:54] evexoio opened #1332 "selecting multiple threads while pressing shift bug"
Unexpected behavior when selecting multiple threads while pressing shift button.

Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

![dec-05-2018 15-49-24](https://user-images.githubusercontent.com/12014839/49517676-6b66ed80-f8a5-11e8-995e-235387012096.gif)

🎯 **Goal**
Make selecting multiple threads more natural.

[2018-12-05 15:15] HipsterBrown commented on #1320
@evexoio This happens for notifications that open threads in octobox.
<img width="1542" alt="screen shot 2018-12-05 at 10 15 14 am" src="https://user-images.githubusercontent.com/3051193/49522906-ab62ac00-f876-11e8-81fc-54db7a0dc9e4.png">

[2018-12-05 15:29] betatim opened #1335 "GitHub API usage estimate"
Is there a way to estimate/count the number of API requests Octobox will make for a given user?

I have a self hosted deployment of 5fea753adf10b8e3b9f3ca514213f4cd7c88cbe9 setup as an OAuth GitHub app just for me (no other users I know of, how would I check?) and in the last two or three days I started hitting the API limit. It took me a while to narrow down what was causing this as I have a few

[2018-12-05 15:37] evexoio commented on #1335
https://developer.github.com/v3/rate_limit/
Does this help?

[2018-12-05 15:47] evexoio opened #1336 "Octobox issue view doesn't redirect to github when "Open" button is clicked"
"Open" button in top of Octobox's issue view doesn't send to github issue url when "open" button is clicked.

Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

🐞 **Problem**
![dec-05-2018 17-43-30](https://user-images.githubusercontent.com/12014839/49524972-6e69da00-f8b5-11e8-9009-434a51e36169.gif)

🎯 **Goal**
Make "Open" Button send to githu

[2018-12-05 15:47] afilp opened #1337 "Pressing "ESC" on the search box could send the focus back to the list"
## 💥 Proposal

### What feature you'd like to see
When pressing "ESC" on the search box the focus should go back to the list.

## Motivation
This is related to this merged PR: https://github.com/octobox/octobox/pull/1322#issuecomment-444525472

## Pitch
This is whay many SAAS do. Thanks!

[2018-12-05 15:47] afilp opened #1338 "Pressing "ESC" on the search box could send the focus back to the list"
## 💥 Proposal

### What feature you'd like to see
When pressing "ESC" on the search box the focus should go back to the list.

## Motivation
This is related to this merged PR: https://github.com/octobox/octobox/pull/1322#issuecomment-444525472

## Pitch
This is whay many SAAS do. Thanks!

[2018-12-05 15:55] evexoio commented on #1320
Still couldn't reproduce, can it be repo-specific?

![dec-05-2018 17-35-45](https://user-images.githubusercontent.com/12014839/49525048-90fbf300-f8b5-11e8-8664-38a7665a0983.gif)

[2018-12-05 16:05] HipsterBrown commented on #1320
@evexoio If you view the unread notifications, then click on a notification, that will reproduce the error. In the search box: "inbox:true unread:true"

Thanks for looking into this. 👍

[2018-12-05 16:25] frangio opened #1339 "Assignee filter isn't working"
I'm experiencing this issue in octobox.io, haven't tried on a local instance.

🐞 **Problem**

I filter by `assignee:frangio` (my username) and I don't see all of the issues that are actually assigned to me on GitHub. It seems to me that only those which I'm following _because_ I was assigned are actually showing up there. So only those which say `Assigned` in the reason column, and not  those with

[2018-12-05 16:46] #1337 closed

[2018-12-05 16:46] andrew commented on #1337
dupe of https://github.com/octobox/octobox/issues/1338

[2018-12-05 16:49] betatim commented on #1335
It tells me what I already know: my API limit is exhausted :) I can't find a way to get GitHub to tell me what/who is using up my API calls. For that you have to go back to the individual apps (I think). Hence trying to get an estimate of what Octobox should be using and/or how to query for what it is actually using.

[2018-12-05 17:05] evexoio commented on #1338
Hey @afilp, I just tried to reproduce this use case and I couldn't. there was no issue with it at all.

[2018-12-05 20:45] evexoio commented on #1320
@HipsterBrown Thanks for clarifying the steps to reproduce the error.
So now I can reproduce the error on octobox.io but not locally.

I can't fix it unless I can reproduce it locally 🤔

[2018-12-05 21:51] afilp commented on #1338
While I am typing inside the search box, I may want to "cancel" and press "ESC" and just continue my navigation. Now "ESC" does not do anything while I am typing inside the Search Box.

[2018-12-06 14:21] HipsterBrown commented on #1320
@evexoio I get that. I'm not sure how to test the in-app threads locally. 🤷‍♂️

[2018-12-06 14:30] evexoio commented on #1320
@andrew is there a way to populate the db with in-app threads?

[2018-12-07 11:44] aelbakry commented on #1275
After having a look at the  [application.js](https://raw.githubusercontent.com/octobox/octobox/master/app/assets/javascripts/application.js); I believe that through the jQuery .which attribute this issue could be addressed properly. The solution I am working on currently looks something like this:
[code]

[2018-12-07 12:16] #1338 closed

[2018-12-10 15:58] jchuerva opened #1348 "Item selection is clear after an action on it"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] My instance

🐞 **Problem**
It looks like now the select item selector is clear after one action is done in the items selected and another action could be performed in the same items.
It used not to be that way. the selector used to remember the items after perform an action on them.

**Sceanrio:**
* Select few unreal items

[2018-12-11 10:12] betatim commented on #1335
When I leave octobox open in a tab for a while (maybe a few hours while working?) I now frequently see "API limits exhausted" error messages in octobox popup :-/

Deploying `master` now to see if that helps.

[2018-12-11 20:52] bitboxer commented on #555
Sadly this is happening again. My firefox opens `/notifications/sync` after I wake it up from sleep. The page just says `We've had a problem at our end.`. So the redirect back to the root is not there anymore.

[2018-12-12 13:49] osdlge commented on #1324
I went through and setup an instance outside of docker (still against our github enterprise env) and threads are not working there either

No errors in the logs at all (they look identical to the logs from https://github.com/octobox/octobox/issues/1324#issuecomment-444233807 but I still get get threads to work

[2018-12-12 14:15] osdlge commented on #1324
Figured it out

https://github.com/octobox/octobox/blob/c29b96e60eebd7685aefcfd10972df48029787a8/lib/octobox/configurator.rb#L186

this needs to be set to true

fyi @NiR-  for https://github.com/octobox/octobox/pull/1141 you may want to include these variables.
fyi @andrew might be worth while also creating a doc that lists all the variables available in https://github.com/octobox/octobox/blob/mas

[2018-12-12 14:15] #1324 closed

[2018-12-14 03:12] jhsu802701 opened #1356 "How do I login in the development environment?"
I can get all the tests to pass in the development environment.  I can start the local Rails server and view the home page in my browser at the localhost address.  However, I am unable to login to the local version of the app and instead get the 404 message.

I've configured the .env file to set the GITHUB_APP_ID, GITHUB_APP_SECRET, and PORT number.  The port number is 3000, and I got my GitHub cr

[2018-12-14 03:48] jhsu802701 commented on #1356
I've tried out the OmniAuth gem on my own.  One of the steps is to add the following line to config/initializers/devise.rb:
[code]

However, this app doesn't have a config/initializers/devise.rb file, so there must be something else I'm supposed to do.

[2018-12-14 22:56] evexoio commented on #1332
@andrew any updates on this one?

[2018-12-14 22:57] evexoio commented on #1336
@andrew any updates 🙇🏻‍♂️?

[2018-12-15 06:30] #1332 closed

[2018-12-15 11:21] devonestes opened #1360 "Mobile multi-select not working correctly"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

On Chrome on iOS, when I go to select multiple notifications to do something to
(like mark as read or mute), I can select, but then the buttons to do something
don't pop up. Only when I select all do the buttons appear.

Screenshots below.

🎯 **Goal**

💡 **Possible solutions**

[2018-12-15 13:22] RX14 opened #1361 "x to select notifications no longer works"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

Pressing `x` to select a notification no longer works.

[2018-12-15 13:38] evexoio commented on #1361
@RX14 I'll be investigating this issue :)

[2018-12-15 15:23] #1360 closed, assigned to nobody

[2018-12-15 16:01] #1361 closed

[2018-12-17 12:17] andrew commented on #1284
This is in progress here: https://github.com/octobox/octobox/pull/1352

[2018-12-17 12:18] andrew commented on #1336
@evexoio I checked out your PR, to me it feels like the whole thread headers should be clickable, trying to hit the external link target on mobile is tricky!

[2018-12-17 19:23] BPScott commented on #1348
I'm running into this too. It'd be great if the old behaviour of retaining prior selections could be restored.

[2018-12-18 12:01] #1348 closed

[2018-12-20 04:03] mbohlool opened #1380 "An assigned PR does not have "assigned" label"
Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

🐞 **Problem**

I have a PR assigned to me:https://github.com/kubernetes/kube-openapi/pull/124
it does show up in the list, but as "mentioned" not "assigned"

🎯 **Goal**

Labeling is most of the reason I started to use octobox. Right labels is important or I won't trust it.

💡 **Possible soluti

[2018-12-20 08:16] evexoio commented on #1380
@mbohlool as I understand, you'll get an assigned label once an issue is assigned to you only, otherwise if its a comment or a mention on an issue you're assigned to, you'll get comment or mention as the label. so I don't really think that's a bug. but maybe it's non expected behavior for you.

maybe we should support multi labels if that's not already there?

[2018-12-20 10:10] andrew commented on #1380
@mbohlool there's a bit of a restriction from the github api when it comes to the "reason" filters, basically that value gets updated to what ever the last reason that you got notified was, i.e. if you get mentioned in a thread after you got assigned to it, then the "reason" will be mentioned.

You should still be able to see all the PRs assigned to you with this link: https://octobox.io/?assigned

[2018-12-20 21:46] evexoio opened #1384 "When does notifications open in thread view?"
### Summary of Problem

- What are you trying to do?
I'm trying to open notification in the thread view in octobox
- What happens?
I get redirected to github notification url
- What should have happened?
thread view open and notification info appear

### Steps to Reproduce the Issue
Go to settings, switch the notifications view to 'Octobox' and go back to inbox, all notifications still open in git

[2018-12-21 01:38] misterikkit opened #1385 "Why does bot labeling require repo scope?"
### Summary of Problem

The [documentation](https://octobox.io/documentation#navigating) for octobox states that bot labeling requires repo access, but the section on supported prefixes states that "bot:true" filters users whos "name ends in '-bot'". If it is based on usernames, why is repo access required? Also, should this be able to work on public repos without repo access?

(Please answer all

[2018-12-21 10:38] BenJam commented on #1385
I believe it's because notification scope doesn't provide author info. Are you able to install the GH app on the org?

[2018-12-21 10:45] BenJam commented on #1384
Confusingly only /some/ notifications will open a thread. Not every notification has a thread (they're called subjectable in code) and sometimes we'll have the notification but we'll have the subject (which contains the comments) in a queue awaiting download. In order to make the behaviour more obvious we place the 'external link' icon next to notifications that'll open in GH instead of Octo.

We'

[2018-12-21 10:46] BenJam commented on #1384
initially I replied about only some notifications opening in GH (which is as it should be at the moment) but then I re-read

Ah.

[2018-12-21 10:49] BenJam commented on #1336
I'll pick this up

[2018-12-21 11:17] BenJam commented on #1356
this is a bit weird, it /seems/ like you've done everything correctly. double check your app id and app secret on GH. We could do a walk-through setup in the new year if you're still having problems.

the test will pass even if your config is incorrect as it's just faking the oauth process.

[2018-12-21 17:03] BenJam commented on #1339
thanks for the issues @frangio and apologies for the delay picking this up. Work on @24pullrequests and my being on holiday has put us back. I think this is probably related to #1380 but we'll take a look if there's anything we can do to work around it. Not sure at the moment.

[2018-12-21 17:06] BenJam commented on #1335
configured a minimum refresh interval? https://github.com/octobox/octobox/blob/master/docs/INSTALLATION.md#configuration-1

[2018-12-21 17:07] BenJam commented on #1277
++

[2018-12-21 17:08] BenJam commented on #1275
if you're able to submit a PR @aelbakry that'd be awesome. else we'll do this as the next phase of the thread-view work in the new year.

[2018-12-21 17:13] BenJam commented on #1320
in-app threads? I assume we mean threads in general. Try setting in .env

[code]

[2018-12-21 17:36] betatim commented on #1335
Yes, set to 9minutes

[2018-12-21 18:30] misterikkit commented on #1385
@BenJam Thanks for the reply. If that's a limitation in the API, then it makes perfect sense. I don't have the authority to add apps to the k8s org, but I can propose it.

[2018-12-28 10:57] Hydrog3n opened #1397 "Check are not align correctly"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

The checkbox are not align correctly in notification list

![image](https://user-images.githubusercontent.com/1223893/50513269-f5663880-0a96-11e9-9ae6-a9f70944810a.png)

🎯 **Goal**

The checkbox as to be align correctly.

📋  **Steps to solve the problem**

I use the docker image

[2018-12-28 11:51] evexoio commented on #1397
@Hydrog3n I can reproduce the bug, will push a fix ASAP

[2018-12-29 18:21] #1397 closed

[2019-01-01 08:42] dependabot[bot] opened #1402 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 10:16] #1402 closed

[2019-01-02 09:49] BenJam opened #1405 "mysql build error"
Setting this up for myself as I just ran bundle install on master and got the following

[code]

Going to try a vanilla install and see if the same happens then fix it myself and update docs if needed.

- [x] uninstalled mysql and reinstalled, still erroring as above
- [x] reinstalled xcode dev tools, still erroring as above

[2019-01-02 10:21] BenJam commented on #1405
error appears in https://stackoverflow.com/questions/43661360/install-mysql2-gem-on-macos-sierra which matches the error here.

[2019-01-02 10:39] BenJam commented on #1405
success. The problem is that Mac OS have replaced openssl with their own tooling. To push openssl ahead you need to add it to your build path. If you installed openssl using hombrew then you can do:

`echo 'export PATH="/usr/local/opt/openssl/bin:$PATH"' >> ~/.bash_profile`

another option may be setting the build flags on mysql2 but i have not tested it:

`bundle config --local build.mysql2 "--wi

[2019-01-02 10:44] BenJam commented on #1405
Hmm it seems like the above was a choice Apple made a long while back. Not sure why this problem popped up in this instance threfore... I haven't amended my PATH var for ages...

[2019-01-02 11:38] BenJam commented on #1304
Hey @benoittgt thanks for the feature request. I wonder whether you could elaborate a little on

Some initial interpretations might be that better means that it's clearer which notifications correspond to which projects. In which case we could solve the problem here my ordering by project > datetime as much as colouring. As is this could be similar to using colours in excel: good in small doses bu

[2019-01-02 11:42] andrew commented on #1405
Did you do a Homebrew update recently?

[2019-01-02 11:46] BenJam commented on #1013
hey @pradyunsg thanks for getting back into this. It sounds like most people prefer the 'one row per notification view' as mentioned by a few above. I think the jetbrains tracker is a bit of a mess at scale:

<img width="1163" alt="screenshot 2019-01-02 at 11 40 20" src="https://user-images.githubusercontent.com/158833/50590583-86685580-0e83-11e9-9c4f-2c6c3a086639.png">

i.e. I dont find those row

[2019-01-02 11:54] BenJam commented on #1405
homebrew updated when i tried the first two fixes.

[2019-01-02 12:18] BenJam commented on #1356
still having issues @jhsu802701? I'll close this issue in a couple of days if there's no reply.

[2019-01-02 12:35] BenJam commented on #1335
this is rather strange. I regularly drop my local db and re-init the lot. I rarely experience this.  Do you have `INCLUDE_COMMENTS` set in your environment?

Pull all the users with `User.all` in `rails c` but I doubt that's the problem.

[2019-01-02 13:58] betatim commented on #1335
not set in the environment variables on heroku.

One thing I've noticed is that this might happen (more often) when I have Octobox open in two tabs simultaneously (by accident).

[2019-01-02 14:05] benoittgt commented on #1304
I think it can be a solution but it is still less clear for me than with color. I think when you have 100 rows you will probably use the dedicated repo view. For me color is helpfull in case like this one

![screenshot 2019-01-02 at 15 00 40](https://user-images.githubusercontent.com/8417720/50595068-431be000-0e9f-11e9-94af-b579846abbdf.png)

Few projects but without a lot of issues or PR. The "ow

[2019-01-02 15:53] BenJam commented on #1405
still not entirely sure why this problem occurred. But we have this for reference and if something similar comes up we'll reopen and implement a fix.

[2019-01-02 15:53] #1405 closed

[2019-01-02 16:23] BenJam commented on #1384
@evexoio I believe the problem here is that you have not enabled comments in your `.env` file. In order to do so you need to include:

[code]

As thread-view is currently in beta those instructions are not in the installation documents. If this isn't the case or you include the above and kick of syncing with:

`Notification.subjectable.find_each{|n| n.update_subject(true); }`

[2019-01-02 16:38] BenJam commented on #1385
This is indeed a restriction that we would love to be able to work around 👍

[2019-01-02 16:38] #1385 closed

[2019-01-02 16:48] #1380 closed

[2019-01-02 17:11] BenJam commented on #1335
@betatim I've dumped by DB and re-synced everything  twice today plus had a tab open with no issues.  Could you give us more details of your setup (browser, public config variables in your .env file) etc?

[2019-01-02 17:15] BenJam commented on #1320
I'll pick this up.

[2019-01-02 17:16] BenJam commented on #1315
urgh: lockstep feature to keep in line with GH :)

[2019-01-02 17:19] BenJam commented on #1305
this would be cool, but not something we'll do ourselves as our focus is on octobox.io atm (as our primary income). Would be good to see if you have the time @pepibumur ⚡️.

[2019-01-02 20:43] misterikkit commented on #1385
Not trying to reopen this issue, but what prevents this from working on public repos? Is it expensive to check, or maybe it would require a bunch of special-case code?

[2019-01-02 21:46] betatim commented on #1335
Env set via heroku config vars:
[code]

In the settings (via the web UI) "Automatic Refresh Interval" is set to 9. No Personal Access Token is set.

There is a cron job (Heroku scheduler) set to run every ten minutes with `rake tasks:sync_notifications` as command.

Deployed version: https://github.com/octobox/octobox/commit/27305ad8d2dda5e4fd245bc39558217079c5f762 on a free heroku dyno.

Firefox

[2019-01-02 21:48] betatim commented on #1335
This seems like a weird thing -> thanks for helping pin point/debug this. I am fairly sure this is some weird config mistake or some such :-/

[2019-01-02 22:22] andrew commented on #1335
@betatim I believe the issue is with the `MINIMUM_REFRESH_INTERVAL` option, I had to disable it on https://octobox.io as the javascript was causing the page to kick of many more sync's than it should.

Can you try removing that ENV var and see if that helps?

[2019-01-02 22:41] betatim commented on #1335
Isn't that setting overridden by me setting "Automatic Refresh Interval" to 9minutes in the config via the web UI?

I'll give it a try.

[2019-01-02 22:50] andrew commented on #1335
Kinda, the automatic refresh interval feature is disabled when you remove the MINIMUM_REFRESH_INTERVAL config, given that you have a cron job setup already you shouldn’t notice much different other than having to manually refresh the page every so often.

[2019-01-03 05:10] jhsu802701 commented on #1356
OK, I'm back on the project, but I'm still having problems.

Here are the things going right so far:
* The command "bundle install" works.
* The command "rails db:migrate" works.
* The command "DISABLE_SPRING=1 RAILS_ENV=test bundle exec rake --trace rubocop db:migrate test :skip_visuals" works.
* I can view the app on the localhost URL at http://localhost:3008/ .  (I'm using Docker but not in the

[2019-01-03 05:35] jhsu802701 commented on #1356
OK, now I'm able to get it working.  The authorization callback URL is http://localhost:3008/auth/github/callback, "GITHUB_APP_ID" should be "GITHUB_CLIENT_ID", and "GITHUB_APP_SECRET" should be "GITHUB_CLIENT_SECRET".  Now it's time for me to change my ID and SECRET values to something else and update my build script to reflect these corrections.

[2019-01-03 05:35] #1356 closed

[2019-01-03 06:13] jhsu802701 opened #1408 "Improve test coverage"
SimpleCov shows 65.97% test coverage overall.  The breakdown is:
* Controllers: 83.99%
* Channels: 0.0%
* Models: 79.62%
* Mailers: 100.0%
* Helpers: 87.23%
* Jobs: 77.12%
* Libraries: 31.93%
* Ungrouped: 88.73%

[2019-01-03 06:14] jhsu802701 commented on #1408
Channels and libraries are the weakest points.  Should I be concerned, or am I worrying too much about nothing?

[2019-01-03 08:06] andrew commented on #1408
Test coverage can always be improved but we have a good amount of high level integration tests that catch most issues.

[2019-01-03 10:56] andrew commented on #1320
I've accidentally fixed this when refactoring some of the threadview controller code: https://github.com/octobox/octobox/pull/1411

[2019-01-03 11:01] #1320 closed

[2019-01-03 12:15] andrew commented on #1408
When I run simplecov locally it's showing 77.93%:

![screen shot 2019-01-03 at 12 14 41](https://user-images.githubusercontent.com/1060/50637277-38218800-0f51-11e9-8c5e-11b9ff7100e2.png)

[2019-01-03 16:04] jhsu802701 opened #1417 "Add a test coverage badge"
A test coverage badge should be added.

[2019-01-03 16:26] andrew opened #1419 "Only download recent comments when syncing threads"
At the moment, every time we sync a subject we download all the comments, even if we already have those. This significantly slows down syncing background jobs for issues/pull requests on very large/active repos.

Instead we should the `since` parameter to only grab new comments since we last downloaded the subject: https://developer.github.com/v3/issues/comments/#parameters

This could also be imp

[2019-01-03 16:36] andrew commented on #1419
Note: it doesn't look like `since` is supported on commit comments but I don't believe it will break anything by passing it either.

[2019-01-03 16:51] andrew commented on #1417
@jhsu802701 we used to have a badge but I removed it 6 months ago as I don't think it's a particularly helpful metric: https://github.com/octobox/octobox/commit/2e416ac778325fb23bab434cef5cc21b2dcce908#diff-04c6e90faac2675aa89e2176d2eec7d8

[2019-01-03 16:51] #1417 closed

[2019-01-03 16:51] #1408 closed

[2019-01-03 16:55] #1419 closed

[2019-01-03 17:13] BenJam commented on #1277
Double checking this: looks like both the HTML element onClick an the jQuery attached actions are firing on Chrome:

![makr-read-thread](https://user-images.githubusercontent.com/158833/50651294-ccecab80-0f7a-11e9-8500-8640092236e8.gif)

[2019-01-04 13:18] BenJam commented on #1277
Just took a look at this in chrome, firefox and safari and each one pings `/notifications/X/markread` and updates the UI (success response). Closing for now but please reopen if needed.

[2019-01-04 13:34] betatim commented on #1335
Is it possible that Octobox makes unauthenticated API requests from my browsers IP? This just occurred to me as the error seems to appear more often when I am not in my own office (but someone else's with potentially many people hitting the API from the same IP because of NAT).

[2019-01-04 13:46] andrew commented on #1277
I’ve definitely experienced this recently, it’s still a bug

[2019-01-04 13:48] andrew commented on #1335
No it does not make any API requests from the browser, all communication with GitHub is made from the server

[2019-01-04 14:36] BenJam commented on #1308
inspecting this now. I have seen it before too.

[2019-01-04 16:41] BenJam commented on #1308
So I've spent the last hour messiing about on this on numerous older and newer iOS devices. I'm half way between 'the hit areas are too small' and let's overide `.click` with `.onMouseEnter` on mobiles.

[2019-01-04 17:52] andrew commented on #1308
@the-ress which version of iOS do you have on your ipad? I also upgraded the version of bootstrap recently and I'm unable to replicate the issue anymore, perhaps it's fixed?

[2019-01-04 18:05] jhsu802701 commented on #172
An example on how to seed a database of an app with OmniAuth is CodeTriage.  The script is at https://github.com/codetriage/codetriage/blob/master/db/seeds.rb .

I will adapt the CodeTriage script for OctoBox.

[2019-01-04 19:26] jhsu802701 opened #1425 "Warning messages from rails-erd"
I have the rails-erd gem installed in my personal branch.  Running it gives me the following warning messages:
[code]

[2019-01-04 20:08] andrew commented on #1425
That doesn’t look like an issue for Octobox, more like a problem with rails-erd loading the file twice, but that still isn’t really an issue.

[2019-01-04 20:08] #1425 closed

[2019-01-04 22:12] cmluciano opened #1427 "hosted octobox having spurious application errors in Chrome"
### Summary of Problem

- What are you trying to do?
  -  Visit octobox.io
- What happens?
  - Over the last 2 days I have hit the heroku application error page consistently. At first it just appeared to happen during some filter views but now I cannot hit the homepage either. Githubstatus.com has not shown issues during any of the attempts at loading.

- What should have happened?
  - octobox.io

[2019-01-04 22:15] cmluciano commented on #1427
I tried this in mobile chrome and incognito mode so it does not appear to be a token or cookie issue.

I changed the title though since opening in Safari worked immediately, so this may be related to a Chrome specific change.

[2019-01-05 04:19] cmluciano commented on #1427
Ya the browser theory Is incorrect with additional tries :P thanks for taking a look :)

[2019-01-05 15:51] andrew commented on #1427
![22cbb4ed-8467-4d63-9080-3398e88681cf](https://user-images.githubusercontent.com/1060/50726208-b2910a00-1101-11e9-94bb-9e92ba08e1d0.png)

Response times are looking much better now so going to close this

[2019-01-05 15:51] #1427 closed

[2019-01-06 19:14] bbrendon opened #1429 "mysql database connection using docker"
I'm trying to get the octobox docker container to connect to mysql. I poked around in the code a bit and I'm not sure exactly how it works but from what I can tell mysql would only _maybe_ work as a database URL.  I tried removing all the database entries and added this:

`DATABASE_URL="mysql2://octobox:asdf9jf2l@1.1.1.1/octobox"`

I get an error. `nc: getaddrinfo: Name does not resolve`.

But I w

[2019-01-06 20:02] andrew commented on #1429
@bbrendon two related stackoverflow answers that might be helpful:

- https://stackoverflow.com/a/45304286/120434
- https://stackoverflow.com/a/34908724/120434

[2019-01-07 09:19] BenJam commented on #1308
Closing this for the moment, feel free to reopen if it pops up.

[2019-01-07 09:20] BenJam commented on #1277
IF someone wants to take a look, I can't replicate it reliably.

[2019-01-07 09:21] #1339 closed

[2019-01-07 09:21] #1384 closed

[2019-01-07 09:51] #1336 closed

[2019-01-07 10:05] akoeplinger commented on #1277
It happens reliably on my repo (mono/mono), when I click an unread issue/PR it updates the octobox UI to show the item as read but on GitHub it's still unread.

I tried with both an issue and a PR, same result even though the mark_read returns 200 OK:
- https://octobox.io/notifications/4462318/mark_read
- https://octobox.io/notifications/5811793/mark_read

[2019-01-07 10:46] BenJam commented on #172
that would be an excellent contribution @jhsu802701 👍

[2019-01-07 11:31] BenJam opened #1431 "Add suggested 'pinned searches'"
Following from my [interview with Pia](https://medium.com/open-collective/stay-calm-untangle-your-github-notifications-bf601dd58c72) it'd be cool to add a couple of pinned searches that help onboard new users. I use

* archivable: `state:closed,merged archived:false`
* mergeable: `inbox:true status:success`
* my prs: 'inbox:true type:pull_request author:me'
* my reviews: 'inbox:true type:pull_requ

[2019-01-07 11:36] andrew commented on #1429
@bbrendon I believe this is more like a specific configuration in docker for your setup rather than a feature, I'm also not that familiar with docker to be able to advise, will see if anyone for experienced can help.

[2019-01-07 11:38] andrew commented on #1247
@BenJam idea 1 and 2 seem reasonable, not a fan of idea three

[2019-01-07 11:45] BenJam commented on #1247
let's do 1 to start.

[2019-01-07 19:04] pradyunsg commented on #1013
I agree -- I don't think that Octobox would/should present that much information though. I do think that the initially proposed layout combined with deterministic positions for repo / author / date info, would make things better.

[2019-01-07 19:06] pradyunsg commented on #1013
Essentially, now I'm suggesting moving the title to its own line and keeping other metadata presented in a column-style layout under that.

[2019-01-07 19:20] frangio commented on #1339
You're right @BenJam. Thanks!

[2019-01-08 20:04] paulmelnikow opened #1437 "For the purpose of updates, ignore my own activity"
Hi! Thanks again for the great tool, and apologies if this has already been posted! I searched but did not find it.

## 💥 Proposal

### What feature you'd like to see

When I have an issue, with all notifications, and I post a comment, close it, or merge it, I don't want to see the Status Change or e.g. Mention activity that originated by myself.

## Motivation

I process through a massive amount

[2019-01-08 20:23] paulmelnikow commented on #1437
Here's an example.

I did some stuff, walked away from the computer for a while, and came back and opened Octobox. The top three updates (which refreshed after I walked away) are all a result of my own activity.

<img width="1117" alt="screen shot 2019-01-08 at 3 21 57 pm" src="https://user-images.githubusercontent.com/1487036/50856631-33960e80-1359-11e9-8472-7eb9a1c2860e.png">

[2019-01-10 10:26] #1296 closed, assigned to nobody

[2019-01-10 10:49] kivikakk commented on #1429
You could consider having MySQL listen on a socket, then bind mount the socket file into the container?

[2019-01-10 11:18] #1106 closed

[2019-01-10 11:19] andrew commented on #1106
Fixed in #1443, just deploying it to https://octobox.io now, should be live in a few minutes

[2019-01-10 11:42] andrew commented on #1299
Looks like this can be enabled with the `:trigram` option for pg_search: https://github.com/Casecommons/pg_search#trigram-trigram-search which requires the `pg_trgm` extension to be enabled in postgres.

That extension is available on heroku postgres so should be easy enough to enable: https://devcenter.heroku.com/articles/heroku-postgres-extensions-postgis-full-text-search

[2019-01-10 16:27] j-mcnally commented on #1429
Why do expect MySQL to be at 1.1.1.1?

You’d be better off starting MySQL in a named container like mysql and connecting mysql and Octobox to a network and then using the container name as the host name.  So you’d just punch in mysql rather than 1.1.1.1

[2019-01-11 09:35] tripleee opened #1448 "How can I negate a set of search terms?"
### Summary of Problem

I participate in a project which receives a lot of routine PRs which are usually quickly handled. I would like to exclude those by default.

- What are you trying to do?

I want to exclude a set of issues which can be isolated with the search

    repo:charcoal-se/smokedetector type:pull_request

Incidentally, if I add `state:merged` or `state:closed` the list is empty; why

[2019-01-11 10:55] andrew commented on #1448
As mentioned in the search docs:

"-repo:splitrb/split -type:commit -owner:octobox -reason:mention".

So I think you could do:

`inbox:true -repo:charcoal-se/smokedetector -type:pull_request -state:merged reason:subscribed`

[2019-01-11 14:57] BenJam commented on #1304
@benoittgt thansk for your comments. I wonder whether colouring the owner/repo combination a la the reasons and labels would love this problem.

It seems like your commetns about avatars are a slightly different issue. are you frequently looking for an 'owner' of a particularl subject (issue, PR etc?). We used to have that, but it was removed some time ago. @andrew might be able to lend some conte

[2019-01-13 07:44] rhuss opened #1453 "No state preserved when sidebar is expanded on small screen sizes"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

When using a small screen width, octobox's responsive UI shows a menu button to switch on/off the left sidebar for the filter selection. However, when selecting expanding the sidebar and then selecting a filter then the next view is again without the sidebar. As a user, I would

[2019-01-14 04:47] tripleee commented on #1448
I don't want to exclude all pull requests, or all merged tickets. I want to exclude the ones which are in the SmokeDetector repo, ideally which contain ": watch" in the title, and even more ideally which are successfully merged. I was hoping parentheses would allow me to do a grouping like this but they don't seem to be supported, so my question is, is there another mechanism which allows me to do

[2019-01-14 10:14] BenJam commented on #1453
good point well made.

[2019-01-14 10:20] BenJam commented on #1448
`inbox:true -repo:charcoal-se/smokedetector -type:pull_request -state:merged reason:subscribed watch ` should get you pretty close to what you're looking for. I don't believe notifications are fired from GH for branch deletions https://developer.github.com/v3/activity/notifications/#notification-reasons

[2019-01-14 10:20] #1448 closed

[2019-01-14 11:51] BenJam commented on #1453
Implemented this and was reminded this would likely involve an additional click in most cases. On my iPhone SE for example it is terrible.

[2019-01-14 15:11] andrew commented on #1453
@rhuss it sounds like a regression in a responsive breakpoint change, I don't believe you should be seeing that pop out menu on a screen that wide.

[2019-01-14 15:24] rhuss commented on #1453
If it helps, the switch to responsive happens for me at 1200px width.

[2019-01-14 15:48] BenJam commented on #1453
strange, breakpoint is at < 1,200px for this behaviour. We could knock it down to < 992px.

[2019-01-14 16:09] rhuss commented on #1453
Yep, that would work for me.

[2019-01-14 16:12] BenJam commented on #1453
<img width="994" alt="screenshot 2019-01-14 at 16 11 09" src="https://user-images.githubusercontent.com/158833/51124768-05ac4080-1817-11e9-86f1-ee1fcf16c756.png">

^ bit of a squeeze at 996-1,200px tho

[2019-01-14 17:48] andrew commented on #1453
Fixed in https://github.com/octobox/octobox/pull/1458

[2019-01-14 17:48] #1453 closed

[2019-01-14 17:49] #1284 closed

[2019-01-14 20:00] andrew commented on #1277
PR over here: https://github.com/octobox/octobox/pull/1461

[2019-01-15 07:33] tripleee opened #1463 "API page does not have method list"
I am visiting the page https://octobox.io/docs.

It claims it should have a list of API methods down the left side, but it doesn't for me.

I am visiting using Chrome on a Mac High Sierra laptop.

Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

The documentation says

But as per the attached screen shot, there is nothing at a

[2019-01-15 07:36] tripleee commented on #1463
The top iframe is actually scrollable, and reveals an error message:

The footer contains this information:

`
Generated on Mon Jan 14 20:52:23 2019 by yard 0.9.16 (ruby-2.6.0).`

[2019-01-15 09:34] andrew commented on #1448
@tripleee I think I understand what you're asking for (sub-queries), and no there's currently no way to do that, all filters operate on the whole search.

[2019-01-15 09:40] andrew commented on #1193
I believe that the `#` delete shortcut is working now too.

[2019-01-15 09:40] #1193 closed

[2019-01-15 09:52] andrew commented on #1304
If you have the [GitHub app](https://github.com/marketplace/octobox/) installed then the owner column may help with this, without needing to add extra colours to the UI:

<img width="2032" alt="screen shot 2019-01-15 at 09 50 30" src="https://user-images.githubusercontent.com/1060/51172438-26be7100-18ab-11e9-9e0e-8f2b4fce7748.png">

[2019-01-15 09:53] andrew commented on #1295
Fixed in #1300

[2019-01-15 09:53] #1295 closed

[2019-01-15 10:00] andrew commented on #1437
@paulmelnikow just want to check, you're not seeing new notifications generated by your own activity?

For existing things in your inbox getting reordered when you update one, we're kind of at the mercy of the GitHub API there, as we just hear about the `updated_at` changing without knowing why or who updated it.

[2019-01-15 10:37] paulmelnikow commented on #1437
Could you clarify your question?

Ah, that's too bad! I though GitHub had APIs for comments and status updates and I figured that's what you were using. I wonder if there is any other way that this could work.

[2019-01-15 15:33] BenJam opened #1470 "Header behaviour on iOS 11 broken"
It's a while ago now but iOS 11 is playing havoc with some of the header content, which is particularly annoying on threads.

Useful blog post on rectifying the situation: https://ayogo.com/blog/ios11-viewport/

[2019-01-15 21:47] mbohlool commented on #1380
I think it is easy to just check the assignee of an incoming PR/Issue. When a PR changed, you can take a look at assigniee and label it as assigned even if github is saying the reason is something else. Assigned label is an important one and I would like to get unreaded PR/Issues that assigned to me.

[2019-01-16 10:19] #1304 closed

[2019-01-16 10:20] BenJam commented on #1463
looks like the odcs aren't being generated consistently... we'll take a look asap.

[2019-01-16 10:24] BenJam opened #1475 "Update url when closing a thread"
When closing threads the URL is not updated to reflect the main notifications view which is then shown.

[2019-01-16 10:26] BenJam opened #1476 "Update status of thread when receiving a webhook"
the notifications list shows the current status of items, it would be great to reflect this in the thread view.

[2019-01-16 11:13] andrew commented on #1308
@BenJam this is happening again since some of your mergers were deployed yesterday

[2019-01-16 12:37] akoeplinger commented on #1277
doesn't seem fixed, I still don't see notifications marked as read on GitHub when I open the thread in Octobox.

[2019-01-16 12:53] andrew commented on #1277
@akoeplinger it could be that the queue was a little backed up, marking as read on GitHub might not happen instantly.

[2019-01-16 12:55] andrew commented on #1380
@mbohlool we do store the assignee, but the current behaivour of the `reason` label matches what GitHub tells us and will be quite involved to change that whilst not introducing subtle behviour changes for other users.

You can always access notifications for things assigned to you from the sidebar link:

![screen shot 2019-01-16 at 12 55 24](https://user-images.githubusercontent.com/1060/51250359

[2019-01-16 12:56] akoeplinger commented on #1277
@andrew yup it catched up after a few minutes, thanks. would be interesting to have some way to see the queue backlog, maybe in settings?

[2019-01-16 12:59] andrew commented on #1277
@akoeplinger the queue is a global one for everyone, so might not be that useful to see a total count, it's also goes up and down quite a lot, for example whenever a new person installs the GitHub app we get an influx of jobs.

What I might do is look at moving the mark as read jobs to a higher priority queue so they happen quicker and the lag becomes less of an issue.

[2019-01-16 13:01] akoeplinger commented on #1277
cool. maybe just a timestamp of the last processed message? it's probably not helpful for most people but when trying to figure out whether I'm running into a bug or the system is just not caught up yet it might be useful

[2019-01-16 13:04] akoeplinger opened #1477 "Thread view: title mentions "opened this issue" but actually shows the last updated at time"
Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

🐞 **Problem**

The subtitle in the thread view displays `@someone opened this on repo/repo 40 minutes` ago but that is actually wrong.

![image](https://user-images.githubusercontent.com/1376924/51250733-9f026080-1997-11e9-98cb-6df2901929ea.png)

🎯 **Goal**

Show the correct date.

[2019-01-16 13:13] akoeplinger opened #1478 "Thread view doesn't show latest comment"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

The thread view isn't showing the latest comment that was made about an hour ago ago on this issue: `https://github.com/mono/mono/issues/12422` (mapped to `https://octobox.io/notifications/6061148` on Octobox).

It only shows the initial issue description and the "Reply on GitHu

[2019-01-16 13:16] andrew commented on #1478
@akoeplinger there's an issue at the moment with some data coming from the GitHub API which contains null byte characters which postgres refuses to save, this seems to happen more often on issues opened/commented on by windows users. I suspect this is the case here, will investigate.

[2019-01-16 16:56] tripleee commented on #1448
Thanks for confirming. Should I open a wishlist ticket or do you already have something like this in your plans?

[2019-01-16 17:01] andrew commented on #1448
@tripleee opening a feature request issue would be great thanks 👍

[2019-01-17 07:05] BenJam commented on #1308
Any of the controls I touched (I don't think I did) but there's more screwy scrolling I need to sort first.

[2019-01-17 07:57] mback2k opened #1491 "Make it possible to negate search queries for words or phrases"
## 💥 Proposal

### What feature you'd like to see
I would like to be able to negate searches for phrases or words, just like on Google with a - (single dash) prefix, for example -windows or -"windows bug" to be able to quickly find and archive issues that are not relevant to me. A dash inside the quotes should not negate the search term, e.g. "-windows" should actually search for "-windows".

## M

[2019-01-17 09:55] BenJam commented on #1308
takjng a look, @andrew suspects it's https://github.com/octobox/octobox/commit/da1f0c943a3e9ba58180e2a389f85a81f5336a95#diff-e1d1f343c9a5a0d9d9bb8765d2df358a

[2019-01-17 10:13] BenJam commented on #1308
just backed that out over at https://octobox-benjam.herokuapp.com/ and the hover states still cause trouble. Backing it out entirely and only adding those rules on a media query might be best.

[2019-01-17 10:15] BenJam commented on #1308
for example, the notification below is selected (see actions bar):

![img_6031](https://user-images.githubusercontent.com/158833/51311428-d4af5400-1a40-11e9-901d-44f5fe97d549.PNG)

[2019-01-17 10:23] BenJam commented on #1308
looks like iOS now supports https://caniuse.com/#feat=css-media-interaction

[2019-01-17 11:09] BenJam commented on #1308
I have a branch trying to get around this if anyone wants to check it out: https://github.com/octobox/octobox/tree/hover-buttons

[2019-01-17 13:14] #1477 closed

[2019-01-17 14:20] BenJam commented on #1308
had a go at this this morning:

- rolled back to last commit in Dec
- wrapped offending article in `@media (hover:hover)`
- removing the focus/hover buttons entirely

All with a similar conclusion: while I can get consistent clicks initially, as soon as I scroll and 'miss' a target area (which highlights the notification row) the interface does not reflect the state of the checkboxes.

[2019-01-18 21:58] chris48s opened #1500 "'mark as unread' does not propogate status to octobox"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
GitHub has recently introduced a 'mark as unread' feature (Note this is actually a real feature in GitHub now - I'm not just using a browser plugin). I think this has only rolled out in the last day or 2, so I appreciate it is a very new feature. Marking a notification as unread

[2019-01-18 22:02] andrew commented on #1500
I have an idea of how to implement this, will tackle it next week, thanks for opening an issue about it 👍

[2019-01-19 00:03] davidcelis opened #1501 "ArgumentError in NotificationsController#sync: invalid uri scheme ''"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

I recently updated Octobox for the first time after several months, and something having to do with ActionCable is breaking notification syncing for me. When attempting to sync, I get the following error:

[code]

And this is the extracted source:

[code]

The `ActionCable.serve

[2019-01-19 00:16] andrew commented on #1501
Are you running it inside of docker or on heroku or locally?

[2019-01-19 00:19] davidcelis commented on #1501
I've got it running via `docker-compose`:

[code]

[2019-01-19 00:33] andrew commented on #1501
There’s definitely something not quite right with action cable inside docker, I’m not very experienced with docker networking though

[2019-01-19 00:35] davidcelis commented on #1501
Omg. I never saw the update to the docker-compose configuration; it looks like the issue was my `REDIS_URL` env var not having `redis://` prepended to it, which explains the invalid scheme!

[2019-01-19 00:35] #1501 closed

[2019-01-21 10:23] andrew commented on #1437
@paulmelnikow I think this will partially be fixed by https://github.com/octobox/octobox/pull/1504

[2019-01-21 15:15] #1500 closed

[2019-01-21 15:17] andrew commented on #1500
@chris48s just deploying #1504 now which should handle this correctly.

[2019-01-21 16:13] andrew commented on #1437
@paulmelnikow #1504 is live on https://octobox.io now, can you see if the same behaviour you original reported still happens?

[2019-01-21 16:14] andrew commented on #1437
@paulmelnikow #1504 is live on https://octobox.io now, can you see if the same behaviour you original reported still happens?

[2019-01-21 16:30] paulmelnikow commented on #1437
I'll keep an eye on it and let you know!

[2019-01-21 18:46] paulmelnikow commented on #1437
Yes, I do seem to be getting a lot fewer notifications originating from my own actions!

How about we close this out, and if I find there's a kind of "false positive" that is still showing up, I'll open a new issue?

[2019-01-21 20:58] andrew commented on #1437
👍

[2019-01-21 20:58] #1437 closed

[2019-01-21 21:33] paulmelnikow commented on #1437
This is making a huge improvement in usability. Thank you so much!

[2019-01-22 14:34] tripleee opened #1512 "Sub-queries: Group terms for AND, OR, NOT"
## 💥 Proposal

I would like to be able to group (perhaps by way of parentheses) groups of terms so that you can search for things like

in the ticket search box.

### What feature you'd like to see

The current search syntax only lets you set up AND queries, which is too simplistic for many real-world scenarios.

Extending the query language to group terms and perhaps also support OR would signifi

[2019-01-22 16:37] ForbesLindesay commented on #1106
Thank you, thank you, thank you! You've made my day!

[2019-01-23 18:05] davidcelis opened #1518 "WebSocket connection to 'wss://my.octo.box/cable' failed: Unexpected response code: 404"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

Websocket connections don't appear to work on my instance, which runs via `docker-compose`. Instead, the browser error console (I've tried both Safari and Chrome) completely fills up with instances of this, with a new error every 10 seconds as it tries polling:

[code]

Here's m

[2019-01-23 19:47] andrew commented on #1518
I’d recommend disabling MINIMUM_REFRESH_INTERVAL as it’s pretty buggy (causes lots of refreshes)

[2019-01-23 21:43] davidcelis commented on #1518
Unfortunately, removing the `MINIMUM_REFRESH_INTERVAL` variable didn't fix the websocket 404s 😢

[2019-01-25 15:50] boegel commented on #975
I'm very interested in having support for this, milestones are something I rely on quite heavily for the EasyBuild project.

[2019-01-25 17:34] jules2689 opened #1531 "Unique Jobs Digest contiously causes users to get stuck in the queue"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

The unique jobs digest cache is not expiring. [This comment](https://github.com/octobox/octobox/issues/1067#issuecomment-438734606) seems to suggest this is RAM allocation.

Do you have any more details @andrew ? I'd like to poke this a bit more since adding expiration times do

[2019-01-25 17:41] andrew commented on #1531
@jules2689 yeah the sidekiq-unique-jobs gem don't seem to have fixed that properly, I'm running a daily cronjob on octobox.io to clear them out at the moment: https://github.com/octobox/octobox/blob/master/lib/tasks/tasks.rake#L52

[2019-01-25 17:46] jules2689 commented on #1531
I'm trying these options locally: https://github.com/Shopify/octobox/commit/ab799e479ec67b3bbc33025eca05bf5944290233

[2019-01-28 18:57] bastilian opened #1541 "Mute/hide pinned search results from Inbox"
## 💥 Proposal

### What feature you'd like to see

It would be nice to be able to hide certain notifications by default. For this pinned searches could be used with a flag to filter out those notifications out that match the critera out or the results.

## Pitch

Having this feature would allow to better priorities notifications that really need attention. Using pinned searches for this would make

[2019-01-28 19:27] bastilian opened #1542 "Always show all organisations, repositories and labels in the side bar"
## 💥 Proposal

## Motivation

When a pinned search is selected, the sidebar is reduced to items only related to the results notifications, if no results are there there are also no other items in the sidebar, which causes in some instances a short burst of adrenalin, because for a moment it seems all notifications are gone. An example:

![kapture 2019-01-28 at 20 25 25](https://user-images.githubu

[2019-01-28 19:33] bastilian commented on #1541
Ps.: If collecting matching notification ids from search results using criteria from pinned searches that have a "hide" flag is an acceptable solution, I might find time to add that. :)

[2019-01-28 19:36] andrew commented on #1541
That sounds like a reasonable approach to a solution 👍

[2019-01-28 22:11] bbrendon commented on #1429
telling you 1.1.1.1 obfuscates my actual server.

[2019-01-28 22:17] j-mcnally commented on #1429
well i primarily ask because its likely a local network via docker but idk.

[2019-01-29 11:31] andrew commented on #1140
Closing in favour of #1222

[2019-01-29 11:31] #1140 closed

[2019-01-29 11:39] andrew commented on #1222
Steps:

1. Redirect user to open collective url `https://opencollective.com/octobox/donate/100/month/individual?redirect=https://octobox.io/opencollective/callback`
2. User gets redirected back to `https://octobox.io/opencollective/callback?transactionid=12345` with a transaction id
3. We load the transaction via their api using a privately generated `api_key`: `https://api.opencollective.com/v1/c

[2019-01-29 11:40] andrew commented on #1222
Step 1 currently 404ing on open collective, reported here: https://github.com/opencollective/opencollective/issues/1402#issuecomment-458508463

[2019-01-29 12:22] andrew commented on #1308
Just took a look at this, have pinpointed the exact lines of sass that are causing it:

https://github.com/octobox/octobox/blob/095c55bffb73500d5b38b0471d81984d6757b62b/app/assets/stylesheets/_notifications.scss#L137-L146

and

https://github.com/octobox/octobox/blob/095c55bffb73500d5b38b0471d81984d6757b62b/app/assets/stylesheets/_notifications.scss#L189

Commenting out those two pieces fixes the

[2019-01-29 12:58] #1308 closed

[2019-01-29 13:04] BenJam commented on #1308
I did this back when I last looked and still have the problem. But I think clicks are more consistent so no harm leaving it. Maybe it's a different bug:

![img_6062](https://user-images.githubusercontent.com/158833/51910145-41720900-23c6-11e9-8cf7-7cd8dd12d2a3.PNG)

Interface shows no checked box, but box is checked which is why actions are shown.

[2019-01-29 13:09] andrew commented on #1308
@BenJam that's a bug with the custom checkbox implementation in bootstrap

[2019-01-29 20:13] chrisarcand commented on #1518
Hmmm that's a shame, I use that sort of feature a lot; is there an open issue somewhere describing what/why it's so buggy, alternatives, etc? Does octobox.io do any auto-syncing at all or is it always manual?

[2019-01-29 20:19] davidcelis commented on #1518
Also it doesn't seem like that was the misconfiguration causing the websocket 404s. Anything else that would cause that?

If the base URL for my octobox instance is `https://octobox.davidcelis.com`, for example, is `WEBSOCKET_ALLOWED_ORIGINS="http://octobox.davidcelis.com,https://octobox.davidcelis.com"` not right? Or is the documented nginx configuration wrong?

[2019-01-29 21:58] davidcelis commented on #1518
@andrew Well I've realized the issue… I'm running docker-compose in `development` because I've been struggling to get assets served in the production environment, and the development environment doesn't have an ActionCable configuration 😅

[2019-01-29 22:13] chrisarcand commented on #1518
Adding that I'm pulling my months-old Docker revamp out of the Git closet to indirectly fix this issue (which I had fixed for my own setup). David and I are working with the same instance now.

Given that the underlying issue here has been discovered, closing this for now and will reopen if it is a problem after getting things going in the right environment.

[2019-01-29 22:13] #1518 closed

[2019-01-30 03:53] andrew commented on #1518
Hashicorpers Unite!

[2019-01-30 20:17] andrew commented on #542
@freeformz I don't believe there's a fix for it on iOS at the moment

[2019-01-30 20:20] timhoffm opened #1554 "Labels get repeated"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

When an issue has multiple labels, one of them is repeated instead of showing all the labels:

![grafik](https://user-images.githubusercontent.com/2836374/52009976-897f5180-24d4-11e9-8066-ef347394d6d1.png)

[2019-01-31 10:40] andrew commented on #1554
@timhoffm just deploying a fix out for this, have cleaned out the existing duplicates in the database too

[2019-01-31 10:40] #1554 closed

[2019-02-04 21:06] alxwrd opened #1561 "Firefox android opens avatars in new tabs when installed as a progressive web app"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
When opening Octobox after it's been installed as a progressive web app with Firefox for Android, all profile pictures are opened in multiple new tabs. This also happens on any page load: clicking the icon in the top left, or opening an issue with the new "Open notifications" set

[2019-02-07 10:19] #1277 closed

[2019-02-08 08:38] senid231 opened #1565 "octobox.io site doesn't respond"
### Summary of Problem

https://octobox.io doesn't respond

"This site can’t be reached" browser says

(Please answer all 3)

- What are you trying to do?
open https://octobox.io
- What happens?
This site can’t be reached
- What should have happened?
octobox UI with my github issues should be shown

### Steps to Reproduce the Issue

1. open https://octobox.io
1. observe

### Versions, Operating Sy

[2019-02-08 08:40] senid231 commented on #1565
looks like my VPN is the problem

[2019-02-08 08:40] #1565 closed

[2019-02-08 15:15] #1222 closed

[2019-02-15 04:20] donifer opened #1577 "Request: Helm chart"
## 💥 Proposal

### What feature you'd like to see
A Helm chart for installing octobox in a Kubernetes cluster.

## Motivation
The installation guide is awesome and offers a decent amount of ways of getting Octobox self-hosted. It would be awesome if a Helm chart existed to make running octobox in a K8s cluster a breeze.

## Pitch
Elevator pitch: `helm install --name octobox stable/octobox`

[2019-02-15 09:16] andrew commented on #1577
That sounds like a great idea, are there any online resources to help someone set this up? I’d guess we it’ll be pretty similar to the Docker compose config

[2019-02-15 13:55] andrew commented on #1577
The might be helpful: https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/#alternative-conversions

[2019-02-15 16:22] purinkle opened #1580 "Signing in does not redirect to home page"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

When I sign into Octobox via GitHub, I am being redirected to the GitHub homepage instead of my Octobox inbox.

🎯 **Goal**

I don't want to have to type the Octobox URL in twice every time I sign in.

💡 **Possible solutions**

Redirect to the Octobox inbox after authenticating t

[2019-02-15 16:56] andrew commented on #1580
oh that's weird, definitely a bug!

[2019-02-15 16:57] andrew commented on #1580
Possibly related to this change: https://github.com/octobox/octobox/commit/d497c5ec4eb7bb5121c99f08c5b99d4490e7a51d#diff-d5241d488259f32ecbe2f636133e5ddaL18

[2019-02-15 21:16] kbaley opened #1581 "Not every issue shows comments/labels/status"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io

🐞 **Problem**
In any list of issues, roughly half of them don't show how many comments there are on the issue/PR nor do they show an author or a green/red/purple icon indicating its status (an icon is always shown but for these issues/PRs, it's black).

This carries over to the Open/Merged/Closed filters. Issues

[2019-02-15 21:38] jhsu802701 opened #1582 "Bugsnag API key"
The test suite passes the first time after I set up Octobox in my local Docker development environment, but it freezes up on subsequent runs.  The test.log file shows the following message:
[code]
However, the app does work on my local browser in the development environment.

[2019-02-16 01:49] jhsu802701 commented on #1582
What are the values of the environment variables BUGSNAG_API_KEY and BUGSNAG_JS_API_KEY?  I don't see any instructions on where to get these Bugsnag API keys.

[2019-02-16 05:50] andrew commented on #1582
They are only used in production for https://Octobox.io, they shouldn’t be affecting anything else.

Looks like you’re getting an exception, what’s showing up before that line in test.log?

[2019-02-17 19:30] jhsu802701 commented on #1582
OK, the tests passed again when I reset my development environment.  (Docker is awesome!)

[2019-02-17 19:30] #1582 closed

[2019-02-17 19:38] andrew commented on #1476
I believe this was added in https://github.com/octobox/octobox/pull/1484

[2019-02-17 19:38] #1476 closed

[2019-02-17 19:41] andrew commented on #1475
@benjam I can’t remember exactly but I feel like we fixed this?

[2019-02-17 19:49] jhsu802701 opened #1585 "Objects not destroyed between tests"
Why aren't objects destroyed between tests?  This makes it impossible to run just one test, and it means that adding tests that involve creating objects throws everything off and causes tests that passed before to fail.  Yes, I know that I can reset the test database with the command "bundle exec rake db:reset RAILS_ENV=test", but the current situation promotes the infamous "but it works on my mac

[2019-02-17 20:21] andrew commented on #1585
Sounds like a bug to me, perhaps we need to use something like https://github.com/DatabaseCleaner/database_cleaner

[2019-02-17 23:02] jhsu802701 commented on #1585
Unfortunately, I haven't been able to get database_cleaner to work with Minitest.  (The examples I see are for RSpec.  I've set up database_cleaner with RSpec, but that's not what we're using here.)

My preferred way of doing things in Minitest is to use the "Capybara.reset_sessions!" and "Capybara.use_default_driver" commands in the teardown.  I tried to do that here, but I was getting bombarded

[2019-02-18 01:15] jhsu802701 opened #1586 "Intermittent error in notification controller test"
It's in the "thread shows five commments" test of test/controllers/notifications_controller_test.rb.
[code]

[2019-02-18 09:19] andrew commented on #1586
Yeah this one has been very annoying, I've not had time to get around fixing it yet.

[2019-02-18 09:21] andrew commented on #1585
No particular reason, many of the tests where written before capybara was added

[2019-02-18 09:59] timroes opened #1588 "Show the issue count for starred issues permanently"
## 💥 Proposal

### What feature you'd like to see

Currently you only see the count badge behind starred notification when you select that group.
I wish you would see a count badge all the time, e.g. also when "Inbox" is focused it should show the badge for starred notifications.

![screenshot-20190218-105049](https://user-images.githubusercontent.com/877229/52942688-bacc9e00-336b-11e9-812a-c362a9

[2019-02-18 10:05] andrew commented on #1588
👍

[2019-02-18 10:19] timroes opened #1589 "Show notification content collapsible in list"
## 💥 Proposal

### What feature you'd like to see

I would like to be able to see the content of a notification (i.e. the content of the comment or description of the issue), inside the table quickly when clicking on a row. That way you would get the same information you get via GitHub notification mails quickly. I sketched this very quickly in the following screenshot:

![screenshot-20190218-1113

[2019-02-18 10:27] andrew commented on #1589
Did you notice that there's a title on hover that shows the first parts of the description? https://github.com/octobox/octobox/pull/1097

![screen shot 2018-10-12 at 16 20 40](https://user-images.githubusercontent.com/1060/46879606-62761480-ce3e-11e8-9adc-dc330a302496.png)

[2019-02-18 10:36] timroes commented on #1589
I actually have noticed that, but thanks for pointing it out again (maybe some people reading that haven't). I think there are three drawbacks to the title approach here:

* I personally have the feeling it's cut of too early, but that might just be a personal preference.
* It always shows the description of the issue/PR, not of the latest comment, i.e. if the notification actually was a comment l

[2019-02-18 16:50] jhsu802701 commented on #1585
OK, now I understand why Capybara isn't used in most of the integration tests.  When added the teardown commands "Capybara.reset_sessions!" and "Capybara.use_default_driver" in test/test_helper.rb, I was flooded with a cascade of errors and failed tests.  I understand now that the Rails Tutorial playbook is the one to follow.

[2019-02-18 17:16] TylerLeonhardt opened #1590 "Swipe gestures for mobile"
## 💥 Proposal

### What feature you'd like to see

Most email clients do a great job implementing this:

![screenshot_20190218-091051__01](https://user-images.githubusercontent.com/2644648/52966957-7508d900-335d-11e9-84c2-caac636725c0.jpg)

The "swipe to archive" feature! Octobox is the perfect candidate for a feature like this. It would greatly improve the mobile experience in my opinion.

## Mot

[2019-02-18 18:37] TylerLeonhardt commented on #1590
Since this project already relies on jQuery, what if we took advantage of

https://github.com/benmajor/jQuery-Touch-Events#4-the-events

Specifically the `swipeleft` and `swiperight` events.

It seems like it does exactly what we're looking for.

[2019-02-18 19:16] jhsu802701 opened #1593 "Link to Octobox API"
When I view the documentation page of the local app in my web browser, the link to "Octobox API" (under "API Documentation") leads to "/docs", which leads to the "No route matches" error.  On the Octobox.io site itself, this isn't a problem, as this actually leads to the API documentation page, which seems to be outside the scope of this Rails app.

Should this OctoBox API link lead to https://oct

[2019-02-18 19:29] jhsu802701 opened #1594 "Link to documentation page"
## 💥 Proposal

### Link to the documentation page from the home page
So far, one gets a link to the documentation page only AFTER logging in.  I propose providing a link on the home page (index page prior to logging in) directly to the documentation page.

## Motivation
This would allow people to read more details without having to log in.  I noticed that when I go to the '/documentation' page wit

[2019-02-18 19:29] jhsu802701 commented on #1594
I can add this feature AND an integration test for it.

[2019-02-18 19:41] andrew commented on #1594
👍

[2019-02-18 22:20] jhsu802701 opened #1597 "lib and services tests fail"
Several of the "lib" and "services" tests currently fail.  We need to fix them and then add them to the skip_visuals category.

[2019-02-19 08:19] #1594 closed

[2019-02-19 15:32] BenJam commented on #1581
@kbaley I believe you might be experiencing the expected behaviour: we only support these features on open source repos for free. To get them for all repos you'd need to either run your own installation or pay for a individual subscription (and install the GH app on each repo you wish to see this information for). More information at https://medium.com/octobox/walking-the-tightrope-charging-for-pr

[2019-02-19 15:32] #1581 closed

[2019-02-19 15:33] BenJam commented on #1475
Errr just checked on master: nope.

[2019-02-19 15:34] BenJam commented on #1586
I should probably take a look a this since it's 'my' test.

[2019-02-19 15:39] BenJam commented on #1589
Thanks for throwing this together. Easy solution might be a popover of the latest comment on the 'comment' icon...

[2019-02-19 15:49] BenJam opened #1601 "personal_access_token_validator_test.rb:22 fails when personal access tokens are enabled"
As above, trace: https://gist.github.com/BenJam/a8fd871bb39da44f506d7542795ba7d4

[2019-02-19 23:35] jhsu802701 opened #1603 "Database configuration tests: How necessary?"
When I run the command "bin/rails test test/lib", two of the DatabaseConfig tests fail:
[code]
Should I have MySQL set up in my local environment?  What's the procedure for this?  I'm used to PostgreSQL.

The first of these tests (for MySQL) fails simply because my username (for PostgreSQL) is not "root".  The second of these tests (also for MySQL) fails because my username (for PostgreSQL) is not

[2019-02-19 23:42] jhsu802701 opened #1604 "Failing tests in test/lib/octobox/configurator_test.rb"
The following test failures occur when I run the command "bin/rails test test/lib/octobox/configurator_test.rb":
[code]

[2019-02-20 00:46] jhsu802701 opened #1605 "Documentation page has no link back to the index page"
The documentation page has no link to the home page.  (I can add it.)

[2019-02-20 00:49] jhsu802701 opened #1606 "The notifications index page has no link to the home page"
The notifications index page (the index page you get when you're logged in) does not provide a link to the home page (the index page you get when you're not logged in).  I can provide a pull request that provides this.

[2019-02-20 09:51] andrew commented on #1606
@jhsu802701 that's by design, because they are both served from the same path `/`, if there's information that's particularly useful on the homepage after you've logged in, it should be available in the documentation.

[2019-02-20 09:52] andrew commented on #1605
👍 a proper header for logged out users would be great

[2019-02-20 10:26] andrew commented on #1603
There's a few application level code paths that are different depending on if users are running octobox with mysql vs postgres, which is why we have both options and run them both on travis.

Saying that, we should definitely stub out the details of the local mysql/postgres setup when running the tests to avoid failures like that

[2019-02-20 10:33] #1604 closed

[2019-02-20 10:37] andrew commented on #1601
@BenJam you may want to roll that token now that you've posted it in a public gist 🙈

[2019-02-20 10:40] andrew commented on #1601
Those tests already have `stub_personal_access_tokens_enabled` which does the equivalent of setting `ENV['PERSONAL_ACCESS_TOKENS_ENABLED']` to true, looks like the test is failing because the token being sent in the request isn't the same as the one being stubbed

[2019-02-20 10:41] andrew commented on #1597
"lib" enabled again in https://github.com/octobox/octobox/pull/1609

[2019-02-20 12:34] BenJam commented on #1606
++ it would take a lot of refactoring for minimal/arguably no benefit. If there's info there that we should reflect elsewhere then please do open a ticket for that 👍

[2019-02-20 12:34] #1606 closed

[2019-02-20 12:38] BenJam commented on #1601
let's pretend i did that before I posted it. Also: this is an access token bound to a particular app that I own right, rather than a personal access token so not the worst :)

[2019-02-20 17:57] kbaley commented on #1581
Thanks @BenJam. I think that's probably it. I do have a paid individual subscription and I'm seeing the notifications show up on certain private repos but not all. And I did confirm that Octobox is showing up in the list of integrations for the ones that work.

But I'm not sure where I'm supposed to install it on the other repos. In my settings, I have "All repositories" selected for Repository Ac

[2019-02-21 16:13] andrew opened #1613 "Add support for draft pull requests"
GitHub now has a concept of [Draft Pull Requests]() which should up with a grey icon:

![screenshot 2019-02-21 at 16 10 10](https://user-images.githubusercontent.com/1060/53183525-6c313500-35f3-11e9-8dd1-cee59fa894d4.png)

There's also a new `draft` field available in the pull request API: https://developer.github.com/changes/2019-02-14-draft-pull-requests/

Octobox's icon should match the GitHub

[2019-02-21 16:18] andrew commented on #1613
Just to add a little fly in the ointment, GitHub shows closed draft pull requests slightly differently:

![screenshot 2019-02-21 at 16 15 41](https://user-images.githubusercontent.com/1060/53183944-1c06a280-35f4-11e9-80f2-204dbf17e9a8.png)

For our purposes, I think we can simply to only calling pull requests that are both `open` and `draft` "drafts", closed drafts can just be "closed".

[2019-02-21 22:28] franzliedke commented on #741
I'd love to see this as well, it happens quite often that I accidentally archive the wrong ticket (probably because a mouseover selected a different issue on the left than what I was looking at on the right), and then have a hard time finding it again.

[2019-02-22 01:10] jhsu802701 commented on #1603
What's the procedure for setting up MySQL in this app?  I use a build_fast.sh script in my ruby_on_racetracks branch within my fork to provide a one-step build process.  My code for setting up PostgreSQL is:
[code]

[2019-02-22 17:14] andrew commented on #1603
I think you also need `DATABASE=mysql2`

[2019-02-22 17:54] BenJam commented on #1613
I think closed drafts are kinda non-entities but closed state is most appropriate as in this case it means 'no action required' and 'nothing happening over here' to many people.

[2019-02-22 18:32] kbaley commented on #1581
All figured out now. Got it sorted.

[2019-02-22 19:27] jhsu802701 commented on #1603
Adding "DATABASE=mysql2" in .env wasn't enough.  There's at least one more critical step that I'm missing.

[2019-02-22 23:14] jhsu802701 commented on #1603
In my personal ruby_on_racetracks branch (https://github.com/jhsu802701/octobox/tree/ruby_on_racetracks), I have a build_fast.sh script for AUTOMATICALLY setting up Octobox in my local environment.  The idea is to run this script after running the "git clone" command to download it.

Until the lib tests were reinstated in the "bundle exec rake --trace rubocop db:migrate test:skip_visuals" command,

[2019-02-23 05:18] jhsu802701 commented on #1603
From scrutinizing what happens in the Travis CI environment, I now understand that I shouldn't have the OCTOBOX_DATABASE_NAME, OCTOBOX_DATABASE_USERNAME, and OCTOBOX_DATABASE_PASSWORD environment variables set in the .env file.  (The .env.example file is a guide.)  I also need to change my PostgreSQL setup so that my regular Linux username is also a PostgreSQL superuser.  Yes, it's becoming increa

[2019-02-23 14:13] BenJam opened #1621 "Update open collective rake task to check for synchronous transactions"
As is the open collective rake task will remove subscriptions from paid-up users who haven't added their GH username (org or individual). I need to change this to look for OC transactions that were performed synchronously and check transactions in the rake task against their OC id.

[2019-02-23 19:03] jhsu802701 commented on #1603
OK, I've managed to get all the tests to pass, including those MySQL username and password tests that were giving me trouble.  In the local environment, the OCTOBOX_DATABASE parameters should NOT be set.  This means that the username and password specified in config/database.yml parameters are the default values specified in DatabaseConfig: 'root' for the MySQL username and '' for both passwords a

[2019-02-23 19:03] #1603 closed

[2019-02-24 23:52] lzybkr opened #1628 "Active item not visible with dark theme"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

I'm trying to use keyboard navigation with the dark theme and I can't see any indication of which item is selected. The bar is visible with the light theme - maybe a little subtle but when it moves it's obvious.

🎯 **Goal**

Better support keyboard navigation with the dark theme

[2019-02-25 15:44] frenck opened #1632 "Reply/Comment on GitHub subject not visible on GitHub"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

An inline comment/reply box appeared on Octobox.io 🎉
But it doesn't work 😢

Responses do show up in Octobox, but not on GitHub.
I've tried re-sync / awaiting a little time to see if things would sync up, but it doesn't.

Visible in Octobox:
![image](https://user-images.githubuse

[2019-02-25 15:46] andrew commented on #1632
That form shouldn't be visible yet, we've not upgraded the permissions on the Octobox GitHub app yet, so it won't work.

[2019-02-25 16:33] #1632 closed

[2019-02-25 16:36] andrew commented on #1632
Fix being deployed now

[2019-02-26 07:15] bobheadxi opened #1640 "Emoji in issue/PR view"
## 💥 Proposal

### What feature you'd like to see

It would be nice if the new open-in-octohub mode for issues and PRs supported emoji. Looks like it's already in labels #559, so hopefully this isn't too much?

## Motivation

We use emoji a lot, and it looks rather bare without it rendered:

![image](https://user-images.githubusercontent.com/23356519/53394149-2954c180-3953-11e9-9523-bddcf1116340.p

[2019-02-26 10:22] andrew commented on #1640
That's weird, emoji are showing correctly in this thread:

![screenshot 2019-02-26 at 10 21 00](https://user-images.githubusercontent.com/1060/53405720-56838d00-39b0-11e9-8d35-a6144dbc5f78.png)

[2019-02-26 10:27] andrew commented on #1640
I suspect it's only the newer emojis that aren't working as gemoji hasn't been updated with all the new emojis that have come out in the past year: https://github.com/github/gemoji/issues/139

[2019-02-26 18:42] TylerLeonhardt opened #1646 "Still getting dialog to after I added GitHub app"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

I still see this dialog even though Octobox free tier was added to the PowerShell org:

![image](https://user-images.githubusercontent.com/2644648/53437632-fe5a8400-39cb-11e9-9fa3-fa6db18006e6.png)

Is there something I'm missing?

🎯 **Goal**

Figure out what enabling the GitHub

[2019-02-26 20:06] bobheadxi commented on #1640
🤔 I'm not sure the emoji are that new - we've been using them since December 2017:

https://github.com/ubclaunchpad/inertia/commit/10dfe945df10ef8903646617d8838ed9da0695e0#diff-195a635ad245ded9076330e31134bd80

[2019-02-27 00:09] spalger opened #1647 "Issue hidden when moving from checkbox to title"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
I regularly use octobox to triage issues by subject, marking the issues I suspect I will archive with a check and then clicking through the link in another tab to double check before coming back to continue down my list. In the last couple months as the Github App has been implem

[2019-02-27 01:21] spalger commented on #1647
Created https://github.com/octobox/octobox/pull/1648 to address this

[2019-02-27 11:08] BenJam commented on #1646
hey @TylerLeonhardt, have you installed the GH app on the repo for that particular notification? URL: https://github.com/apps/octobox

[2019-02-27 11:08] BenJam commented on #1647
👍

[2019-02-27 13:41] Relequestual opened #1649 "Flash star when starred issues are updated"
## 💥 Proposal

### What feature you'd like to see
Flash the star icon when a starred issues is updated.

Optionally, add a star to the website favicon, similar to notification number icon.

## Motivation
I have many GH notifications (that's why I'm here, obviously) so I have emails turned off. Sometimes there's a specific issue I want to know the minute someone makes a comment on a specific issue.

[2019-02-27 15:54] TylerLeonhardt commented on #1646
That seemed to work!!

![image](https://user-images.githubusercontent.com/2644648/53503399-fbb86700-3a7d-11e9-96fa-e3e1c4776b72.png)

What does that do exactly? Is that written up somewhere?

[2019-02-28 05:11] TylerLeonhardt opened #1651 "Can't build using docker on Windows"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**

I typically use a Mac but I wanted to do some streaming from my PC - that's when I realized I wasn't able to build on Windows (Mac worked just fine).

a `': No such file or directory` seems to be showing up.

Here's the build log:
[code]

Most is cached at this point but I do re

[2019-02-28 07:12] jhsu802701 commented on #1651
Install VirtualBox, and then install a Linux virtual machine.  I've explained how to do this in my [VirtualBox Tutorial](https://www.virtualboxtutorial.com/).  Then install Docker on the Linux virtual machine.  I've covered this in my [Different Docker Tutorial](https://www.differentdockertutorial.com/).

You can be ready to roll in minutes with my procedure at https://www.legacyrailsapps.com/docs

[2019-02-28 15:46] TylerLeonhardt commented on #1651
If this is the recommendation on Windows, can the installation steps be updated?

I'd rather not install VirtualBox and Docker on the VM just to get this working. It works fine on my mac so I'll just stay there... I just wont be able to stream 😢

Thanks for the quick reply.

[2019-02-28 16:27] jhsu802701 commented on #1651
I'm not one of the collaborators.  My procedure is 100% unofficial.

If you install a Linux virtual machine on your Windows host machine, you bail yourself out of the responsibility of having to learn the Windows way.

That said, I believe that very few are using Docker in Windows.  As is the case with Ruby on Rails, the vast majority use a Mac, a substantial minority (including myself) use Linux,

[2019-02-28 16:42] andrew commented on #1651
@TylerLeonhardt That looks like a bug rather than a windows issue so to speak, as you say, docker should work no matter which platform.

Have you tried using one of the prebuild docker images from https://hub.docker.com/r/octoboxio/octobox/ rather than building it yourself?

[2019-03-01 06:22] TylerLeonhardt commented on #1651
@andrew here's something that's interesting... when I get rid of the `docker-compose.override.yml`, which I'm guessing just pulls from the prebuild docker images, everything works AS EXPECTED.

So I wonder if there's something wrong about the `docker-compose.override.yml` that doesn't work on Windows for some reason?

[2019-03-02 15:49] Zimmi48 commented on #1613
It's quite unfortunate that GitHub issue search shows closed PRs when looking for draft with `is:draft`, and that `is:open` cannot be used jointly with `is:draft` to reduce the search. I would appreciate if Octobox could deviate from the behavior of GitHub here.

[2019-03-03 16:22] TylerLeonhardt commented on #1646
gentle ping 😄 just curious what adding the app to a particular repo does.

cc @andrew

[2019-03-04 08:37] andrew opened #1659 "When posting a comment fails, can't post further comments"
I tried to reply to a pull request with a comment from the threadview this morning and got an error flash message (not sure why), after that error, the comment field disappeared from the threadview for that PR.

![screenshot 2019-03-04 at 08 25 25](https://user-images.githubusercontent.com/1060/53720289-46f4c000-3e58-11e9-8752-1c1bb706d5b5.png)

The comment boxes still showed up on other pull requ

[2019-03-04 09:45] BenJam commented on #1659
I'm gonna guess this is due to the comment counts not including the original subject body. So when we do comment.destroy at the end of the comments worker (when failing) it pulls that comment count.

Just a guess.

[2019-03-04 10:07] BenJam commented on #1659
nope https://github.com/octobox/octobox/pull/1645/commits/ac27ffbd4c2f620c82bda5318889982fd4e7feeb

[2019-03-04 10:19] BenJam commented on #1646
Hey @TylerLeonhardt, you need to install the GitHub app on each account/repo that you wish to use octobox with to get the most from it. We clarified this on the pricing page but I'll run through other docs and make sure it's all linked up.

[2019-03-04 10:20] BenJam commented on #1646
it gives us the additional permissions needed to pull comments, labels, authors etc into notifications.

[2019-03-04 11:04] akoeplinger opened #1660 "Thread view doesn't show who closed an issue/PR"
Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

🐞 **Problem**

When I look at a PR or issue I often need to check _who_ closed it, e.g. the original reporter or some team member. Currently I don't see any indication of the close event in the thread view like on GitHub.

🎯 **Goal**

The thread view should show a timeline entry for the close

[2019-03-04 12:55] akoeplinger opened #1661 "Clicking on username in thread view and then navigating back in Chrome results in broken octobox"
Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

🐞 **Problem**

1. Open a notification in thread view.
2. Click on the username of one of the participants
3. The browser navigates to the github profile page
4. Click back button in browser
5. Octobox now looks broken:

<img width="840" alt="screen shot 2019-03-04 at 13 53 06" src="https://use

[2019-03-04 13:00] akoeplinger commented on #1478
Seeing this in e.g. `https://github.com/mono/mono/pull/13215`, it has multiple comments but octobox.io only shows this:

![image](https://user-images.githubusercontent.com/1376924/53734967-c8167c00-3e85-11e9-996c-6969cb161d9f.png)

[2019-03-04 13:21] BenJam commented on #1661
I think this might be happening because when we open a thread we only really receive the thread part of the view and render it. It looks like only the components we were sent to render (the thread) are being rendered with a back button.

Reloading the page reloads the whole thing and it works fine.

[2019-03-04 13:23] BenJam commented on #1660
Yeah we haven't got anything in thread view yet other than comments. Would love to add that at some point.

[2019-03-04 13:59] andrew commented on #1478
That looks related to https://github.com/octobox/octobox/issues/1659 as the comment counter is in a similar state of nil rather than zero

[2019-03-04 14:00] akoeplinger commented on #1478
It shows up after reloading Octobox too.

[2019-03-04 16:04] akoeplinger commented on #1478
The PR I mentioned was merged and that caused the thread view to update and show the missing comments.

[2019-03-04 16:18] andrew commented on #1478
@akoeplinger yeah, that's the same behaviour as seen in #1659, something appears to be setting `comment_count` to nil incorrectly which causes all comments and the comment form to get hidden

[2019-03-04 18:32] akoeplinger opened #1662 "Comment edits don't show up in thread view"
Are you experiencing this issue in octobox.io or your own instance?
 - [X] octobox.io
 - [ ] My instance

🐞 **Problem**

When a comment is edited on an issue the thread view in Octobox doesn't show the update, it displays the original comment.

🎯 **Goal**

Edits to comments should be reflected in Octobox.

[2019-03-04 22:29] TylerLeonhardt commented on #1646
Sounds good! Thanks for the info 😊

[2019-03-04 22:29] #1646 closed

[2019-03-05 10:20] BenJam commented on #1662
Yup, it would be great to have this.

[2019-03-05 10:22] BenJam commented on #1478
I'm still unsure what's causing this but I'll take another look this morning. If someone could help get it replicable that would be awesome.

[2019-03-05 11:09] akoeplinger commented on #1478
I'm seeing this now on https://github.com/octobox/octobox/issues/1662, shows zero comments in Octobox but one on GitHub 😄

[2019-03-05 11:46] akoeplinger commented on #1478
@BenJam I think I have a lead on this: I checked some webhook payloads of GitHub issues that show the problem and it seems the `comments` field sometimes doesn't contain the current comment in the count, i.e. the second comment on an issue still has `"comments": 1`.

Could this mess up the calculation?

[2019-03-05 11:55] akoeplinger commented on #1478
I see this for example on https://github.com/mono/mono/issues/13279 which shows up as having `1 comment` in Octobox but it actually has two comments on GitHub (the thread view shows comments correctly in this case since I guess it has > 0 comments).

## Payload logs

Note that the second comment has a `"comments": 1`

### Issue creation

[code]

### First comment

[code]

### Second comment

[code

[2019-03-05 12:07] andrew commented on #1478
That could mess some things up, but I don’t think it will explain our comment count being set to null

[2019-03-05 12:12] akoeplinger commented on #1478
Ah I see, `subject.commentable` is checking `comment_count` against `nil`. So the above mismatch is actually a different issue :)

[2019-03-05 12:48] akoeplinger commented on #1478
Yeah it's indeed a different issue, but one that seems to occur more often than the `nil` issue.

When the mismatched comments count happens then I at least see the `Leave a comment` box in the thread view (since `commentable` is true).

Hit it again with `https://github.com/mono/mono/issues/13298`, the webhook payload shows `"comments": 0` for the first comment on the issue.

[2019-03-05 14:55] BenJam commented on #1478
Thanks for taking the time to help out on this @akoeplinger. I'm still not sure how to replicate it but would love to fix it 😕

[2019-03-05 15:00] akoeplinger commented on #1478
I'm not sure you can do anything about the eventual consistency issue of the `comments` field other than not rely on it...

[2019-03-05 15:04] BenJam commented on #1478
Fair point.

[2019-03-05 15:06] akoeplinger commented on #1478
Might be worth contacting GitHub support to check whether this is expected/by design though.

[2019-03-05 16:35] BenJam commented on #1659
The only way this looks like it would happen would be if `notifications_controller:138` flashed you.

It's possible that, between rendering the thread and posting something, #1478 is happening in the background.

[2019-03-08 03:43] felixbuenemann commented on #542
Looks like it will work with iOS 12.2:

https://twitter.com/mhartington/status/1089292031548145666

[2019-03-08 09:30] BenJam commented on #542
👍can't wait! might have to sneak in a few mobile specific behaviours (hello swipe actions)

[2019-03-15 14:01] bajtos opened #1679 "Read state not propagated from GitHub to Octobox"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

When I read notifications on GitHub, e.g. by reading through a discussion in an issue or a pull request, these notifications are not marked as read in my Octobox inbox.

🎯 **Goal**

I often arrive to pull requests and issues from different places, e.g from project's list of open

[2019-03-15 14:20] bajtos commented on #1679
Never mind. Logging out and login into Octobox again solved the problem. It looks like Octobox was not syncing with GitHub for me. When I logged in again, Octobox was showing "Last sync: 17 days ago", which explains why I was not seeing notifications marked as read.

[2019-03-15 14:20] #1679 closed

[2019-03-21 15:20] chrisarcand opened #1688 "Auto-refreshes broken (MINIMUM_REFRESH_INTERVAL)"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [x] My instance

🐞 **Problem**
I know this has [sort of been an issue for a while](https://github.com/octobox/octobox/issues/1335#issuecomment-451003815), but since we've set up a shared box at HashiCorp and updating to the very latest Octobox, I've really missed automatic refreshes working properly. Making a

[2019-03-21 21:18] Kubuxu opened #1689 "Syncing forever"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

The octobox never finishes syncing after selecting filter and removing it.
Steps to reproduce:
1. Select filter (Mention, Assign and so on).
2. Remove it.
3. Click refresh in octobox.

I've discovered that disabling browser cache (using dev tools solves the issue)
Browser FF 66b

[2019-03-22 10:15] BenJam commented on #1689
Hey @Kubuxu thanks for logging this. I've just given it a go on FF and sync is 423ing until it 200s. Hmmm

[2019-03-22 11:14] Kubuxu commented on #1689
Ahh, figured out additional step for the bug. One has to be on https://octobox.io/?reason= page. How to get there, select filter, for example, `Assigned` and then remove it.

[2019-03-25 15:26] TakeMeNL opened #1693 "Button Archive for selected post not working"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

Archiving selected issue not archiving?
When you select a item/post you have the option to archive that item/post.
The request is done `https://octobox.io/notifications/archive_selected?per_page=100` successfully. But the item/post still exists in the inbox.

🎯 **Goal**

When cl

[2019-03-26 11:47] BenJam commented on #1689
Just tried that as mentioned, can't seem to replicate it here on Firefox or Chrome. But I can see you're successfully syncing your notifications in the logs.

[2019-03-27 15:10] BenJam commented on #1693
Confirmed. Thanks for reporting.

[2019-03-27 17:35] Kubuxu commented on #1689
I am when I am not on the https://octobox.io/?reason=. I might just write userscript to redirect me off it to https://octobox.io.

[2019-03-27 22:44] Kubuxu commented on #1689
The issues seems to have resolved. No idea why, I will reopen if it repeats.

[2019-03-27 22:44] #1689 closed

[2019-03-28 20:11] rhuss opened #1700 "No Docker images pushed since 7 days"
Are you experiencing this issue in octobox.io or your own instance?
 - [ ] octobox.io
 - [X] My instance

🐞 **Problem**

`octoboxio/octobox:latest` has been updated seven days ago for the last time. I remember darkly that there was a job who did this on every merge on master, but I can't find it in the travis configuration.

How is the image built ? It's not an automated Docker build either.

🎯 **

[2019-03-28 20:28] andrew commented on #1700
Oh weird, docker hub automatically builds new images on every push to a branch on GitHub, I wonder why it’s stopped...

[2019-03-28 20:31] andrew commented on #1700
Looks like Docker Hub screwed up: https://success.docker.com/article/i-have-issues-triggering-autobuilds

Will try and re-enable them

[2019-03-28 20:33] andrew commented on #1700
My mistake, looks like the recent ruby upgrade broke Docker builds: https://cloud.docker.com/u/octoboxio/repository/registry-1.docker.io/octoboxio/octobox/builds/4191aedd-c536-4ed6-8504-8b85949c110d

Will fix it in the morning if no-one else fixes it before me

[2019-03-28 20:42] rhuss commented on #1700
thanks for the quick response, and no worries, its not urgent.

For the long term: Maybe it might make sense to add the image creation into the CI via Travis ? That way image build failures would be detected as CI failures. Setting this up is not hard, credentials would be injected via env variables.

If interested, I could contribute here the Docker build & push integration we did (for circle but

[2019-03-28 20:45] andrew commented on #1700
That’d be great 👍

[2019-03-29 02:38] 3minus1 commented on #1700
A workaround that worked for us was to remove `http://httpredir.debian.org/debian jessie-updates` from `/etc/apt/sources.list`.

We did this by adding `RUN sed  -i  '/jessie-updates/d' /etc/apt/sources.list` to our dockerfile.

[2019-03-29 09:42] BenJam commented on #1662
👍

[2019-03-29 10:19] BenJam commented on #1693
looking at this now

[2019-03-29 12:47] #1693 closed

[2019-03-29 13:02] #1475 closed

[2019-03-29 13:07] andrew commented on #1700
PR to fix docker builds here: https://github.com/octobox/octobox/pull/1705

[2019-03-29 13:13] #1700 closed

[2019-03-29 13:29] andrew commented on #1661
Opened a PR with a kinda-fix, opening user links in a new tab: https://github.com/octobox/octobox/pull/1706

[2019-03-29 13:42] #1661 closed

[2019-04-01 11:36] andrew opened #1713 "Improve “Add to homescreen” icon"
![E3A62AC6-43DA-40FD-B2D6-3E0F6FAF7E12](https://user-images.githubusercontent.com/1060/55324608-87a52080-547a-11e9-91e5-eb739f001939.jpeg)

When you add Octobox to your homescreen on iOS 12.2 you get an ugly white border on the icon, probably better to have a black square for that.

[2019-04-01 18:30] TakeMeNL commented on #1693
Thank you! Working now 💯

[2019-04-02 09:50] GiacomoLaw commented on #1713
So you just want the icon to be the same color without the border?

[2019-04-02 10:52] andrew commented on #1713
@GiacomoLaw looks like it's using https://octobox.io/apple-icon-144x144.png which is round

[2019-04-02 10:54] GiacomoLaw commented on #1713
Ah, okay. I can make it all grey when I get home if you would like.

[2019-04-02 21:35] GiacomoLaw commented on #1713
Sorry, forgot to do today. Will do it again tomorrow afternoon. Sorry about that!

[2019-04-03 10:01] BenJam commented on #1713
Just in case it's useful: I wrote a quick script to generate icons over at https://github.com/octobox/octobox/blob/master/bin/generate_icons.sh

[2019-04-03 10:02] GiacomoLaw commented on #1713
That’s great. Can I use that for other sites?

[2019-04-03 10:07] BenJam commented on #1713
Sure, do you need me to push it elsewhere under a non aGPL ?

[2019-04-03 10:09] GiacomoLaw commented on #1713
Sorry, I don't understand lol

[2019-04-03 10:33] BenJam commented on #1713
No worries, use it however you like.

[2019-04-03 11:05] GiacomoLaw commented on #1713
Awesome, appreciate it. Thank you!

[2019-04-03 14:00] GiacomoLaw opened #1721 "Automatic sync and notifications on web version?"
Hi all, just a quick question. I started using Octobox when it first came out, but then stopped using it for a while. However, I've come back to see it's greatly approved and have two questions.

1. Will Octobox sync in the background?
2. When I get a new GitHub notification, will I get an alert on my Windows desktop?

Thanks!

[2019-04-03 15:27] BenJam commented on #1659
Just tested this by replacing the rest of the controller with the fail section, still allows you to submit. The root cause is more likely to be #1478 so we can pick up there.

[2019-04-03 15:27] #1659 closed

[2019-04-04 06:23] Zimmi48 commented on #1431
Hasn't this been addressed already?

[2019-04-04 06:29] Zimmi48 commented on #1110
I would be wary of taking actions on the repository automatically based on a user's Octobox configuration. What affects the repository's processes should be kept close to the repository and editable by whoever has the admin / write permissions for this (e.g. GitHub actions). I would keep Octobox automatic actions for treatment of personal notifications.

[2019-04-04 06:38] Zimmi48 commented on #739
I have changed my mind on the usefulness of the "reason" field since I have found a workaround to make it go back to some default: I go to the issue / PR, and I click "Unsubscribe" and then "Subscribe". The reason goes back from "Mentioned" or "Review Requested" to "Manual". I am still missing two things: a simple button in Octobox that would automate this process, and the "Manual" color being cha

[2019-04-04 07:13] #1431 closed

[2019-04-04 10:04] #1713 closed

[2019-04-04 10:04] andrew commented on #1713
@GiacomoLaw thanks for tackling this 👍

[2019-04-06 20:31] andrew commented on #1613
Pull request in progress over here: https://github.com/octobox/octobox/pull/1724

@Zimmi48 happy to report that draft is a separate search prefix so you can search for just open drafts, or just closed drafts with `state:open draft:true`

[2019-04-07 08:46] Zimmi48 commented on #1613
Good to know, thanks!

[2019-04-07 08:55] #1613 closed

[2019-04-08 14:52] ahayworth commented on #836
Big +1 to this - I would greatly appreciate being able to distinguish when *I* personally must give a review, or when my team in general needs to give a review (it affects how I prioritize my work).

I think the v3 REST API response is enough to distinguish this - the [single PR endpoint](https://developer.github.com/v3/pulls/#get-a-single-pull-request) has both `requested_reviewers` and `requeste

[2019-04-08 15:16] ahayworth opened #1731 "Sync PR review status"
## 💥 Proposal

### What feature you'd like to see

Octobox could/should show me if a PR still needs a review, or if a review has been given (whether that review be a 👍, a 👎 , or just some comments).

## Motivation

My team receives frequent review requests on multiple repositories. When using octobox to review outstanding work at the beginning of my day, I must open each PR individually on GitHub

[2019-04-08 15:38] andrew commented on #1731
@ahayworth do you know which permissions are needed to get that data from the GitHub api as a GitHub app?

[2019-04-08 18:50] choldgraf opened #1732 "Paying for octobox annually?"
Hello 👋 this isn't a question about octobox tech itself, but on the process of donating.

*tl;dr - does anybody know if there's a way to pay for a year's worth of octobox instead of month-by-month?*

I saw that it's possible to support octobox "the company", which I'd like to do via a grant that we've got (I work at an educational institution so money flows through grants). However, I couldn't fig

[2019-04-10 09:46] BenJam commented on #1732
hey @choldgraf :wave: thanks for the support!

I believe you can pay for an annual subscription through the GH marketplace but, if it's easier, you can just email us and we can send you an invoice directly. If you'd prefer to donate to the community directly then you can do so on Open Collective.

Good point about the gift box!

[2019-04-10 14:33] choldgraf commented on #1732
is one or the other seen as more beneficial to you two? I'm inclined to support the Ltd, since I like the idea of explicitly signaling that I support a company doing good OS work (and because something tells me that it'll be easier to get reimbursed if it looks like I'm "buying" something), but I can't figure out how to pay for an annual subscription rather than monthly. Will report back if I can

[2019-04-11 20:17] chris48s opened #1745 "renamed issues not synced"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

Sometimes when the title of an issue is changed, the rename doesn't propagate to octobox. For example, the title of this issue https://github.com/DemocracyClub/yournextrepresentative/issues/819 was changed:

![Screenshot at 2019-04-11 21-12-37](https://user-images.githubusercont

[2019-04-16 10:04] BenJam commented on #1732
The choice is yours but, if you'd prefer to support Andrew and myself specifically then the company is the best way to do that.

There's definitely an annual plan (2 months free) set up on the GH marketplace btw.

[2019-04-16 16:37] choldgraf commented on #1732
ok, I will look into this more :-)

[2019-04-16 18:22] choldgraf commented on #1732
Well, I still cannot figure out how to get something annually in the github marketplace. From the page that's there, this is the only set of options I see:

![image](https://user-images.githubusercontent.com/1839645/56234019-3f206200-6039-11e9-8a8b-00a21affa33f.png)

Apologies if I'm being annoying here - I'd like to support the project, but it's not super easy to figure out how to do so :-(   May

[2019-04-16 18:33] choldgraf commented on #1732
Ah ha! I think I figured it out:

https://help.github.com/en/articles/changing-the-duration-of-your-billing-cycle#changing-the-duration-of-your-personal-accounts-billing-cycle

The setting isn't done from within the github marketplace, but within the user's individual settings.

[2019-04-18 09:28] andrew commented on #1478
A fix for the comment count being set back to nil: https://github.com/octobox/octobox/pull/1760

Doesn't address the other issue reported here on an incorrect but non-nill count.

[2019-04-18 17:33] PatrickLang commented on #1081
+1 . There are work repos I used to contribute to but are no longer my responsibility. I'd like to delete them from the left bar.

[2019-04-19 11:51] timhoffm opened #1763 "Removed labels still show up"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**

Labels that are removed on github still show up in octobox.
This is a bit annoying for labels that are used only temporarily such as „needs clarification“ or „needs review“.

[2019-04-19 12:00] timhoffm opened #1764 "Sync via button is slow"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
Updating via the sync button in the UI takes ~10s. In contrast, reloading the complete page takes < 1s.

🎯 **Goal**

💡 **Possible solutions**

Not too important since I now just always reload the page. However, it makes a bit of a bad user experience when the button is spinning f

[2019-04-22 21:06] andrew opened #1772 "Add support for new GitHub webhooks"
GitHub has added some new webhook types that’ll be useful for syncing certain types of data: https://developer.github.com/changes/2019-04-18-new-webhook-events-and-actions/

[2019-04-23 08:45] andrew commented on #1763
@timhoffm do you have the Octobox [GitHub app](https://github.com/apps/octobox) installed on those repositories?

[2019-04-23 08:46] andrew commented on #1764
The sync button is doing more work that just refreshing the page, it's going to GitHub, checking all your notifications to see if they have been marked as read/unread and then syncing the issue/pull request details for each updated notification.

[2019-04-23 09:38] andrew commented on #1081
If you [delete](https://github.com/octobox/octobox/pull/987) all notification for a repository then it will no longer show up in the sidebar.

[2019-04-23 10:31] timhoffm commented on #1764
Thanks for the answer. In that case, it's ok. If you have any idea how to make this more obvious (e.g. a more descriptive tooltip - maybe even just "Sync with Github"; or a progress bar), IMHO that would improve the user experience. Otherwise this can be closed.

[2019-04-23 10:33] timhoffm commented on #1763
@andrew Yes, I do have the GitHub app installed. Might be that this is a syncing issue because I've not been using the "Sync" button but just reloaded the page (c.f. #1764). I'll recheck and report back.

[2019-04-24 12:47] BenJam commented on #1732
Cool ta, I'll add some further guidance about this and thanks for the support 👍

[2019-04-24 14:52] scopatz commented on #452
This would be great to have!

[2019-04-24 20:20] choldgraf commented on #1732
No problem! Here's what I did in case it's helpful:

## How can I pay for Octobox annually instead of monthly?

By default, GitHub Marketplace will charge your account monthly instead of
annually. To pay for [Octobox on the GitHub marketplace](https://github.com/marketplace/octobox)
annually, you need to change this setting in your personal account.
Make sure you are signed in, then go to this lin

[2019-04-25 14:11] timhoffm commented on #1763
Still happening. For example  I removed a label here https://github.com/matplotlib/matplotlib/pull/14001#event-2300367308. Then clicked the sync button, waited until the sync was complete, but the label is still displayed. Also a page reload does not fix it (so it's not a stale GUI problem either).

[2019-04-26 06:06] Qard opened #1781 "Private repo access not working for non-org-admins?"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
All the issues from my work repos show the `Private notification on org/repo, upgrade to unlock.` message and according to my settings page we have no plan. However, we _do_ have a plan and our infra team uses octobox regularly. For some reason it seems to just be inaccessible fo

[2019-04-26 07:45] andrew commented on #1781
Can you check the permissions for your oauth login here, you may need your GitHub admin to grant you full access: https://github.com/settings/connections/applications/3ab10eeb090c850faa7f

[2019-04-26 21:17] Qard commented on #1781
Octobox appears in "Installed Github Apps" and "Authorized Github Apps" but nothing in "Authorized OAuth Apps" at all.

[2019-04-26 21:25] Qard commented on #1781
Logged out and back in, now it asked to re-authorize. Maybe it expired or something? Anyway, now I can _get_ to that page. I see a green check mark best the org name and it says I have "access notifications" permission. Still unable to view those notifications in the Octobox UI though. 🤔

[2019-04-26 23:14] andrew commented on #1781
You shouldn’t need to be an admin, will check out your account details tomorrow

[2019-04-27 13:23] timhoffm commented on #1763
Note: Also a changed issue title is not updated by the sync mechanism.

[2019-04-29 14:44] andrew commented on #1763
@timhoffm definitely sounds like a permissions issue, can you list the repositories that you are having problems with so I can debug further?

[2019-04-29 14:51] timhoffm commented on #1763
Mainly working on https://github.com/matplotlib/matplotlib currently. That's the one I've had the problems with. Can't say anything about other repos.

[2019-04-29 20:40] Qard commented on #1781
Should having a "Personal Projects" plan grant me access to private repos of orgs I'm a member of, or does the org itself need a plan? By the sound of it, our infra team uses it regularly but everyone just uses the "Personal Projects" plan. It sounds like maybe we don't actually have an org plan? Not sure. 🤔

[2019-04-30 10:00] BenJam opened #1791 "Delayed comments"
There's sometimes a delay between comments appearing on an issue/pr and their appearing on my octobox account. I've had reports of the same (some spanning hours) too:

<img width="1532" alt="Screenshot 2019-04-30 at 10 48 28" src="https://user-images.githubusercontent.com/158833/56954554-f5567200-6b36-11e9-9495-66ab9a387ffd.png">

<img width="1532" alt="Screenshot 2019-04-30 at 10 48 23" src="http

[2019-04-30 10:00] BenJam commented on #1791
Would like to address this before #1645 is completed.

[2019-04-30 12:58] andrew commented on #1791
@BenJam should be noted that my comment in the first screenshot is actually a pull request review comment, not a regular comment, I don't believe octobox will ever sync that one as we have no support for pull request review comments yet

[2019-04-30 13:47] spalger opened #1792 "Repetitive results when negating labels"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io
 - [ ] My instance

🐞 **Problem**
When trying to hide notifications with a specific label the search comes back with one result for each label the matching notifications has:

![image](https://user-images.githubusercontent.com/1329312/56966291-a64b1580-6b13-11e9-8418-3923e924f107.png)

🎯 **Goal**
Notifications sh

[2019-04-30 14:08] BenJam commented on #1791
Good point, i was quite sure I'd seen it before on an issue. I'll take a look at what it would take to add to a PR because I think it would be amiss not having that before launching conversations.

[2019-04-30 14:17] andrew commented on #1792
Yep, that's a bug, thanks for reporting!

[2019-04-30 14:57] andrew commented on #1792
Looks like it's only happening for notifications with more than one label, I'm fairly sure it's a problem with the sql query, likely that a `distinct` needs to be added in.

[2019-05-01 07:13] Robert-M-Muench commented on #757
This is really an annoying one when you track a couple of repos.

[2019-05-03 14:27] abunashir opened #1799 "Broken UI for Google Chrome"
Are you experiencing this issue in octobox.io or your own instance?
 - [x] octobox.io

🐞 **Problem**

First of all thanks a lot for this amazing tool, I've been using it for a while and I love it so far. The problem I'm having is more related to the UI, so if some issue / PR title has more than a certian number of characters then the UI looks broken to me and I can't even scroll to it either. For

[2019-05-03 14:35] andrew commented on #1799
Thanks for reporting, looks like a problem with the way that [`overflow-wrap: break-word`](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap) handles `underscored_words`.

I think adding something like this will fix it:

[code]

[2019-05-03 16:42] andrew opened #1800 "Use media accepts header to get github to render markdown of comment body"
When downloading comment bodys from the github api, we can send a media query to request that github flavoured markdown is sent, that means we don't need to keep up with any extra features they add to their rendering engine: https://developer.github.com/v3/media/#comment-body-properties

[2019-05-04 22:49] Qard commented on #1781
I tried getting the "Personal Projects" plan, even though I don't have any of my own personal private repos to track issues on, but I still don't have access to the issues from the org projects.

Any idea what I need to do to get this working? It's a huge pain that I have several important work repos which I can't get notifications from and therefore need to spend time checking manually every day.

[2019-05-06 14:06] #1647 closed

[2019-05-06 14:15] andrew commented on #1597
Fixed now

[2019-05-06 14:15] #1597 closed

[2019-05-06 14:25] andrew commented on #1601
PR here: https://github.com/octobox/octobox/pull/1804

[2019-05-06 14:28] andrew commented on #1082
I don't think this is one we can easily fix, seems like a specific issue for that font stack

[2019-05-06 14:28] #1082 closed

[2019-05-06 14:29] #1601 closed

[2019-05-06 14:32] #958 closed

[2019-05-06 14:33] #1429 closed

[2019-05-06 14:33] #1081 closed

[2019-05-06 14:34] andrew commented on #1651
@TylerLeonhardt did you have any luck with this in the end?

[2019-05-06 14:48] andrew commented on #1640
Looks like there's a new version of gemoji coming very soon, hopefully that'll fix this, otherwise https://github.com/octobox/octobox/issues/1800 will.

[2019-05-06 14:54] #1585 closed

[2019-05-06 14:55] andrew commented on #1580
I believe this has been fixed, please let us know if not.

[2019-05-06 14:55] #1580 closed

[2019-05-06 14:57] andrew commented on #1628
PR with an improvement for this: https://github.com/octobox/octobox/pull/1805

![Screenshot 2019-05-06 at 15 51 52](https://user-images.githubusercontent.com/1060/57233962-96ea3180-7017-11e9-9bb3-c5506d959f90.png)

[2019-05-06 16:00] #1628 closed

[2019-05-06 17:11] TylerLeonhardt commented on #1651
I gave up shortly after my discovery with the override.

[2019-05-06 18:07] andrew commented on #1651
Ok thanks for reporting back, going to close this for now.