[2016-12-17 00:54] andrew opened #1 "Pagination"

[2016-12-17 01:01] andrew opened #2 "Instruction for deploying to heroku"
Maybe with a heroku button

[2016-12-17 01:04] andrew opened #3 "Oauth Login"
Currently you have to make a personal access token and run the app yourself, we can [omniauth-github](https://github.com/intridea/omniauth-github) to enable people to login via a hosted version without having to run the app themselves.

[2016-12-17 01:06] andrew opened #4 "Pull in Subject when downloading"
Download the Issue or pull request that the notification is referencing so we can see more info about  and have the ability to show a threaded conversation for it when clicking in.

[2016-12-17 01:08] andrew opened #5 "Star a notification"
Similar to gmail stars, allow the user to "star" and "unstar" notifications to mark it as special and allow filtering by starred notifications.

[2016-12-17 01:09] andrew opened #6 "Allow "unarchiving" of notifications"
Currently you can't pull a notification out of the archive from the Web UI, you should be able to revert the archiving action in case you need to put it back in the inbox

[2016-12-17 01:14] andrew opened #7 "Muting"
Allow muting of a notification or thread, either via the github watching/not watching functionality or something built into the app that stops the notification becoming unarchived again automatically.

[2016-12-17 01:17] andrew opened #8 "Ignore certain types of notifications"
Allow some way of defining filters of types of notifications to ignore, where you don't want to mute the thread/repo but don't want to hear from hound.ci or greenkeeperbot

e.g. filter out notifications from a particular user/org/reason or a combination

[2016-12-17 01:48] #2 closed

[2016-12-17 02:01] andrew opened #10 "Archive All"
Properly use the checkboxes to allow for archiving of multiple items at once, ala gmail

[2016-12-17 02:04] andrew opened #11 "Database indexes"
It works fine for just a few hundred notifications but I've been very lazy with the queries so far, going to need some indexes on the notifications table for sure.

[2016-12-17 03:09] atuttle opened #12 "Docker image(s) for those who don't want to run all of the deps locally"
It would be nice if there were a docker container I could spin up, instead of making sure I have the appropriate versions of ruby/postgres/etc and configuring them together.

FWIW I'm going to try my hand at putting one together. If I get anywhere I'll happily contribute it back.

[2016-12-17 03:58] bfred-it commented on #12
There's a Deploy to Heroku button that works fairly well, if that's enough.

[2016-12-17 07:52] andrew commented on #12
👍

[2016-12-17 07:58] andrew opened #13 "Add a contributing.md"
Adapted from the excellent one in 24pullrequests: https://github.com/24pullrequests/24pullrequests/blob/master/CONTRIBUTING.md

[2016-12-17 08:47] andrew opened #14 "GitHub Enterprise config"
In theory this should "just work" with an enterprise install if we make the domain configurable in the Notification class

[2016-12-17 10:50] andrew opened #15 "More friendly on mobile"
Haven't checked what the site looks like on mobile but I'd bet it's not great 😬

[2016-12-17 12:01] boffbowsh commented on #14
I have access to an Enterprise instance so I'll try and find time to do the work on this 👍 . Are you envisaging separate installs of Inbox per GH instance?

[2016-12-17 12:03] andrew commented on #14
@boffbowsh yeah definitely, let people run it internally for their own usage be it Github.com or Enterprise

[2016-12-17 12:04] Charlotteis opened #17 "Desktop App?"
**NB: Not a feature or a support request, more a question/discussion**

This is _fantastic_, thanks so much, Andrew!.

I would really like to be able to have this as an app on my desktop, like you can do with [Electron]. I have no idea how to achieve this but if someone could point me in the right direction, I'd be willing to take a look / work with someone to do this.

Would this be of use to any

[2016-12-17 12:06] Charlotteis commented on #17
It looks like I could make this even simpler by hosting my own version on Heroku, and just creating a Desktop app out of it using Chrome?

[2016-12-17 12:07] andrew commented on #17
If you deploy it to heroku and point electron at the domain you could use it as an app specific browser like http://fluidapp.com

Otherwise if you want to run it locally with postgres and rails I'd guess Docker would be the way to go, otherwise it'd be easier to rewrite the whole thing in JavaScript

[2016-12-17 12:10] Charlotteis commented on #17
@andrew Thanks! Just deploying as we speak :) Rewriting in JavaScript would be a very fun hobby project...

[2016-12-17 12:11] boffbowsh commented on #4
Also the status of the subject - it'd be good to be able to filter out already-merged or already-closed issues/PRs to help prioritise.

[2016-12-17 12:12] andrew commented on #4
👍 issues and prs are both basically the same in the GH database so we should be able to store them both in he same table

[2016-12-17 12:14] boffbowsh opened #18 "More obvious AJAX progress"
I barely noticed the (Turbolinks?) progress bar at the top of the page. It'd be good to make the notification fade out with a spinner or similar instead

[2016-12-17 12:16] andrew commented on #18
I'm trying to keep the JavaScript to a minimum for my own sanity, I think there's a standard loading spinner function in bootstrap we can use for that

[2016-12-17 12:16] boffbowsh opened #20 "Keyboard shortcuts"
a la Gmail. A lot of notifications are generated across my organisation. I generally skim the subjects and mass-archive them off when dealing with them via Gmail. This workflow would be really useful here.

Mainly, lots of j,x,j,x,j,x,y.

[2016-12-17 12:18] andrew commented on #20
👍

[2016-12-17 18:59] ckuhn203 commented on #3
I'm happy to see this issue already opened. My very first thought was that I'd like to deploy to my VPS.

[2016-12-17 20:16] tarebyte commented on #3
@andrew I've got a branch in the works.

PR coming soon!

[2016-12-17 20:23] andrew commented on #3
@tarebyte 👏

[2016-12-17 21:16] xadamy commented on #17
I understand the technical limitations preventing this, but my 2 cents would be that this does seem like something that is more suited to being self-contained in a desktop app or similar...

[2016-12-17 21:24] andrew commented on #17
This project will always be web based, I want to access the inbox from my phone or laptop. It could also provide an API that a desktop app could be built on top of at some point

[2016-12-17 21:28] johnthepink commented on #17
Nativefier is also a great solution for something like this https://github.com/jiahaog/nativefier

[2016-12-17 22:43] xadamy commented on #18
@andrew Turbolinks has its own CSS hook for this https://github.com/turbolinks/turbolinks#displaying-progress

[2016-12-18 05:11] #11 closed

[2016-12-18 05:26] andrew opened #27 "Store owner name on notification"
To allow easy filtering and grouping by user/org that owns the repo we should add an `owner_name` field to the notifications table and store it when downloading notifications.

[2016-12-18 08:08] Defman21 opened #28 "rake db:create:all fails"
[code]

[2016-12-18 08:38] Defman21 commented on #28
Hmm, I've created `github-inbox` and `defman` roles and it's working now.

[2016-12-18 08:38] #28 closed

[2016-12-18 13:01] karpiu commented on #5
Is someone working on this? If no, then I can do it.

[2016-12-18 13:05] andrew commented on #5
Go for it!

[2016-12-18 14:28] GiacomoLaw commented on #6
https://github.com/andrew/github-inbox/commit/5fbfe7f73fcb6cdb32b5cc8c5919bc1938aec8f1

Is this implemented? :)

[2016-12-18 14:29] #6 closed

[2016-12-18 14:29] andrew commented on #6
Yep

[2016-12-18 14:29] GiacomoLaw opened #32 "Alerts can be archived from the public"
If someone goes on my link, they can archive my alerts, and use it as if they were me.

Any way of stopping this?

[2016-12-18 15:09] andrew commented on #32
https://github.com/andrew/github-inbox/pull/25 Will stop this happening, you can add some basic auth middleware with to the config.ru file in the meantime

[2016-12-18 15:14] #5 closed

[2016-12-18 15:16] JamieMason opened #34 "Error when running bundle exec rake db:create:all"
Hi,
While following the setup steps on the README, I ran `bundle exec rake db:create:all` on my laptop and got the following error.

[code]

This issue is to update the README to explain that this error is ok to ignore. I would do this myself by pull request but I don't have knowledge of postgres unfortunately.

Thanks for this great tool, really excited to try it out.

[2016-12-18 15:31] #32 closed

[2016-12-18 15:44] #34 closed

[2016-12-18 15:46] karpiu commented on #34
Typical Postgresql+Rails error. Solution:

Run in `psql` console the following sql:

`CREATE ROLE "github-inbox" LOGIN SUPERUSER;`

[2016-12-18 15:52] karpiu commented on #20
Is someone on it? If no, I will do it.

[2016-12-18 15:53] andrew commented on #20
Go for it!

[2016-12-18 17:10] boffbowsh commented on #20
Please do!

[2016-12-18 20:13] andrew opened #37 "Rename"
I don't want to step on GitHub trademark so it's probably best to rename the project sooner rather than later, I'm thinking: Octobox 🐙

[2016-12-18 20:18] andrew commented on #12
@atuttle there's a pull request open to add some config for a docker box now, can you double check it for me? https://github.com/andrew/github-inbox/pull/35

[2016-12-18 20:18] nodunayo commented on #37
I like that! :-)

[2016-12-18 20:26] tarebyte commented on #37
:sparkles:

[2016-12-18 20:46] #37 closed

[2016-12-18 20:48] andrew commented on #37
:shipit: https://github.com/andrew/octobox

[2016-12-18 20:51] pezholio commented on #17
An API would be awesome. I really enjoy tinkering with Electron, so I'd love the opportunity to build or collaborate on a desktop version of Octobox 👍🏻

[2016-12-18 20:55] andrew opened #39 "API"
As mentioned in https://github.com/andrew/octobox/issues/17, we could build an API to make it easy to build different kinds of UI on top of the data layer.

[2016-12-18 20:55] andrew commented on #17
@pezholio just opened an issue for it here: https://github.com/andrew/octobox/issues/39

[2016-12-18 20:57] pezholio commented on #17
Awesome. Might give this a crack over the holidays 👍🏻

[2016-12-18 21:03] andrew commented on #17
🎅

[2016-12-18 23:14] #12 closed

[2016-12-19 00:23] #13 closed

[2016-12-19 02:08] atuttle commented on #12
I'm looking at it now. Seems to be working. 👍🏻

[2016-12-19 10:07] #3 closed

[2016-12-19 11:18] andrewhathaway commented on #17
I've been working on an Electron based app for Notifications for a little while now, I'll post a link here when I have more information!

[2016-12-19 12:00] pezholio opened #42 "Missing the 'notifications' scope"
Just tried to set up Octobox following the instructions, and after logging in, I see a somewhat bare dashboard:

![download 12](https://cloud.githubusercontent.com/assets/109774/21312168/a4dc52aa-c5e2-11e6-8a58-e9b867a939ec.png)

I then click 'refresh' and see this error:

[code]

[2016-12-19 12:04] m1guelpf commented on #42
Fixed in #43

[2016-12-19 12:07] #42 closed

[2016-12-19 12:07] andrew commented on #42
@pezholio just merged https://github.com/andrew/octobox/pull/43, pull and re-login 👍

[2016-12-19 12:41] WillAbides opened #44 "Allow option to authenticate with a personal access token"
Add the option to authenticate with a personal access token.  This was lost in #25.

[2016-12-19 12:45] WillAbides commented on #4
When this is implemented, please consider making it optional so that people can still use octobox in organizations that are ok with notifications scope but not with private repo scope.

[2016-12-19 14:46] briannelson commented on #15
I'll take a crack at this @andrew. Before I start, any objection to using Octicons in lieu of Font Awesome? Might play a bit nicer with Github itself.

[2016-12-19 15:26] ben-eb opened #45 "Is it possible to show the issue/pull request status?"
This is a great project, thanks!

I was just wondering if it's possible to show if an issue is open/closed, or if a pull request is open/merged/closed? This would be really nice to see at a glance if issues would need further action.

[2016-12-19 16:39] andrew commented on #10
Fixed by https://github.com/andrew/octobox/pull/47

[2016-12-19 16:39] #10 closed

[2016-12-19 16:39] andrew commented on #20
Fixed by @karpiu in https://github.com/andrew/octobox/issues/36

[2016-12-19 16:39] #20 closed

[2016-12-19 16:39] andrew commented on #45
Yep, planned here: https://github.com/andrew/octobox/issues/4

[2016-12-19 17:14] andrew commented on #4
I wonder if we could use the new github graphql api to pull in the subject state along with the notifications and reduce the number of http requests? cc @tarebyte

[2016-12-19 17:30] tarebyte commented on #4
As of right now it's not possible because Notifications are not a [supported object](https://developer.github.com/early-access/graphql/object)

Also since GraphQL is in preview the API rate limit is 300 reqs/hour

[2016-12-19 17:36] andrew commented on #4
Ok scratch that for now, we'll have to do it the old fashioned way :feelsgood:

[2016-12-19 17:56] jlmitch5 commented on #44
As far as I can tell, there's no way to provide the "notifications scope" mentioned in the readme.md anymore with the deploy to heroku button now, as it doesn't seem like there's a way to set that in the "Register a New oauth application" screen. This may not matter, but just wanted to write a note in case it does.  These are the config vars you get in heroku now:

<img width="962" alt="screen sho

[2016-12-19 17:58] andrew commented on #44
@jlmitch5 ah good catch, that's definitely got a bit out of sync today, the app now defaults to `notifications` as the scope so you don't need to set it, and the readme is definitely out of date around the heroku button

[2016-12-19 18:00] xadamy opened #49 "Sync with Github on first login"
IMHO, I should have issues waiting for me as soon as I log in for the first time without having to press the sync button manually. 🔄

[2016-12-19 18:04] jlmitch5 commented on #44
Sounds good!  Would pr a change to the readme, but it sounds like there's probably active development/changes around adding the personal access token config back in, so I thought it best to hold off until that lands.

[2016-12-19 18:06] andrew commented on #44
@jlmitch5 I think the PR will add the ability into the UI rather than via ENV, will happily merge a quick update to the readme now

[2016-12-19 18:07] ben-eb commented on #45
Ah brilliant, I'll track that issue instead. Thanks! 👍

[2016-12-19 18:07] #45 closed

[2016-12-19 18:14] karpiu commented on #1
Anyone working on it? If no, I will do it.

[2016-12-19 18:14] tarebyte commented on #1
@karpiu not as far as I know, go for it 👍

[2016-12-19 18:19] karpiu commented on #1
`will_paginate` gem will do?

[2016-12-19 18:23] tarebyte commented on #1
@karpiu I feel like https://github.com/amatsuda/kaminari is better maintained, but I could be wrong.

[2016-12-19 18:25] karpiu commented on #1
@tarebyte I can work with whichever you prefer. So `kaminari` it is :shipit:

[2016-12-19 18:54] andrew commented on #1
You can generate some nice styles with: `rails g kaminari:views bootstrap3`

[2016-12-19 19:03] karpiu commented on #1
@andrew great tip. Thanks!

[2016-12-19 19:13] andrew opened #50 "Allow logging out"
Now that you can login via oauth, we should probably allow logging out as well 😂

[2016-12-19 19:27] #1 closed

[2016-12-19 19:33] andrew opened #52 "Search"
Without opening a huge can of worms or adding any extra dependencies I wonder if we can add a basic search using a postgres full text search index: http://rachbelaid.com/postgres-full-text-search-is-good-enough/

[2016-12-19 19:48] m1guelpf commented on #50
![realitytvgifs-bad-girls-club-the-bgc-mexico-jmauWz6llETYI](https://media3.giphy.com/media/jmauWz6llETYI/giphy.gif)
:laughing: :

[2016-12-19 19:49] m1guelpf commented on #52
![search-dfQwvk9YLzVmM](https://media2.giphy.com/media/dfQwvk9YLzVmM/giphy.gif)

[2016-12-19 20:29] davejlong opened #53 "Show current status of issue/PR"
In the notification list, I found myself wanting a way to quickly see if an issue was closed or a PR was merged, instead of having to click through each notification to check.

[2016-12-19 20:30] davejlong opened #54 "Filter and archive by Open/closed for prs and issues"
In combination with #53, I want to be able to quickly archive closed issues and PRs, especially when initially syncing the notifications from GitHub.

[2016-12-19 20:34] davejlong opened #55 "Navigation builds on filters"
Steps for issue:

1. Click Pull Request
2. Click Assign
3. Click Read

## Expected result:

When I click through the nav elements, I expect to see the same amount of notifications as what's in the count indicator to the right of the nav element.

## Actual result:

After clicking Pull Request, the rest of the pages only show Pull Request notifications. The only way to clear out the filter is to go

[2016-12-19 20:37] davejlong commented on #55
I went to submit a PR to fix this, but noticed that it seems to be by design. So I guess there are 2 possible solutions:

1. Don't cache type filter across requests. The type is pulled from the query params to build URLs for the other nav elements.
2. Make the count indicator more usable by pointing out how many notifications the user should expect to see. Commonly this is shown as `2/7` to say th

[2016-12-19 20:38] davejlong commented on #53
Closing per #4

[2016-12-19 20:38] #53 closed

[2016-12-19 20:44] andrew commented on #55
Agree it's confusing right now, this was the result of not making the code to complex or hitting the database too hard, needs some thought into exactly what should be filterable by what that can be done in a performant way

[2016-12-19 20:45] andrew commented on #54
Dependent on https://github.com/andrew/octobox/issues/4

[2016-12-19 20:48] davejlong commented on #55
I can totally see value in saving the notification type (PR/Issue) and the reasons. Most of the time, I just want to look at PRs where I'm assigned or Issues where I'm the author/subscriber. I think the latter solution of showing the count of notifications with the current filters along with total notifications would impose the best usability. That also would need to include a way to clear out fil

[2016-12-19 20:54] #50 closed

[2016-12-19 21:30] jaymiejones86 opened #56 "UI Updates"
I wanted to start this discussion about a direction for the UI as it is an area that can provide great discussion and can be a moderately easy area to start contributing to for new contributors to open source to get into (YMMVY).

Please add your thoughts on UI direction below with reasoning for the change or direction.

[2016-12-19 21:33] jaymiejones86 commented on #56
I would like to make the focus a bit stronger on the messages view as that is the primary area of focus.

I would also like to look at updating the container styling to accommodate some colour, for example (rough in browser mock of the top bar):
![image](https://cloud.githubusercontent.com/assets/1390569/21329817/cd46c78c-c68e-11e6-89c8-c02127a228d0.png)

I outline the above as these can be seen a

[2016-12-19 22:01] tarebyte commented on #56
@jaymiejones86 ❤️ the direction this is going.

Would it be helpful to show display the user's login with avatar on the navbar for their context?

[2016-12-19 22:08] jaymiejones86 commented on #56
@tarebyte that is a great suggestion for usability, showing who you are logged in as.

[2016-12-19 22:17] andrew commented on #56
Looking good, reminds me of a previous version of outlook.com 👍

[2016-12-19 22:30] tarebyte commented on #56
Also reminds me of Fastmail

<img width="1440" alt="screen shot 2016-12-19 at 17 30 24" src="https://cloud.githubusercontent.com/assets/564113/21331523/dbab677a-c610-11e6-86fe-f9a47466209d.png">

[2016-12-19 23:19] jdm opened #59 "UI looks funky after archiving everything"
<img width="1386" alt="screen shot 2016-12-19 at 6 18 49 pm" src="https://cloud.githubusercontent.com/assets/27658/21332610/a1c7dd84-c617-11e6-8c88-df565b39ba16.png">

[2016-12-19 23:30] jdm opened #60 "Allow archiving multiple notifications simultaneously"
I'm envisioning pressing `x` to mark the checkbox for a notification, then `y` will archive all of the currently selected notifications.

[2016-12-19 23:31] jdm opened #61 "Open notifications via keyboard shortcut"
It would be nice if pressing `o` or `enter` would open the current notification link in a new tab.

[2016-12-20 00:41] karpiu commented on #61
I will do it

[2016-12-20 06:56] #49 closed

[2016-12-20 09:55] #61 closed

[2016-12-20 10:17] lsinger opened #64 "OAuth: `invalid_credentials` error even though app authorized"
I just tried signing in to https://octobox.io through GitHub. I authorized the app on GitHub.com and then got the OAuth redirect. However, I ended up at this URL:

https://octobox.io/auth/failure?message=invalid_credentials&origin=https%3A%2F%2Foctobox.io%2Flogin&strategy=github

Screenshot:

<img width="669" alt="screen shot 2016-12-20 at 10 59 40 am" src="https://cloud.githubusercontent.com/asse

[2016-12-20 10:38] karpiu commented on #59
Don't know about "funky" but I noticed a bug in your screenshot that is probably my fault: the little blue vertical line for navigating notifications. It should not be visible if the list is empty. I will fix it.

[2016-12-20 11:38] plaindocs opened #65 "FYI octobox exists (even deprecated)"
http://useoctobox.com/

[2016-12-20 11:40] andrew commented on #65
Yeah I saw then when looking for names but on the website it says:

[2016-12-20 11:40] #65 closed

[2016-12-20 13:39] briannelson commented on #15
@andrew thoughts on this direction? I've sort of overstepped the scope of this issue, but will push up a PR soon that covers mobile betterness as well :)

<img width="1206" alt="octobox" src="https://cloud.githubusercontent.com/assets/29120/21352518/d115ce20-c68f-11e6-96f5-517d2c2025c9.png">

[2016-12-20 13:39] briannelson commented on #56
Working on this for #15

<img width="1206" alt="octobox" src="https://cloud.githubusercontent.com/assets/29120/21352527/e25eea54-c68f-11e6-9633-2078c3d1fb18.png">

[2016-12-20 14:24] andrew commented on #15
@briannelson looking nice!

[2016-12-20 14:31] karpiu commented on #27
I'll do it.

[2016-12-20 14:39] tarebyte commented on #59
Closed by #66

[2016-12-20 14:39] #59 closed

[2016-12-20 14:45] M-Zuber opened #68 "UX question"
I did not find that a checkbox to archive was intuitive enough (especially considering that #60 has not yet landed so only one can be selected at a time)

Related (as this is my current blocker to making a pr) is there any way to work with just the client side and have it connect to octobox.io or similar?

[2016-12-20 14:46] #64 closed

[2016-12-20 14:48] M-Zuber opened #69 "View issue/pull request content in page"
https://notifications.githubapp.com/ does this, but it may be out of scope for this project.

[2016-12-20 15:00] jdm opened #70 "Cursor position resets after archiving"
If I leave several notifications to look at later and want to archive a bunch of ones below them, this means I have to scroll down past them every time. This feels inefficient to me!

[2016-12-20 15:05] jdm opened #71 "Opening notifications overrides the previous opened notification"
If I press enter on three notifications in a row, only a single tab is opened and it shows the content of the last notification that I opened. I would expect this to open three separate tabs, instead.

[2016-12-20 15:08] plaindocs opened #73 "Trouble with heroko"
So I'm trying to deploy to Heroku:

I've retro fitted the URLs into the GH case they matter, added an Oath client/secret.

When I get the Sign in with GitHub button, I'm transferred to the heroku dash not the app. Do I need any permission other than notifications?

Or is there something obvious I'm missing?

[2016-12-20 15:10] tarebyte commented on #73
@plaindocs to make sure I understand you're trying to use Octobox for GItHub Enterprise?

If that's the case I just opened up a Pull Request (#72) which may be of some assistance to you.

[2016-12-20 15:12] plaindocs commented on #73
Cheers for the quick response @tarebyte . No, not enterprise - just a mix of private and public repos on GH.

[2016-12-20 15:14] tarebyte commented on #73
@plaindocs so on top of setting your Client ID and secret you'll also have to configure your token scope.

If you want private repos you need to update the `GITHUB_SCOPES` environment variable to be `repo,notifications`.

[2016-12-20 15:16] karpiu commented on #71
The same happens when you simply click on three notifications with a mouse. Tested on Chrome and Firefox. Weird bug.

[2016-12-20 15:19] andrew commented on #71
I think this is the issue: http://stackoverflow.com/questions/7952847/blank-links-opens-in-the-same-window-why-and-how-to-fix-it

[2016-12-20 15:21] M-Zuber opened #75 "Archive all should be context specific"
If I am viewing all issues from a specific repository, I want to clear them all in one click.
Archive all hits everything in all my notifications.

Is there currently a way to do what I want?

[2016-12-20 15:22] tarebyte commented on #75
Not right now, the archive all action would have to take the current parameters into context to be able to figure out what constitutes all.

[2016-12-20 15:22] andrew commented on #73
@tarebyte we should add a note about that in the readme

[2016-12-20 15:22] plaindocs commented on #73
hmmm, so I needed to fix up the callback URL, which isn't mentioned in the README at all.

After getting that right, I can authenticate, but see no notifcations. Should I be able to see the public ones if I don't update the scope? Which I did.

[2016-12-20 15:24] plaindocs commented on #73
I can update the README

[2016-12-20 15:24] tarebyte commented on #73
@plaindocs if you press the sync button up at the top does it load your notifications for you?

[2016-12-20 15:24] tarebyte commented on #73
What about the callback url did you have to change?

[2016-12-20 15:24] karpiu commented on #71
changing `target='blank'` to `target='_blank'` fixes the bug for me. Someone can double-check this? @andrew @jdm

[2016-12-20 15:25] plaindocs commented on #73
In the GH I needed to add the `Heroku-app.heroku.com/auth/github/callback` (going off the image further down in the README)

[2016-12-20 15:26] plaindocs commented on #73
No joy on sync.

[2016-12-20 15:26] tarebyte commented on #73
In the Octobox application or on GitHub?

[2016-12-20 15:29] #27 closed

[2016-12-20 15:36] andrew commented on #70
We're using turbolinks so each archive is actually a page refresh on the sly!

I'm sure there's a way we can have it remember it across page refreshes.

[2016-12-20 15:38] andrew commented on #73
@plaindocs yeah it should be herokuappname.herokuapp.com/auth/github/callback with the same http/https protocol as you are accessing the site from.

[2016-12-20 15:40] andrew commented on #71
@karpiu looks like it 👍

[2016-12-20 15:41] jdm commented on #70
I will say that on a pokey connection the page refresh is not particularly sly ;)

[2016-12-20 15:42] jdm commented on #71
Yes, _blank is a special name in web browsers, otherwise it uses a named target window.

[2016-12-20 15:48] andrew commented on #70
Not sly, but it does mean a lot less javascript to worry about

[2016-12-20 16:14] andrew opened #76 "Sync, star and archive actions should be POST/PUT requests"
They aren't right now because I'm a terrible person 😬

[2016-12-20 16:24] karpiu commented on #59
@tarebyte Not sure if you should close this one. @jdm have not explained yet what "funky" means

[2016-12-20 16:26] jdm commented on #59
It was the blue line, but also the big white space on the top left above the Archive link.

[2016-12-20 16:28] karpiu commented on #71
Should I make the PR?

[2016-12-20 16:28] andrew commented on #59
Blue line is fixed, big white space on the left needs to be squashed as there are empty tables there padding it out

[2016-12-20 16:28] andrew commented on #71
@karpiu yes please!

[2016-12-20 16:37] karpiu commented on #59
@andrew Ok. I will fix this.

[2016-12-20 16:41] #71 closed

[2016-12-20 16:52] Raffo commented on #76
So you plan to remove turbolinks?

[2016-12-20 16:55] Raffo opened #78 "Have list of "MAINTAINED" repository"
I would love to use this tool to have a visualization of all the notifications for repos I am a maintainer of, namely by looking at the "MAINTAINERS.md" file in the repo. I am willing to do the changes by myself if we agree that you are interested in this features, with some guidance given that I'm not good at rails.

[2016-12-20 17:33] andrew commented on #78
@Raffo I think this is outside of the scope of this project, it currently uses the GitHub watch/not watch/mute functionality to determine which notifications come in which will work for 99% of use cases as it's exactly the same as on github.com

[2016-12-20 17:34] #14 closed

[2016-12-20 17:34] Raffo commented on #78
Yeah, I saw the code and I get it, thanks anyways, please ping me in case you reconsider something similar.

[2016-12-20 17:38] #78 closed

[2016-12-20 18:17] M-Zuber opened #80 "Emoji reaction notifications"
Is there any way to get that information?

Now that everyone has been encouraged to 👍 the original issue and not make their own comment, it is actually harder to keep track of that without actually opening the issue/pr

[2016-12-20 18:19] tarebyte commented on #80
@M-Zuber you can get the reaction data from an issue/pull request from the API https://developer.github.com/v3/reactions/

[2016-12-20 19:07] andrew commented on #76
Still want to keep turbolinks for filtering but can't trust browsers not to follow urls and accidentally archive things!

[2016-12-20 19:30] M-Zuber commented on #80
I assume I would need to know ruby in order to attempt to integrate it into octobox though, correct?

[2016-12-20 19:42] WilsonChiang opened #83 "More information regarding author"
It would be nice if there was the option of showing the author of a PR/issue, and/or showing the person who last caused a notification to occur. If clutter is a concern maybe this could be a toggleable option.

If there's any interest for this I could work on adding this.

[2016-12-20 19:53] andrew commented on #83
Yeah would be good, related to https://github.com/andrew/octobox/issues/4

[2016-12-20 19:54] andrew commented on #80
partly dependent on https://github.com/andrew/octobox/issues/4

[2016-12-20 20:39] m1guelpf opened #85 "Notification url?"
Hi!
I am trying to use the notifications API, but I can't retrieve the notification html_url url (aka the normal github url).
I've contacted the github team, but they say it isn't possible. How did you do it?
(not using ruby)

[2016-12-20 20:50] tarebyte commented on #85
@m1guelpf so there isn't an `html_url` for a single notification.

We use the [Notifications API](https://developer.github.com/v3/activity/notifications) to get threads and then link to to the resource that is providing the notification (issue, pr, etc)

This is a non ruby way of getting a single notification thread

[code]

[code]

This is the API documentation:

[2016-12-20 20:52] andrew commented on #85
I do a fairly horrible thing with gsub: https://github.com/andrew/octobox/blob/master/app/models/notification.rb#L74

[2016-12-20 22:43] andrew opened #87 "Disappearing notifications"
After logging in on my phone all my unarchived notifications disappeared, looking in the database the 100+ notifications that were linked to my user_id was only 12 and they were all archived.

Very strange as there's no code to delete notifications in the app, so I'm guessing when they were synced the user was incorrect set, or we're getting weird responses from the github api, difficult to reprod

[2016-12-20 22:51] andrew opened #88 "updated_at clashes"
When you star a notification rails automatically updates `updated_at`, but we also store the `updated_at` from the github api response and in theory sort by that.

It ends up putting the most recently starred/archived notifications at the top of the list, very confusing. We should either stop rails updating the timestamp on those saves or use a different field to store the data from GH

[2016-12-20 22:52] andrew commented on #69
Related to #4

[2016-12-20 23:25] andrew opened #89 "Visual glitches on mobile"
![img_4219](https://cloud.githubusercontent.com/assets/1060/21371850/7ef04036-c70b-11e6-973c-893e666cd2cc.PNG)

Just a couple of overlapping bits to fix

[2016-12-21 00:29] briannelson commented on #89
How'd you do that?

Also note to self to kill tooltips on small screens

[2016-12-21 02:10] tarebyte opened #94 "Homepage has two different colors"
Looks like it's related to the changes from #81

![screen shot 2016-12-20 at 21 09 06](https://cloud.githubusercontent.com/assets/564113/21374991/952aae8a-c6f8-11e6-9201-14b7bad8a6ee.png)

/cc @briannelson

[2016-12-21 02:11] briannelson commented on #94
Oh, ha. I saw that and thought it was a stylistic choice you made, not remembering I had changed the background color myself.

#whoops

[2016-12-21 02:21] #94 closed

[2016-12-21 03:47] tarebyte commented on #15
Done ✨

[2016-12-21 03:47] #15 closed

[2016-12-21 06:58] m1guelpf commented on #85
@tarebyte @andrew So you get the notification, then get the api issue/pr url, and then get things from there?

[2016-12-21 07:02] jaymiejones86 commented on #56
This is great @briannelson.

Do we want to add some colour or keep the colour scheme fairly minimal to keep the focus on the messages themselves?

[2016-12-21 07:09] andrew commented on #89
Opened the filters then hit archive

[2016-12-21 08:15] AntSworD opened #96 "Deployment to Heroku something wrong"
![image](https://cloud.githubusercontent.com/assets/2549087/21381796/4f336bec-c798-11e6-925a-63e0199f807c.png)
Sorry! I don't know why it's happen. I just connect github, deploy, open web page..

[2016-12-21 08:24] AntSworD commented on #96
I think I know why, because i didn't click the button in README.MD to deploy

[2016-12-21 08:24] #96 closed

[2016-12-21 09:01] AntSworD opened #97 "keyboard shortcuts `r` or `.` failed"
I was display by heroku
When i press `r` or `.`, href to `/sync`, throw a error msg.
![image](https://cloud.githubusercontent.com/assets/2549087/21383127/20fe7c38-c79f-11e6-92a0-578de9bdaf93.png)

[2016-12-21 09:50] karpiu commented on #97
yes. in development: `No route matches [GET] "/sync"`. I will fix it now.

[2016-12-21 09:59] karpiu commented on #70
I will do it.

[2016-12-21 10:06] #97 closed

[2016-12-21 10:18] andrew commented on #85
@m1guelpf the app doesn't at the moment, it just transforms the `subject_url` in the notification api without making any extra requests

[2016-12-21 10:18] Kubuxu opened #99 "Review requested category"
Github introduced review requests unfortunately the only way to track them are notifications.
Is it possible to have notification category of 'review requested'?

[2016-12-21 10:44] andrew commented on #99
As far as I can see there's nothing in the notifications API that says its a review request but there are a couple beta apis for finding reviews and request details:

- https://developer.github.com/changes/2016-12-14-reviews-api/
- https://developer.github.com/changes/2016-12-16-review-requests-api/

Related to #4

[2016-12-21 10:46] #89 closed

[2016-12-21 12:14] andrew commented on #60
Sounds good, making the checkboxes behave more like gmail with an archive button ftw

[2016-12-21 12:15] andrew commented on #68
Making the checkboxes act more like gmail with an archive button at the top would be good

There's no way to run the clientside without the rails app as they are one and the same

[2016-12-21 12:40] M-Zuber commented on #68
🤔 Let us see how work goes today, I might be tempted to try and pr anyways. (have 23 left for 24pullrequests 😨 )

[2016-12-21 15:25] carlwgeorge opened #103 "incorrect link for releases"
I'm using the [hosted version](https://octobox.io) and I noticed that the link given for GitHub releases is incorrect and results in a 404 error.

Examples:
My notification for https://github.com/iuscommunity-pkg/python35u-mod_wsgi/releases/4.5.10-1.ius links to https://github.com/iuscommunity-pkg/python35u-mod_wsgi/releases/4921688.
My notification for https://github.com/iuscommunity-pkg/mariadb1

[2016-12-21 15:30] andrew commented on #103
I figured my [hack](https://github.com/andrew/octobox/blob/master/app/models/notification.rb#L73-L77) would break eventually, #4 will fix this properly

[2016-12-21 15:32] WilsonChiang opened #104 "Updating heroku hosted version with new releases"
What is the best way of upgrading Heroku hosted versions as new changes come out? Maybe we can add something to do the documentation? Thanks!

[2016-12-21 15:48] tarebyte commented on #104
@WilsonChiang the best way would be to pull the code down locally, add the Heroku app as a remote, and then push the new code up to your application.

[2016-12-21 16:14] WilsonChiang opened #105 "Support for reviewer request"
When someone adds you as a reviewer, it does not seem to send you a notification for it.

[2016-12-21 16:14] tarebyte commented on #105
@WilsonChiang if GitHub doesn't send a notification for it, we really don't have any way of knowing that the request happened.

So we might be out of luck here.

[2016-12-21 16:19] oyeanuj opened #106 "UX around 'Archive All'"
Hi @andrew, this is a super useful tool and I am glad you put it out there!

I ran into one major bummer though - At the top of every list, is a button called 'Archive All'. I clicked on it with the assumption that it would archive all of the notifications in **that** list. Unfortunately, it seemed to archive all 500 notifications.

Moreover, there wasn't an undo functionality for that either :(

[2016-12-21 16:20] oyeanuj commented on #106
Bah, already reported. Closing in favor of #75.

[2016-12-21 16:21] oyeanuj commented on #75
I created another issue for that, only to close it after finding this. Big +1 for this issue.

Here is the comment from there -

---
Hi @andrew, this is a super useful tool and I am glad you put it out there!

I ran into one major bummer though - At the top of every list, is a button called 'Archive All'. I clicked on it with the assumption that it would archive all of the notifications in that li

[2016-12-21 16:23] #106 closed

[2016-12-21 16:26] oyeanuj opened #107 "Notification Count Label"
Hi @andrew @tarebyte! Quick UX question around the notification labels - In several cases, the grey counter next to the labels in left side navigation has a number but clicking on it, shows me no notifications.

So, is that a number indicating total notifications including archived or read? Or is it the unread notification label and I should expect to see notifications there?

[2016-12-21 16:28] andrew commented on #105
Dupe of https://github.com/andrew/octobox/issues/99?

[2016-12-21 16:31] andrew commented on #107
It's a bit rubbish at the moment, the counts are unfiltered in some cases then the count will be higher than the possible view, the ideal case should be the number matches how many you would see if you click it.

[2016-12-21 16:43] knolleary commented on #75
I think there's a related feature here where a user may want to select multiple notifications and archive just those. I got caught out as I assumed the checkboxes where actually checkboxes I archived a number of notifications before I realised they are actually buttons.

This would suggest having an action that you can provide a list of notifications to archive would satisfy both the context-sensi

[2016-12-21 16:49] andrew commented on #75
@knolleary agreed, related issue here: https://github.com/andrew/octobox/issues/60

[2016-12-21 16:52] andrew commented on #75
Also related: https://github.com/andrew/octobox/issues/68

[2016-12-21 16:53] andrew commented on #75
As I said in #60, we should make the checkboxes behave more like gmail, select one or many and perform an action on those notifications

[2016-12-21 17:50] GiacomoLaw opened #111 "Inbox page does not show in the archive view"

[2016-12-21 17:50] GiacomoLaw opened #112 "Inbox page does not show in the archive view"

[2016-12-21 17:51] tarebyte commented on #112
Dup of #111

[2016-12-21 17:51] #112 closed

[2016-12-21 17:52] GiacomoLaw commented on #112
Sorry, accidently duplicated it. No idea how. Sorry!

[2016-12-21 18:33] pirate commented on #60
I thought the current behavior was a bug when I first used it.  I think most users don't expect the checkbox to immediately perform an action, they expect it to mark a selection for later actions (a la gmail, iTunes, Windows file manager, etc.) so this is a good fix.

[2016-12-21 21:18] briannelson opened #114 "Sidebar filter order"
Presumably, Inbox, Archive, and Starred are the most important filters. We should move these to the top.

![octobox](https://cloud.githubusercontent.com/assets/29120/21406334/0f9c7284-c799-11e6-8c95-2c2187512650.png)

[2016-12-21 21:19] tarebyte commented on #114
@briannelson I was just thinking that as well, feel free to open a PR!

[2016-12-21 21:20] briannelson commented on #114
I'll try to work on a better sidebar display tonight. Too many lines for my taste :) No offense @andrew

[2016-12-21 21:30] andrew commented on #114
I'm immune to offense when it comes to design work I did on Sunday night!

[2016-12-21 21:38] #75 closed

[2016-12-21 21:48] knolleary commented on #114
Just raised PR #115 related to filters.
Whilst putting that together, I noticed that the filter links in the sidebar are slightly inconsistent in their behaviour - for example, clicking a `type` filter also clears any current `reason` filter. I didn't touch it under #115 as I didn't want to overload it.

@briannelson - if you're delving in there, could you look at that as well?

[2016-12-21 21:52] briannelson commented on #114
I'm actually seeing something that I think is related, but good point @knolleary. Because of the way filters get applied, it's possible to have more than one active at a time, currently. This is more of a UX question @andrew / @tarebyte.

<img width="411" alt="octobox" src="https://cloud.githubusercontent.com/assets/29120/21407217/66b09402-c79d-11e6-9fa2-e58c5ca9023f.png">

If I'm reading it corre

[2016-12-21 21:56] tarebyte commented on #114
@briannelson yes that is correct, `Starred` is a kind of filter of I don't think it belongs in the same section as the Archive and the Inbox.

[2016-12-21 22:01] briannelson commented on #114
So, to be clear, Archive Starred and Inbox Starred are two different lists, potentially?

[2016-12-21 22:03] tarebyte commented on #114
They are two different lists correct. The inbox removes the archived parameter from the URL.

[2016-12-21 22:04] briannelson commented on #114
That seems like an anti-pattern to me.
i.e. if I star something, it's important to me whether it's archived it's not.

My suggestion is to make starred independent of Inbox and Archive so you click it and see ALL your starred messages. The checkbox would be checked for those that are archived and unchecked for those that aren't.

Is there a use-case I'm missing here for why two separate lists are

[2016-12-21 22:07] tarebyte commented on #114
Nope I think it's just the way it is ¯\\_(ツ)_/¯

I'd be cool with that, I'll throw up a PR and see what you think.

[2016-12-21 22:16] knolleary commented on #111
Hi - could you elaborate a bit more? I provided a PR earlier that adds an explicit link to the Inbox in the sidebar - see #108 which has been merged. Does that resolve this?

[2016-12-21 22:19] andrew commented on #114
Feel free to change it to what makes most sense, it was all hacked together initially with little thought to the UX

[2016-12-22 00:25] briannelson commented on #114
What do you think of:

<img width="270" alt="octobox" src="https://cloud.githubusercontent.com/assets/29120/21411024/3b08078e-c7b3-11e6-9403-3f6e85cf9975.png">

[2016-12-22 04:46] tarebyte opened #119 "Starred notifications and their place in the app"
This conversation is happening in a few threads so I'm just going to start it here.

In https://github.com/andrew/octobox/issues/114#issuecomment-268653902 @briannelson suggested that we make the Starred bucket it's own thing and show notifications whether or not they are part of the inbox of archived. This is mirrors the functionality of gmail.

However in https://github.com/andrew/octobox/pull/1

[2016-12-22 05:08] tarebyte opened #120 "Filter by team for team mention notification"
For team mentions (depicted below)

<img width="214" alt="screen shot 2016-12-22 at 00 07 03" src="https://cloud.githubusercontent.com/assets/564113/21415691/9fad14fa-c7da-11e6-93f3-353fb08707bc.png">

It would be awesome if we could store the team that was mentioned and be able to filter by the team name.

This may have to be prefixed with the org name in order to avoid conflicts.

[2016-12-22 05:21] briannelson commented on #119
Here's the proposed UX for a Starred bucket.

* Inbox shows all notifications that haven't been explicitly archived (including starred)
* Archived shows all notifications that have been archived (including starred)
* Starred shows all starred notifications (archived or not)
* Inbox, Archived, and Starred can only be selected one at a time
* Status, Type, Reason, and Repo filters are toggle-able fo

[2016-12-22 05:57] briannelson opened #121 "Make it look more like Github?"
Should Octobox aim to "fit in" with Github's styling so that it feels like less of a context switch?

<img width="1440" alt="octobox" src="https://cloud.githubusercontent.com/assets/29120/21416534/a0bd7a5e-c7e1-11e6-8b96-b2bd50df2213.png">

[2016-12-22 08:30] knolleary commented on #119
Perhaps I'm too influences by the gmail model, but I see whether a notification has been starred or not as orthogonal to 'where' the notification is.

If you treat it as a filter then you can still achieve everything listed above and ALSO let you see starred notifications in just your inbox or the archive - even more flexible.

Once you factor in the UI changes around the filter breadcrumbs I've p

[2016-12-22 08:42] andrew commented on #121
Looks nice! I still prefer the envelope icon to the octocat head, I wonder if we could combine them?

[2016-12-22 08:44] andrew commented on #119
@knolleary A+++++

[2016-12-22 08:45] andrew commented on #114
LGTM 👍

[2016-12-22 08:51] m1guelpf opened #122 "Views license?"
Hi!
I am doing a Laravel project to learn to use laravel and the Github API, and it's processing the notifications, and returning specifics pages depending of the type of notification. I'd like to know if I can use this project's views. I'm going to license my project under the MIT license and I'd give credits.
Repo: https://github.com/m1guelpf/github

[2016-12-22 08:54] andrew commented on #122
You'll have to license your code as AGPL if you are going to use any code from this project

[2016-12-22 09:05] m1guelpf commented on #122
@andrew So if I use http://choosealicense.com/licenses/agpl-3.0/# , I don't need to do anything more and I can use them!

[2016-12-22 09:18] andrew commented on #122
Yep 👍

[2016-12-22 09:24] m1guelpf commented on #122
Thank you!

[2016-12-22 09:24] #122 closed

[2016-12-22 12:37] dentarg opened #123 "Notifications need to be enabled for "Web""
This should probably go somewhere in the README (but I'm not sure where to mention it).

https://octobox.io/ didn't work for me until I checked the "Web" boxes on https://github.com/settings/notifications. I only had email checked because it's distracting for me to see the blue dot every time I visit any page on github.com.

It would be great to be able to use https://octobox.io/ and not see the b

[2016-12-22 12:48] briannelson commented on #119
@knolleary I like that a lot. My biggest issue is that Inbox and Archive were remaining selected, but I see the use-case for being able to filter by all of those independently.

![image](https://cloud.githubusercontent.com/assets/29120/21426095/fa5bdf36-c81a-11e6-8fab-5b35edb750b5.png)

[2016-12-22 12:49] briannelson commented on #121
I'll work on that a bit :)

[2016-12-22 13:00] briannelson commented on #121
Is this paresable?

<img width="101" alt="untitled" src="https://cloud.githubusercontent.com/assets/29120/21426381/a86d3f74-c81c-11e6-8be2-6a03e4c3d456.png"> <img width="57" alt="untitled" src="https://cloud.githubusercontent.com/assets/29120/21426392/b27f3936-c81c-11e6-96db-a38477769837.png"> <img width="35" alt="untitled" src="https://cloud.githubusercontent.com/assets/29120/21426400/b9fa00f6-c8

[2016-12-22 13:38] andrew commented on #121
Very cute!

[2016-12-22 13:50] nu11p01n73R commented on #88
1. Can't we use `update_column` instead of `update_attribute` to prevent updating the `updated_at`?
2. Shouldn't we do the same for un-archiving of notifications as well. Because now the if you remove a notification from archive it goes back to the top of the list.

[2016-12-22 14:02] andrew commented on #88
@nu11p01n73R just did exactly that: https://github.com/andrew/octobox/commit/c87aea61b588565564da3431cb88742535cc0013

Great minds think alike!

[2016-12-22 14:02] #88 closed

[2016-12-22 14:03] andrew commented on #123
Yeah we should add that to the readme for sure, I believe it is a limitation of the GitHub API.

[2016-12-22 14:23] #114 closed

[2016-12-22 14:23] #121 closed

[2016-12-22 14:26] andrew commented on #111
@GiacomoLaw I'm also not clear on the bug, can you expand on it?

[2016-12-22 14:28] andrew commented on #120
Dependent on #4 I think

[2016-12-22 14:43] andrew opened #125 "Better notification syncing with "If-Modified-Since" header"
If a notification has been marked as read on GitHub, but hasn't changed state and you don't have any new notifications then the current syncing method won't download the change in unread state.

That's because we pass `user.last_synced_at` as the `:since` option when downloading notifications, which is a little bit annoying as there's no way for octobox to mark the notifications as read if there's

[2016-12-22 14:47] tarebyte commented on #125
I'm very much in favor of using Octokit and adding caching.

[2016-12-22 14:48] tarebyte commented on #125
@andrew do we want to add memcached for a caching layer?

[2016-12-22 14:55] andrew commented on #52
This gem might make managing search queries and combinable filters nicer: https://github.com/marcelocf/searrrch

    user_id: 123 user_name: omg user_id: 124 free text here

[2016-12-22 14:58] andrew commented on #125
@tarebyte yeah memcached sounds good to me, and if we use `Rails.cache` everywhere it allows other users to swap out the cache mechanism if they wish.

[2016-12-22 15:05] RamblingCookieMonster opened #126 "Consider listing issues for repos"
Hi!

A common issue I run into is that I lose track of issues across repos I own or help with - whether these issues are opened by me, or others, and whether they are assigned to me or not, it might be handy to see have quick access to them.

Not sure how you would target this - watching?  source repos you have access to?

No worries if this doesn't make sense here.  Can always [craft a URL like t

[2016-12-22 15:17] buger opened #128 "Error while trying to login"
Seeing standard "Something went wrong" screen right after trying to login.

Trying in 2 different browsers, same.

Here is link with code so you can scan the logs: https://octobox.io/auth/github/callback?code=2335a54e3d33c0f4b6d9&state=a99f53ee8edb8d5e3097105cc142ef42663a586acd728414

[2016-12-22 16:21] knolleary opened #129 "'Release' types in sidebar missing icon"
The Release type in the sidebar has no icon, so appears misaligned:

<img width="139" alt="cursor_and_octobox" src="https://cloud.githubusercontent.com/assets/51083/21432256/87e6e6f6-c862-11e6-8583-707de828377a.png">

Either need to add an icon (not sure if there is one...) or pad it out to keep things lined up.

[2016-12-22 16:39] briannelson commented on #129
Use the tag icon, maybe?

<img width="140" alt="kickserv_kickserv__the_main_kickserv_app" src="https://cloud.githubusercontent.com/assets/29120/21432832/440bc338-c83b-11e6-9c99-a63b6cb22a8c.png">

[2016-12-22 16:40] knolleary commented on #129
Ah yes, that'll work. The PR I've stuck in will ensure any types that don't have an icon defined will still lined up. Will add in the tag icon for release now.

[2016-12-22 16:44] #129 closed

[2016-12-22 16:44] andrew commented on #129
🚢

[2016-12-22 16:50] nu11p01n73R opened #132 "Flexible page size"
Currently the page size is hard coded as 20.

Most users may want to have a better control over how many notifications are displayed per page. Some think like `page=2&per_page=50` so that the user can change the page size if they want to or resort to default of `20`.

[2016-12-22 16:56] briannelson commented on #132
👍  From a UI perspective, I'd add a `<select>` on the right side of the top bar:

![octobox](https://cloud.githubusercontent.com/assets/29120/21433375/a2d371b6-c83d-11e6-8489-555807d51e94.png)

[2016-12-22 16:57] briannelson commented on #56
@jaymiejones86 I've since added some styles to make the UI a lot closer to Github's design, which should (theoretically) be less of a taxing context-switch.

[2016-12-22 17:33] #70 closed

[2016-12-22 17:49] karpiu commented on #60
@andrew You still need help with this one? I can do it, if nobody is working on it.

[2016-12-22 17:51] andrew commented on #60
@karpiu sure, I don't think anyone is working on it right now

[2016-12-22 17:53] andrew commented on #126
It's a problem I have too, we may be able to do it after #4 although not sure if makes sense within the current UI

[2016-12-22 18:03] andrew commented on #132
Just opened a pr to add the `per_page` parameter (max of 100 per page): https://github.com/andrew/octobox/issues/133

[2016-12-22 18:07] knolleary opened #134 "Filter breadcrumbs on mobile need work"
The filter breadcrumbs don't behave well on small screens.

They need to either collapse down or hide completely.

Will send a pr later unless someone else wants to jump on it.

[2016-12-22 18:07] karpiu commented on #60
@andrew Should this behaviour only apply to keyboard actions (marking with `x`) or also to mouse clicks? If both, then how will the archiving with mouse work? Should a button 'Archive selected' appear after clicking on at least one checkbox?

[2016-12-22 18:16] andrew commented on #60
@karpiu I'd make it work the same for both mouse and keyboard, as you said, an "Archive selected" button should appear if once one checkbox is selected 👍

[2016-12-22 18:18] nu11p01n73R commented on #132
Works perfect!
I guess this can be closed now.

[2016-12-22 18:19] andrew commented on #132
Will leave it open and see if @briannelson wants to add a UI for it, I'd put it at the bottom next to the pagination links instead of the top though.

[2016-12-22 18:28] briannelson commented on #132
I do. Leave this open for now plz.

[2016-12-22 22:41] tarebyte commented on #128
@buger are you still having authentication issues?

[2016-12-22 22:42] tarebyte commented on #73
@plaindocs I'm closing this, but feel free to ping us if you have other issues.

[2016-12-22 22:42] #73 closed

[2016-12-22 23:57] xadamy opened #138 "Add Service Worker support"
Seems like Octobox might be an interesting case for Service Worker support. I'd be interested in how nicely ServiceWorkers played with Turbolinks. 🔌

[2016-12-23 00:07] tarebyte commented on #138
Just to make sure I understand what we're talking about is this the [`Service Worker`](https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API) you're referring to @xadamy?

[2016-12-23 00:16] xadamy commented on #138
@tarebyte That's the one, yeah

[2016-12-23 02:21] briannelson commented on #119
I think this is fairly resolved now.

[2016-12-23 02:21] #119 closed

[2016-12-23 02:23] briannelson commented on #134
@knolleary I like the breadcrumbs! One thing I noticed, and maybe this is what you were getting at with the discussion in #115, is that if you are in the Archive and apply a filter, and then remove it, you get brought back to the Inbox and not just the unfiltered archive. Is that working as expected or should I create a separate issue for that?

[2016-12-23 04:17] GiacomoLaw commented on #111
Never mind, seems to have been fixed!

[2016-12-23 04:17] #111 closed

[2016-12-23 06:23] #104 closed

[2016-12-23 08:24] andrew commented on #138
Rather than listing the technology can you say what it will actually enable?

[2016-12-23 08:29] buger commented on #128
Yes, still experiencing it.

[2016-12-23 10:13] raisedadead commented on #128
From the Dev Console:

![image](https://cloud.githubusercontent.com/assets/1884376/21451597/398cdb36-c926-11e6-9173-f4ce635ae7a7.png)

Looks like it's a 500 and the error screen is a standard Heroku message:

![image](https://cloud.githubusercontent.com/assets/1884376/21451624/69c0a454-c926-11e6-86c8-fb3af3ef6d24.png)

[2016-12-23 10:29] #125 closed

[2016-12-23 10:34] buger commented on #128
I would say it a standard Rails error, and require scanning logs on the machine.

[2016-12-23 10:43] andrew commented on #134
Just needs a little spacing when they are pushed onto two lines:
![screen shot 2016-12-23 at 10 43 00 am](https://cloud.githubusercontent.com/assets/1060/21452133/a175d5ba-c8fc-11e6-876c-710eca74879a.png)

[2016-12-23 10:52] ringods opened #141 "Stay on same page when archiving a single entry"
Using https://octobox.io.

My Inbox has multiple pages of entries. When I'm on page 2 or higher, and I archive an entry using the checkbox, the UI refreshes and I'm back on page 1. Very annoying if you want to process a set of entries on some specific page.

[2016-12-23 11:00] andrew commented on #141
Agreed, very annoying! Related to https://github.com/andrew/octobox/pull/139 where @briannelson is going to persist `per_page` and should persist `page` where it makes sense too.

[2016-12-23 11:19] knolleary commented on #134
@briannelson definite bug. will have a pr for it shortly.

@andrew yes, that's the easy bit. It's a bit messier when the filter's themselves spill over into two lines.

[2016-12-23 11:23] andrew commented on #125
Just shipped to heroku, had to make a couple tweaks and disable the connection pool option as it was exploding 🚢

[2016-12-23 11:26] andrew commented on #128
We should probably add some exception tracking to the hosted version as it's on heroku and the logs only go to standard out atm

[2016-12-23 12:49] whit537 opened #144 "Filter by organization"
I'd like to be able to see all @Gratipay notices at once, e.g., without having to manually select all Gratipay repos.

![screen shot 2016-12-23 at 7 48 51 am](https://cloud.githubusercontent.com/assets/134455/21454170/464d0432-c8e4-11e6-870d-183ac65144a4.png)

[2016-12-23 12:50] knolleary opened #145 "Sidebar filter behaviour"
Again with the sidebar filter behaviour.

There remain some (possibly intentional) inconsistencies in behaviour when different filters are clicked. Here is a summary:

**Buckets** : inbox / archive / starred
**Filters** : status, type, reason, repo

1. clicking a bucket clears all existing filters
2. clicking any filter whilst in 'starred' bucket takes you to the inbox
3. clicking any filter clear

[2016-12-23 12:50] whit537 opened #146 "Filter name drops below icon if too long"
I would expect `inside.gratipay.com` to stay on the same line as the icon.

![screen shot 2016-12-23 at 7 48 51 am](https://cloud.githubusercontent.com/assets/134455/21454190/741d3760-c8e4-11e6-9ab7-349ee329e475.png)

[2016-12-23 12:51] knolleary commented on #145
My preferred set of behaviours would be:

1. clicking a bucket clears all existing filters
2. clicking any filter leaves you in the bucket you were in and leaves other filters alone

[2016-12-23 12:54] andrew commented on #144
We started storing the day for that a few days back in https://github.com/octobox/octobox/pull/74

Just needs a UI and filter added cc @briannelson @knolleary

[2016-12-23 12:54] PeterDaveHello commented on #128
I have the same problem

[2016-12-23 12:55] whit537 opened #147 "Make listing match GitHub listing"
I expect that when I hit Octobox, it will list the same notifications that are present in my GitHub notifications. However, it lists many, many more. Why? How do I make it match my GitHub notifications?

# On GitHub

![screen shot 2016-12-23 at 7 51 33 am](https://cloud.githubusercontent.com/assets/134455/21454228/b42f0068-c8e4-11e6-8f2e-930ab8da497a.png)

# On Octobox

![screen shot 2016-12-23 at

[2016-12-23 12:56] andrew commented on #145
Sounds like a couple of bugs to me, agree with both expected behaviours 👍

[2016-12-23 12:58] andrew commented on #147
@whit537 that's a feature, the main feature in fact:

[2016-12-23 13:22] andrew commented on #145
Just deployed a fix for this I believe

[2016-12-23 13:22] knolleary commented on #145
heh - that'll be the merge conflict I wasn't expecting

[2016-12-23 13:37] andrew commented on #128
I've just enabled http://bugsnag.com on https://octobox.io so it should record more details about the exceptions, can someone try logging in again to trigger the bug?

[2016-12-23 13:39] buger commented on #128
Just did it, here is like with error for reference https://octobox.io/auth/github/callback?code=23ccbcc58862b9d6abbe&state=eb51dd13e3fda97855deda7bb9c6254eae9cf3f0ded1cb82

[2016-12-23 13:43] andrew commented on #128
So the exception is:

    PG::InFailedSqlTransaction: ERROR: current transaction is aborted, commands ignored until end of transaction block

Can't say I've seen that one before but could be related to the syncing of notifications after a user is created.

[2016-12-23 13:46] knolleary commented on #144
I have this as a starter for 10 on the UI side:
<img width="118" alt="cursor_and_octobox" src="https://cloud.githubusercontent.com/assets/51083/21455188/1a9567a8-c916-11e6-9217-680680a78a06.png">

[2016-12-23 13:50] andrew commented on #128
Just deployed a change to the initial syncing method, anyone fancy trying again now?

[2016-12-23 13:51] andrew commented on #144
👌  @knolleary want me to hook up the filters in the rails controller?

[2016-12-23 13:53] knolleary commented on #144
@andrew thanks - was just starting to poke at the edge, but my rails is weak.

The approach I was think was keep it as the 'repo' filter, but in `notifications_controller` check if that filter has a `/` in it, if not, do a `starts-with` type filter, rather than an exact filter. I'm sure in rails there are dozens of proper ways of doing that... so probably best if you just make it happen in one lin

[2016-12-23 13:55] knolleary commented on #144
which is to say, I wasn't thinking we'd add yet another filter arg for owner as the repo name we have already contains the owner details.

[2016-12-23 14:05] PeterDaveHello commented on #128
I still got same error when login, but it's working now after another webpage refresh!

[2016-12-23 14:14] buger commented on #128
Works for me as well. Thank you!

On Fri, Dec 23, 2016 at 5:05 PM, Peter Dave Hello <notifications@github.com>
wrote:

--
Sincerely yours, Leonid Bugaev
https://goreplay.org - test your system with real data
@buger <https://twitter.com/buger> - me on twitter

[2016-12-23 14:25] andrew commented on #144
@whit537 until the UI ships you can see all the gratipay issues by changing the url param: https://octobox.io/?owner=gratipay

[2016-12-23 14:28] juliangruber commented on #128
works for me! :)

[2016-12-23 14:30] whit537 commented on #147
Whether notifications are marked as read and disappear from the list is separate from whether they appear in the first place. :-)

What makes a notification appear in the first place on GitHub? It's different than on Octobox, I think ...

[2016-12-23 14:32] #128 closed

[2016-12-23 14:32] andrew commented on #128
Going to close this now 🎉

[2016-12-23 14:35] andrew commented on #147
The first time you login no notifications are archived, the "Read/Unread" filters on the right should match the notifications on GitHub.com, i.e https://octobox.io/?status=true should look the same.

Personally I found many notifications I'd forgotten about or didn't even know existed the first time I signed in and other people have found that too so I think we'll stick with this behaviour for now

[2016-12-23 14:52] andrew commented on #18
We have a spinner on the sync button now

[2016-12-23 14:52] #18 closed

[2016-12-23 14:54] andrew commented on #55
I think this has been mostly fixed by @knolleary now 🌮

[2016-12-23 14:54] #55 closed

[2016-12-23 14:56] knolleary commented on #144
@andrew just spotted the 'archive_all' function doesn't take the new owner filter into account.

[2016-12-23 15:12] #144 closed

[2016-12-23 15:15] #68 closed

[2016-12-23 15:18] andrew commented on #60
This is live now thanks to @karpiu  🎉

[2016-12-23 15:18] #146 closed

[2016-12-23 15:19] whit537 commented on #147
Hmm ... but the first time I logged in was a while ago. Now I'm trying to reconcile the notifications I see in GitHub with the notifications I see in Octobox (I actually just switched from email to GitHub notifications a week or two ago). So far I don't trust Octobox to show me everything I need to see. Why does GitHub think I have six unread notifications, while Octobox only thinks I have three?

[2016-12-23 15:19] andrew commented on #146
Just deploying the fix by @knolleary now

[2016-12-23 15:19] andrew commented on #147
@whit537 Octobox doesn't sync automatically, have you hit the refresh button?

[2016-12-23 15:19] whit537 commented on #147
Yes, many times.

[2016-12-23 15:20] whit537 commented on #147
/me tries again ...

[2016-12-23 15:20] karpiu commented on #60
@andrew unarchiving is still one click at a time though :worried:

[2016-12-23 15:21] whit537 commented on #147
When I hit the refresh button (the circle-y thing next to "Archive all", right?), it refreshes the page, clearing my filters—but still only showing three unread.

![screen shot 2016-12-23 at 10 20 24 am](https://cloud.githubusercontent.com/assets/134455/21456936/7d17e440-c8f9-11e6-9cb0-cff96a47727f.png)

[2016-12-23 15:22] andrew commented on #147
What do your settings look like on this page: https://github.com/settings/notifications

Here's mine:
![screen shot 2016-12-23 at 3 21 39 pm](https://cloud.githubusercontent.com/assets/1060/21456961/908239de-c923-11e6-8590-b70338c5867a.png)

[2016-12-23 15:23] whit537 commented on #144
Confirmed, thanks! :-)

[2016-12-23 15:24] whit537 commented on #147
![screen shot 2016-12-23 at 10 24 10 am](https://cloud.githubusercontent.com/assets/134455/21457001/fce266a0-c8f9-11e6-82dc-7959e359dac9.png)

[2016-12-23 15:24] andrew commented on #144
@knolleary I'm planning on removing "archive all" and replacing it with a "Select all" option to go along with https://github.com/octobox/octobox/pull/150#issuecomment-269000320

[2016-12-23 15:25] andrew commented on #147
And the ones below it?

![screen shot 2016-12-23 at 3 25 35 pm](https://cloud.githubusercontent.com/assets/1060/21457021/126eb0c6-c924-11e6-80fb-86f1f233d39d.png)

[2016-12-23 15:27] whit537 commented on #147
@andrew I don't have those because I haven't selected "Email" for either of the above two options—a clue?

[2016-12-23 15:27] andrew commented on #60
@karpiu Reopened, sorry I'm too eager!

[2016-12-23 15:28] whit537 commented on #147
Seems unlikely, since that options block says "Choose which email updates ...".

[2016-12-23 15:29] karpiu commented on #60
@andrew Heh. I tought you would make another issue for it, but this is fine too. I will fix unarchiving shortly.

[2016-12-23 15:29] andrew commented on #147
Ah yes, nevermind, I'm just scanning for checkboxes that might make a difference.

Time to go poking around in the db!

[2016-12-23 15:32] whit537 commented on #147
Best of luck! I'm heading afk for the holiday, so no rush on this end. :-)

Have a great Christmas! 🎄  🎅  🎁  💃

[2016-12-23 15:36] andrew commented on #147
Ok I know why it's happening, we currently only pull notifications from the github API using the `since` option with a value of 1 month ago, the last update on https://github.com/gratipay/inside.gratipay.com/pull/263 is July 10th 2015 so the downloader would have never got that one.

An unfortunate case of not having full access to the GitHub database I'm afraid

[2016-12-23 15:45] #145 closed

[2016-12-23 15:48] andrew commented on #87
Pretty sure this has been resolved now

[2016-12-23 15:48] #87 closed

[2016-12-23 15:53] andrew commented on #141
This is fixed for things in the inbox now thanks to @karpiu 🎉

[2016-12-23 16:05] andrew opened #158 "Replace "Archive all" with a select all checkbox"
Now that we have https://github.com/octobox/octobox/pull/150 we have a bit of duplication in the menu:

![screen shot 2016-12-23 at 4 02 31 pm](https://cloud.githubusercontent.com/assets/1060/21457701/3f030772-c929-11e6-92bf-c58fa364fe11.png)

We should remove the "Archive all" button and replace with a gmail-like checkbox to select all the currently showing notifications:

![screen shot 2016-12-2

[2016-12-23 16:33] tarebyte opened #160 "Let the cursor move the page up"
When I use the ✨ shortcuts if I scroll too far up or too far down the page doesn't move.

![moving-page](https://cloud.githubusercontent.com/assets/564113/21458328/a1b3b87e-c903-11e6-9b1a-7ff80b912070.gif)

[2016-12-23 16:40] briannelson commented on #158
Yes.

[2016-12-23 16:47] #60 closed

[2016-12-23 17:00] karpiu commented on #160
@tarebyte I'm on it

[2016-12-23 17:06] raisedadead commented on #128
Thanks guys! Works now. and awesome job with the repo!

[2016-12-23 18:09] tarebyte commented on #132
Closed by #152

[2016-12-23 18:09] #132 closed

[2016-12-23 20:23] TalAter opened #166 "Archiving all notifications on last page incorrectly tells you your octobox is open"
#### To replicate:
1. Have at least 2 pages worth of notifications.
2. Go to last page.
3. Archive all notifications on that page.

#### What should happen:
Octobox should show the previous page (the new last page)

#### What happens:
Octobox shows a notification telling you: You're in the clear! There are no notifications that need your attention.

#### Easier way to replicate:
1. Visit https://o

[2016-12-23 22:42] #141 closed

[2016-12-23 22:43] andrew commented on #107
Label counts should be a little more predictable now

[2016-12-24 00:01] xadamy commented on #138
I feel like the very first paragraph of the link @tarebyte posted explains what it would enable succinctly enough. It would potentially allow much of the octobox application to still be operable in areas of poor internet connectivity.

At the very least this could be done with static asset caching and caching Turbolinks partials so that users can still move between sections offline. Actions like r

[2016-12-24 02:04] briannelson commented on #134
@knolleary do you think this is solved by having a search box with textual filters (like the one that's being started in #164 ?

Does that search box negate the need for the breadcrumb filters? Similarly, could the sidebar filters (now that it's a bit easier to tell which ones are on) be toggles instead of just an "on" switch?

[2016-12-24 03:58] andrew commented on #138
https://github.com/rossta/serviceworker-rails Looks like a handy plugin for getting it to work with the asset pipeline.

Is it ok if we rename the issue to something like "Add offline support"?

[2016-12-24 04:02] andrew commented on #138
I wonder how well it plays with turbolinks? I get the feeling that this would push us towards client side rendering and doing all things in JavaScript which doesn't sound like fun to me

[2016-12-24 13:55] xadamy commented on #138
Just for the record, I would not be interested at implementing this feature myself if it resulted in shifting to more client side rendering. My interest begins and ends with how well it works with Turbolinks.

That being said, Service Workers have always been marketed as a progressive enhancement tool and it would be a major flaw in the spec if it required more client side rendering to achieve it.

[2016-12-24 16:15] andrew commented on #138
Asset caching sounds good 😊

I can't see it enabling any offline functions like filtering without rebuilding the client to work with JSON responses from the server

[2016-12-24 18:02] #160 closed

[2016-12-24 22:04] karpiu commented on #166
Interesting bug. I will give it a go.

[2016-12-26 20:54] tarebyte opened #172 "Seed data for development"
It would be great if we could generate some seed data for users so that they don't have to wait for notifications to come in to see it on the page.

[2016-12-26 21:10] andrew commented on #172
👍

[2016-12-27 18:02] andrew opened #175 "Allow users to delete their account"
Would be good to make deleting your account a little more self service, perhaps from some kind of user settings page?

[2016-12-27 18:54] WillAbides commented on #44
I'm going to have a go at this one.  @tarebyte, do you have any words of wisdom since you touched this part recently?

[2016-12-27 19:00] tarebyte commented on #44
@WillAbides shouldn't be too bad honestly. I [started a branch](https://github.com/octobox/octobox/tree/tarebyte/edit-account) but got sidetracked.

The only thing I would make sure to do is to make sure the users token doesn't get overridden once they do the oauth dance a second time.

[2016-12-27 19:21] andrew opened #177 "Add link to show keyboard shortcuts"
Some users might not realize we have keyboard shortcuts, we should add a link somewhere in the UI to show the lightbox.

[2016-12-27 20:10] #56 closed

[2016-12-27 20:17] #76 closed

[2016-12-27 20:25] andrew commented on #44
Maybe store it in a separate column?

[2016-12-27 20:35] #85 closed

[2016-12-27 20:37] #107 closed

[2016-12-27 20:38] andrew commented on #126
I think this is out of scope for the project at the moment

[2016-12-27 20:38] #126 closed

[2016-12-27 22:24] #166 closed

[2016-12-27 22:32] #158 closed

[2016-12-27 22:43] #105 closed

[2016-12-27 22:45] whit537 commented on #147
@andrew I just refreshed Octobox and my Unread matches my Unread on GitHub. So far so good! I will monitor for a while and report back if I see additional wonkiness. #174 does smell like a good explanation.

[2016-12-27 22:48] #123 closed

[2016-12-27 22:51] andrew commented on #147
🙈
![when_you_assume](https://cloud.githubusercontent.com/assets/1060/21510032/f38ce8ec-cc86-11e6-9e46-79076f9aed0e.png)

[2016-12-27 23:18] whit537 commented on #147
Pretty sure #174 closes this. Will reopen if not! :-)

[2016-12-27 23:18] #147 closed

[2016-12-27 23:26] andrew opened #179 "Really tall sidebar"
My sidebar gets really long in archive view because of all the repos/orgs I have notifications from:

![screen shot 2016-12-27 at 11 16 29 pm](https://cloud.githubusercontent.com/assets/1060/21510467/ad9f630a-cc8b-11e6-971b-fd1bb58b5ac4.png)

Maybe we should take another page out of Gmails book and add a scrollbar or collapse/expand to the sidebar if it's taller than the window?

[2016-12-28 21:18] briannelson commented on #179
If folks are ok with it, we could do a two-pane Flexbox layout with each pane being individually scrollable. Should be supported in any browser our users are using.

[2016-12-28 22:12] andrew commented on #179
Sounds good to me @briannelson!

[2016-12-29 07:05] plaindocs commented on #73
Thanks for all the feedback. I get either this or the hosted thing to work, so don't really know what is up. I was going up update the readme, but quite reluctant to do that without getting things to work.

[2016-12-29 08:19] andrew commented on #73
@plaindocs have you tried the Docker approach in the readme? I used it over the holidays and it worked well for me

[2016-12-29 08:20] andrew commented on #179
🏖

[2016-12-29 09:03] andrew opened #183 "Select all button is slightly too big on mobile"
![img_4268](https://cloud.githubusercontent.com/assets/1060/21540193/8fea7618-cda5-11e6-9438-f68d80ddd5e3.PNG)

Should be the same size as all the other menu bar buttons

[2016-12-29 10:30] andrew commented on #183
Fixed by #184

[2016-12-29 21:28] WillAbides opened #187 "Multiple reasons"
The reason field on a notification can change.  For instance if comment on an issue and then you are directly mentioned by somebody else the reason will change from 'comment' to 'mention'.

It would be nice to keep all the reasons that octobox has seen for a notification.  That way,  the issue in the example above will still show up if I filter for 'comment'

[2016-12-29 22:58] laggingreflex opened #188 "Filter (out) comments that are only "+1""
Just found this (great project!)  so I'm not sure if this functionality exists. I want to filter out all comments in which the commenter has only replied with a small enough text that matches the pattern like "+1".

I tried to do this in gmail with a filter like `+1 smaller:100` but the problem with gmail is that it probably counts the whole header or something, so if the cc or sender, or even a s

[2016-12-30 09:14] andrew commented on #188
Related issue here: https://github.com/octobox/octobox/issues/8

Dependent on https://github.com/octobox/octobox/issues/4 as we don't have the body of the comment in the notification itself

[2016-12-30 16:42] WillAbides commented on #7
It would be nice to sync this with the ignored attribute on the [thread subscription api](https://developer.github.com/v3/activity/notifications/#parameters-4).  Unfortunately that isn't available on the list of notifications, so syncing that would require an api call per notification.

[2016-12-30 16:43] andrew commented on #7
@WillAbides dependent on #4 then

[2016-12-30 17:02] andrew commented on #44
Fixed by @WillAbides

[2016-12-30 17:02] #44 closed

[2016-12-31 14:13] demoneaux opened #193 "Suggestion: Sync notifications on every new login"
After logging in, it would be great to have the notifications synced to make it more convenient. Syncing on every load would be too much, but syncing on every login seems very reasonable to me.

[2016-12-31 14:30] WillAbides opened #194 "export/import notifications"
I would like to be able to export my notifications to a file and import them on another instance.  I see two use cases for this.

1. I go from a self-hosted instance to octobox.io and want to bring my archive with me.

2. I'm developing on octobox and want to see how my notifications look.  This is related to #172

[2016-12-31 14:38] WillAbides commented on #7
@andrew:  I don't think this is actually dependent on #4.  #4 is about grabbing the target, but this would be a separate call to /threads/:id/subscription.

I don't think it would be worth adding N queries when syncing just to get the ignore status.  Add a mute option that makes the api call to set the thread to ignore=true and then archives the notification locally.

[2016-12-31 15:58] andrew commented on #7
@WillAbides sounds like a good idea, a "blind mute" if you will

[2016-12-31 15:59] andrew commented on #193
Agreed, it's always the first thing I do after logging in 👍

[2016-12-31 16:13] WillAbides opened #196 "User time zone"
It would be real nice to have notifications times displayed in my local time zone.

[2016-12-31 16:14] andrew commented on #196
Or you could move to a UTC country? :trollface:

[2016-12-31 16:25] #193 closed

[2016-12-31 16:27] andrew commented on #193
@demoneaux just merged and deployed this to https://octobox.io thanks to @tarebyte

[2016-12-31 16:34] #196 closed

[2016-12-31 16:44] WillAbides opened #198 "Allow user to automatically sync periodically"
I'd like to be able to keep octobox in the background and glance at it periodically to see if anything new is on top.

If I could schedule the sync to every n minutes, I wouldn't have to change window focus and hit the refresh button.

[2016-12-31 16:51] andrew commented on #198
@WillAbides there's a rake task here for that if you run it yourself: https://github.com/octobox/octobox/pull/173

For http://octobox.io that's a pretty intensive task for the 1000+ users

[2016-12-31 16:56] WillAbides commented on #198
I mean on a per-session basis.  Something in javascript that would run whatever function the refresh button triggers on an interval.

Also, 1000+ users...that's impressive for such a new project.

[2016-12-31 17:14] andrew commented on #198
Ah yeah doing it in js would be good, might want to avoid refreshing if any tick boxes are marked by the user, and the active filters should be kept

[2016-12-31 17:20] WillAbides commented on #198
I was going to ask about the active filter.  The active filter is lost when you sync using the button.

[2016-12-31 17:25] andrew commented on #198
Yeah we should fix that

[2016-12-31 17:42] WillAbides commented on #198
I'm working on this in https://github.com/WillAbides/octobox/tree/auto-refresh

[2016-12-31 22:04] WillAbides opened #199 "Filters are lost when syncing notifications"
When you are viewing results filtered by reason or archive status then refresh notifications, your filters are lost.

This was also discussed here:  https://github.com/octobox/octobox/issues/198#issuecomment-269874254

[2017-01-01 02:47] demoneaux commented on #193
Wow, thanks for the fast update!! Happy New Year!! 🎉🎉🎉

[2017-01-01 09:55] #199 closed

[2017-01-01 18:00] GiacomoLaw opened #202 "Octobox not fitting screen correctly"
Octobox isn't showing correctly on my pc:

https://gyazo.com/12e45391cf861e06c1ae81d072346238

I've cleared cookies, tried on other pc's, still the same.

**This only shows on the inbox screen.**

[2017-01-01 18:01] tarebyte commented on #202
This looks related to #186

/cc @briannelson

[2017-01-01 18:03] GiacomoLaw commented on #202
Just seen it only shows on screens that don't have any notifications on them.

[2017-01-01 22:42] #179 closed

[2017-01-01 22:42] andrew commented on #179
Fixed by #186

[2017-01-01 22:42] andrew commented on #202
@GiacomoLaw can you provide more details on OS and browser versions?

[2017-01-01 22:51] m1guelpf opened #204 "Can't reach you (@andrew)"
Hey @andrew , you aren't replying/reading my emails.
I contacted you some days ago about my project and the octobox org.
I sent two replies to your response, and I'm still waiting...

[2017-01-02 15:40] whit537 opened #205 "Refresh on refresh"
The first thing I do every time I load https://octobox.io/ is to click the ![refresh](https://cloud.githubusercontent.com/assets/134455/21592021/b055f474-d0d7-11e6-98f9-339d8fbe45c1.png) button. Open to automating that `onload`?

[2017-01-02 16:03] andrew commented on #205
Related to https://github.com/octobox/octobox/pull/200 possibly, my worries with making refresh more frequent is the extra load of the server and the rate limit on the GitHub API

[2017-01-02 16:07] WillAbides commented on #205
Do you have metrics on how often pages are loaded and how often notifications are refreshed?

[2017-01-02 16:14] andrew commented on #205
![screen shot 2017-01-02 at 4 13 21 pm](https://cloud.githubusercontent.com/assets/1060/21592572/78fac0b6-d106-11e6-85b7-8dd70833fd2f.png)
![screen shot 2017-01-02 at 4 13 41 pm](https://cloud.githubusercontent.com/assets/1060/21592571/78fa8268-d106-11e6-81d8-a09284aefec6.png)

[2017-01-02 16:14] andrew commented on #205
I don't have metrics for how often the page is refreshed, just often / is loaded

[2017-01-02 16:18] andrew commented on #205
For a user with a lot of notification activity within the past week, it could take ~6 seconds and 10 http requests to check their notifications, if that happens every time they open octobox from fresh, say they have it as their new-tab/window page in their browser, they could produce a lot of extra activity

On a personal note, I like the current behaviour as it puts me back in control of asking f

[2017-01-02 16:24] WillAbides commented on #205
Those are good points.  Especially your personal note.  That point of view had not occurred to me, but it makes sense.

Maybe we could make "refresh on refresh" another user setting.  If you use octobox the way that @whit537 and I do, it is a small pain to have to hit refresh after loading the page.

[2017-01-02 17:05] andrew commented on #205
User preference sounds good 👍

[2017-01-02 17:07] GiacomoLaw commented on #202
@andrew Windows 10, Chrome 55.0.2883.87 m

[2017-01-02 20:44] andrew commented on #204
Replied to your email, please don't open issues just to contact me

[2017-01-02 20:44] #204 closed

[2017-01-02 20:46] andrew commented on #205
Have been pondering how to implement this and I can't think of a clean way to do it which makes me question if we should implement it at all at the moment, I don't want to add a feature that will be difficult to maintain going forwards if it's not got a lot of demand for it to exist.

[2017-01-02 21:32] #198 closed

[2017-01-02 21:50] whit537 commented on #205
So far two of the three people participating on this thread have expressed an interest in this feature. ☺️ 🙇

[2017-01-02 22:22] j-mcnally commented on #205
Seems pretty representative of the community.

[2017-01-02 22:23] andrew commented on #205
There are about 1,200 people using the hosted version...

[2017-01-02 22:31] WillAbides commented on #205
Sample size of three and 1,200 users.  That's a margin or error of only 57%.  :trollface:

[2017-01-02 23:06] andrew commented on #205
Going to close this for now, I don't think the long term maintenance of the technical debt required to enable this feature is worth it.

@whit537 if you're running your own version you could use the rake task to sync notifications every few minutes to achieve a similar effect: https://github.com/octobox/octobox#sync-notifications-automatically

[2017-01-02 23:06] #205 closed

[2017-01-02 23:19] WillAbides opened #209 "Preview pane"
What would you think of taking a page from https://notifications.githubapp.com and adding a preview pane?

[2017-01-02 23:39] andrew commented on #209
Dependent on #4, which is pretty involved and requires repo scope for private repos

[2017-01-03 00:35] knolleary commented on #183
![screenshot_20170103-003332](https://cloud.githubusercontent.com/assets/51083/21598029/5e68ae16-d14c-11e6-92c2-94085c858e69.png)

Still an issue for me - Chrome/Android

[2017-01-03 09:42] m1guelpf commented on #17
@andrew I have a modified version of nativefier that allows top menu editing. If you want, I can post an octobox.io version in which the help menu links o this repo issues section.

[2017-01-03 09:51] bnjmnt4n opened #210 "Suggestion: color icons to indicate state of issues/PRs"
Using colors like GitHub's own UI would be really great to easily see the status of issues/PRs.

[2017-01-03 09:56] andrew commented on #210
@demoneaux unfortunately we can't get the state of the issues/prs without doing #4 which is pretty involved

[2017-01-03 11:37] michaelw90 opened #211 "Update Favicon on Refresh with Unread Count/Indicator"
I have 6 tabs that are pinned within Chrome, and one of them is now Octobox, one of the issues that I have is I need to keep checking the tab to see if there are any new notifications etc.

It'd be great if the tab updated with a count of the total unread notifications, or an indicator at least. There should be two options to users, to remove this indicator either when the tab is viewed, or for th

[2017-01-03 12:35] andrew commented on #211
@michaelw90 it should be noted that octobox doesn't sync in the background by default, you can have it refresh every X minutes if you're hosting it yourself thanks to https://github.com/octobox/octobox/pull/200

Still having a unread count in the favicon would be neat 👍

[2017-01-03 12:45] andrew opened #212 "Outline which features are available on octobox.io and which are not in readme"
There have been a few features added recently that enable extra behaviour that I've not turned on for https://octobox.io, so to use them you have to run your own copy somewhere, these features should be listed in the readme to reduce support requests.

Current self-hosted features:

- https://github.com/octobox/octobox/pull/200
- https://github.com/octobox/octobox/pull/185

[2017-01-03 13:13] WillAbides opened #213 "/settings won't let you set Notification Refresh Interval to 0"
On instances with auto-refresh enabled, users can't set the interval to 0 disabling the feature.

The problem is [this min value](https://github.com/octobox/octobox/blob/25ac7d9fa5dff617caa22bb85568948683e55696/app/views/users/edit.html.erb#L8-L8).

I will fix this when I have time later today.

[2017-01-03 13:20] WillAbides opened #214 "Move the cursor down after marking a notification"
Marking a notification by keying `x` should move the cursor to the next notification.

[2017-01-03 14:20] WillAbides opened #215 "Muted and archived notification get unarchived when there is new activity"
After I archive a notification then use the unsubscribe button on the subject issue to ignore it on GitHub, the issue will unarchive when there is new activity even though it remains ignored on GitHub.

I don't immediately see a way around this behavior aside from querying /notifications/threads/:id/subscription for every notification on sync.

This has ramifications for #7.  When that is implemen

[2017-01-03 14:25] andrew commented on #215
Wow, that's surprising behaviour from the GitHub API!

[2017-01-03 14:31] WillAbides commented on #215
It really is.  I haven't dug into it yet because I'm trying to get some 💰  work done today, but I'm interested to find out why.

[2017-01-03 14:43] andrew commented on #215
Should be noted that I have not experienced that behaviour on octobox.io, I unsubscribed from a thread over xmas that has remained active and it didn't show up in octobox again for me

[2017-01-03 15:23] m1guelpf opened #216 "Make the UI cooler"
## Theme 1
#### Images:
![Screenshot](http://i.imgur.com/Ex2DKdU.png)
---
![Screenshot](http://i.imgur.com/OliRR1U.png)
## Theme 2
#### Images:
![Screenshot](http://i.imgur.com/T8uBOm4.png)
---
![Screenshot](http://i.imgur.com/xeEZjWF.png)

[2017-01-03 18:51] tarebyte commented on #216
I'm personally really happy with how the UI looks. Thank for the suggestions, but I think we'll pass on these.

[2017-01-03 18:51] #216 closed

[2017-01-04 11:08] OliverJAsh opened #217 "Filter out self-inflicted notifications"
GitHub does not send me email notifications for actions that are inflicted, e.g. if I commented on an issue I'm subscribed to. It would be nice if Octobox did the same. (In my observations it doesn't.)

[2017-01-04 11:39] andrew commented on #217
@OliverJAsh I believe that's dependent on #4 as it's a limitation of the GitHub Notifications API which behaves slightly differently to the web/email notifications from Github.com or at least is lacking information in the response for us to know who triggered the update.

[2017-01-04 12:57] karpiu commented on #211
@andrew @michaelw90 Would it not be better to update the page title with the unread count and change the favicon to indicate that there are (some) unread messages? Changing count in the favicon itself means we need to prepare a lot of favicons.

[2017-01-04 13:08] michaelw90 commented on #211
The reasons for changing the Favicon are stated in the opening post. To be honest, it shouldn't be that difficult to update the favicon using some JS canvas?

[2017-01-04 13:19] karpiu commented on #211
Maybe we can use this:

https://github.com/peachananr/notify-better

[2017-01-04 13:53] andrew commented on #211
This should be enough: http://stackoverflow.com/questions/6296574/dynamic-favicon-using-image-manipulation-similar-to-gmail-adding-a-count

[2017-01-04 14:30] WillAbides opened #218 "Time zone reverts to UTC when changing filters"
Thanks to #197, notification times are initially displayed in my local time zone, but when I change the filter the time zone changes to UTC.

![timezone](https://cloud.githubusercontent.com/assets/233500/21645456/a3b12adc-d257-11e6-924e-e3d2965c5c66.gif)

[2017-01-04 15:59] andrew commented on #218
I'd guess the js function needs to be ran on turbolinks load rather than doc ready

[2017-01-04 20:27] #218 closed

[2017-01-04 20:28] andrew commented on #218
@WillAbides just deployed a fix for that, can you double check it works?

[2017-01-04 22:26] WillAbides commented on #218
works on my machine 👍

[2017-01-05 05:31] #7 closed

[2017-01-05 05:36] andrew commented on #4
I've been pondering this for a while now, it'll probably be best to wait for the GitHub GraphQL API to go final before implementing this just because of the mess it'll make otherwise trying to keep issues/pull requests in sync.

The other thing that this would introduce is the need for `repo` scope to pull in info on issues/prs from private repos which will be a no-no for a lot of people unless th

[2017-01-05 11:40] andrewhathaway commented on #17
Hey guys. Just released the Electron app I spoke about above for handling GitHub notifications. Check it out! :) https://harksys.com/labs/introducing-hawk-eye-a-useful-app-for-github-notifications/

[2017-01-05 11:41] whit537 commented on #217
Side note: GitHub actually [added](https://github.com/blog/2203-email-updates-about-your-own-activity) the option to self-inflict emails, [for Guido](https://twitter.com/gvanrossum/status/553433955374874624). ;-)

[2017-01-05 11:49] whit537 commented on #80
FTR this is the opposite of https://github.com/octobox/octobox/issues/188.

[2017-01-05 12:01] M-Zuber commented on #80
I do definitely understand the need to make such notifications configurable, but some projects use it to decide what to work on next

[2017-01-05 15:07] WillAbides commented on #215
I confirmed this behavior with the platform team.  The API will serve previously delivered notifications even if you have since ignored them.  The updated_at attribute will continue to change when the thread is updated just as if it weren't ignored.  However, the unread attribute will remain false even when there is new activity.

Thus when an ignored item is updated, the next sync will see it as

[2017-01-05 15:31] WillAbides opened #221 "Rethinking stopgap fix for syncing old notifications"
I'd like to rethink #127.  A simpler solution may be to have two different requests on sync.

The first request would get only unread notifications since last sync with parameters like `{ all: false, since: user.last_synced_at.iso8601 }`.

The second request would be the same as the current request for all notification, but its results would only be used to sync the read status.  The one change I

[2017-01-05 16:02] andrew commented on #221
Sounds good to me @WillAbides but I'd like to avoid adding background queues at the moment, perhaps we can use the `concurrent_ruby` gem to do the requests in parallel?

[2017-01-05 16:23] GiacomoLaw commented on #202
Seems to be working again. I'll close this for now.

[2017-01-05 16:23] #202 closed

[2017-01-05 16:46] WillAbides commented on #221
I'll work on this using `concurrent_ruby`

[2017-01-05 17:42] briannelson commented on #183
I think we'll have to use a custom checkbox solution like in wtfforms.com

[2017-01-06 04:20] johnthepink opened #223 "Settings Save Issues"
It seems like #200 may have added some issues for instances without auto refresh enabled.

1) The "Save" button doesn't totally make sense on the settings page:

![screen shot 2017-01-05 at 11 15 00 pm](https://cloud.githubusercontent.com/assets/816517/21707468/4dcb892c-d39d-11e6-876c-462bd87b5a35.png)

2) Clicking the "Save" button results in an error:

![screen shot 2017-01-05 at 11 15 05 pm](ht

[2017-01-06 04:38] #223 closed

[2017-01-06 09:56] andrew commented on #223
Just deployed @tarebyte's fix for this, thanks for reporting!

[2017-01-06 11:34] ringods opened #226 "Issues/PRs don't show up in Octobox "subscribed" just after subscribing."
Yesterday, I subscribed to the following issue and PR:
https://github.com/kubernetes/kops/issues/274
https://github.com/kubernetes/kops/pull/854

When refreshing Octobox, the above references don't show up in the **Subscribed** section, nor does the organisation and project become visible between all other Github organizations/projects.

I do have to note that there was no activity in this issue a

[2017-01-06 14:02] WillAbides commented on #226
Unfortunately there isn't a good way to do this with the notifications api.  It only gives the notifications that have been triggered, not a list of the threads you are subscribed to.  So when you subscribe to something new, there isn't a way for octobox to find out about it until there is activity that triggers a notification.

[2017-01-06 16:49] ringods commented on #226
Too bad this is missing from the Github API. I'll close this for now.

[2017-01-06 16:49] #226 closed

[2017-01-07 10:51] andrew commented on #103
@carlwgeorge just pushed a partial fix for this as #4 isn't going to happen any time soon, for now new release notification links will go to the main Releases page for the repo, i.e.  https://github.com/iuscommunity-pkg/python35u-mod_wsgi/releases/

[2017-01-07 22:41] carlwgeorge commented on #103
Thanks!  That certainly helps.

You spurred my curiosity, so I dug into this deeper (despite not know ruby at all).  I think in order to get the desired link, you have to make an additional http request to the actual `subject.url` from the notification and get the `html_url` property from that response.

[2017-01-09 13:47] #221 closed

[2017-01-09 13:59] andrew commented on #215
@WillAbides does https://github.com/octobox/octobox/pull/227 fix this?

[2017-01-09 13:59] WillAbides commented on #215
I was just about to close it.

[2017-01-09 13:59] #215 closed

[2017-01-09 14:30] WillAbides opened #230 "Very old unread notifications aren't marked read"
If you have unread notifications that are too old to show up in `GET https://api.github.com/notifications?all=1`, they will never have their read status synced unless they get new activity.  I have three ideas for dealing with this:

1. Individually query the thread urls for unreads that are older than the last notification in `GET https://api.github.com/notifications?all=1`.

2. Let the user manu

[2017-01-09 14:56] andrew commented on #230
Any idea what the limit is for `https://api.github.com/notifications?all=1`? is it a max number of pages or some other undocumented limit? Perhaps we can only sync back as far as that to avoid hitting things that would never get updated otherwise?

[2017-01-09 21:00] tarebyte opened #231 "New color or Subscriptions and Team mention"
Right now my labels look like this:

<img width="170" alt="screen shot 2017-01-09 at 15 59 26" src="https://cloud.githubusercontent.com/assets/564113/21783281/a45d6406-d684-11e6-97f4-c2a692ffff16.png">

And it's kind of bumming me out.

@briannelson do you have a suggestion for what colors we could use?

[2017-01-09 21:28] WillAbides commented on #231
For reasons we don't have defined we could throw caution to the wind and go pseudo-random:
`color = Digest::MD5.hexdigest(reason)[0..5]`

With that code, `Team Mention` would be: ![](http://hexcolor16.com/8826dc-100x20.png)

and `Subscribed` would be ![](http://hexcolor16.com/808c74-100x20.png)

We can probably do better than that.

[2017-01-10 13:49] WillAbides opened #233 "Hide 'Filter:' when it's empty"
![2017-01-10 at 7 46 am](https://cloud.githubusercontent.com/assets/233500/21808474/1ae533ae-d709-11e6-90e0-3b891f4abd40.png)

When viewing the archive, the 'Filter:' UI element is displayed without showing a filter.  In the same spirit as #232, it would be great to not see that.

[2017-01-10 14:15] tarebyte commented on #233
@WillAbides the only time I can make that happen is when I click on the Archive link? Is that the same for you?

[2017-01-10 14:20] WillAbides commented on #233
Yes.  That's the only place I've seen it.

[2017-01-10 15:12] #233 closed

[2017-01-10 15:13] andrew commented on #233
:shipit:

[2017-01-11 22:03] chrisarcand opened #236 "YAML parse error"
Hi! I'm setting up octobox beyond running it on localhost and have run in to an issue.

~~Upon trying to run Rails in the production environment (`RAILS_ENV=production`) with `OCTOBOX_DATABASE_PASSWORD` available,~~ any loading of Rails fails with the following message:

[code]

I don't actually see any egregious errors in the YAML; I've also tried just putting the password directly in to the file

[2017-01-11 22:20] chrisarcand commented on #236
I seem to only be running in to this issue in my Fedora environment, and not locally while in production mode on my MacOS machine. The plot thickens.

[2017-01-12 08:30] andrew commented on #236
@chrisarcand is this using Docker or just running the app directly on the OS?

[2017-01-12 15:37] chrisarcand commented on #236
Directly on the OS! Fedora 23. Still investigating. This might be a generic issue with Psych and Fedora and unrelated to Octobox; I'll update when I find out more.

[2017-01-12 16:12] andrew commented on #236
I'm away traveling today but will try and have a better poke around tomorrow

[2017-01-12 22:52] chrisarcand opened #237 "OAuth not working"
I thought I'd just try the Deploy to Heroku or even octobox.io ; Sadly, both present the following message on trying to auth: There was a problem authenticating with GitHub, please try again. Not sure if it's GitHub's fault or not.

![](http://screenshots.chrisarcand.com/permwqr3g.jpg)

This occurs both after trying the Deploy to Heroku option with valid client credential for an OAuth app set up o

[2017-01-13 00:11] chrisarcand commented on #236
Ugh. Figured it out.

I had an invalid character in my generated database password. You can't have `@` (and probably other types of chars) or it gives this parse error. The most confusing part (and why I reported this) about this is that I thought I debugged properly and the OS bit threw me off, I must have done something different in my local environment.

It does the same thing on MacOS as well.

[2017-01-13 00:11] #236 closed

[2017-01-13 10:21] #213 closed

[2017-01-13 10:23] andrew commented on #17
I'm going to close this out for now as there seem to be a lot of ways of running this on the desktop or alternative desktop clients in the wild already

[2017-01-13 10:23] #17 closed

[2017-01-13 10:24] andrew commented on #52
Fixed by @samjacobclift

[2017-01-13 10:24] #52 closed

[2017-01-13 10:27] andrew commented on #237
@chrisarcand have you double checked that the callback url is exactly the same on the oauth app as you site is running on? Is it under https?

[2017-01-13 10:46] #231 closed

[2017-01-13 10:47] andrew commented on #80
I think this one is out of scope for the project atm

[2017-01-13 10:47] #80 closed

[2017-01-13 10:47] andrew commented on #188
Going to close this as a duplicate of #8

[2017-01-13 10:47] #188 closed

[2017-01-13 10:48] andrew commented on #103
Going to close this for now, will be improved by #4 eventually

[2017-01-13 10:50] andrew commented on #138
Going to close this one for now, I don't think we'll get much benefit from it at the moment

[2017-01-13 10:50] #138 closed

[2017-01-13 18:46] chrisarcand commented on #237
...and now, without any changes whatsoever, it (my deployed Heroku app) is working today. Notifications were created in the logs and I'm in.

I forgot to post it, but previously I checked the server logs and found that that response from Github auth was that there was a timeout and the token given was expired or incorrect. I'm going to assume there might have been a hiccup with Github...? Tough to

[2017-01-13 18:59] andrew commented on #237
There's been downtime with GitHub both today and yesterday so that could be related

[2017-01-13 19:02] chrisarcand commented on #237
Agreed; I'll try occasionally over the next few days to use octobox.io for your info and close if it starts working. 👍

[2017-01-13 19:06] andrew commented on #237
I got an email about the exception you hit, weirdly on page 7 of your notifications, I wonder if your hitting the rate limit?

[2017-01-13 19:11] chrisarcand commented on #237
Ooooooh maybe that's it. I was going to open a separate issue eventually
discussing this, when I could actually look in to it myself...

The first time I was able to get octobox up locally it took multiple
minutes of the browser hanging to load fully. I looked at logs and found it
was because I had many hundreds of thousands of unread web notifications
that were being inserted, in individual write

[2017-01-13 19:24] andrew commented on #237
Other very prolific people have found the same thing after we recently changed it from downloading just your last months notifications, I suspect we'll need to roll that back

[2017-01-13 19:40] chrisarcand opened #239 "Mark as Read on click, not sync"
[Enhancement]

Currently, when you select an Unread issue/PR from the list and the new tab is opened, when you return to Octobox you will find that the issue/PR is still marked as Unread until the next sync action occurs.

It would be neat if we could sync the individual notification after opening (or mark as read from our end) on click to instantly reflect that the notification has indeed been re

[2017-01-13 20:03] andrew commented on #239
👍

[2017-01-14 02:50] chrisarcand commented on #214
🤔 I can definitely see the appeal; would it be weird given that it's a deviation from what something like Gmail does (the current interface is very Gmail-like)? (Does that matter?) Thinking out loud.

[2017-01-14 02:53] chrisarcand commented on #237
OAuth has again started working for me on Octobox.io

I believe this is a Github issue and nothing to do with Octobox, so I'm closing.  💙

[2017-01-14 02:53] #237 closed

[2017-01-14 10:45] #239 closed

[2017-01-14 13:25] andrew opened #241 "New Read notifications aren't synced"
I believe this is a regression that's come about since https://github.com/octobox/octobox/pull/227

If open an issue and it receives a comment that I see in the web view (which marks it as read on GitHub), then octobox never syncs that issue. This mean that notification falls through the cracks again, very annoying.

[2017-01-14 13:30] andrew opened #242 "Too many notifications synced on initial signup"
Another side effect of https://github.com/octobox/octobox/pull/227 is that we pull in **all** the users notifications the first time they sign up, for very active github users this either takes ages, timeouts or crashes the rails app completely, need to add a limit back in!

[2017-01-14 15:35] WillAbides commented on #242
I ran across this too. I'm thinking the limit should be a number and not a time limit.

The problem is especially bad when there are thousands of unread as it doesn't seem to purge old unread notifications like it does with read ones.

[2017-01-14 16:14] WillAbides commented on #241
I'm a bit lost on why [fetch_read_notifications](https://github.com/octobox/octobox/blob/5aee3acbc35bb9a9cf1887819d0c121a2d5265b9/app/models/notification.rb#L99-L107) doesn't catch this.  Octobox still sees the notification as unread, so the since parameter on that query should be at least one second before the notification's previous `updated_at` time.  What am I missing here?

[2017-01-14 16:25] chrisarcand commented on #242
[Same.](https://github.com/octobox/octobox/issues/237#issuecomment-272521520) I had hundreds of thousands of unread web notifications (was using email and didn't turn web off) and it didn't go well.

[2017-01-14 16:27] WillAbides commented on #237
I have seen the same error message on another instance for users with thousands of unread notifications.  I don't think it is really an auth problem.

[2017-01-14 16:44] WillAbides commented on #242
I was just looking at implementing a max count to fetch and don't see a simple way to do that with octokit.

I'll submit a PR with a 1 month limit later today.

[2017-01-14 16:53] WillAbides commented on #214
Yes that would be weird. I guess I don't mark messages on gmail with my keyboard.

I would rather leave it to match what people are used to.

[2017-01-14 16:53] #214 closed

[2017-01-14 17:21] chrisarcand opened #243 "[Mobile] Pin controls to top"
In mobile views, the controls for refreshing, archiving, etc should be part of a bar pinned to the top of the screen as you need to scroll all the way back up each time you want to do anything.

![](http://screenshots.chrisarcand.com/perm2IMG_3349.jpg)

[2017-01-14 17:26] andrew commented on #243
👍

[2017-01-14 19:22] WillAbides commented on #187
That's interesting insight. I'd like to figure out how to have both an uncluttered UI and be able to single out activity on PRs I created.

[2017-01-14 19:35] jerone commented on #209
Duplicate of https://github.com/octobox/octobox/issues/69.

[2017-01-14 20:01] #209 closed

[2017-01-14 20:07] chrisarcand opened #244 "Show author of issue/PR"
I find it interesting to see the author of PRs/issues while perusing them, as knowing the author usually gives quite a bit of context in addition to the issue's title. I propose that we add authors to the list view in some way.

Some considerations, however:

* It may or may not be appropriate to add authors as Just Another Column™ in the list view. *We should experiment with it*, but I wouldn't w

[2017-01-14 21:17] andrew commented on #244
Duplicate of https://github.com/octobox/octobox/issues/83

[2017-01-14 21:53] chrisarcand commented on #244
🙇

[2017-01-14 21:53] #244 closed

[2017-01-16 21:09] chrisarcand opened #247 "Archive shortcut choice"
So, I really want to ask this but I totally understand that what's done is done and suddenly changing it may or may not be kosher, but...

Why is the Archive shortcut 'y'?

Following what we've sort of been following with Gmail convention, I keep hitting 'e' (that's what it is in Gmail) since the interfaces are so similar.

[2017-01-16 21:19] WillAbides commented on #247
I don't know the real answer, but being used to vim I think of it as (y)anking the notification to the archive.  That isn't what yank means in vim at all, but that's how I remember it.

[2017-01-17 08:14] andrew commented on #247
cc @karpiu who I think added the original shortcuts, I don't see why we can't have both?

[2017-01-17 08:35] andrew opened #250 "Multiple account support"
I have a second github account that I do somethings with (@bertie), I wonder how hard it would be to allow connecting of multiple accounts into the same inbox or at least with a quick switching UI with a unified overview?

Another underlying thought here is that as I start to use GitLab and Bitbucket more I'm pondering if we can add support for those, although they don't seem to have a similar API

[2017-01-17 08:42] andrew commented on #250
The main blocker for multiple GitHub accounts is that your browser can only be logged into one account at a time, so clicking out to the issue link wouldn't really work, would need something like https://github.com/octobox/octobox/issues/69 so you can read the issue/pr thread directly in the octobox UI which becomes a whole lot more involved

[2017-01-17 09:14] karpiu commented on #247
@chrisarcand I was using this list as a guide: https://shortcutworld.com/en/Gmail/mac/all

Now I read it again and I see that I added archiving with `y` by mistake :) I missed `e` shortcut and misinterpreted what `y` does.

Also in the original issue (#20) @boffbowsh explains how he uses shortcuts in Gmail and he uses `y` at the end, so this also fooled me :P

[2017-01-17 11:57] metaskills commented on #250
I have a second one that I created called `rails-sqlserver` to give that overall project an identity/home outside of my personal moniker. I suspect others do this as well for large projects.

[2017-01-17 12:01] andrew commented on #250
@metaskills I've moved most of my projects into orgs for the same reason

[2017-01-17 14:12] WillAbides commented on #247
`e` isn't spoken for yet.  Maybe we should make it a second mapping for archive.

[2017-01-17 14:33] karpiu commented on #211
It has been two weeks and nobody has done this issue yet. @andrew can I take this one?

[2017-01-17 16:34] andrew commented on #211
Sure!

[2017-01-17 16:35] andrew commented on #247
e is merged now

[2017-01-17 16:35] #247 closed

[2017-01-17 16:49] Geremia opened #254 "Does Octobox notify when starred but unwatched project has new release?"
Does Octobox notify me when my starred, but possibly unwatched, projects have a new release?

[2017-01-17 16:59] andrew commented on #254
Nope, you have to be watching it to trigger notifications

[2017-01-17 18:26] karpiu commented on #211
I just noticed that we have a LOT of favicons defined in the header:

[code]
Some are also defined in `public/manifest.json` for android.

The problem is that I cannot find a way to dynamically get the currently used favicon (so I can update it). Google gives me nothing and updating them all every time the unread count changes is an overkill. Anybody has a solution to this?

[2017-01-17 21:55] chrisarcand commented on #247
Well I'm glad I asked ;) Thanks.

[2017-01-17 22:50] Geremia commented on #254
"Watching: Be notified of all conversations" or would "Ignoring: Never be notified" work, too?

[2017-01-17 23:28] andrew commented on #254
I don't believe so

[2017-01-18 15:06] andrew commented on #211
@karpiu almost all of them are just for mobile homescreen related things, travis-ci seems to use these two:
[code]

[2017-01-18 16:04] Geremia commented on #254
A new comment, :+1:

[2017-01-19 09:58] GiacomoLaw opened #263 "Notifications that are read on GitHub do not show on Octobox"
If I read my notifications on GitHub by the bell, they don't show up on Octobox in the Inbox or the Archive.

[2017-01-19 10:36] #254 closed

[2017-01-19 10:37] andrew commented on #263
Dupe of https://github.com/octobox/octobox/issues/241

[2017-01-19 10:37] #263 closed

[2017-01-19 10:37] GiacomoLaw commented on #263
Okay, sorry.

[2017-01-19 13:46] puppycodes opened #266 "missing a comma in app.json"
just noticed the heroku deploy button was failing from a missing comma in app.json #265

[2017-01-19 14:08] WillAbides commented on #266
Fixed in #265

[2017-01-19 14:08] #266 closed

[2017-01-19 16:04] andrew commented on #266
I love using JSON for config files 😬

[2017-01-19 17:46] WillAbides opened #268 "Javascript tests"
I'd like to add some tests for functions in application.js.  The need became apparent in this [unfortunate](https://github.com/octobox/octobox/pull/248) [series](https://github.com/octobox/octobox/pull/252) of [PRs](https://github.com/octobox/octobox/pull/253).

I'm thinking of using [mocha](https://github.com/mochajs/mocha), but I'm up for other suggestions.

[2017-01-19 18:01] #211 closed

[2017-01-19 18:23] andrew commented on #268
👍

[2017-01-19 18:49] GiacomoLaw opened #269 "Notifications on Chrome"
It would be awesome if you were notified when you had a new notification on Chrome.

[2017-01-19 18:50] GiacomoLaw opened #270 "Auto sync"
Instead of manually updating it, auto synchronising every so often would be great.

[2017-01-19 18:50] GiacomoLaw commented on #269
Kind of needs this to work: https://github.com/octobox/octobox/issues/270

[2017-01-19 18:51] GiacomoLaw commented on #270
Just seen this:

https://github.com/octobox/octobox/blob/34c487d160c0826f6457d11fbe2479ac3758cce6/README.md#sync-notifications-automatically

Does it do this on octobox.io?

[2017-01-19 19:19] WillAbides commented on #270
I think that #200 is actually closer to what you want because it will update a loaded page instead of just running in the background.  Unfortunately neither of these are running on octobox.io.

Looking back at #200 I realize I neglected to update README.

[2017-01-19 20:16] GiacomoLaw commented on #270
@WillAbides I'll add that it doesn't auto sync on the hosted version.

[2017-01-19 20:18] GiacomoLaw commented on #270
Here is the README.md update: https://github.com/octobox/octobox/pull/271

[2017-01-20 11:09] andrew commented on #269
This needs to be optional, I can't stand push notifications!

[2017-01-20 11:13] GiacomoLaw commented on #269
@andrew I'm pretty sure that you can either allow or decline Chrome notifications, so you could just disallow. 😄

[2017-01-20 13:08] GiacomoLaw commented on #270
Here are two potential fixes:

- https://github.com/octobox/octobox/pull/275
- https://github.com/octobox/octobox/pull/274

[2017-01-20 14:54] WillAbides commented on #270
I added doc for #200 here:  https://github.com/octobox/octobox/blob/master/README.md#allowing-periodic-notification-refreshes

I don't think that #274 or #275 add anything to isn't already there, but they do force a periodic page refresh on all users instead of making it optional.  I know that @andrew is opposed to forcing refreshes on users.

[2017-01-20 14:59] GiacomoLaw commented on #270
@WillAbides I think an option should be added, if someone could add that it would really be appreciated. I'm not good enough at ruby to do that. Sorry!

[2017-01-20 15:23] WillAbides commented on #270
@GiacomoLaw: It's not a matter of adding any new code.  Unless I'm missing something significant, I think Octobox already does what you want if it is enabled on the server.

So you can either self-host octobox or lobby @andrew to set `MINIMUM_REFRESH_INTERVAL` on octobox.io.

[2017-01-20 15:25] GiacomoLaw commented on #270
Okay, cool. Surely and option could be added?

[2017-01-20 15:58] chrisarcand commented on #270
@GiacomoLaw IIRC These options are disabled due to a current desire to *not* store user authentication details (understandable). Some work should be done before this option is enabled, at least (I think it's currently stored in plaintext).

I would suggest self-hosting for now. A 'hobby' tier (free) on Heroku is enough to meet your needs and is easy to set up (I use this, and haven't had any need

[2017-01-20 16:16] andrew commented on #270
As @WillAbides mentioned, this option is already available via the `MINIMUM_REFRESH_INTERVAL` ENV variable if you run octobox yourself but at the moment I'm not prepared to turn it on for my hosted version on https://octobox.io, that may change in the future but for now I'm going to close this issue.

[2017-01-20 16:16] #270 closed

[2017-01-20 16:17] andrew commented on #212
I think this has been done now

[2017-01-20 16:17] #212 closed

[2017-01-20 16:45] WillAbides opened #278 "Clearer source link"
From [the license](https://github.com/octobox/octobox/blob/f3101457f174c0ad56166f8841a2a5f40b21f045/LICENSE.txt#L650-L656):

network, you should also make sure that it provides a way for users to
get its source.  For example, if your program is a web application, its
interface could display a "Source" link that leads users to an archive
of the code.  There are many ways you could offer source, and

[2017-01-20 16:50] andrew commented on #278
Would be great to have something like "© 2017 Andrew Nesbitt, [source](https://github.com/octobox/octobox) available under [AGPL 3.0](https://github.com/octobox/octobox/blob/master/LICENSE.txt)" in the footer of the main page

[2017-01-20 17:09] chrisarcand commented on #278
I just discovered the Affero license the other day and was thinking this same thing :) Good call.

Note on this, I'd like to add some easier configuration setup beyond just environment variables soon. I'll open a separate issue, maybe I can get that done before another is added

[2017-01-20 17:17] chrisarcand opened #280 "Configuration API"
I'd like to write a simple configurator to allow people to configure the application in a single convenient spot, with more flexibility, rather than the bucket of environment variables that we currently have.

I was thinking a configuration block available from the top namespace; we can then gitignore a specifically named initializer that people can add to configure their box how they want without

[2017-01-20 17:17] chrisarcand commented on #278
#280 💙

[2017-01-20 17:24] andrew commented on #280
The nice thing about the current ENV setup is that you can deploy an instance of octobox to heroku using the heroku app button without having to fork the project or even have any coding experience.

Perhaps we can have a configuration file that overrides ENV vars if it's been customized otherwise acts like a heroku deployment, similar to database.yml in rails

[2017-01-20 17:40] chrisarcand commented on #280
I should also add, we have the beginnings of what I was envisioning with https://github.com/octobox/octobox/blob/2a965cf54372639d66dc3595986bee5abe98b78d/config/initializers/octobox_config.rb

[2017-01-20 17:54] WillAbides commented on #280
I really like config through environment variables*, and want to continue the ability to set config through the environment.  That said, I am not opposed to having additional config methods as long as everything can continue to be set through environment variables as well.

I added `octobox_config.rb` to abstract the config from the details of how config options are set.  Even if we only ever use

[2017-01-20 17:56] chrisarcand commented on #280
That's part of the intent here; I'd like to be able to do more customization via an API without code tracked code changes. See also, database.yml

Ah that's a fair point. I guess you would need to know basic Ruby stuffs to get full use of things. I'd argue if you're looking to customize your own hosted version of the application you'd need to learn that anyway, but I respect your wanting to make i

[2017-01-20 18:19] WillAbides commented on #280
@chrisarcand: Can you clarify what you mean by API here?  I've been reading this as meaning API in the broad since, but I occurs to me that you may be talking about something like a RESTful API.  And do you want to change configuration on a running instance or would settings still be immutable for the instance?

[2017-01-20 19:09] chrisarcand commented on #280
@WillAbides Nope, you were right, API in broad sense. Given our conversation above these changes should be be considered 'refactoring the current config file (still allowing for all env vars), allowing a gitignored initializer, and pointing the few scattered env var refs in existing code to go through the config object)

I'll shut up and show some code, you won't hate it :D

[2017-01-21 16:56] senid231 opened #283 "Mobile side menu height bug"
On mobile height of the side menu depends on height of main content

[![Screenshot_20170121-184910.png](https://s5.postimg.org/x7mytxz2f/Screenshot_20170121_184910.png)](https://postimg.org/image/slqulldj7/)

Screenshot from latest chrome on Nexus 5x (Android 7)

[2017-01-21 19:29] WillAbides commented on #283
Confirmed here too.  Here's a gif

![sidescroll](https://cloud.githubusercontent.com/assets/233500/22177115/a58b3d5a-dfdd-11e6-8ae0-a5762de8e894.gif)

[2017-01-21 21:07] #278 closed

[2017-01-21 21:08] andrew commented on #283
@willabides what do you use to record your gifs?

[2017-01-21 21:38] chrisarcand commented on #283
@andrew One of the remotees best friends, IMO: https://itunes.apple.com/us/app/monosnap/id540348655

[2017-01-21 21:42] WillAbides commented on #283
I use the [giphy capture app ](https://giphy.com/apps/giphycapture).  It seems ok, but I've only had it for a couple of weeks so I can't fully recommend it.

[2017-01-22 18:18] WillAbides commented on #280
@chrisarcand: After my most recent PR, `octobox_config.rb` is starting to get a bit more logic in it than I would like.  I'd like to refactor it to move the logic into `/lib` where it is more testable.  Does this jibe with the refactor you are working on?

I'm happy to do that part of the refactor myself or let you do it.  I just don't want to be working on branches that are going to massively con

[2017-01-22 18:41] chrisarcand commented on #280
@WillAbides PR coming in about 15 minutes :) I'll ping.

[2017-01-22 18:42] chrisarcand commented on #280
And yeah that's pretty much exactly what I so poorly tried to explain above 💙

[2017-01-23 01:48] johnthepink commented on #268
I've been using [Jest](http://facebook.github.io/jest/) recently. It has a great command line interface, it's very fast, sane defaults, and super easy mocking.

[2017-01-23 08:35] andrew commented on #268
Needs to work with Ruby on Rails test suite btw for stubbing and mocking http requests

[2017-01-23 14:26] WillAbides commented on #268
Since this has some interest, I created a WIP PR to show where I've gotten with this.  #287

[2017-01-23 22:15] chrisarcand opened #288 "'Mute Selected' doesn't clear selected notifications"
~~I often like to select a number of notifications to be muted and then archived. Unfortunately, when you mute notifications those notifications are currently deselected so you then have to select all the ones you just had picked out to be then archived.~~

~~Muting should not deselect my selected notifications. To signal that notifications were muted, we could just have a flash message saying "Th

[2017-01-23 22:43] WillAbides commented on #288
I think the bug is slightly different from what you described.  Mute is supposed to archive as well.  When I tried it just now, it did archive, but didn't refresh the page.  Once I hit refresh on the page, the notification I had muted was gone.

[2017-01-23 22:45] chrisarcand commented on #288
Oh whoa, good catch. I wouldn't have thought that from the button name but I suppose that makes sense.

[2017-01-23 22:47] andrew commented on #288
I've noticed this happen when doing a regular archive, where the page refreshes but it doesn't hide them until after refresh

[2017-01-23 22:47] andrew commented on #288
Maybe turbolinks related?

[2017-01-23 23:05] WillAbides commented on #288
Another data point:  It works when I step through in the chrome debugger but not when I don't.

[2017-01-23 23:27] WillAbides commented on #288
I've got this fixed in #289

[2017-01-23 23:30] #288 closed

[2017-01-24 09:35] andrew opened #291 "Footer license/copyright looks weird on big screens"
![screen shot 2017-01-24 at 9 33 29 am](https://cloud.githubusercontent.com/assets/1060/22241660/39cf346c-e218-11e6-81b3-c491dc80b647.png)

Only just saw the updated footer on desktop, and the stretchy spacing looks really off on large screens.

Mostly leaving this issue to bug myself to fix it 😬

[2017-01-24 21:26] chrisarcand opened #293 "Differentiate unread in sidebar counts/categories"
I find myself constantly thinking that the counts on the different states in the sidebar are *unread* counts, clicking in to them to find that there are issues I've seen before but haven't archived (because I need to take action on them at some point):

![](http://screenshots.chrisarcand.com/permepibr.jpg)

These are unarchived counts. I'd personally find it better to just be *unread* counts, but

[2017-01-24 22:16] #280 closed

[2017-01-25 09:02] andrew commented on #293
The counts are kinda weird as they are just at the top level, not how many results you'd see if you clicked it, happy to have it how ever makes sense as long as it's not incredibly slow on the sql requests

[2017-01-25 16:42] WillAbides commented on #291
I tried to model it after GitHub's.  I agree something is a bit off about it, but I can't put my finger on it.

GitHub's footer for comparison:

![2017-01-25 at 10 40 am](https://cloud.githubusercontent.com/assets/233500/22299756/ea48fabc-e2ea-11e6-8fc1-5b7a1743d8ae.png)

[2017-01-25 17:40] andrew commented on #291
In the github footer the text is left and right aligned I believe

[2017-01-25 17:41] chrisarcand commented on #291
I think there's just a maximum amount of whitespace between the logo and links on either side that you can allow before it starts to look weird.

![](http://screenshots.chrisarcand.com/i33d0.jpg)

Also Github's might look more natural given the slightly increased logo size and lighter tint.

[2017-01-25 17:43] chrisarcand commented on #291
I think you're right, given the uneven whitespace on either side of logo but both text edges are flush with the footer line.

[2017-01-25 18:03] andrew commented on #291
Also the text could be more muted/smaller in our version, no need to draw lots of attention to it

[2017-01-26 17:55] WillAbides opened #300 "Add Development doc"
We should add a document for how to set up a development environment and run tests locally

[2017-01-26 18:09] andrew commented on #300
👍  We have a few bits in https://github.com/octobox/octobox/blob/master/CONTRIBUTING.md that are related

[2017-01-26 21:07] GiacomoLaw commented on #291
I've done a fix here: https://github.com/octobox/octobox/pull/301

Hope it helps 😄

[2017-01-27 02:52] johnthepink opened #302 "500 error"
I've been getting a lot of errors today. Pretty much every time I force a sync I got a 500 error. I will try to reproduce locally.

![unspecified-1](https://cloud.githubusercontent.com/assets/816517/22359037/a7ed7b02-e411-11e6-99e9-36935f5cbcb3.png)

[2017-01-27 09:10] andrew commented on #302
Looks like you're hitting the rate limit, do you have a lot of other GitHub integrations hooked up to your account?

[2017-01-27 09:49] andrew commented on #302
Fixed a particular exception that happened for the whole site if the github api wasn't happy on boot, should help reduce 500 errors going forward

[2017-01-27 09:49] #302 closed

[2017-01-29 20:49] chrisarcand opened #303 "Add configurator tests"
[Mostly a reminder to myself that] tests should be added to cover the new configurator and top level helpers from #286, as admittedly I've destroyed our code coverage %.

[2017-01-29 21:59] WillAbides commented on #303
#304 has a configurator test in it.

[2017-01-30 00:41] chrisarcand commented on #303
That'll improv-

![](http://screenshots.chrisarcand.com/permmmzqa.jpg)

😭

:trollface:

[2017-01-30 00:47] chrisarcand commented on #303
Oh it just doesn't statically find that we're utilizing the helper class. I'll tweak that while I do the rest.

[2017-02-07 13:58] WillAbides opened #309 "Make the sync situation clearer to users"
It isn't entirely obvious that new notifications don't show up on page load.  We should make that clear somehow.

One possibility is to have a flash display the first time somebody loads a page with a last_synced_at over an hour old.

![2017-02-07 at 7 55 am](https://cloud.githubusercontent.com/assets/233500/22693943/ec182c12-ed0a-11e6-85f6-22cb7fdf8a00.png)

[2017-02-10 01:55] chrisarcand opened #310 "Auto refresh fails when leaving a tab open"
I haven't looked in to how auto refresh is actually implemented, so submitting this without knowing how easy or difficult it would be to fix.

I leave a Chrome tab pinned to Octobox all the time, and I imagine other people do as well. When I leave my machine for an extended period of time, I frequently come back to this in my pinned tab:

![](http://screenshots.chrisarcand.com/permwhsw0.jpg)

This

[2017-02-14 17:41] errordeveloper opened #311 "It errors on me"
Dunnot if I have too much activity or not, but would like to help debugging.

[2017-02-14 18:59] tarebyte commented on #311
@errordeveloper do you remember what you were doing when it errored on you?

[2017-02-15 06:57] errordeveloper commented on #311
Just trying to signup.

Re-tesed it with cookies cleared.

![](https://www.dropbox.com/s/25hujkod6uzoy94/Screenshot%202017-02-15%2006.46.47.png?dl=1)

![](https://www.dropbox.com/s/h427skkvkvpbhgv/Screenshot%202017-02-15%2006.46.58.png?dl=1)

Also tesed in Chrome, same problem. Here are the headers that may help to debug this. I couldn't find request details in Safari, but thought it may be a good

[2017-02-15 06:59] errordeveloper commented on #311
I've also revoked and re-authorised the app, and test again with no luck.

[2017-02-16 19:25] davidcelis opened #312 "Auto sync doesn't appear to work unless there's at least one notification in the inbox"
I've noticed that Octobox will not attempt to automatically sync notifications, even if configured to do so, unless there is at least one notification that's visible in the inbox. If the inbox is empty, Octobox doesn't appear to ever attempt to sync. I can leave my browser after about an hour, refresh, and see "Last sync: about an hour ago". When I manually sync, I'll then get a bunch of notificat

[2017-02-16 19:49] chrisarcand commented on #312
Hmmm I can't seem to recreate that. I just cleared mine out and within my interval threshold it brought in new notifications just fine.  😕

However, that's just sitting there waiting at the screen. I have had other such annoyances with leaving it open in a tab for a long, long period of time. See also #310

[2017-02-18 12:53] andrew commented on #312
I think this is related to https://github.com/octobox/octobox/issues/241

[2017-02-18 19:34] technicalpickles commented on #300
Here's some quick notes from setting up just now:

[code]

- register a new application at https://github.com/settings/developers with callback url of http://localhost:3000/auth/github/callback
- create a new .env with:

[code]

Run with `rails server`

Would y'all be open to [scripts to rule them all](https://github.com/github/scripts-to-rule-them-all) for this project?

[2017-02-18 19:39] technicalpickles commented on #268
Would javascript unit tests guard against the type of problems you are trying to prevent? Or do you think it needs full browser tests with something like capybara + selenium/poltergeist?

[2017-02-18 19:43] technicalpickles commented on #172
One way would be to add a `/auth/developer/callback` that signs in the dummy user by setting `session[:user_id]`, and only have that work in development.

With that, there could be a link to it on the homepage to login next to 'Sign in with GitHub'.

[2017-02-20 16:53] chrisarcand commented on #300
I'm in favor, sure.

[2017-02-21 14:19] WillAbides commented on #268
The particular issues that caused me to open this issue would be caught by unit tests, but browser tests would catch a lot more.

[2017-02-21 15:24] arthurnn opened #315 "Lost a bunch of notifications"
I am not sure how to simulate this again, as I was using it and it happened.

- I had about 500+ open notifications, I could see them on github.com/notifications.
- I was triaging some open notifications, marking them as read.
- One of the teams/tabs, I selected all the notifications and clicked on the top left option where you select more notifications from the next pages.
- I clicked 'mark as re

[2017-02-21 15:51] samjacobclift commented on #268
Why not both :D unit and browser ones, we could add unit ones for now and then add browsers ones if need be

[2017-02-22 17:14] technicalpickles opened #318 "Hitting 'e' to archive without any selected notifications archives notification under cursor"
I'm not sure if this is a bug or working as expected and I need to change my expectations.

When viewing a list of notifications, I've found myself accidentally hitting `e` out of habit, except there are no notifications selected. It ends up archiving the message under the cursor.

![](https://cl.ly/1Z410L2A0T0o/Screen%20Recording%202017-02-22%20at%2012.13%20PM.gif)

My expectation is that it woul

[2017-02-22 17:33] tarebyte commented on #318
<img width="300" alt="screen shot 2017-02-22 at 12 32 31" src="https://cloud.githubusercontent.com/assets/564113/23224107/0d59f2ce-f8fb-11e6-8924-4d714a2e28ff.png">

It's technically working as expected @technicalpickles, you can see all of the shortcuts with the `?` key.

[2017-02-22 17:37] technicalpickles opened #319 "Undo archival, mute, and other actions"
Whenever I run into https://github.com/octobox/octobox/issues/318 I've wanted to undo to get the message I accidentally archived back.

I'm not sure what this would look like implementation wise, or if it's even possible with the API.

[2017-02-23 16:47] jules2689 opened #321 "Question: Status vs Unread"
Going through the app, I clicked "unread" in the index view. I was a bit confused at why `status=true` was what was used. Am I missing a reason why status != unread?

re: https://github.com/octobox/octobox/blob/master/app/controllers/notifications_controller.rb#L10

I can change it up to make the variable names make more sense (if I'm not missing something of course!)

[2017-02-23 16:57] jules2689 commented on #321
PR if needed https://github.com/octobox/octobox/pull/322

[2017-02-23 17:00] andrew commented on #321
@jules2689 I don't remember why it's like that tbh, but definitely makes sense to change it to line up with the name of the db attribute 👍

[2017-02-23 18:03] tarebyte commented on #321
#322 was merged ⚡️

[2017-02-23 18:03] #321 closed

[2017-02-23 21:13] technicalpickles commented on #318
Sounds like I need to change expectations then 😁  I filed https://github.com/octobox/octobox/issues/319 about the idea of way to undo for when I do accidentally archive stuff.

[2017-02-23 21:13] #318 closed

[2017-02-26 17:24] dwijnand opened #323 "Notifications don't link to the updated part"
If I click on a notification, that I got because of a new comment on a PR/issue, I get lead to that PR/issue. I don't get lead directly to the new comment.

With GitHub's email or web notifications the link includes a fragment identifier, such as `#issuecomment-282543202`.

(For me this severely limits the utility of Omnibox, and I was surprised to not find an issue open for this already.)

[2017-02-26 17:31] andrew commented on #323
This is also annoying for me, for now we're at the mercy of the GitHub Notifications API until https://github.com/octobox/octobox/issues/4 is implemented.

[2017-02-26 17:48] dwijnand commented on #323
I see, GitHub's own services have access to detail you don't. Shame.

Thanks for connecting the dots for me @andrew.

[2017-02-26 17:54] andrew commented on #323
@dwijnand on a totally separate note, would be good to pick your brains some time on adding sbt support to https://libraries.io, primarily for parsing sbt files to find the dependencies of a repository.

[2017-02-26 17:55] dwijnand commented on #323
Feel free to ping me, elsewhere.

[2017-02-27 14:50] chrisarcand commented on #318
Yes, the Gmail interface was the inspiration for the 'e' shortcut; I believe the 'archive the **current**/marked notification(s)' was already there, unfortunately.

[2017-02-27 22:51] stevebosworth commented on #311
Happens to me as well :-(

Tried revoking the app as well.  Tested in  FF and Chrome

[2017-02-28 09:50] andrew commented on #311
I can see occasional 503 errors from the GitHub API servers when people are logging in, nothing we can fix there from our end, I'd recommend retrying a few times in a row.

[2017-03-02 17:55] gauntface opened #324 "Get a "Message" or "Entry" for any activity on Repos I Own / Watch?"
I'd love it if I could have a way to say "Any activity on this repo I want to land in octobox" for example new issues, PR's - anything.

Is this possible or something that could be implemented?

[2017-03-02 18:06] tarebyte commented on #324
Basically what you're asking for is a subscribable events thread for Octobox.

While it is possbile to get events either through the [pulling the API](https://developer.github.com/v3/activity/events/) or from [Webhooks](https://developer.github.com/webhooks/) I don't think it's something we'd want to support on Octobox proper.

[2017-03-02 22:33] chrisarcand commented on #324
I don't know if I'm misunderstanding, but I don't see how that isn't exactly what Octobox does... I subscribe to repos that I own and repos that I watch on Github and I get notified for every new issue, pull request, or comment on the repo in Octobox.

Is there some specific event that you're looking for that you haven't mentioned above?

There are some events that occur that aren't picked up by O

[2017-03-03 16:50] gauntface commented on #324
@chrisarcand I'm not seeing entries for repos that I own. I only get entries for issues, PRs etc that I'm tagged in. I have set something up wrong on octobox.io that's caused this behavior?

At the moment I'm planning on adding templates for all repo's to try and account for the behavior I'm currently seeing.

[2017-03-03 18:27] tarebyte commented on #324
@chrisarcand are you watching your own repos?

You may have have this setting turned off

<img width="769" alt="screen shot 2017-03-03 at 13 26 12" src="https://cloud.githubusercontent.com/assets/564113/23563524/05f5ee18-0015-11e7-9834-75f81ca0a62f.png">

You can find it that settings box here: https://github.com/settings/notifications

[2017-03-03 18:37] gauntface commented on #324
@tarebyte that could easily be where I was going wrong - my watching was only marked for email - so added web to that and will try Automatically watch if that doesn't do (I'm part of a number of orgs with lots of repos being generated I don't care about so hopefully watch will do it :) )

Thanks for the info - will close this issue for now.

[2017-03-03 18:37] #324 closed

[2017-03-07 21:25] technicalpickles opened #327 "Archiving/muting the last message on the last page clears filters"
Just now I was on the last page of filtered messages by owner and unread (like https://localhost:3000/?technicalpickles=github&page=2&status=true) , and archived the last message. I expected to go to the next to last page with the same filter, but instead I was sent to a (seemingly random) page of notifications without any filter (ie https://localhost:3000/?page=3).

I need to better reproduce thi

[2017-03-09 11:31] errordeveloper commented on #311
Hm... Surely something can be done. I'll install it on Heroku and try to debug myself. Will keep you posted.

[2017-03-09 11:37] errordeveloper commented on #311
Ok, here's what I see in the logs on Heroku:
[code]

[2017-03-09 11:43] errordeveloper commented on #311
Ok, I've just tested it with `curl` and got a 500 from `https://api.github.com/notifications?all=true&page=6&per_page=100` on a 3rd attempt. Clearly we just need to retry on 500, right?

[2017-03-09 11:52] errordeveloper commented on #311
Ok, I've set `MAX_NOTIFICATIONS_TO_SYNC=200` on my Heroku deployment and finally been able to login.

[2017-03-12 19:38] sharwell opened #328 "Ability to reorder teams"
Currently the teams are listed in ordinal order, which for English is similar to alphabetical order except that capitalized teams are closer to the top. It would be nice if the teams could be reordered, perhaps via a drag-and-drop operation.

[2017-03-12 19:44] sharwell opened #329 "Archiving releases leaves Release filter enabled"
### Steps to reproduce:

1. Click **Releases** on the left to enable the filter
2. Select all releases, and click **Archive**

### Expected results:

Releases are archived, and the view on the left reflects the current filter state.

### Actual results:

The releases are archived, but **Releases** disappears from the left pane so it's not obvious that the filter remains applied. The filter can be

[2017-03-15 14:55] gep13 opened #330 "Inconsistent tooltips on small screen"
I have just docked my browser to the right hand side of my screen, and selected an item:

![image](https://cloud.githubusercontent.com/assets/1271146/23954437/3189e128-098f-11e7-9d13-296073de3db6.png)

In this size screen, I wasn't sure which icon was which, as I normally see the text.  So I hovered over one of the buttons and there was no tooltip.  I hovered over another button and there was a to

[2017-03-17 15:56] Soleone commented on #210
this would be amazing! i unfortunately get a lot of noise in my octobox for notifications that are basically just "this just merged". or when i'm like a week away and come back to inbox 100+ i would like to see the ones that already merged/closed because they're not very actionable any more.

to put this into perspective i get around 20 notifications every day. so any notification that is not real

[2017-03-21 18:27] gauntface opened #331 "Show open / closed / merged status?"
There are a few projects where the issue being closed / opened will dictate whether I'm interested in the change (i.e. personal projects I care about issues being opened / closed by someone, but larger projects - closing is done by a team member and requires no interaction).

It would be amazing to see the state of the PR / issue at the top level of octobox UI.

[2017-03-22 16:00] chrisarcand commented on #331
Dupe of #210, requires #4 first.

[2017-03-23 04:43] Thetoxicarcade opened #332 "button for the "read in both" keyboard shortcut"
There's a keyboard shortcut to mark a notification as read in both octobox and github.
Can we have a button? Or a setting to decide what that button does?

Am I missing something?

[2017-03-23 04:52] Thetoxicarcade commented on #332
That and, well, being able to use that keyboard shortcut at all would be nice too..

[2017-03-24 02:05] jamielennox opened #333 "Filter repo count indicators on read and type."
Hi,

So far i'm loving the project - thanks for your efforts.

I get a fairly high volume of traffic from a limited number of projects which means that i occassionally miss something from smaller ones.

In the left column where my repos are listed they have a number indicating the number of items in that project that are linked to me. What I would like to see is if i press the unread and pull requ

[2017-03-24 02:07] jamielennox commented on #333
Actually thinking about it, that number could reasonably be changed to always show an unread count. I don't care that i have 200 things in that folder i've dealt with. I care that there are 2 things I have to do.

[2017-03-24 11:48] acrobat opened #334 "Remember login"
It would be cool if octobox could remember that you were logged in. It's no huge effort to click the github login button each time but if it would remember I was logged in that would be even better :)

Great work by the way! :tada:

[2017-03-24 16:06] chrisarcand commented on #334
🤔 Is this on octobox.io? I have not had this issue on my own hosted service at all.

[2017-03-24 16:09] chrisarcand commented on #333
Dupe of https://github.com/octobox/octobox/issues/293

[2017-03-24 16:19] acrobat commented on #334
Yes on octobox.io!

[2017-03-24 16:21] chrisarcand commented on #332
I'm not sure I understand your problem. There is a button:

![](http://screenshots.chrisarcand.com/permnjg2h.jpg)

And the related keyboard shortcut is 'd':

![](http://screenshots.chrisarcand.com/perma2j7o.jpg)

Can you explain this further?

[2017-03-24 16:28] chrisarcand commented on #334
Have to toss this off to @andrew then :) 👐

[2017-03-24 16:35] andrew commented on #334
There's no difference in between octobox.io and everyone else around the session, I suspect we need to increase the expires timestamp on the session cookie

[2017-03-24 16:49] Thetoxicarcade commented on #332
O: THERES A BUTTON TODAY.

come to think of it, I remember there being that button previously.

Why did it disappear, then.

[2017-03-24 16:52] Thetoxicarcade commented on #332
![screenshot from 2017-03-24 10-50-58](https://cloud.githubusercontent.com/assets/4575799/24304668/dc132392-107f-11e7-9baa-e37166a44bdc.png)
aaaaand now it's disappeared again. I clicked it once.

[2017-03-24 16:54] Thetoxicarcade commented on #332
Possibly this is because octobox's content doesn't reflect my notification content (the button could be displaying as visible only when it's /possible/ to mark both as read, a non-existant notification couldn't be).

We should still be able to clear notifications from octobox and github in one fell-swoop, and there's... not a button to both mark (d) and archive/delete (y)

[2017-03-24 18:17] chrisarcand commented on #332
All of the notifications in your screenshot are read, therefore the button to mark them as read does not appear. Note that there's a difference between unread and *unarchived*.

Notifications that are *archived* are automatically marked as read as well (so, there is a button to both mark and archive).

There is no guarantee of complete parity between Github's notification content in the web UI and

[2017-03-24 18:18] chrisarcand commented on #332
I should amend this and add 'regarding all previous notifications ever'. All new notifications should be found in Octobox of course. I'm just saying that Octobox does not import every single one of your previous notifications, there's a max limit that it stops at.

[2017-03-24 18:40] chrisarcand commented on #334
Hmm odd then, I've left it for days and haven't had it expire. Will stop jabbering before looking at the code now ;)

[2017-03-24 19:18] Thetoxicarcade commented on #332
This doesn't clear them from GitHub notifications, which is the point.

[2017-03-25 15:24] acrobat commented on #334
Isn't the problem the cookie is a session cookie? So the browser will "forget" it after the browser is closed? https://en.wikipedia.org/wiki/HTTP_cookie#Session_cookie

[2017-03-26 22:38] jamielennox commented on #333
Ah, I did look and didn't spot it.

Closing as it's an exact duplicate.

[2017-03-26 22:38] #333 closed

[2017-03-31 17:56] sam-github opened #335 "what does "mute" and "archive" mean?"
This shouuld be documented in the README, since they have no github equivalents the terms aren't meaningful without some description.

I thought Muted meant Unsubscribed, but PRs I've unsubscribed from are still showing up in Unread, so what does it mean?

I haven't started experimenting to see what Archive means yet, I'd appreciate it if someone could tell me to make my octobox evaluation a bit f

[2017-04-03 15:29] chrisarcand commented on #335
Muting an unread notification in your inbox should mark it as read, archive it, and unsubscribe you from the Github issue as you expect. Note that if something in Github that would trigger you to receive another notification from the muted thread (ie, a mention, etc) it'll behave as normal and show up in your unread inbox again. If you aren't experiencing what I've just gone over, it's a bug and I

[2017-04-12 11:05] andrew commented on #335
Mute should match the mute function on https://github.com/notifications, Archive is similar to Gmail's archive, essentially means "done" where GitHub has no concept of that on their end.

[2017-04-12 15:03] hd719 commented on #328
Hello I am new to Open Source and I would like to contribute to this project.

-Thank you!

[2017-04-12 16:02] andrew commented on #328
@sharwell would case-insensitive ordering be a good halfway measure?

[2017-04-19 07:12] sharwell commented on #328
@andrew Sure

[2017-04-19 13:25] #328 closed

[2017-04-19 18:18] jmreicha opened #342 "[Feature request] "Releases" view"
I just discovered this project and I'm really loving it so far, I've been looking for something like this for awhile.

Are there any plans around adding a way to view versions and release notes updates for a given project?  It would be really nice to be able to quickly see new versions and changes for various projects that have been starred.

[2017-04-19 19:48] arcticicestudio commented on #342
A *Releases* filter already exists. It shows new tags if you've set the notifications level of a repository to *Watching* to receive all kind of project activities (new issues, releases and PRs).
![ghi-342-scrot-release-filter](https://cloud.githubusercontent.com/assets/7836623/25199092/ec356724-2549-11e7-8cfa-830be46af5c7.png)

[2017-04-20 23:39] jmreicha commented on #342
@arcticicestudio Thanks that's useful.

I think this approach will be very spammy for larger projects where I would only be interested in tracking releases and not other activities.  Do you know if there is a way to handle that type of scenario?

[2017-04-21 19:19] arcticicestudio commented on #342
Unfortunately GitHub currently does not provide a feature to let the user choose which types of repository activieties they want to be notified for. If you'd like to only see new versions you should just let the *Release* enabled and ignore everything else. Just go ahead like once a month and mute all other notifications to clean up your inbox.

[2017-04-25 00:10] thockin opened #343 "Can't log in"
[code]

[2017-05-01 16:30] chrisarcand commented on #343
@thockin Is this still an issue?

[2017-05-01 17:05] #343 closed

[2017-05-01 17:06] thockin commented on #343
seems to be resolved

On Mon, May 1, 2017 at 9:30 AM, Chris Arcand <notifications@github.com>
wrote:

[2017-05-04 21:30] andrew opened #351 "Search should show results that match the Inbox and Archive"
![screen shot 2017-05-04 at 10 27 48 pm](https://cloud.githubusercontent.com/assets/1060/25725671/04f9dd82-3119-11e7-8f8d-c7efd5dabd09.png)

Confused myself earlier, searched for "puma" and didn't get any results, turns out it was because I had archived all the puma notifications, we should probably default to searching everything, perhaps with archived things last?

[2017-05-05 12:15] andrew commented on #242
Reopening this for testing purposes

[2017-05-05 12:33] #242 closed

[2017-05-08 13:42] thiesschneider opened #355 "Reduce docker image size"
Hi,

would it be possible to reduce the docker image size?
At the moment its 843MB.

Thx!

[2017-05-08 13:45] andrew commented on #355
@thiesschneider any tips on how to do that, I'm not very experienced with docker

[2017-05-08 13:50] kkostov commented on #355
It may be possible to reduce the overall image size by opting for a different base ruby image variant. For Example here: https://hub.docker.com/_/ruby/ we can see a recommendation to use ruby:alpine when final image size is important:

I haven't tried it though.

[2017-05-08 13:50] thiesschneider commented on #355
It should be built on ruby:alpine (or perhaps ruby:slim) I think.
But I am also not that experienced :)

[2017-05-08 14:05] andrew commented on #355
@thiesschneider have got a branch that uses ruby:2.4.1-alpine over here: https://github.com/octobox/octobox/pull/357

[2017-05-08 14:08] thiesschneider commented on #355
Did you push it to docker hub? Can I use it as a tag?
e.g. `octoboxio/octobox:alpine`

[2017-05-08 14:10] andrew commented on #355
@thiesschneider yeah it's pushed there automatically, looks like the build failed though, missing the postgresql-dev package, will push a new build in just a minute.

[2017-05-08 14:33] andrew commented on #355
@thiesschneider that's pushed on the alpine tag, reduces the build size to 466mb

Suspect it can be reduced further with alpine-postgres but not sure if that means people will lose data if they update their image and the database docker changes?

[2017-05-08 14:37] #355 closed

[2017-05-08 14:38] thiesschneider commented on #355
The postgres container is separated from the image. So I think you have to make "netcat nodejs" smaller?! ;)
Thx so far!

[2017-05-08 15:40] andrew commented on #355
@thiesschneider opened one more pr to make a small tweak: https://github.com/octobox/octobox/issues/355

Dockerhub is showing it at 150mb now: https://hub.docker.com/r/octoboxio/octobox/tags/

Breakdown of the layers here: https://microbadger.com/images/octoboxio/octobox

I think we can save a few more megabytes by deleting some of the apk packages after bundle installing (build-base, git, postgre

[2017-05-09 10:11] andrew opened #360 "Update the screenshot"
Now that we have the new black header we should update the screenshot in the readme and on the homepage, I've taken a new one:

![screen shot 2017-05-09 at 11 04 45 am](https://cloud.githubusercontent.com/assets/1060/25845986/feeca52c-34a7-11e7-82cf-d9b64546e4f6.png)

url: https://cloud.githubusercontent.com/assets/1060/25845986/feeca52c-34a7-11e7-82cf-d9b64546e4f6.png

Just needs to be updated in

[2017-05-09 13:28] samjacobclift commented on #351
https://github.com/octobox/octobox/pull/361

[2017-05-10 21:31] zenspider opened #363 "Please release minitest fix"
Can you please push a release with #362 in it to whatever versions are affected by this bug? (and what are they?)

[2017-05-10 21:34] zenspider commented on #363
Oh FFS... I need more coffee.

[2017-05-10 21:34] #363 closed

[2017-05-11 13:31] chrisarcand commented on #363
☕️ 😜

[2017-05-11 19:56] #351 closed

[2017-05-11 19:57] #334 closed

[2017-05-11 20:10] andrew commented on #334
@acrobat just shipped #364 which fixes this :shipit:

[2017-05-12 06:26] acrobat commented on #334
Thanks @andrew I will check it!

[2017-05-12 09:25] acrobat commented on #334
@andrew logout doesn't seem to work anymore, maybe because the user_id cookie is not deleted on logout?

[2017-05-12 10:21] andrew commented on #334
@acrobat pr in progress here: https://github.com/octobox/octobox/pull/369

[2017-05-18 16:34] PandelisZ commented on #360
Okay! I shall take this one on.

I've noticed there is also a screenshot on the homepage before login so I'll also replace that

[2017-05-18 17:56] #360 closed

[2017-05-19 13:21] #330 closed

[2017-05-20 14:48] wasgehthierab opened #374 "How to enable periodic notification refreshes in docker?"
Hi there,

it seems that periodic notification refreshes are not working with docker.
I added `-e MINIMUM_REFERSH_INTERVAL=15 \` but this does not work.
There are also no settings. So I cant modify 'Notification Refresh Interval'.

Any ideas?

thx!

[2017-05-20 19:00] gep13 commented on #330
Sweet! Thanks for fixing this!

@andrew quick question...  I have Octobox running as a docker image on my Synology Home Server.  What do I need to do in order to bring down the latest changes?  Thanks!

[2017-05-20 19:54] andrew commented on #330
@gep13 I'm not a Docker user myself but it looks like you can use `docker pull octoboxio/octobox`

[2017-05-22 06:11] gep13 commented on #330
@andrew thanks, I will give it a try :+1:

[2017-05-23 14:32] whit537 opened #375 "Shift-click to select range"
I'd like to click to select one item, and then click to select another, non-adjacent item, and thereby select the range (inclusive) bounded by the two items. Currently it only selects the two single items.

![n8dzxfzvso](https://cloud.githubusercontent.com/assets/134455/26359295/147f5cf8-3fa3-11e7-82e7-7262384ba3b8.gif)

[2017-05-23 14:34] whit537 opened #376 "Indicate total number of items"
I don't see any indication of the total number of items. I end up having to add "Read" and "Unread." Perhaps "Inbox" could have the total number next to it?

![screen shot 2017-05-23 at 10 33 56 am](https://cloud.githubusercontent.com/assets/134455/26359416/67586a46-3fa3-11e7-8393-54f6abac8b27.png)

[2017-05-23 14:39] whit537 commented on #375
Desired behavior (from GitHub):

![ueosaa603h](https://cloud.githubusercontent.com/assets/134455/26359689/20e7149e-3fa4-11e7-8976-d58ea8fd03b8.gif)

[2017-05-25 09:27] andrew commented on #376
Sounds reasonable!

[2017-05-25 09:27] andrew commented on #375
Sounds good to me 👍

[2017-05-27 05:12] ljharb opened #377 ""unread" pane disappears when i have no unreads"
I want https://octobox.io/?unread=true to be my homepage, and I really almost never want to look at any other page. However, the instant I achieve my goal of Notification Zero, it disappears from the left nav, and clicking "refreshing" dumps me on the inbox.

Can this just permanently stick around?

[2017-05-27 05:13] ljharb opened #378 "Native Mac Desktop notifications?"
I'd love to tie this into my native Mac OS notification framework.

[2017-05-27 05:14] ljharb opened #379 ""Mark as unread"?"
I realize Github doesn't offer a "mark as unread" - but I thought it was worth bringing up. Is this something we could get added to the API, even if they don't want it on the website?

[2017-05-28 03:16] chrisarcand commented on #377
I can't confirm this bit; if you have the querystring in the url and hit refresh, it respects that for me. However, it does make the sidebar button disappear (intentionally - there are no unreads anymore).

I've actually had this in the back of my mind for a while - it might be very useful to have a way to 'pin' sidebar buttons if you find one particularly useful. I, too, have a preferred set of n

[2017-05-28 03:18] chrisarcand commented on #335
Closing this, as it's an open question that's getting old. @sam-github please feel free to reopen if that doesn't answer your question. Thanks!

[2017-05-28 03:18] #335 closed

[2017-05-28 14:30] andrew commented on #379
Yeah it's worth requesting it with the GitHub support/API teams, I think they are currently working on some changes/updates to notifications internally at the moment

[2017-05-28 14:32] andrew commented on #377
👍 currently just groups by the data that's available, read/unread would be easy to add as fixed items to the sidebar

[2017-05-28 20:11] andrew commented on #378
We currently don't have any form of push notifications but you can configure it to poll for new messages which could emit some kind of notification when a new/updated item comes in

[2017-05-31 22:05] chrisarcand opened #382 "Better Github API error handling"
We currently just bubble exceptions from things like Octokit, resulting in 500 error pages if, say, Github is having some trouble like they did today. Would be nice to catch these and display a more user friendly flash message or something that Github might be having some trouble.

Specifically we should handle...

* When the GitHub API is down
* When the API key is invalid

[2017-06-01 11:48] samjacobclift commented on #375
little PR here https://github.com/octobox/octobox/pull/383

[2017-06-01 14:46] #375 closed

[2017-06-01 21:59] thiesschneider commented on #374
Would be interesting for me also.

[2017-06-02 17:21] sam-github opened #386 "octobox and github have different ideas of unread"
![github-unread](https://cloud.githubusercontent.com/assets/17607/26736836/90661a92-477c-11e7-8721-c3821bd2197a.png)
![gmail-unread](https://cloud.githubusercontent.com/assets/17607/26736837/906a3afa-477c-11e7-9bd1-84a5726d61d5.png)
![octobox-unread](https://cloud.githubusercontent.com/assets/17607/26736838/9074b0b6-477c-11e7-9ca2-f2af10af9c1c.png)

So, gmail shows the thing that are unread, and t

[2017-06-02 17:29] andrew commented on #386
That looks like a bug, or at least missing data, are you using the hosted http://octobox.io or running your own instance?

[2017-06-02 18:15] sam-github commented on #386
Hosted. I just tried local, but even though I've got ubuntu and docker, I couldn't figure out how to make the docker-compose command work. I tried running it in a git checkout of octobox, and standalone. I don't see how it is supposed to know to run an octobox image.

[2017-06-02 18:18] sam-github commented on #386
I just revoked and re-authed to see if it was a permissions problem, and perhaps it is:

![auth](https://cloud.githubusercontent.com/assets/17607/26739005/13cb223a-4785-11e7-8113-ce3e4139c113.png)

I suspect that red X may be  the problem, any suggestions?

[2017-06-02 20:42] ignacio-chiazzo opened #387 "Drag and Drop"
Would be good to implement the "Drag and Drop" in the section "Repos".

[2017-06-02 21:07] andrew commented on #387
@ignacio-chiazzo we don't store the order of the repos at the moment, they are just ordered alphabetically based on the notifications that have got in you inbox, would need to start persisting repo names to a table if we wanted to make that feature possible.

[2017-06-02 21:10] andrew commented on #386
@sam-github yeah it looks like the nodejs org doesn't allow https://octobox.io to access your notifications for their repos.

Have you followed the install guide for Docker: https://github.com/octobox/octobox/blob/master/INSTALLATION.md#using-docker

If so do you have a terminal log of the commands and output when you run the docker-compose command? (make sure to scrub the auth tokens before posti

[2017-06-03 01:01] sam-github commented on #386
[code]

[2017-06-05 09:43] #376 closed

[2017-06-05 09:48] andrew commented on #376
🚢

[2017-06-06 02:25] cyberhck opened #389 "notifications for private repositories?"
I tried updating personal_access_token in `users` table, and ran a sync, which didn't show me any private notifications, but when I send a GET request to `api.github.com/notifications` with my `personal_access_token` it gives me results. But when I sync it from octobox, it doesn't show anything.

Is there a limitation on this?

[2017-06-12 08:05] maxime1992 opened #393 "Layout"
I've been using octobox for month now and I'm pretty sure I didn't have that layout before :
![octobox-bug](https://user-images.githubusercontent.com/4950209/27024032-5af19cd4-4f55-11e7-9a3b-341dcc62e7bd.png)
(end of the screen capture here)

I do have a vertical screen and it seems that now, the layout only takes the required space vertically which is really weird :)

[2017-06-12 08:12] andrew commented on #393
I'm pretty sure this was caused by my pull request yesterday: https://github.com/octobox/octobox/pull/391, I'll revert it for now

[2017-06-12 08:14] #393 closed

[2017-06-12 08:14] andrew commented on #393
@maxime1992 out of interest, is that on windows or do you have a mouse with a scrollwheel?

[2017-06-12 08:33] andrew commented on #393
Deployed that revert

[2017-06-12 09:09] maxime1992 commented on #393
@andrew Ubuntu 17.04 and yes I do have a mouse with scrollwheel but ... I don't see why you're asking me that :D ?

(everything's back to normal :tada: thx!)

[2017-06-12 09:23] andrew commented on #393
@maxime1992 having a scrollwheel mouse attached on the mac makes scrollbars appear all the time, where they hide if you have a trackpad/magicmouse

[2017-06-12 09:49] maxime1992 commented on #393
Never had a mac, thanks for clarification :)
So here on ubuntu no matter if my mouse is connected or not it was always here :)
:clap: for reverting and fixing that so quickly

[2017-06-13 20:06] Fryguy commented on #327
I am also seeing this, however I had no filters, instead only having the count-per-page set to 100 (I guess that's considered a filter as well?).

[2017-06-14 01:29] cyberhck commented on #389
edit: even though I have a cron running, it doesn't sync new data from github BUT, if I manually click sync, it does the trick. Why isn't cron not working? (I do know that it's actually running ` rake tasks:sync_notifications`)

But no new data is available.

[2017-06-22 15:22] OliverJAsh opened #397 "Individual notifications for activity within pull request/issue"
When I receive multiple comments on a pull request, I would like to have a notification for each one so I don't forget to view/reply to all.

When there is only one notification to signify "activity" on a pull request, it is easy to miss a comment, especially if it was a reply to a thread in code review where that code has since been collapsed.

Is this something Octobox can achieve, or does it ne

[2017-06-26 07:40] andrew commented on #397
@OliverJAsh Notifications from the GitHub API are a pointer to the last activity on a thread (kinda like HEAD in git), so we can't that extra information at the moment, making it difficult enough that this will probably won't be doable.

[2017-06-26 07:42] andrew commented on #382
👍

[2017-06-28 08:03] torfsen opened #398 "User documentation"
This looks like a great tool, but it's not directly clear to me how to use it. For example, what do *archive* and *mute* do? It would be really nice to have some kind of (minimal) user documentation. This could, for example, be part of the existing keyboard shortcuts popup.

[2017-06-28 15:29] chrisarcand commented on #398
True, beyond the [info in the README](https://github.com/octobox/octobox#why-is-this-a-thing) there's little explanation, and a link to either a Github Wiki or a help page in Settings or something to go over these details might be nice.

[2017-07-06 06:26] torfsen opened #399 ""archive" doesn't mark a notification as read"
In [a comment to another issue](https://github.com/octobox/octobox/issues/332#issuecomment-289104610), @chrisarcand said

However, that doesn't work for me, i have a lot of unread notifications in my archive (which I don't want):

![image](https://user-images.githubusercontent.com/2877717/27898101-8e680e22-6224-11e7-85f7-a37dbd530c2e.png)

These were archived using the ``Archive selected`` button.

[2017-07-06 14:06] chrisarcand commented on #399
Ah my apologies, I was mistaken in my previous comment, notifications aren't marked as read on archive and never have been. I'll edit that for posterity.

Octobox's interface is designed sort of like Gmail's keyboard shortcuts where doing two operations is pretty easy - to do what you want you *quickly* you can select the messages you wish to read/archive (via scroll through and selecting with `x`

[2017-07-06 14:06] #399 closed

[2017-07-06 14:07] chrisarcand commented on #332
See comment wrapping this issue up [here](https://github.com/octobox/octobox/issues/399#issuecomment-313406350)

[2017-07-06 14:07] #332 closed

[2017-07-06 16:00] Thetoxicarcade commented on #332
as long as it actually /does/ mark it as read on github, then it makes sense to use octobox. If it doesn't, I don't see the point in octobox.

[2017-07-06 19:19] chrisarcand commented on #332
It does! 😄

[2017-07-07 19:12] davidcelis opened #400 "Code Owner "Review requested" notification incorrectly categorized as "Mention""
I recently received a notification in Octobox that was shown to me as a Mention:

![](https://cdn.davidcel.is/screens/Screen-Shot-2017-07-07-12-09-35.png)

However, when I click through to the notification's source, a pull request, I wasn't directly @mentioned. Instead, there was a review requested from a team that I am a member of:

![](https://cdn.davidcel.is/screens/Screen-Shot-2017-07-07-12-11

[2017-07-10 09:42] andrew commented on #400
@davidcelis we don't change the `reason` field value that comes in from the Notification API in Octobox which leads me to believe that it's the GitHub API returning the wrong value.

Looks like the ["Reasons"](https://developer.github.com/v3/activity/notifications/#notification-reasons) section of the API docs haven't been updated since that blogpost, perhaps you'd be able to raise it internally?

[2017-07-10 18:44] davidcelis commented on #400
You're right, this _is_ a GitHub bug 😅

[2017-07-10 18:44] #400 closed

[2017-07-11 07:09] torfsen opened #401 "Visual feedback for non-instant actions"
Some actions (in particular marking multiple messages as read) take a noticeable time to perform. That's not a problem in itself, but I'd love to get some visual feedback that something is happening. Something like a different cursor or a small animation on the affected messages. Otherwise I'm always wondering whether I pressed the wrong keyboard shortcut because (so it seems) nothing is happening

[2017-07-11 09:31] andrew commented on #401
@torfsen agreed, an animation would definitely help to make it clear what, if anything, is going on.

[2017-07-11 13:39] chrisarcand commented on #400
![](http://gifs.chrisarcand.com/picard-laughing.gif)

[2017-07-25 16:31] andrew opened #404 "uninitialized constant DownloadService::PageLimitingOctokitClient"
![img_5015](https://user-images.githubusercontent.com/1060/28582875-087969a8-7135-11e7-92d4-0dde5208f760.PNG)

Only just deployed recent changes, this seems to happen in production

[2017-07-25 16:46] chrisarcand commented on #404
Hmmm maybe something having to do with the production autoloading that I missed (My changes made it so it should autoload `/lib/page_limiting_octokit_client.rb`, `::PageLimitingOctokitClient`. Maybe roll back changes on octobox.io and I'll look at it soon.

[2017-07-25 18:14] chrisarcand commented on #404
Yuuup. 😄

[2017-07-25 21:28] #404 closed

[2017-07-31 17:58] paulcbetts opened #406 "Feature: Unsubscribe from Repos"
It'd be great if Octobox would let you Unsubscribe from all repos in the current view - i.e. whatever I've got selected, I want to be able to say, "Unsubscribe to all these repos", or at least be able to unsubscribe to An Entire Org, then resubscribe to a specific repo in that Org.

I want to be able to use Octobox to undo some of the damage of "Automatically Subscribe to new repos in this org" fr

[2017-08-03 14:18] chrisarcand opened #407 "Refresh link on "Nothing to See" wipes filters"
When a filter such as an organization is selected, there are no new notifications, and you hit the refresh link on the Nothing To See Here splash page, the filters are wiped:

![](http://screenshots.chrisarcand.com/hdeoe.gif)

[2017-08-03 14:36] #407 closed

[2017-08-12 22:20] andrew commented on #389
@cyberhck Did you have any luck with this?

[2017-08-12 22:21] andrew commented on #386
@sam-github are you still having issues with this?

[2017-08-14 03:15] cyberhck commented on #389
yes, sorry I didn't update it. No matter how hard I tried it didn't work, so I tried to docker exec into database, select * from users revealed my column and I went to github, created a token, then set that token to two columns (because I wasn't sure which one), personal access token and one more you'll know. Let me know if you find something :)

[2017-08-21 15:27] kynan opened #415 "Keyboard shortcut to clear filters"
Would be great to be able to clear filters via a keyboard shortcut, say <kbd>Esc</kbd>.

[2017-08-21 15:31] kynan opened #416 "Marking last item read causes focus to be lost"
When "clearing" the last item in the main list view e.g. marking it as read does not move the focus to the previous second-to-last and now last item. Instead the focus is "lost" and it's no longer possible to use the keyboard to navigate.

[2017-08-21 16:52] andrew commented on #415
👍

[2017-08-21 17:55] chrisarcand commented on #416
@kynan Which browser are you using? I can't recreate this, everything seems to work as expected, both archiving or just marking as read.

[2017-08-22 16:51] andrew commented on #4
First part of this has been merged in #411 and is available behind the `FETCH_SUBJECT` env var feature flag, docs here: https://github.com/octobox/octobox/blob/master/INSTALLATION.md#downloading-subjects

Still working on getting it available on https://octobox.io

[2017-08-22 16:52] andrew commented on #103
Reopening this as now that #411 has been merged this is now fixable.

[2017-08-22 16:53] andrew commented on #83
First part of this has been merged in #411 and is available behind the `FETCH_SUBJECT` env var feature flag, docs here: https://github.com/octobox/octobox/blob/master/INSTALLATION.md#downloading-subjects

Still working on getting it available on https://octobox.io

[2017-08-22 16:53] andrew commented on #54
First part of this has been merged in #411 and is available behind the `FETCH_SUBJECT` env var feature flag, docs here: https://github.com/octobox/octobox/blob/master/INSTALLATION.md#downloading-subjects

Still working on getting it available on https://octobox.io

[2017-08-22 16:53] andrew commented on #331
Closing as a dupe but the first part of this has been merged in #411 and is available behind the `FETCH_SUBJECT` env var feature flag, docs here: https://github.com/octobox/octobox/blob/master/INSTALLATION.md#downloading-subjects

Still working on getting it available on https://octobox.io

[2017-08-22 16:53] #331 closed

[2017-08-22 16:54] andrew commented on #323
This is now fixable since #411 has been merged

[2017-08-22 16:54] andrew commented on #217
This is do-able now that #411 has been merged.

[2017-08-22 16:55] andrew commented on #210
First part of this has been merged in #411 and is available behind the `FETCH_SUBJECT` env var feature flag, docs here: https://github.com/octobox/octobox/blob/master/INSTALLATION.md#downloading-subjects

Still working on getting it available on https://octobox.io

[2017-08-22 16:58] chrisarcand opened #417 "Opt-in OAuth scopes for repo access"
With #411 merged, we now need the other half of it - the ability to use more permissions to Github beyond the notification scope, to use repo permissions for access to pull down subjects and other useful info for private repositories. This should be opt-in.

Completing this task should allow features like #411 to be enabled on octobox.io

[2017-08-22 17:02] andrew commented on #417
@chrisarcand you read my mind, literally just came here to open this issue!

[2017-08-22 17:11] chrisarcand commented on #417
✨ 🔮 ✨

[2017-08-25 01:06] cyberhck opened #419 "what exactly is smart shutdown?"
Today when I came back to my PC and wanted to sync my notification, I found out that octobox was down. (I'm using docker, I use octobox executing `docker-compose up`)

Going through logs (I don't run with `docker-compose up -d`) in `stdout`, it says

I have no recollection of doing that, I haven't clicked anywhere, AND, I haven't done anything unusual, I always suspend my PC, go home, come back ne

[2017-08-25 01:31] chrisarcand commented on #419
That exact line is from your database - specifically, PostgreSQL. It's part of a normal shutdown. That's followed by lines from the Puma web server also shutting down.

Why your system application was told to shut down we'll be unable to tell from here, but it is very unlikely to be anything to do with Octobox, so I'm going to close this. Feel free to reopen if you find otherwise. Thanks!

[2017-08-25 01:31] #419 closed

[2017-08-25 02:07] cyberhck commented on #419
okay, I also did some google and it said it's related to pgsql, I'm just curious why it shut down, because I never sent a SIGKILL, I always press `Ctrl + C` when I want to stop docker-compose, and I didn't do that, anyway, thanks for an instant response.

[2017-08-25 02:23] chrisarcand commented on #419
No problem! Good luck!

[2017-08-25 17:58] radvc commented on #401
we should close this issue

[2017-08-25 22:14] chrisarcand commented on #401
@radvc Thanks!

[2017-08-25 22:14] #401 closed

[2017-08-26 14:15] salman-bhai commented on #398
Is this Issue taken up by someone or open to PRs?

[2017-08-26 14:21] chrisarcand commented on #398
@salman-bhai Not being worked on that I know, PRs are most certainly welcome! 💙

[2017-08-27 10:03] andrew opened #421 "Bubble up API errors to the end user"
There are a couple classes of errors that happen which aren't technically application errors but we throw 500s for them:

- when the GitHub API is down
- when the API key is invalid

We should gracefully handle those errors and report them in the UI rather than throwing 500 errors

[2017-08-28 01:18] chrisarcand commented on #421
Duplicate of #382, going to close this one but add your points here :)

[2017-08-28 01:18] #421 closed

[2017-08-28 02:56] andrew commented on #421
👍 That'll teach me to open issues from my phone!

[2017-08-28 10:21] tojochacko opened #422 "Filtering Issues by labels"
Is there a way I can filter issues by labels in Octobox ? This feature would greatly help me in searching through my large list of issues.

[2017-08-28 14:47] chrisarcand commented on #422
You mean by GitHub's issue labels? There currently is not, no.

Given that labels are included on the issues/pull requests endpoint we might be able to add that to our subjects' metadata on syncs. The real challenge, however, is the UX with labels added; we already have a plethora of information on the screen about notifications and I'd be concerned given the large number of custom labeling across

[2017-08-28 14:52] chrisarcand commented on #342
👍 I like this idea; I also find myself wanting to be notified on releases even while I'm not interested in the day-to-day of a project.

Perhaps with a org/repo "options" screen in Settings we could have checkbox option for 'Releases only' (To start; I guess theoretically we could generalize that beyond releases too)

[2017-08-28 16:28] andrew commented on #422
I was thinking about this one yesterday too, now that #4 is in we can add a `labels` column to the `subjects` table as a postgres array to be able to filter notifications by label, as chris said, we'll need to work hard to fit it into the UI properly as you'll likely have quite a long left column but would be handy for triaging 👍

[2017-08-28 16:34] andrew commented on #342
Perhaps it's a good time to implement filters? https://github.com/octobox/octobox/issues/8

[2017-08-28 21:44] gudetimes1234 opened #424 "Automatic refresh"
Sort of related issue: https://github.com/octobox/octobox/issues/309

Would be cool to have an optional automatic refresh. Going to clone this evening and try to add a feature in Settings so that users can turn on automatic refreshes if it's desired.

[2017-08-29 00:42] chrisarcand commented on #424
Automatic refreshes is already implemented (https://github.com/octobox/octobox/pull/200). This option is available under Settings - but *not* available on octobox.io. Please see the note in the README.

Thanks for the issue, though! Closing this, but please feel free to reopen if you meant something different.

[2017-08-29 00:42] #424 closed

[2017-08-29 05:26] tkbremnes commented on #269
First, I want to add that this is not at all Chrome only – this works in most (if not all) Chromium based browsers, as well as Firefox.

There are two different "versions" of notifications. One is simple, just a manner of running a `new Notification("You got mail!");` on an event. This is the (Web Notification API)[https://developer.mozilla.org/en-US/docs/Web/API/notification]. This however requir

[2017-08-29 06:02] 3minus1 commented on #415
Created pull-request for the same.

[2017-08-29 06:15] tojochacko commented on #422
Regarding the UX, we can override the search box to auto suggest labels when we search or maybe search using some prefixes to my search keyword that will allow me filter by label/project/milestone/assignee.

[2017-08-29 09:03] andrew commented on #389
@cyberhck did running the rake task output anything?

[2017-08-29 09:07] cyberhck commented on #389
I just did it again, it didn't output anything, (maybe because I don't have any new notifications?), I'll try again in a while when I do have notifications and will notify you :)

[2017-08-29 09:09] cyberhck commented on #389
@andrew if you want, I can help you do a quick setup, I'm already using octobox with docker and it's working quite good :)

[2017-08-29 09:25] cyberhck commented on #389
I did try again since I just got a notification, it didn't output anything. But if I click on refresh, it does output bunch of stuff on my docker stdout.

[2017-08-29 09:51] andrew commented on #422
I took a stab at syncing the labels on issues and pull requests this morning, unfortunately there's a subtle difference between the issue/pr responses from the GitHub API, namely that the pr endpoint  doesn't include `labels`, you can get them by loading the issue endpoint for the pr number but then you don't get the `merged` state, so basically syncing labels for pull requests will require 2 http

[2017-08-29 12:51] #415 closed

[2017-08-29 12:53] andrew commented on #415
Just deployed this on https://octobox.io 🚢

[2017-08-29 14:43] chrisarcand commented on #323
I'm currently testing an implementation of this.

[2017-08-29 17:03] salman-bhai commented on #398
Sure not a problem! Is there any particular that you want the README to be or any partivular sections/format to be added/used for the README!

[2017-08-29 17:05] salman-bhai commented on #398
Also @chrisarcand @torfsen where should the Documentation be added! Any particular file or folder that you're looking at?

[2017-08-29 17:48] chrisarcand commented on #398
@andrew might want to weigh in here but I would imagine a user guide similar to [how the install guide works](https://github.com/octobox/octobox#install) (just a separate markdown file linked in the README) would be fine.

[2017-08-29 19:37] chrisarcand opened #428 "Favicon distorted"
The favicon in Chrome tabs is extremely distorted compared to basically anything else. I'm on a retina Macbook Pro.

![](http://screenshots.chrisarcand.com/3z50l.jpg)

(Note that my screenshot above really doesn't do the contrast justice.)

[2017-08-30 03:48] salman-bhai commented on #398
Alright will wait for @andrew 's reply and then probably start working on this!

[2017-08-30 06:03] tkbremnes opened #429 "The "Mention" label is some times set when it's really a review request"
I have several messages in my inbox right now that are tagged as "Mention", when I've actually been added as a reviewer. There's no mention of my handle in the PR.

Note: I'm not familiar with the Github API, so for all I know it might be a bug on their end.

[2017-08-30 07:05] andrew commented on #428
Did that change recently or has it always been like that?

[2017-08-30 08:59] andrew commented on #429
I believe this is a bug in the GitHub API rather than Octobox, at least according to @davidcelis in https://github.com/octobox/octobox/issues/400

[2017-08-30 08:59] #429 closed

[2017-08-30 09:01] andrew commented on #428
Looks ok on my retina screen:
<img width="289" alt="screen shot 2017-08-30 at 10 00 38 am" src="https://user-images.githubusercontent.com/1060/29864320-3391902e-8d6a-11e7-8330-bd53ae61c23e.png">

[2017-08-30 09:10] andrew commented on #398
@salman-bhai A separate markdown file sounds good to me, we can link to it from the readme and possibly the menu for logged in users too 👍

[2017-08-30 12:15] kynan commented on #416
Fails for me consistently on Firefox, Chrome and Chromium. My normal "use case" is applying a filter e.g. for a given repo and then when I first open and archive the last item in the list I hit this.

[2017-08-30 13:08] salman-bhai commented on #398
Cool I'll make a base files and then we can add further documentation to it

[2017-08-30 14:39] andrew commented on #416
I can't replicate this either, @kynan would you be able to record a gif of the steps you're taking with https://www.cockos.com/licecap

[2017-08-30 14:49] vitalkanev commented on #428
For me in Lubuntu Zesty 1366x768 15 inch screen it looks like *this*:
![image](https://user-images.githubusercontent.com/18398761/29878498-5fb24c34-8dab-11e7-9942-808060338ac8.png)

Proably not distorted

[2017-08-30 14:51] kynan commented on #416
That tool seems to be OSX or Win only :(

[2017-08-30 14:59] chrisarcand commented on #428
Alright, you've convinced me, I'm just crazy. 😜

[2017-08-30 18:32] davidcelis commented on #310
This seems to be happening more frequently, in my experience. I'll have navigated away from my Octobox tab for maybe only five minutes. When I return, I'm greeted with this:

![](https://cdn.davidcel.is/screens/Screen-Shot-2017-08-30-11-31-37.png)

I can navigate back and then re-sync, but I think that something is messing up with syncing while the tab is in the background.

[2017-08-30 18:37] andrew commented on #310
How frequently do you have it refreshing? I would guess that the heroku dyno is running out of ram and hitting swap, which slows down the sync and it ends up taking longer than 30 seconds. How much ram is available on your dyno?

[2017-08-30 18:50] davidcelis commented on #310
Looks like we have two 2X dynos, each of which has 1GB of RAM. But you're right that RAM usage is very high, and I do see related timeouts:

![](https://cdn.davidcel.is/screens/Screen-Shot-2017-08-30-11-50-15.png)

[2017-08-30 19:06] IOAyman commented on #250
This would be awesome!

[2017-08-30 19:47] chrisarcand commented on #310
Yeah, I just use a single free dyno for myself and the memory usage tops out with PumaKillerWorker coming in to clean up. I've also noticed it failing more often.

[2017-08-30 20:17] andrew commented on #310
Deployed #432, appears to have reduced the amount of time spent making http requests:

![screen shot 2017-08-30 at 9 13 04 pm](https://user-images.githubusercontent.com/1060/29892932-4d89572e-8dc8-11e7-8a9a-ee4de23f16af.png)

I'm guessing you both are running with subject syncing enabled, which I've not put into production yet so I don't have any stats around that.

[2017-08-30 20:19] davidcelis commented on #310
@andrew Yeah, we enabled subject syncing

[2017-08-31 06:20] gep13 opened #433 "[QUESTION] How to update docker image"
A while back, I followed the instructions on how to set up a docker image to run Octobox locally on my server:

https://github.com/octobox/octobox/blob/master/INSTALLATION.md#using-docker

That has been working really well for me.  Are there any instructions on how you should update the docker image to use the latest code from Octobox?

Ideally, this would be a complete set of steps, which could t

[2017-08-31 08:48] gep13 commented on #433
The main concern here is losing information stored in the second database image that is being used during the upgrade.  i.e. I would prefer not to lose anything 😄

[2017-08-31 08:51] andrew commented on #433
I'm interested in this answer too, I'm not a docker user myself, this stackoverflow answer seems helpful: https://stackoverflow.com/a/43515922/120434

[2017-08-31 09:21] karuppiah7890 commented on #433
@andrew Actually, the database container should store the data in the host. Some volume mounting has to be done for this, where in your mount a folder in the host to the folder in postgres container which stores the DB data.

@gep13 You want to update the application alone right ? And have the database contents intact ?

[2017-08-31 09:21] reicheltp commented on #433
With `docker-compose build app` you rebuild the app image. Then with `docker-compose up app` you just recreate the app image and keep the Postgres one.

For a long term solution you should add a volume to the Postgres to keep all data across container recreation.

[2017-08-31 09:27] karuppiah7890 commented on #433
@reicheltp :+1:

[2017-08-31 09:31] karuppiah7890 commented on #374
@wasgehthierab How did you set it ? You need to include the environment variable in the [docker-compose.yml file](https://github.com/octobox/octobox/blob/master/docker-compose.yml)

[2017-08-31 09:51] #323 closed

[2017-08-31 09:56] 3minus1 commented on #382
This could be done by suppressing the console/irb output of the statements where a connection to Octokit is made. We can append a `; nil` to such statements so that the irb doesn't print the return value (an exception like 404 in this case) of those statements.

Eg: If `notifications = client.notifications(params)` returns an exception for some reason, we can wrap this up in a begin-rescue block l

[2017-08-31 10:26] linuxjuggler commented on #433
I do have one question why don't you @andrew push a new image to docker hub each time you release a new version or update? this will make it easier for anyone who is using docker

[2017-08-31 10:37] andrew commented on #382
@3minus1 I think we actually want to display the reason for the error back to the user on the web page, rather than just in the console

[2017-08-31 10:38] andrew commented on #433
@linuxjuggler that's setup to happen automatically after every commit to master: https://hub.docker.com/r/octoboxio/octobox/builds/

[2017-08-31 10:47] linuxjuggler commented on #433
@andrew then docker-compose should reflect to using that image instead of rebuilding the image locally.

so using this :

[code]
will always pull the image from docker hub, and all they need is to pull the new image and restart the instance.

am testing small modifications to `docker-compose` locally and will send a PR if things went as planned.

[2017-08-31 10:55] andrew commented on #433
@linuxjuggler ok great, looking forward to your PR, thanks for looking into this 👍

[2017-08-31 11:11] karuppiah7890 commented on #433
@andrew I think the current `docker-compose.yml` is more of a development asset and for local testing. May be rename it and use it for development. And have `docker-compose.yml` changed like @linuxjuggler mentions, or people will have to build the image which is usually takes more time than downloading the already built image.

[2017-08-31 11:15] linuxjuggler commented on #433
@karuppiah7890 what you said is somehow correct, except that in version 3 of docker-compose you can use the same `docker-compose.yml` file to deploy a stack to docker swarm without having to do a lot of configuration.
but you are correct the current status of the `docker-compose.yml` file is more for developers who want to contribute to the development.

am trying to tweak it a bit, and I'll also

[2017-08-31 11:19] karuppiah7890 commented on #433
@linuxjuggler Also do volume mounting for postgres DB

[2017-08-31 11:20] andrew commented on #433
@karuppiah7890 thanks for pointing that out, at this point I'd prefer to optimize for a better experience as a user than a contributor as there are many more people running it than developing on it.

[2017-08-31 11:20] linuxjuggler commented on #433
@karuppiah7890 thats the plan, a small changed to the `Dockerfile` and adding `volumes` to the `docker-compose.yml`

[2017-08-31 12:33] linuxjuggler commented on #433
@andrew can you have a look at https://github.com/octobox/octobox/compare/master...linuxjuggler:master before I send the PR

[2017-08-31 12:40] karuppiah7890 commented on #433
@linuxjuggler Why can't you just use the `docker-compose` command along with the new docker-compose file ? Why create network interface and stuff and run containers one by one, when it can all be done with `docker-compose.yml`

[2017-08-31 12:48] linuxjuggler commented on #433
@karuppiah7890 docker-compose file is still there and can be used to achieve the same thing but you will have to do one of the following:

1. clone the repository to your local server, and you will only use one/two files from the whole code.
2- or you will have to download the `docker-compose.yml` file from the repo alone.

so you still have the option to use docker-compose as documented when you

[2017-08-31 13:05] karuppiah7890 commented on #433
@linuxjuggler Oh yeah, about that, we can provide a link to the docker-compose.yml file from the repo, to download it. And then it will be just a single command. I think it's okay

[2017-08-31 13:20] linuxjuggler commented on #433
@karuppiah7890 done, I just sent a PR https://github.com/octobox/octobox/pull/434 for everything I have changed.

[2017-08-31 13:32] wasgehthierab commented on #374
Thx for the answer!
I use systemd in coreos and added it in the docker command:

[code]

do you have any suggestions? :)

[2017-08-31 13:38] karuppiah7890 commented on #374
@wasgehthierab I just noticed the issue, it's not a docker problem. You have tried to set it right, and that's how it is set when using the `docker run` command, yes. But you misspelled the word "refresh" as "refersh". Change that and you should see it working. And only after this is set, you will see the settings for it in the app from what I read here : https://github.com/octobox/octobox/blob/ma

[2017-08-31 13:48] thiesschneider commented on #374
I fixed it. You can close it

[2017-08-31 13:53] chrisarcand commented on #374
Thanks @karuppiah7890 ! Feel free to reopen if you're still having issues @wasgehthierab

[2017-08-31 13:53] #374 closed

[2017-08-31 14:38] karuppiah7890 opened #435 "Environment variable misspelled in INSTALLATION guide"
There's a spelling mistake in https://github.com/octobox/octobox/blob/master/INSTALLATION.md#allowing-periodic-notification-refreshes in the second mention of the variable, which lead to a copy paste mistake in #374

[2017-08-31 14:41] #435 closed

[2017-08-31 14:41] andrew commented on #435
Good spot, fixed!

[2017-08-31 14:51] chrisarcand opened #437 "URL parser doesn't recognize PR comments"
The new URL parser doesn't recognize pull request review comments because I didn't know that one existed :) No emergency as the anchor just doesn't pull you down when you open the page, so I'll get to this soon.

[2017-08-31 15:12] chrisarcand commented on #437
Sadly the notification endpoints doesn't give information as to the comment is an issue comment or a pull request review comment, which is a problem as you can have either type on pull requests. I don't know if we can actually fix this without making an extra call, currently 😕

[2017-08-31 15:25] andrew commented on #437
@chrisarcand have you got an example response from the notification endpoint you could post here?

[2017-08-31 15:26] chrisarcand commented on #437
Sure; [here's the example from the API docs](https://developer.github.com/v3/activity/notifications/#list-your-notifications)

[2017-08-31 15:37] andrew commented on #437
Maybe I'm missing something, but there might be a way to tell what kind of comment it is without an extra request, here's a couple different kinds of notification subjects from my feed:

Inline pr review commit:

[code]

Regular comment on a pr:

[code]

Looks like if matches `issues/comments` and is `"type": "PullRequest"` then it's a regular comment and should be `#issuecomment-326269532` and if

[2017-08-31 15:39] andrew commented on #437
If that's the case, we'll need to pass the notification type to the `SubjectUrlParser` as well to get this working.

[2017-08-31 15:40] chrisarcand commented on #437
* Oh is that right? I figured that `type` would remain `PullRequest` (since it's referring to the `subject`, not the comment) and the comment (without the type) is the thing that could be different, depending.
* `#discussion_r136356852`? I'm seeing `#pullrequestreview-X`

[2017-08-31 16:06] andrew commented on #400
Ran into this bug today too, looks like if someone leaves any kind of comment with their review, the notification shows it as a mention and links to it as if it's a comment with no `pull_request_review_id` present, definitely a bug on the Github end, @davidcelis any word on a fix?

[2017-08-31 16:10] andrew commented on #437
Seems related to #400, often the notifications API doesn't point to the review being the latest comment, or if the review includes a comment then the notifications API doesn't know it's a review.

[2017-08-31 18:32] chrisarcand commented on #428
Ah ha! Proof!

![](http://screenshots.chrisarcand.com/lyhp9.mp4)

The pixelated image, is, funny enough, on the screen we're complaining about in #400
So let's fix that one ;)

[2017-08-31 19:02] gep13 commented on #433
You want to update the application alone right ? And have the database contents intact ?

Yes, that is exactly right.

So, if I have followed along with the comments in this thread, and in the Pull Request, am I right in saying that I can simply update the local clone of the octobox repository that I have, and run `docker pull` and all should be well?  i.e. all of the items that I have starred, ar

[2017-08-31 19:04] karuppiah7890 commented on #433
@gep13 Do what @reicheltp said

[2017-08-31 19:24] gep13 commented on #433
@karuppiah7890 @reicheltp so, I will have to do that each time I want to update to latest version of octobox?

If I ditch what I currently have, and start with the newest docker file from the PR, will I be able to keep the data that I accumulate and simply do a docker pull?

Sorry for naive questions! Still getting my head around docker.

Thank you for your time, and patience.

[2017-08-31 19:29] karuppiah7890 commented on #433
The answer is - Yes, if you are gonna use the old docker-compose.yml file.

And I still have to check how to get the postgres data out of the isolated container into the host. Or you could do a manual dump using `pg_dump`  and you can import it later.

And to use the easier method, the one in the PR, you just need the docker-compose.yml and you will just have to do `docker-compose pull app` and th

[2017-08-31 19:31] gep13 commented on #433
@karuppiah7890 ok, I will try the first approach, but in the long run, I might cut my losses once caught up with notifications, and switch to newer way of doing it.

[2017-08-31 19:33] karuppiah7890 commented on #433
@gep13 You can actually connect to the postgres container using it's IP and use `pg_dump` and get to the new one easily

[2017-08-31 19:34] linuxjuggler commented on #433
@karuppiah7890 adding the volume to pg is easy all you have to do is to edit the old `docker-compose.yml` file and add it to point to a directory on the host.
the downside of this is that you will lose the old data ( unless you have a backup using pg_dump ) since you have
also moved the path for the data directory

an example:

[code]

your last long options is to look at which volume pg container